@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon_reg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon_light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon_med.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon_bold.otf");
  font-weight: 600;
  font-style: normal;
}


