// 1. Global
// ---------

$body-font-family: Brandon, sans-serif;

// 2. Breakpoints
// --------------

$breakpoints: (small: 0, medium: 640px, large: 1024px, xlarge: 1200px, xxlarge: 1440px);

// 3. Colors
// ---------

$green: #81c784;
$red: #ff8a80;
$grey: #7e7e7e;
$black: #23292c;
$fucsia: #f06292;
$yellow: #ffd54f;
$purple: #9575cd;
$orange: #fb8c55;
$white: #fff;
$cool-grey: #b1b4b8;
$cool-blue: #29b6f6;
$blue-dark: #515aba;
$pale-grey: #f9f8fd;
$super-pale-grey: #f8fcfe;
$pale-grey-two: #c0cdd4;
$border-color: rgba($cool-grey, 0.35);
$shadow-color: rgba($cool-grey, 0.4);
