.customers {
  padding: 1rem;

  @include breakpoint(large up) {
    padding: 2rem 2rem 0 2rem;
  }

  &__header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium up) {
      flex-direction: row;
    }
  }

  &__add {
    align-self: flex-end;
    color: $cool-blue;
    font-size: .9rem;
    text-decoration: none;
    margin-top: .4rem;
    order: 2;

    @include breakpoint(medium up) {
      align-self: center;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 0;
    }

    i {
      font-size: 1rem;
      padding-top: .1rem;
    }
  }

  &__search {
    background-color: rgba($cool-grey, .2);
    border-radius: 2px;
    order: 1;
    padding-top: .17rem;
    padding-bottom: .45rem;
    position: relative;
    width: 100%;

    @include breakpoint(medium up) {
      background-color: transparent;
      order: 2;
      margin-left: 1.5rem;
      width: 250px;
    }

    i {
      position: absolute;
      left: .4rem;
      top: .5rem;
      font-size: 1.15rem;

      @include breakpoint(medium up) {
        left: 0;
      }
    }
  }

  &__boards-list {
    display: flex;
    height: calc(100vh - 170px);
    padding: 1rem .4rem;
    overflow-x: auto;
    margin-top: 1rem;
    width: calc(100vw - 40px);

    @include breakpoint(medium up) {
      height: calc(100vh - 130px);
      margin-top: 0;
    }

    @include breakpoint(large up) {
      height: calc(100vh - 140px);
      width: calc(100vw - 350px);
    }

    .board {
      margin-right: 1rem;
    }
  }
}

div.customers-search {
  &__indicators {
    display: none;
  }

  &__single-value,
  &__input {
    color: $grey;
  }

  &__input,
  &__single-value,
  &__placeholder {
    padding-left: 1.1rem;

    @include breakpoint(medium up) {
      padding-left: .8rem;
    }
  }

  &__option {
    cursor: pointer;
  }

  &__option--is-selected {
    background-color: transparent;
    color: inherit;
  }

  &__option--is-focused {
    background: rgba($pale-grey-two, .2);
    color: $cool-blue;
  }
}

@import './components/CustomerForm/index';
@import './components/CustomerInfo/index';
@import './components/Board/index';
@import './components/CustomerCard/index';
