.payments-step-plan {
	border: 1px solid $border-color;
	box-shadow: 1px 1px 8px $shadow-color;
	margin-top: 4.5rem;

	&__header {
		color: $cool-blue;
		padding: 0.7rem 1rem;
		font-size: 1rem;
	}

	&__header-title {
		font-size: 1rem;
	}

	&__header-edit {
		cursor: pointer;
		font-size: 0.9rem;

		&:hover {
			text-decoration: underline;
		}

		i {
			font-size: 1rem;
		}
	}

	&__trigger {
		cursor: pointer;
		padding: 0.7rem 1rem;
		font-size: 0.9rem;
	}

	&__trigger:last-child {
		border-top: 1px solid $border-color;
	}

	&__trigger-label {
		display: flex;
		align-items: center;

		i {
			font-size: 1.1rem;
			margin-right: 0.2rem;
		}
	}

	&__trigger-label--canceled {
		color: $green;
	}

	&__trigger-label--no-canceled {
		color: $red;
	}

	&__content {
		padding: 0.5rem;

		.table {
			margin-top: -0.5rem;

			tr.table__row {
				display: grid;
				grid-template-columns: 1fr repeat(4, 2fr);
			}
		}
	}
}
