.payments-step-info {
	&__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
	}

	&__type {
		h4 {
			margin: 0 0 0.5rem 0;
			font-weight: 400;
		}

		div {
			font-weight: 300;
		}
	}

	&__item {
		font-size: 0.9rem;
		height: 60px;
		line-height: 1.4rem;

		> div:first-child {
			color: $cool-grey;
			font-weight: 400;
		}

		span {
			font-size: 0.85rem;
		}

		.input-field {
			div.input-field__price-icon {
				top: 0;
				line-height: 36px;
			}
		}
	}

	&__item:first-child {
		border-left: 0;
		padding-left: 0;
	}

	&__fee-label {
		margin-top: 0.2rem;

		span {
			font-weight: 400;
			margin-left: 0.15rem;
		}
	}

	&__fee-label-canceled {
		i {
			color: $green;
			font-size: 1.1rem;
		}
	}

	&__fee-label-nocanceled {
		i {
			color: $red;
			font-size: 1rem;
		}
	}

	.payment-summary__others-item {
		margin-top: 1.3rem;
	}
}
