.content-editable {
  margin: 0 auto;
  background-color: $white;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;

  &__header {
    border-bottom: 1px solid $border-color;
    padding: 1.2rem 3rem;
  }

  &__header-edit {
    cursor: pointer;
    color: $cool-blue;
    width: 50px;
    margin-left: auto;

    i {
      font-size: .92rem;
    }
  }

  pre {
    margin: 0;
  }

  .editable {
    padding: 1rem 3rem 2rem;

    p:first-child {
      margin-top: 0;
    }

    p {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}
