{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
	Crea tu primer proyecto
{% endblock %}
{% block main-container %}
	<section id="main-container">
		<div class="container">
			<div class="row">
				<div class="col s12 welcome-title-wrapper hide-on-small-only">
					<h1 class="welcome-title center">Hola {{ request.user.get_full_name }}. Bienvenida a Sesamo de PCG Constructora</h1>
				</div>
				<div class="col s12 center">
					<div class="row">
				        <div class="col s12 m6 l4 push-m3 push-l4 creation-box-wrapper">
				          <div style="height:460px" class="card medium">
				          	<!--<i class="material-icons add-project-icon">add_circle_outline</i>-->
				          	<img src="{% static "img/building.png" %}" style="margin-top: 5%;">
				          	<div class="card-content" style="font-size: 18px; font-weight: bold; color: #6c7383;">
				              <p>Aún no tienes ningun proyecto. Empieza por crear uno nuevo</p>
				           	</div>
				           	<form method="POST" id="create-project-form">
				           	{% csrf_token %}
					           	<div class="row">
					           			<!--Hardcoded form for Django CreateView-->
		        						<div class="input-field col s12 m8 l8 offset-l2">
		        							<input id="id_name" maxlength="100" name="name" type="text"/>
		        							<label for="id_name" style="text-align: left;">Nombre del proyecto:</label>
		        						</div>

		        						<div class="input-field col s12 m8 l8 offset-l2">
		        							<input id="id_booking_price" name="booking_price" type="number" />
		        							<label for="id_name" style="text-align: left;">Precio de separación:</label>
		        						</div>

	      						</div>
					           	<a href="javascript:$('#create-project-form').submit();" class="waves-effect waves-light btn custom-btn"><i class="material-icons left" style="font-weight: bold;">add</i>Crear proyecto</a>
					        </form>
				          </div>
				        </div>
      				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
