{% extends "base_app.html" %}
{% block main-container %}
<div class="search-bar">
	<span><i class="fa fa-search" aria-hidden="true"></i> </span><input type="text" id="search" placeholder="Buscar Persona" />
</div>
<div class="sort-blocks">

	<div class="state ">
		<div class="state-tit">Altamente Probable <span>+</span></div>
		<div class="state-content">
			<div class="card-info" draggable="true">
				<div class="initials green">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials violet">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials yellow">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials blue">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
		</div>
	</div>

	<div class="state ">
		<div class="state-tit">Medianamente Probable <span>+</span></div>
		<div class="state-content">
			<div class="card-info" draggable="true">
				<div class="initials green">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials violet">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials yellow">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials blue">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
		</div>
	</div>

	<div class="state ">
		<div class="state-tit">Poco Probable <span>+</span></div>
		<div class="state-content">
			<div class="card-info" draggable="true">
				<div class="initials green">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials violet">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials yellow">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
			<div class="card-info" draggable="true">
				<div class="initials blue">VA</div>
				<div class="info">
					<h3>Victor Aguirre</h3>
					<p>320987654</p>
					<small>Últ.	Interacción hace 3 dias</small>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
