{% extends "base.html" %}
{% block main-container %}
	<section id="main-container" class="projectsList">
		<h1>¿A qué proyecto quieres ingresar?</h1>
		<div class="projectsList-container">
			<div class="projectsList-header">
				<h4>Mis proyectos</h4>
				<span>1 Proyecto</span>
			</div>
			<div class="projectsList-projects">
				<ul>
					{% for project in projects %}
						<li>
							<span class="projectsList-colorBar"></span>
							<div class="projectsList-project">{{project}}</div>
							<a href="{% url "project_detail" project.slug %}">Entrar</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</section>
{% endblock %}
