{% extends "base_app.html" %}
{% block title %}Invita a tu equipo a unirse a este proyecto{% endblock %}

{% block user_profile_header %}

{{user_profile.first_name}}<span> </span>{{user_profile.last_name}}

{% endblock %}

{% block main-container %}
<div class="box-typical box-typical-full-height invite_team">
                <div class="add-customers-screen tbl">
                    <div class="add-customers-screen-in">
                        <h2 class="welcome-title">Invita a tu equipo</h2>
                        <div class="add-customers-screen-user">
                            <!-- <i class="font-icon font-icon-user"></i> -->
                        <svg width="80px" height="50px" viewBox="12209 1818 70 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <polygon id="path-1" points="18.344 0.687289804 18.344 18.9083586 0.000129935059 18.9083586 0.000129935059 0.687289804"></polygon>
                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(12209.000000, 1818.000000)">
                                <path d="M30.123,29.2006 C27.375,29.2006 24.626,29.1696 21.879,29.2196 C21.048,29.2336 20.908,28.9516 21.047,28.2896 C21.343,26.8826 22.243,25.9276 23.581,25.3136 C24.4,24.9376 25.237,24.5876 26.089,24.2856 C27.212,23.8876 27.649,23.1096 27.351,22.0986 C27.095,21.2336 26.666,20.3916 26.177,19.6146 C25.769,18.9666 25.457,18.3756 25.778,17.6286 C26.038,17.0226 25.765,16.4356 25.676,15.8456 C25.225,12.8416 26.938,10.8006 30.107,11.0156 C33.322,11.2326 35.349,12.7786 34.679,16.0886 C34.545,16.7496 34.393,17.3586 34.61,18.0576 C34.772,18.5776 34.498,19.1196 34.14,19.6376 C33.539,20.5096 33.039,21.4566 32.915,22.5326 C32.824,23.3286 33.191,23.8176 33.936,24.1266 C34.909,24.5316 35.894,24.9146 36.846,25.3596 C38.143,25.9656 39.006,26.9116 39.293,28.2756 C39.426,28.9086 39.347,29.2366 38.481,29.2206 C35.696,29.1676 32.909,29.2006 30.123,29.2006" id="Fill-1" fill="#009DE8"></path>
                                <path d="M33.8398,15.0068 C33.9108,15.5468 33.7308,16.1358 33.5798,16.7218 C33.4638,17.1698 33.2568,17.5718 33.6378,18.0228 C33.7618,18.1698 33.7428,18.6338 33.6108,18.7238 C32.6758,19.3598 32.9578,20.5548 32.1988,21.2688 C31.7778,21.6648 31.9908,22.2298 32.0278,22.6988 C32.0888,23.4648 31.7108,23.7928 30.9868,23.9728 C29.2558,24.4038 28.4138,23.7778 28.2768,22.1218 C28.1848,21.0228 27.4938,20.0678 26.9628,19.1008 C26.7918,18.7898 26.4148,18.4328 26.5938,18.1808 C27.1688,17.3678 26.7158,16.5958 26.6028,15.8288 C26.1958,13.0788 27.7178,11.5508 30.6508,11.8348 C32.5958,12.0238 33.8428,13.2338 33.8398,15.0068" id="Fill-3" fill="#FEFFFE"></path>
                                <path d="M30.165,28.3437 C27.759,28.3437 25.353,28.3117 22.948,28.3597 C21.994,28.3787 22.028,28.0447 22.371,27.4307 C22.806,26.6537 23.571,26.2607 24.367,25.9047 C25.429,25.4287 26.6,25.1557 27.538,24.4537 C27.828,24.2367 28.009,24.3807 28.247,24.4907 C29.53,25.0857 30.816,25.0747 32.096,24.4787 C32.297,24.3857 32.473,24.2367 32.715,24.4137 C33.812,25.2227 35.195,25.4907 36.398,26.0987 C36.699,26.2507 36.989,26.4297 37.254,26.6307 C37.77,27.0207 38.339,27.5507 38.134,28.1327 C37.958,28.6297 37.188,28.3217 36.695,28.3297 C34.519,28.3637 32.342,28.3437 30.165,28.3437" id="Fill-5" fill="#FEFFFE"></path>
                                <path d="M44,28.9741 C44,31.7501 41.652,34.0001 38.756,34.0001 C35.86,34.0001 33.512,31.7501 33.512,28.9741 C33.512,26.1991 35.86,23.9491 38.756,23.9491 C41.652,23.9491 44,26.1991 44,28.9741" id="Fill-7" fill="#FFFFFF"></path>
                                <path d="M44,28.9741 C44,31.7501 41.652,34.0001 38.756,34.0001 C35.86,34.0001 33.512,31.7501 33.512,28.9741 C33.512,26.1991 35.86,23.9491 38.756,23.9491 C41.652,23.9491 44,26.1991 44,28.9741 Z" id="Stroke-9" stroke="#009EEC" stroke-width="0.626"></path>
                                <path d="M41.5449,29.0698 L35.6869,29.0818" id="Stroke-11" stroke="#009EEC" stroke-width="0.661"></path>
                                <path d="M38.7383,26.4521 L38.7383,31.9151" id="Stroke-13" stroke="#009EEC" stroke-width="0.661"></path>
                                <g id="Group-17" transform="translate(42.000000, 0.312800)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-16"></g>
                                    <path d="M9.123,18.8878 C6.375,18.8878 3.626,18.8568 0.879,18.9068 C0.048,18.9208 -0.092,18.6388 0.047,17.9768 C0.343,16.5698 1.243,15.6148 2.581,15.0008 C3.4,14.6248 4.237,14.2748 5.089,13.9728 C6.212,13.5748 6.649,12.7968 6.351,11.7858 C6.095,10.9208 5.666,10.0788 5.177,9.3018 C4.769,8.6538 4.457,8.0628 4.778,7.3158 C5.038,6.7098 4.765,6.1228 4.676,5.5328 C4.225,2.5288 5.938,0.4878 9.107,0.7028 C12.322,0.9198 14.349,2.4658 13.679,5.7758 C13.545,6.4368 13.393,7.0458 13.61,7.7448 C13.772,8.2648 13.498,8.8068 13.14,9.3248 C12.539,10.1968 12.039,11.1438 11.915,12.2198 C11.824,13.0158 12.191,13.5048 12.936,13.8138 C13.909,14.2188 14.894,14.6018 15.846,15.0468 C17.143,15.6528 18.006,16.5988 18.293,17.9628 C18.426,18.5958 18.347,18.9238 17.481,18.9078 C14.696,18.8548 11.909,18.8878 9.123,18.8878" id="Fill-15" fill="#009DE8" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M54.8398,5.0068 C54.9108,5.5468 54.7308,6.1358 54.5798,6.7218 C54.4638,7.1698 54.2568,7.5718 54.6378,8.0228 C54.7618,8.1698 54.7428,8.6338 54.6108,8.7238 C53.6758,9.3598 53.9578,10.5548 53.1988,11.2688 C52.7778,11.6648 52.9908,12.2298 53.0278,12.6988 C53.0888,13.4648 52.7108,13.7928 51.9868,13.9728 C50.2558,14.4038 49.4138,13.7778 49.2768,12.1218 C49.1848,11.0228 48.4938,10.0678 47.9628,9.1008 C47.7918,8.7898 47.4148,8.4328 47.5938,8.1808 C48.1688,7.3678 47.7158,6.5958 47.6028,5.8288 C47.1958,3.0788 48.7178,1.5508 51.6508,1.8348 C53.5958,2.0238 54.8428,3.2338 54.8398,5.0068" id="Fill-18" fill="#FEFFFE"></path>
                                <path d="M51.165,18.3437 C48.759,18.3437 46.353,18.3117 43.948,18.3597 C42.994,18.3787 43.028,18.0447 43.371,17.4307 C43.806,16.6537 44.571,16.2607 45.367,15.9047 C46.429,15.4287 47.6,15.1557 48.538,14.4537 C48.828,14.2367 49.009,14.3807 49.247,14.4907 C50.53,15.0857 51.816,15.0747 53.096,14.4787 C53.297,14.3857 53.473,14.2367 53.715,14.4137 C54.812,15.2227 56.195,15.4907 57.398,16.0987 C57.699,16.2507 57.989,16.4297 58.254,16.6307 C58.77,17.0207 59.339,17.5507 59.134,18.1327 C58.958,18.6297 58.188,18.3217 57.695,18.3297 C55.519,18.3637 53.342,18.3437 51.165,18.3437" id="Fill-20" fill="#FEFFFE"></path>
                                <path d="M9.123,19.2006 C6.375,19.2006 3.626,19.1696 0.879,19.2196 C0.048,19.2336 -0.092,18.9516 0.047,18.2896 C0.343,16.8826 1.243,15.9276 2.581,15.3136 C3.4,14.9376 4.237,14.5876 5.089,14.2856 C6.212,13.8876 6.649,13.1096 6.351,12.0986 C6.095,11.2336 5.666,10.3916 5.177,9.6146 C4.769,8.9666 4.457,8.3756 4.778,7.6286 C5.038,7.0226 4.765,6.4356 4.676,5.8456 C4.225,2.8416 5.938,0.8006 9.107,1.0156 C12.322,1.2326 14.349,2.7786 13.679,6.0886 C13.545,6.7496 13.393,7.3586 13.61,8.0576 C13.772,8.5776 13.498,9.1196 13.14,9.6376 C12.539,10.5096 12.039,11.4566 11.915,12.5326 C11.824,13.3286 12.191,13.8176 12.936,14.1266 C13.909,14.5316 14.894,14.9146 15.846,15.3596 C17.143,15.9656 18.006,16.9116 18.293,18.2756 C18.426,18.9086 18.347,19.2366 17.481,19.2206 C14.696,19.1676 11.909,19.2006 9.123,19.2006" id="Fill-22" fill="#009DE8"></path>
                                <path d="M12.8398,5.0068 C12.9108,5.5468 12.7308,6.1358 12.5798,6.7218 C12.4638,7.1698 12.2568,7.5718 12.6378,8.0228 C12.7618,8.1698 12.7428,8.6338 12.6108,8.7238 C11.6758,9.3598 11.9578,10.5548 11.1988,11.2688 C10.7778,11.6648 10.9908,12.2298 11.0278,12.6988 C11.0888,13.4648 10.7108,13.7928 9.9868,13.9728 C8.2558,14.4038 7.4138,13.7778 7.2768,12.1218 C7.1848,11.0228 6.4938,10.0678 5.9628,9.1008 C5.7918,8.7898 5.4148,8.4328 5.5938,8.1808 C6.1688,7.3678 5.7158,6.5958 5.6028,5.8288 C5.1958,3.0788 6.7178,1.5508 9.6508,1.8348 C11.5958,2.0238 12.8428,3.2338 12.8398,5.0068" id="Fill-24" fill="#FEFFFE"></path>
                                <path d="M9.165,18.3437 C6.759,18.3437 4.353,18.3117 1.948,18.3597 C0.994,18.3787 1.028,18.0447 1.371,17.4307 C1.806,16.6537 2.571,16.2607 3.367,15.9047 C4.429,15.4287 5.6,15.1557 6.538,14.4537 C6.828,14.2367 7.009,14.3807 7.247,14.4907 C8.53,15.0857 9.816,15.0747 11.096,14.4787 C11.297,14.3857 11.473,14.2367 11.715,14.4137 C12.812,15.2227 14.195,15.4907 15.398,16.0987 C15.699,16.2507 15.989,16.4297 16.254,16.6307 C16.77,17.0207 17.339,17.5507 17.134,18.1327 C16.958,18.6297 16.188,18.3217 15.695,18.3297 C13.519,18.3637 11.342,18.3437 9.165,18.3437" id="Fill-26" fill="#FEFFFE"></path>
                            </g>
                        </svg>
                        </div>
                        <p class="lead color-blue-grey-lighter">Invita a las personas que harán parte de tu equipo en este proyecto.
                          Especifica su direccion de correo electronico y el rol que ocuparán.</p>
                        <form class='invite-form' action="" method="POST">{% csrf_token %}
                          <h5>Agrega el nuevo miembro:</h5>
                            <div class="section">
                                {{ todo_list_form.as_p }}
                            </div>
                            {{ invitations_formset.management_form }}
                            {% for form in invitations_formset.forms %}
                            <div class="item">
                              {{ form.as_p }}
                              <p class="delete" style=""><a href="#">Eliminar</a></p>
                            </div>
                            {% endfor %}
                            <p class="add-member"><a id="add" href="#">+ Agregar otro</a></p>
                            <input class="btn" type="submit" value="Enviar Invitacion" />
                        </form>
                        <div class="invite-members">
                          <h5>Miembros:</h5>
                          <div class="invite-membersHead">
                            <div>Nombre</div>
                            <div>Cargo</div>
                          </div>
                          <div id="membersList" class="membersList"></div>
                        </div>
                    </div>
                </div>
            </div><!--.box-typical-->
{% endblock %}

{% block custom-js %}
<script type="text/javascript">
$(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to enter at least one todo item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });

            // Add an event handler for the delete item/form link
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
        return addForm(this, "form");
    });

    $(".delete").click(function () {
        return deleteForm(this, "form");
    });

    var slug = window.location.pathname.split('/')[2],
        $membersList = $('#membersList')

    $('.invite-form .item p:nth-child(2)').append('<i class="icon icon-arrow"></i>')
    $('.invite-form .item p:nth-child(1) input').attr("placeholder", "Escribe el correo electrónico")

    $.ajax({url: '/api/projects/' + slug + '/team'})
      .then(function (members){
        members.forEach(function (member) {
          var first_name = member.user.first_name,
              last_name = member.user.last_name,
              name = first_name + ' ' + last_name,
              user_type = member.user_type.replace(member.user_type.charAt(0), member.user_type.charAt(0).toUpperCase()),
              initials = first_name[0] + last_name[0]

          $membersList.append(`<div class="invite-membersRow">
            <span>${initials}</span>
            <div>${name}</div>
            <div>${user_type}</div>
          </div>`)
        })
      })

});
</script>
{% endblock %}