.payment-plan-tab {
	border-bottom: 1px solid $border-color;

	&__item {
		border-top: 1px solid $border-color;
		border-right: 1px solid $border-color;
		cursor: pointer;
		padding: 0.8rem 1rem;
		justify-content: center;
		width: 220px;

		svg {
			g {
				fill: $grey;
			}
		}

		span {
			margin-left: 0.4rem;
		}
	}

	&__item--active {
		color: $cool-blue;
		border-bottom: 1px solid $cool-blue;

		svg {
			g {
				fill: $cool-blue;
			}
		}
	}
}
