{% extends "base_app.html" %}
{% block title %}Invita a tu equipo a unirse a este proyecto{% endblock %}
{% load persons_tags %}

{% block main-container %}
<div class="box-typical box-typical-full-height">
                <div class="add-customers-screen tbl">
                        <div class="add-customers-screen-user">
                            <i class="font-icon font-icon-user"></i>
                        </div>
            <h2 class="welcome-title">{{person.get_person_full_name}}</h2>
            <p class="lead color-blue-grey-lighter">Envía una invitación automática a las personas de tu equipo<br/> Sólo tienes que poner su email y su rol dentro de el equipo.</p>
            <h1>Activity Form</h1>
            {{activity_form.as_p}}
            <h1>Note Form</h1>
            {{note_form.as_p}}
        </div>
        <p>Documentos Adjuntos:</p>
        {% get_quotations person project as quotations %}
        {% if quotations %}
            {% for quotation in quotations %}
                <a href="{% url "download_quotation" quotation.pk %}" target="_blank">Cotización {{quotation.unity}}</a>
            {% endfor %}
        {% endif %}
    </div>
</div><!--.box-typical-->
{% endblock %}