{% extends "base_app.html" %}
{% load static from staticfiles %}

{% block title %}Create persona{% endblock %}

{% block main-container %}
	<!-- HARDCODED FORM FOR CREATEVIEW -->
<div class="page-content" ng-controller="searchController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10">
					<section class="box-typical steps-numeric-block personaForm">
						<div class="steps-numeric-header">
							<div class="steps-numeric-header-in">
								<ul>
									<li class="active"><div class="item"><span class="num">1</span>Registro de una persona</div></li>
									<li><div class="item"><span class="num">2</span>Generación de cotización</div></li>
								</ul>
							</div>
						</div>

						<div class="steps-numeric-inner">
							<header class="steps-numeric-title">Información de la persona</header>
							<form method="POST" id="personForm">
							{% csrf_token %}
								<div class="form-group">
									<div class="row form-element__fullname">
										<div class="col-md-6">
											<label>Nombre:</label>
											<input id="id_first_name" class="form-control form-element" maxlength="100" name="first_name" type="text" />
											<div class="form-element__required">Campo requerido</div>
										</div>
										<div class="col-md-6">
											<label>Apellido:</label>
											<input id="id_last_name" class="form-control form-element" maxlength="100" name="last_name" type="text" />
											<div class="form-element__required">Campo requerido</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Celular:</label>
											<input id="id_cellphone" class="form-control" maxlength="20" name="cellphone" type="text" />
										</div>
										<div class="col-md-6">
											<label>Teléfono Fijo:</label>
											<input id="id_phone" class="form-control" maxlength="15" name="phone" type="text" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Correo Electrónico:</label>
											<input id="id_email" class="form-control" maxlength="254" name="email" type="email" />
										</div>
										<div class="col-md-6">
											<label>Origen:</label>
											<select id="id_adquisition_channel" name="adquisition_channel" class="form-element bootstrap-select bootstrap-select-arrow">
												{% for value, key in form.fields.adquisition_channel.choices %}
	        										<option value="{{value}}">{{key}}</option>
	    										{% endfor %}
											</select>
											<div class="form-element__required">Campo requerido</div>
											<br/>
											<br/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label>Segmento:</label>
											<select id="id_segment" name="segment" class="form-element bootstrap-select bootstrap-select-arrow">
												{% for value, key in form.fields.segment.choices %}
	        										<option value="{{value}}">{{key}}</option>
	    										{% endfor %}
											</select>
											<br/>
											<br/>
										</div>
										<div class="col-md-6">
											<label>Unidad de Interés:</label>
											<select  id="id_unity_of_interest" name="unity_of_interest" class="form-element bootstrap-select bootstrap-select-arrow" data-live-search="true">
												{% for value, key in form.fields.unity_of_interest.choices %}
	        										<option value="{{value}}">{{key}}</option>
	    										{% endfor %}
											</select>
											<div class="form-element__required">Campo requerido</div>
											<br /><br />
											<br/>
											<br/>
										</div>
									</div><!--.row-->
								</div>
								<button class="btn btn-inline btn-primary" onclick="onSubmit(event)">Guardar Persona</button>
							</form>
						</div>

					</section><!--.steps-numeric-block-->
				</div>
			</div><!--.row-->
		</div><!--.container-fluid-->
	</div><!--.page-content-->
{% endblock %}

{% block custom-js %}
	<script>

		var $inputs = $('input.form-element');
		var $selects = $('select.form-element');
		var invalidClassName = 'form-element--invalid';

		function onChangeHandler () {
			var $el = verifyElement($(this));

			var hasInvalid = $el.hasClass(invalidClassName);

			if (hasInvalid) {
				$el.removeClass(invalidClassName);
				$el.parent().find('div.form-element__required').hide();
			}
		}

		// Event handlers
		$inputs.keyup(onChangeHandler)
		$selects.change(onChangeHandler)

		// Submit
		function onSubmit (event) {
			event.preventDefault();

			$inputs.each(function (index) {
				var $el = $(this);

				if (!$el.val()) {
					$el.parent().find('div.form-element__required').show();
					$el.addClass(invalidClassName)
				}
			});

			$selects.each(function (index) {
				var $el = $(this);

				if (!$el.val()) {
					$el.parent().parent().find('div.form-element__required').show();
					$el.parent().addClass(invalidClassName);
				}
			});

			var isValid = $('.form-group .form-element--invalid').length === 0;

			if (isValid) {
				$('#personForm').submit();
			}
		}

		// Helpers
		function verifyElement ($el) {
			var isSelect = $el.is("select");

			if (isSelect) {
				return $el.parent();
			}

			return $el;
		}

	</script>

{% endblock %}
