{% extends "easy_pdf/base.html" %}
{% load static from staticfiles %}
{% load humanize %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
            font-size: 16px;
        }
        .date{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h2>Villa Para&iacute;so</h2>
            <h5 style="font-size: 18px;">Cotizaci&oacute;n de Apartamento {{apartment}}</h5>
            <p>Fecha de cotizaci&oacute;n: <span style="float: right;">{{today}}</span></p>

            <h4>Informaci&oacute;n del apartamento</h4>

            <p>Area Constru&iacute;da: <span style="float: right;">{{unity.unity_type.built_area}}m2</span></p>
            <p>Area Privada: <span style="float: right;">{{unity.unity_type.private_area}}m2</span></p>
            <p>Ba&ntilde;os: <span style="float: right;">{{unity.unity_type.bathrooms}}</span></p>
            <p>Habitaciones: <span style="float: right;">{{unity.unity_type.bedrooms}}</span></p>


            <h4>Valores</h4>

            <p>Precio del apartamento: <span style="float: right;"><b>{{apartment_price|intcomma}}</b></span></p>
            <p>Valor de la Cuota Inicial: <span style="float: right;">{{thirty_percent|intcomma}}</span></p>
            <p>Valor del Credito a Solicitar: <span style="float: right;">{{credit_to_request|intcomma}}</span></p>

            <h4>Forma de Pago de la Cuota Inicial</h4>
            <p>Separaci&oacute;n: <span style="float: right;"><b>{{booking_price|intcomma}}</b></span></p>
            <p>Ahorros: <span style="float: right;"><b>{{savings|intcomma}}</b></span></p>
            <p>Pagas el saldo en {{months_to_deliver}} cuotas mensuales de : <span style="float: right;">{{monthly_fees|intcomma}}</span></p>
        </div>
        <p style="margin-top: 50px; font-size: 14px">*Esta es una cotizaci&oacute;n r&aacute;pida, los costos podr&iacute;an variar en la medida en que se personalice con las cesant&iacute;as, subsidios y ahorros que el cliente disponga*
        <p style="margin-top: 50px; font-size: 12px">* Otros costos como gastos notariales y de registro, aval&uacute;os y tramites para solicitud de cr&eacute;dito, entre otros, son valores propocionales que se detallaran al momento de la separaci&oacute;n<br>* Esta cotizaci&oacute;n tiene una validez de 4 d&iacute;as<br> * Los apartamentos se separan unicamente despues de recibir el soporte de consignaci&oacute;n por parte del cliente</p>
    </div>
{% endblock %}