{% extends "base_app.html" %}
{% load static from staticfiles %}

{% block title %}Create persona{% endblock %}

{% block main-container %}
	<!-- HARDCODED FORM FOR CREATEVIEW -->
<div class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10">
					<section class="box-typical steps-numeric-block quoteForm">
						<div class="steps-numeric-header">
							<div class="steps-numeric-header-in">
								<ul>
									<li><div class="item"><span class="num">1</span>Registro de una persona</div></li>
									<li class="active"><div class="item"><span class="num">2</span>Generación de cotización</div></li>
								</ul>
							</div>
						</div>

						<div class="steps-numeric-inner">
							<header class="steps-numeric-title">Información financiera</header>
							<form method="POST">
							{{form.errors}}
							{% csrf_token %}
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="id_monthly_income">Ingresos Mensuales</label>
											<input id="id_monthly_income" name="monthly_income" class="form-control moneyF" maxlength="20" type="text" value="0" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="id_savings">Ahorros programados</label>
											<input id="id_savings" class="form-control moneyF" maxlength="100" name="savings" type="text" value="0" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="id_severance">Cesantías</label>
											<input id="id_severance" class="form-control moneyF" maxlength="20" name="severance" type="text" value="0" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="id_others">Otros</label>
											<input id="id_others" name="others" class="form-control moneyF" maxlength="20" type="text" value="0" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="id_subsidy">Subsidio</label>
											<input id="id_subsidy" class="form-control moneyF" maxlength="100" name="subsidy" type="text" value="0"/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="id_months_to_deliver">Meses faltantes para entrega</label>
											<input id="id_months_to_deliver" class="form-control" maxlength="254" name="months_to_deliver" type="number" max="24" value="24" placeholder="Meses antes de entrega" validate/>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-inline btn-primary">Generar Cotización</button>
							</form>
						</div>

					</section><!--.steps-numeric-block-->
				</div>
			</div><!--.row-->
		</div><!--.container-fluid-->
	</div><!--.page-content-->
{% endblock %}

{% block custom-js %}
	<script src="{% static "js/bootstrap-select.min.js" %}"></script>
	<script src="{% static "js/select2.full.min.js" %}"></script>
	<script src="{% static "js/autoNumeric-min.js" %}"></script>

	<script>
		$(document).ready(function(){
			//$('#tags-editor-textarea').tagEditor();

		    $('.moneyF').autoNumeric("init",{
		        aSep: '.',
		        aDec: ',',
		        vMin: '0',
		        aPad: 'false'
		    });
		});
	</script>
{% endblock %}
