.date-picker {
  cursor: pointer;
  position: relative;

  span {
    font-size: .95rem;
    margin-left: .25rem;
  }

  .mdi-calendar {
    font-size: 1.15rem;
  }

  .mdi-chevron-down {
    position: absolute;
    right: .4rem;
    top: .4rem;
  }

  &__wrap {
    .rc-calendar-selected-date {
      .rc-calendar-date {
        background-color: $cool-blue;
      }
    }

    .rc-calendar-today-btn  {
      color: $cool-blue;
    }
  }
}
