.ticket-detail-card {
  border: 1px solid $border-color;
  font-size: .95rem;
  padding: 1.2rem 2rem;
  position: relative;

  p {
    margin: .5rem 0;
    line-height: 1.3rem;
    font-weight: 300;
  }

  &:first-child {
    border-bottom: 0;
  }

  &__note {
    border-left: solid 2px $orange;

    .ticket-detail-card__icon {
      svg {
        g {
          fill: $orange;
        }
      }
    }
  }

  &__answer {
    border-left: solid 2px $cool-blue;

    .ticket-detail-card__icon {
      svg {
        g {
          fill: $cool-blue;
        }
      }
    }
  }

  &__icon {
    background-color: $white;
    box-shadow: 1px 1px 8px $shadow-color;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -.8rem;
    top: 30%;

    svg {
      height: 13.5px;
      width: 13.5px;
    }
  }

  &__date {
    font-size: .85rem;
    font-weight: 300;
    color: $cool-grey;
    position: absolute;
    top: .65rem;
    right: 1.2rem;

    span {
      margin-left: .4rem;
    }
  }

  &__autor {
    color: $cool-grey;
    font-size: 1rem;

    >div:first-child {
      margin-right: .4rem;
    }
  }
}



