.add-customer {
  background: $white;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0;
  position: relative;
  width: 90%;

  @include breakpoint(large up) {
    grid-template-columns: 1fr 400px;
    max-width: 1000px;
    margin-top: 3rem;
  }

  .mdi-close {
    font-size: 1.3rem;
    position: absolute;
    top: .7rem;
    right: .8rem;
  }

  &__form-container {
    padding-left: 2rem;
    padding-bottom: 2.5rem;
  }

  &__form-header {
    border-bottom: 1px solid $border-color;
    font-size: 1.1rem;
    font-weight: bold;
    color: $cool-blue;
    padding: 2rem 0 .4rem;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1.5rem;
    margin-right: 2.5rem;

    @include breakpoint(large up) {
      grid-gap: 1.7rem 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__form-button {
    margin-top: 1.5rem;
    text-align: center;

    @include breakpoint(large up) {
      grid-column: 1 / 3;
    }
  }

  &__picture {
    background-color: #F8F9FB;
    background-image: url('/static/app/img/add-person.png');
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: center;
    box-shadow: -1px 0 8px rgba($cool-grey, .8);
  }
}
