.comment {
  position: relative;
  &__label {

    a {
      margin-left: .5rem;
    }
  }

  &__label-text {
    position: relative;

    span {
      background-color: $red;
      border-radius: 50%;
      color: $white;
      font-size: .55rem;
      width: 13px;
      height: 13px;
      line-height: 13px;
      position: absolute;
      top: -.75rem;
      right: -.2rem;
    }
  }

  &__popup {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 4px;
    position: absolute;
    font-size: .85rem;
    top: 1.3rem;
    padding: .5rem;
    right: -5rem;
    width: 170px;
    text-align: left;
    z-index: 10;

    .mdi-close {
      position: absolute;
      font-size: .7rem;
      top: .2rem;
      right: .2rem;
    }

    p {
      margin: 0;
      line-height: 1.1rem;
      font-weight: 300;
    }

    span {
      color: $cool-blue;
      font-weight: 400;
    }
  }
}
