.chip {
  background-color: rgba($cool-grey, 0.2);
  border-radius: 1rem;
  padding: 0.1rem 0 0 1rem;
  position: relative;
  z-index: 100;

  .initials {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;
  }

  span {
    position: relative;
    width: 145px;
    font-weight: 500;
    text-overflow: hidden;
    margin-left: 0.35rem;
  }

  .mdi-close {
    color: $cool-grey;
    cursor: pointer;
    font-size: 0.9rem;
    position: absolute;
    right: 0.55rem;
    top: 0.55rem;

    &:hover {
      color: inherit;
    }
  }
}
