.AddPayment{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(100, 100, 100, 0.5);
  display: none;

  &__form{
    width: 350px;
    background: #fff;
    align-self: center;
    height: 600px;
    position: relative;
    @include mq(min-width, 1200px){
      margin-top: -70px;
      width: 400px;
    }
    div{
      padding: 12px 0;
      width: 70%;
      margin: 0 auto;
      input{
        width: 85%;
        padding: 4px 4px 4px 40px;
      }
      select{
        width: 88%;
        background: #fff;
        border: 1px solid #efefef;
        cursor: pointer;
        height: 37px;
        margin-left: 35px;
      }
    }
    div:nth-child(5){
      display: flex;
      flex-direction: column;
    }
  }

  &__searchUnity{
    position: relative;
    svg{
      position: absolute;
      top: 0;
      left: 10px;
      width: 20px;
    }
  }

  &__results{
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: 1px 1px 4px #efefef;
    position: absolute;
    width: 100% !important;
    height: 90px;
    display: none;
    z-index: 50;

    div{
      letter-spacing: 4px;
      padding: 0;
      font-size: .9em;
      text-align: center;
      &:hover{
        color: $color-blue-primary;
        cursor: pointer;
      }
    }
  }

  &__unitySelected{
    background: #efefef;
    color: $color-blue-primary;
    width: 92%;
    font-size: .9em;
    margin:  0 auto;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 2px;
    padding: 3px 0;
    padding-left: 15px;
    display: none;

    & > span{
      color: $color-text-primary;
      position: absolute;
      top: -1px;
      right: 10px;
      font-size: 1.2em;
      cursor: pointer;
    }
  }

  &__unitySelectedUnity{
    background: #efefef;
    color: $color-blue-primary;
    width: 92%;
    font-size: .9em;
    margin:  0 auto;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 2px;
    padding: 3px 0;
    padding-left: 15px;

    & > span{
      color: $color-text-primary;
      position: absolute;
      top: -1px;
      right: 10px;
      font-size: 1.2em;
      cursor: pointer;
    }
  }

  &__formHead{
    text-align: center;
    h2{
      margin: 0;
      font-size: 1.3em;
      font-weight: normal;
    }
    span{
      position: absolute;
      right: 30px;
      top: 15px;
      font-size: 1.2em;
      cursor: pointer;
      width: 40px;

    }
  }

  &__date{
    position: relative;
    svg{
      width: 22px;
      position: absolute;
      left: 10px;
      top: 12px;
    }
  }

  &__paymentValue{
    position: relative;
    span{
      position: absolute;
      font-size: 1.5em;
      left: 10px;
      top: 35px;
      color: $color-blue-primary;
    }
  }

  &__type{
    position: relative;
    svg{
      position: absolute;
      width: 25px;
      left: 2px;
      top: 12px;
    }
  }

  &__method{
    position: relative;
    svg{
      width: 25px;
      top: 15px;
      left: 2px;
      position: absolute;
    }
  }

  &__button{
    text-align: center;
    button{
      border: 0;
      background: $color-blue-primary;
      color: #fff;
      padding: 5px 10px;
    }
  }

  &__successMsg{
    color: $color-green;
    text-align: center;
    width: 210px;
    display: none;
    margin:  0 auto;
    margin-top: -6px;
  }

}
