.Deeds{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  &__container{
    @include mq(min-width, 1300px){
      width: 85%;
    }
  }

  &__filterTower{
    max-width: 290px;
    padding: 20px 0;
    display: flex;
    position: relative;
    svg{
      position: absolute;
      right: 20px;
      top: 30px;
    }

    &>div{
      background: rgb(248, 248, 248);
      margin-left: 15px;
      border: 1px solid #efefef;
      border-radius: 15px;
      select{
        background: none;
        width: 180px;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        border: none;
        padding: 2px 10px;
        cursor: pointer;
      }
    }
  }

  &__header{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    @include mq(min-width, 1300px){
      width: 100%;
    }
  }

  &__searchInputs{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filterFloor{
    position: relative;
    width: 200px;
    svg{
      position: absolute;
      right: 10px;
      top: 10px;
    }
    &>div{
      background: rgb(248, 248, 248);
      margin-left: 15px;
      border: 1px solid #efefef;
      border-radius: 15px;
      select{
        background: none;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        border: none;
        padding: 2px 10px;
        cursor: pointer;
      }
    }
  }

  &__sendNotificationsButton{
    button{
      background: $color-blue-primary;
      border: 0;
      border-radius: 2px;
      color: #fff;
      padding: 4px 5px;

    }
  }
  &__table{
    width: 1000px;
    @include mq(min-width, 1300px){
      width: 100%;
    }

  }
  &__tableHead{
    display: flex;
    padding: 15px 0;
  }
  &__tableHead{
    &>div{
      width: 190px;
      text-align: center;
      @include mq(min-width, 1300px){
        width: 30%;
      }
    }
    &>div:nth-child(1){
      width: 50px;
      position: relative;
      @include mq(min-width, 1300px){
        width: 10%;
      }
      svg{
        cursor: pointer;
        transform: scale(1.5);
      }
    }
    &>div:nth-child(2){
      @include mq(min-width, 1300px){
        width: 15%;
      }
    }
  }
  &__tableRow{
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    &>div{
      width: 190px;
      text-align: center;
      @include mq(min-width, 1300px){
        width: 30%;
      }
    }
    &>div:nth-child(1){
      display: block;
      width: 50px;
      height: 100%;display: flex;
      justify-content: center;
      align-items: center;
      @include mq(min-width, 1300px){
        width: 10%;
      }
      svg{
        cursor: pointer;
        transform: scale(1.5);
      }
    }
    &>div:nth-child(2){
      @include mq(min-width, 1300px){
        width: 15%;
      }
    }
    &>div:nth-child(3){
      display: flex;
      justify-content: center;
      div{
        div{
          text-align: center;
          display: flex;
          margin-bottom: 5px;
        }
      }
    }
    &>div:nth-child(6){
      a{
        color: $color-blue-primary;
      }
    }
  }

  &__clientNameRound{
    background: $color-blue-primary;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    font-size: .65em;
    line-height: 25px;
    font-weight: bold;
    color: #fff;
  }

  &__tableHeadCheck, &__tableRowCheck{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #CCCDCD;
    cursor: pointer;
  }

  &__tableHeadCheck{

  }

  &__tableRowCheck{
  }

  &__editTemplatePopup{
    background: rgba(0,0,0, .4);
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 92vh;
    display: flex;
    justify-content: center;
    z-index: 50;

    &>div{
      background: #fff;
      width: 780px;
      height: 700px;
      margin-top: 15px;
      text-align: center;
      z-index: 10;
    }
  }

  &__editTemplateNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 1px 1px 4px #e0e0e0;

    &>div:nth-child(3){
      background: $color-blue-primary;
      color: #fff;
      padding: 5px 10px;
      font-size: .9em;
      cursor: pointer;
      border-radius: 20px;
    }
    &>div:nth-child(1){
      border: 1px solid #e0e0e0;
      color: #a0acb6;
      padding: 5px 20px;
      border-radius: 20px;
      font-size: .9em;
      cursor: pointer;
    }

  }

  &__editTemplateContainer{
    box-sizing: border-box;
    position: relative;
    top: 20px;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
  }

  &__editTemplateHead{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;

    &>div:nth-child(2){
      color: $color-blue-primary;
      cursor: pointer;
    }
  }

  &__editTemplateBody{
    text-align: justify;
    font-size: .95em;

    span{
      cursor: no-drop;
    }
  }


  &__sendNotificationsDoneContainer{
    width: 100%;
    height: 92vh;
    background: rgba(220, 220, 220, .6);
    position: absolute;
    display: flex;
    z-index: 50;
    justify-content: center;
  }

  &__withoutNotifications{
    border: 1px solid #efefef;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
    box-shadow: 1px 1px 6px #efefef;

    button{
      background: $color-blue-primary;
      color: #fff;
      border: 0;
      border-radius: 2px;
      padding: 5px 10px;
    }
  }

  &__noResults{
    text-align: center;
    font-size: 1.2em;
  }
}

@import '_deeds-first-step.scss';
@import '_deeds-second-step.scss';
