.DeedsSecondStep{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__body{
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    background: #F3F5FB;

    @include mq(min-width, 1650px){
      height: 93.5vh;
    }
  }

  &__content{
    width: 76%;

    &>h2{
      text-align: center;
      font-weight: normal;
      font-size: 1.1em;
    }
  }

  &__contentWrap{
    box-sizing: border-box;
    width: 95%;
    height: 90%;
    margin: 0 auto;
    padding: 20px 30px 80px 30px;
    border: 1px solid #efefef;
    background: #fff;
    overflow-y: scroll;
    position: relative;

    &>p{
      font-size: 2em;
      color: $color-blue-primary;
      &>a{
        color: $color-blue-primary;
        text-decoration: none;
      }
    }
  }

  &__headerNav{
    width: 95%;
    padding: 15px 0 15px 0;
    margin: 0px auto;
    display: flex;
    font-size: .95em;
    &>div:nth-child(1){
      color: $color-blue-primary;
      cursor: pointer;
      margin-right: 5px;
    }
  }

  &__requiredInput{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E4F0F6;
    margin-bottom: 25px;
    padding-bottom: 10px;
    p{
      font-size: 1.1em;
      position: relative;
      padding-left: 30px;
      margin-right: 50px;

      span{
        border: 1px solid $color-blue-primary;
        color: $color-blue-primary;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        font-size: .7em;
        left: 0;
        top: 2px;
        text-align: center;
      }
    }
  }

  &__requiredInputSwitch{
    width: 140px;
    text-align: left;
    display: flex;
    margin-left: 10px;
    label{
      margin-left: 5px;
    }
  }

  &__uploadCertified{
    padding: 15px;
    border: 1px solid #DAE4EF;
    color: $color-blue-primary;
    position: relative;

    // a{
    //   color: $color-blue-primary;
    //   text-decoration: none;
    // }
    //
    // label{
    //   div{
    //     border-bottom: 1px solid $color-blue-primary;
    //     width: 200px;
    //     margin-left: 25px;
    //     // position: relative;
    //     cursor: pointer;
    //   }
    //
    //   input[type=file]{
    //     position: absolute;
    //     top: 5px;
    //     left: 0;
    //     opacity: 0;
    //     padding: 10px 0;
    //     cursor: pointer !important;
    //
    //   }
      // svg{
      //   position: absolute;
      //   left: 15px;
      //   top: 21px;
      //   transform: scale(1.5);
      // }
    // }
  }

  &__certifiedAdded{
    color: $color-text-primary;
    padding-left: 23px;
    position: relative;

    svg{
      position: absolute;
      left: 0;
    }
  }

  &__addCertified{
    div{
      border-bottom: 1px solid $color-blue-primary;
      width: 200px;
      margin-left: 25px;
      cursor: pointer;
    }

    input[type=file]{
      position: absolute;
      top: 5px;
      left: 0;
      opacity: 0;
      padding: 10px 0;
      cursor: pointer !important;
    }

    svg{
      position: absolute;
      left: 15px;
      top: 21px;
      transform: scale(1.5);
    }

  }

  &__changeCertified{
    position: absolute;
    top: 27%;
    right: 18px;
    width: 125px;
    font-size: .9em;
    border: 1px solid $color-blue-primary;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0;

    &:hover{
      background: rgba(0, 152, 218, .02);
    }

    input[type=file]{
      position: absolute;
      top: 5px;
      left: 0;
      opacity: 0;
      padding: 10px 0;
      cursor: pointer !important;
    }
  }

  &__certifiedRequired{
    position: relative;
    padding-left: 25px;
    a{
      color: $color-blue-primary;
    }
    svg{
      position: absolute;
      left: 0;
      g{
        fill: $color-blue-primary;
      }
    }
  }



  &__creditData{
    p{
      span{
        color: $color-blue-primary;

      }
    }
  }

  &__creditDataInputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    div{
      width: 45%;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      margin-bottom: 20px;

      label{
        padding-bottom: 7px;
      }

      &>svg{

        position: absolute;
        left: 7px;
        top: 40px;
        z-index: 1;
        transform: scale(1.15);
      }
      select{
        background: none;
        border-radius: 0;
        border: 1px solid #E6ECED;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        appearance: none;
        padding: 7px 20px 5px 35px;
        color: #9C9A9A;
        cursor: pointer;
        z-index: 2;
      }

      span{
        svg{
          position: absolute;
          right: 10px;
          top: 37px;
        }
      }
    }

    div{
      input{
        box-sizing: border-box;
        width: 100%;
        height: 38px;
        padding: 7px 20px 5px 35px;
        border: 1px solid #E6ECED;
        color: #9C9A9A;
        &::-webkit-input-placeholder{
          color: #9C9A9A;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: pink;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: pink;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: pink;
        }
      }
      svg{
        transform: scale(1);
        border-right: 1px solid #E6ECED;
        padding-right: 4px;
        height: 18px;
      }
    }
    div:nth-child(2){
      span{
        svg{
          border-right: 0;
        }
      }
    }
  }

  &__nav{
    box-sizing: border-box;
    box-shadow: 0px -2px 6px rgba(191, 215, 220, .49);
    text-align: right;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #DAE4EF;
    background: #F8FCFE;
    position: fixed;
    left: 18.7%;
    right: 21.5%;
    bottom: 0;

    &>div:nth-child(1), &>div:nth-child(3){
      color: $color-blue-primary;
      cursor: pointer;
      border-bottom: 1px solid $color-blue-primary;
    }

    &>div:nth-child(2){
      background: $color-blue-primary;
      padding: 7px 20px;
      color: #fff;
      font-size: .9em;
      cursor: pointer;
    }
  }

  &__sidebar{
    width: 20%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: 0 0 15px #D3D2D5;
    margin-top: 0px;
    position: fixed;
    right: 0;
    top: 65px;
    bottom: 0;
  }

  &__sidebarWrap{
    padding-top: 20px;
    width: 100%;
  }

  &__sidebarClientInfo{

  }

  &__sidebarClientInfoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    &>div:nth-child(1){
      span{
        background: $color-blue-primary;
        color: #fff;
        width: 40px;
        height: 40px;
        display: block;
        text-align: center;
        border-radius: 50%;
        line-height: 40px;
        font-weight: bold;
      }
    }

    &>div:nth-child(2){
      h4{
        margin: 0;
        font-size: 1.1em;
        font-weight: normal;
      }
    }

    &>div:nth-child(3){
      font-size: .9em;
      color: #A5C8D4;
    }
  }

  &__sidebarClientInfoBody{
    width: 85%;
    margin: 0 auto;
  }

  &__sidebarClientInfoData{
    margin-top: 20px;
    &>div{
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin: 10px 0;
      border-bottom: 1px solid rgba(218, 234, 243, .5);
      padding-bottom: 5px;

      &>div:nth-child(1){
        width: 80px;
        text-align: left;
      }
      &>div:nth-child(2){
        min-width: 120px;
        text-align: left;
      }
    }
  }

  &__sidebarTab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background: #fff;
    border-bottom: 1px solid #DAEAF3;

    &>div{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      cursor: pointer;
    }
  }

  &__comments{
    width: 90%;
    margin: 0 auto;
  }

  &__commentInput{
    text-align: right;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #efefef;
    height: 120px;
    background: #fff;
    span{
      background: $color-blue-primary;
      position: absolute;
      left: 7px;
      top: 10px;
      color: #fff;
      text-align: center;
      width: 30px;
      font-size: .8em;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
    }
    textarea{
      box-sizing: border-box;
      width: 85%;
      outline: none;
      padding-top: 10px;
      border: 0;
      resize: none;
    }
    button{
      background: $color-blue-primary;
      border: 0;
      color: #fff;
      padding: 3px 15px;
      border-radius: 2px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    div{
      position: absolute;
      left: 20px;
      color: #FF8A80;
    }
  }
  &__comment{
    display: flex;
    position: relative;
    border: 1px solid #efefef;
    margin-top: 15px;
    padding: 10px 0;
    background: #fff;

    div:nth-child(1){
      background: $color-blue-primary;
      text-align: center;
      color: #fff;
      width: 30px;
      height: 30px;
      font-size: .8em;
      line-height: 30px;
      border-radius: 50%;
      margin-top: 5px;
      margin-left: 4px;
    }

    div:nth-child(2){
      margin-left: 10px;
      width: 190px;
      align-self: flex-end;
      span{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: .8em;
      }
      h3{
        margin: 0;
        font-size: 1em;
        font-weight: normal;
      }
      p{
        margin: 2px 0;
        font-size: .95em;
      }
    }
  }

  &__tasks{
    &>ul{
      padding: 0;
      li{
        list-style: none;
        padding: 7px 0;
        padding-left: 60px;
        position: relative;
        border-bottom: 1px solid rgba(218, 234, 243, .2);
        cursor: pointer;
        span{
          position: absolute;
          left: 25px;
          top: 9px;
          width: 20px;
          height: 20px;
          font-size: .9em;
          border: 1px solid #EBF3F8;
          border-radius: 50%;
          text-align: center;
          color: #AEBBBA;
        }
      }

      li{
        position: relative;
        svg{
          position: absolute;
          left: 32px;
          top: 13px;
          transform: scale(1.5);
        }
      }
      li:nth-child(7){
        color: #69C886;
        &>span{
          span{
            background: #69C886;
            top: 3px;
            left: 3px;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  &__currentTask{
    background: #F1FBFB;
    border-left: 3px solid $color-blue-primary;
    color: $color-blue-primary;
    span{
      border-color: $color-blue-primary !important;
      color: $color-blue-primary !important;
    }
  }

  &__progressTask{
    padding: 5px 30px;
    position: relative;

    &>div{
      margin-top: 5px;
      border-radius: 5px;
      width: 100%;
      background: #DAEAF3;
      height: 9px;
      position: relative;

      span{
        height: 9px;
        background: $color-blue-primary;
        position: absolute;
        border-radius: 5px;
      }
    }

    &>span{
      position: absolute;
      top: 5px;
      right: 30px;
      font-size: .85em;
      background: #ECF7F9;
      border-radius: 15px;
      width: 40px;
      height: 20px;
      text-align: center;
      color: $color-blue-primary;
    }
  }

  &__paymentPlan{

  }

  &__paymentPlanData{
    h4{
      margin: 10px 0;
    }
  }

  &__paymentPlanValues{
    display: flex;
    justify-content: space-between;

    &>div{
      label{
        font-size: .95em;
        color: #A9B6B5;
      }
      div{
        span{
          font-size: .80em;
        }
      }
      div:nth-child(2){
        margin-bottom: 7px;
        span:nth-child(3){
          margin-bottom: 10px;
          svg{

          }
        }
      }
    }
  }

  &__paymentPlanModifyInputs{
    position: relative;
    display: flex;

    &>div{
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }

    span{
      position: absolute;
      right: 0;
      font-size: .9em;
      color: $color-blue-primary;
      cursor: pointer;
    }

    &>div{

    }
  }

  &__paymentPlanFees{
    margin-top: 30px;
    box-shadow: 1px 1px 6px #F1EFEF;
    border: 1px solid #efefef;
    border-radius: 4px;

  }

  &__paymentPlanFeesHeader{
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-blue-primary;
    position: relative;

    h4{
      font-weight: normal;
      padding-left: 12px;
      svg{
        position: absolute;
        left: 14px;
        top: 13px;
        transform: scale(1.2);
      }
    }

    span{
      cursor: pointer;
      border-bottom: 1px solid $color-blue-primary;
      position: relative;
      svg{
        position: absolute;
        transform: scale(1.5);
        left: -15px;
        top: 8px;
      }
    }
  }

  &__paymentPlanFeesHead, &__paymentPlanFeesRow{
    display: flex;
    padding-left: 30px;
    text-align: center;
    &>div{
      width: 30%;
    }
    &>div:nth-child(1){
      width: 10%;
    }
  }

  &__paymentPlanFeesCancel{
    &>div:nth-child(1){
      color: #81C784;
    }
  }

  &__paymentPlanFeesNoCancel{
    &>div:nth-child(1){
      color: #FF8A80;
    }
  }

  &__paymentPlanFeesCancel, &__paymentPlanFeesNoCancel{
    border: 1px solid #efefef;
    line-height: 40px;
    height: 40px;
    // -webkit-transition: height 2s !important;
    &>div:nth-child(1){
      padding-left: 40px;
      cursor: pointer;
      position: relative;

      svg:nth-child(1){
        position: absolute;
        left: 15px;
        top: 14px;

      }
      svg:nth-child(2){
        position: absolute;
        right: 20px;
        top: 10px;
        transform: scale(1.5);
      }

    }
  }

  &__paymentPlanFeesCancel, &__paymentPlanFeesNoCancel{
    overflow: hidden;
    &>div:nth-child(1){
      border-bottom: 1px solid #efefef;
    }
  }

  &__paymentPlanFeesRow{

  }

  &__currentStep{
    color: $color-blue-primary;
    span:nth-child(1){
      border: 1px solid $color-blue-primary !important;
    }
  }

  &__paymentPlanPopup{
    background: rgba(220, 220, 220, .6);
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__paymentPlanPopupCont{
    margin-top: -20px;
    z-index: 60;
    background: #fff;
    min-width: 900px;
    height: 650px;
    position: relative;
    box-sizing: border-box;

    h2{
      font-size: 1.2em;
      font-weight: normal;
      border-bottom: 1px solid #DAEAF3;
      padding: 10px 0 10px 0;
      margin: 15px 30px;
    }
    h4{
      margin: 10px 0;
    }

    &>div{
      display: flex;
      justify-content: space-around;
    }
  }

  &__paymentPlanPopupClose{
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 1.3em;
    width: 30px;
    text-align: center;
    cursor: pointer;
  }

  &__paymentPlanPopupData{
    display: flex;
    flex-direction: column;

    h5:nth-child(1), h5:nth-child(3){
      margin: 0px;
      font-size: 1em;
      font-weight: normal;
      padding-bottom: 5px;
    }

    h5:nth-child(3){
      padding-top: 12px;
    }
  }

  &__paymentPlanPopupGeneralData{
    display: flex;
    width: 100%;
    font-size: .9em;

    &>div{
      border-left: 1px solid #efefef;
      padding-left: 15px;

      label{
        color: #AAADAE;
      }

      svg{
        transform: scale(1.3);
      }
    }
    &>div:nth-child(1){
      border-left: 0;
      padding-left: 0;
      width: 23%;
    }
    &>div:nth-child(2){
      width: 25%;
    }
    &>div:nth-child(3){
      width: 30%;
    }
    &>div:nth-child(4){
      width: 22%;
    }
  }

  &__paymentPlanPopupOthers{
    display: flex;
    justify-content: space-between;
    font-size: .9em;

    &>div{
      padding-left: 10px;
    }

    &>div:nth-child(1){
      width: 23%;
      padding-left: 0;
    }
    &>div:nth-child(2){
      width: 25%;
    }
    &>div:nth-child(3){
      width: 30%;
    }
    &>div:nth-child(4){
      width: 22%;
    }
  }

  &__paymentPlanPopupApply{
    color: #AAADAE;
  }

  &__paymentPlanPopupWithoutCanceling{
    &>div{
      span{
        color: #FF8A80;
      }
    }
  }

  &__paymentPlanPopupCancelled{
    svg{
      transform: scale(1.3);
      margin-right: 7px;
    }
  }

  &__paymentPlanPopupNew{
    background: #F8F9FD;
    flex-direction: column;
    padding: 0 30px;
    height: 370px;
    justify-content: flex-start !important;

    h5{
      margin: 15px 0 0 0;
      color: $color-blue-primary;
      font-size: 1em;
      font-weight: normal;
      padding-left: 23px;
      position: relative;

      svg{
        transform: scale(1.4);
        position: absolute;
        left: 0;
        top: 2px;
      }
    }

    button{
      background: #81C784;
      border: 0;
      width: 140px;
      height: 40px;
      margin: 10px auto 0 auto;
      border-radius: 4px;
      color: #fff;
    }
  }

  &__paymentPlanPopupTable{
    background: #fff;
    width: 550px;
    height: 250px;
    margin: 10px auto;
    border: 1px solid #F0F6FA;

  }

  &__paymentPlanPopupTableHeader{
    display: flex;
    font-size: .92em;
    justify-content: center;
    padding: 10px 20px;

    &>div{
      margin-right: 5px;
      width: 160px;
      position: relative;

      span{
        position: absolute;
        top: 29px;
        left: 8px;
        color: $color-blue-primary;
        border-right: 1px solid #efefef;
        padding-right: 8px;
      }
      &>div{
        margin-top: 5px;
        border: 1px solid #efefef;
        width: 110px;
        cursor: pointer;

        select{
          width: 100%;
          height: 26px;
          -webkit-appearance: none;
          background: none;
          position: relative;
          cursor: pointer;
          border: 0;
          padding: 0px 0 0px 7px;
        }
      }
      input{
        padding-left: 30px;
        width: 115px;
        height: 24px;
        margin-top: 5px;
      }
      svg{
        position: absolute;
        right: 27px;
        top: 35px;
      }
    }
    div:nth-child(1){
      width: 130px;
    }
  }

  &__paymentPlanPopupTableBody{
    margin: 0 25px;
    overflow-y: scroll;
    width: 90%;
    height: 170px;
    position: relative;
  }

  &__paymentPlanPopupTableFirstRow{
    display: flex;
    position: relative;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    &>div{
      margin-right: 10px;
      width: 37%;
      text-align: center;
    }

    &>div:nth-child(1){
      width: 25%;
    }
  }

  &__paymentPlanPopupRemainingDates{
    position: absolute;
    left: 125px;
    top: 40px;
    &>div{
      height: 37px;
    }
  }

  &__paymentPlanPopupTableHead, &__paymentPlanPopupTableRow{
    display: flex;
    padding-top: 10px;
    font-size: .92em;

    &>div{
      margin-right: 10px;
      width: 37%;
      text-align: center;
    }

    &>div:nth-child(1){
      width: 25%;
    }
  }

  &__paymentPlanPopupTableRow{
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;

    &>div{
      position: relative;
      svg{
        position: absolute;
        left: 33px;
        top: 2px;
      }
    }
  }

  &__anotherif{

  }

  &__anotherifContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    figure{
      margin: 0 40px;
    }

    p{
      margin: 7px 0;
      width: 400px;
      text-align: center;
      font-family: 'Brandon_light';
      span{
        color: $color-blue-primary;
        font-family: 'Brandon';
      }
    }
    div{
      button{
        background: #fff;
        border: 1px solid #efefef;
        box-shadow: 1px 1px 3px #efefef;
        padding: 5px 25px;
        margin-top: 20px;
      }
    }
  }

  &__bank{
  }

  &__bankContent{
    figure{
      border: 1px solid #efefef;
      box-shadow: 1px 1px 6px #efefef;
      text-align: center;
      width: 520px;
      margin: 0 auto;
      padding: 10px 20px;
      text-align: center;
      p{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        font-size: 1.1em;
        font-family: 'Brandon_light';
      }
    }
  }

  &__bankTasks{
    h3{
      font-weight: normal;
    }
    &>div{
      position: relative;
      padding-left: 25px;
      svg{
        position: absolute;
        left: 3px;
        top: 5px;
        transform: scale(1.4);
        cursor: pointer;
      }
      span{
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid #D1D8D8;
        left: 0;
        top: 4px;
        border-radius: 50%;
        cursor: pointer;
      }
      p{
        font-family: 'Brandon_light';
      }
      &>div{
        width: 480px;
        display: flex;
        justify-content: space-between;
        position: relative;

        input{
          width: 180px;
          padding: 5px 0;
          padding-left: 40px;
          background: none;
          z-index: 2;
          position: relative;
          cursor: pointer;
        }
        svg:nth-child(1){
          position: absolute;
          left: 12px;
          top: 10px;
        }
        svg:nth-child(2){
          transform: scale(.9);
          position: absolute;
          left: 200px;
          top: 13px;
          z-index: 1;
        }

      }
    }
  }

  &__orderNotary{
    position: relative;
    select{
      position: relative;
      padding: 5px;
      background: none;
      border-radius: 0;
      border: 1px solid #e5e5e5;
      width: 222px;
      cursor: pointer;
      z-index: 2;
    }
  }

  &__changesPopupContent{
    background: #fff;
    width: 400px;
    height: 200px;
    text-align: center;
    padding-top: 30px;

    p{
      font-size: 1.1em;
    }
  }

  &__changesPopupButtons{
    width: 330px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

    button{
      background: $color-blue-primary;
      border: 0;
      color: #fff;
      cursor: pointer;
    }
  }

  &__changesAlert{
    position: fixed;
    background: #fff;
    top: 80px;
    right: 20%;
    width: 210px;
    text-align: center;
    border: 1px solid $color-blue-primary;

    p{
      margin: 7px 0;
      padding: 0 10px;
    }
  }


  &__noRequired{
    text-align: center;
    transform: translateY(40%);
    p{
      width: 370px;
      margin: 0 auto;
      font-family: 'Brandon_light';
    }
  }
}
