.DeedsFirstStepOnBoard{
  display: flex;
  justify-content: center;

  &__selectTower, &__startProcess{
    position: relative;
    width: 450px;
    min-height: 350px;
    transform: translateY(35%);
    border: 1px solid #efefef;
    text-align: center;
  }

  &__selectTower{
    text-align: center;
    &>p{
      font-size: 1.2em;
    }

    &>h3{
      font-weight: normal;
    }

    &>button{
      background: $color-blue-primary;
      color: #fff;
      border: 0;
      width: 120px;
      padding: 5px 0;
      border-radius: 3px;
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }

  &__select{
    width: 200px;
    margin: 0 auto;
    background: rgb(248, 248, 248);
    border: 1px solid #efefef;
    border-radius: 15px;
    position: relative;

    svg{
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
    &>div{
      width: 200px;
      select{
        background: none;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        border: none;
        padding: 2px 10px;
        cursor: pointer;
        z-index: 2;
      }
    }
  }

  &__step{
    margin: 0 auto;

    span{
      display: inline-block;
      // background: #efefef;
      border: 1px solid #efefef;
      margin: 0 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__startProcess{
    position: relative;
    &>span{
      position: absolute;
      left: 15px;
      top: 10px;
      border: 1px solid #efefef;
      padding: 4px 25px;
      cursor: pointer;
    }
    &>p{
      width: 410px;
      margin: 0 auto;
      height: 110px;
      margin-top: -10px;
    }
    &>button{
      margin: 0 0 20px 0;
      background: $color-blue-primary;
      color: #fff;
      border: 0;
      width: 120px;
      padding: 5px 0;
      border-radius: 3px;
    }
  }
}

.DeedsFirstStepSendNotifications{
  background: rgba(220, 220, 220, .4);
  width: 100%;
  position: relative;
  &__header{
    position: fixed;
    background: #fff;
    width: 83%;
    top: 60px;
    text-align: center;
    border-bottom: 1px solid #efefef;
    box-shadow: 1px 1px 4px #efefef;
    border-left: 1px solid #D1D9DD;
    z-index: 50;

    &>div{
      position: relative;
      margin: 0 auto;
      width: 370px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg{
        margin-right: 5px;
      }
    }

    &>span{
      position: absolute;
      left: 20px;
      top: 20px;
      color: $color-blue-primary;
    }
  }

  &__content{
    min-height: 80vh;
  }

  &__table{
    background: #fff;
    width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
    overflow-y: scroll;
    @include mq(min-width, 1300px){
      width: 90%;
    }
  }

  &__tableRow{
    display: flex;
    border: 1px solid #efefef;
    box-sizing: border-box;
    &>div{
      width: 90px;
      text-align: center;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mq(min-width, 1300px){
        width: 8%;
      }
    }
  }

  &__floor{
    cursor: pointer;
    position: relative;
    span{
      position: absolute;
      left: 17px;
      top: 23px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #efefef;
    }
    svg{
      position: absolute;
      left: 18px;
      top: 24px;
    }
  }

  &__apto{
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 20px 10px;
    position: relative;
    cursor: pointer;
    &>svg:nth-child(1){
      position: absolute;
      top: 3px;
      left: 5px;
    }
    &>svg:nth-child(2){
      position: absolute;
      top: 3px;
      right: 5px;
    }
  }

  &__aptoHover{
    &:hover{
      box-shadow: 0px 0px 5px #b1b1b2;
      cursor: pointer;
    }
  }

  &__editMsg{
    margin-top: 80px;
    height: 75vh;
    display: flex;
    &>div{
      position: relative;
      width: 650px;
      background: #fff;
      margin: 0 auto;
      border: 1px solid #efefef;

      &>span{
        position: absolute;
        right: 80px;
        color: $color-blue-primary;
        top: 20px;
        cursor: pointer;
      }
    }
  }

  &__editMsgTemplate{
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;

    p{
      span{
        cursor:no-drop;
      }
    }
  }

  &__confirm{
    width: 800px;
    height: 80vh;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    &>div{
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      padding-top: 20px;
      padding-left: 50px;
      border-top: 1px solid rgba(220, 220, 220, .5);
      h4{
        margin: 0;
      }
      &>span{
        position: absolute;
        right: 0;
        cursor: pointer;
        border: 1px solid $color-blue-primary;
        padding: 4px 20px;
        border-radius: 10px;
      }
    }
    &>div:nth-child(3){
      padding-bottom: 15px;
    }
  }

  &__confirmTower, &__confirmAddressee, &__confirmNotificationMsg{

    &>div:nth-child(1){
      position: relative;
    }
    &>div:nth-child(2){
      position: relative;
    }
    svg{
      width: 30px;
      height: 30px;
      position: absolute;
      left: -40px;
      top: 7px;
    }
  }

  &__confirmNotificationMsg{
    svg{
      top: -4px;
    }
  }

  &__footer{
    border-top: 1px solid #efefef;
    position: fixed;
    background: #fff;
    width: 83%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    border-left: 1px solid #D1D9DD;

    &>div:nth-child(1), &>div:nth-child(3){
      cursor: pointer;
    }

    &>div:nth-child(1){
      border: 1px solid #efefef;
      padding: 4px 20px;
      border-radius: 15px;
    }
    &>div:nth-child(3){
      background: $color-blue-primary;
      padding: 4px 20px;
      border-radius: 15px;
      color: #fff;
    }

    &>nav{
      ul{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        width: 520px;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: inherit;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__popup{
    background: rgba(100, 100, 100, .3);
    position: absolute;
    z-index: 60;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 5px;
    display: flex;
    justify-content: center;
  }

  &__waiting, &__done{
    width: 370px;
    height: 300px;
    border: 1px solid #efefef;
    align-self: center;
    position: relative;
    background: #fff;
  }

  &__waiting{
    div{
      border: 5px solid transparent;
      border-top: 5px solid $color-blue-primary;
      border-radius: 200px;
      -webkit-animation: spin 2s infinite linear;
    }
    span{
      position: absolute;
      bottom: 40px;
      width: 100%;
    }
    p{
      text-align: center;
      color: $color-blue-primary;
    }
  }

  &__loader-1{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
  &__loader-2{
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  &__loader-3{
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  &__done{
    text-align: center;
    position: relative;
    z-index: 70;
    img{
      position: absolute;
      top: 20px;
      left: 50px;
      width: 250px;
    }
    &>span{
      position: absolute;
      top: 10px;
      right: 30px;
      cursor: pointer;
    }
    &>div{
      padding-top: 160px;
    }
  }
}

.DeedsFirstStepSendingNotifications{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;


}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotateZ(0deg);}
  100% {-webkit-transform: rotateZ(360deg);}
}
