.DocumentsList{
  width: 100%;
  padding-top: 30px;
  background: #fff;

  &__header{
    background: #fdfdfd;
    display: flex;
    font-size: .9em;
    padding: 10px 5px;
    color: $color-text-primary;
    @include mq(min-width, 1000px){
      width: 100%;
      padding: 10px 25px;
      margin-top: 40px;
    }

    &>div{
      width: 50%;
      cursor: pointer;
      text-align: center;
      @include mq(min-width, 1000px){
        width: 250px;
      }
    }
    &>div:first-child{

      @include mq(min-width, 1000px){
        text-align: left;
        width: 220px;
      }
    }
    &>div:hover{
      color: $color-blue-primary;
      border-bottom: 1px solid $color-blue-primary;
    }
  }

  &__search{
    width: 93%;
    margin: 0 auto;
    padding: 20px 20px 15px 35px;
    text-align: center;
    border-bottom: 1px solid #efefef;
    position: relative;
    @include mq(min-width, 768px){
      text-align: left;
    }
    input{
      width: 70%;
      border: 0;
      @include mq(min-width, 768px){
        width: 300px;
      }
    }
    input:focus{
      outline: none;
    }
    svg{
      width: 18px;
      height: 18px;
      position: absolute;
      top: 23px;
      left: 10px;
    }
  }

  &__body{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }

  &__card{
    width: 350px;
    margin: 0 auto;
    border: solid 1px #efefef;
    position: relative;
    &>span{
      font-size: .8em;
      position: absolute;
      right: 20px;
      top: 5px;
    }
    @include mq(min-width, 768px){
      margin: 10px;
    }
  }

  &__infoCont{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  &__round{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin: 0 auto;
    box-shadow: 0 2px 8px 0 rgba(224, 222, 222, 0.5);
  }

  &__info{
    width: 250px;
  }

  &__see{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    div{
      background: $color-blue-primary;
      color: #fff;
      width: 60px;
      font-size: .8em;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
    }
  }

}
