.FaqSupport{
  position: relative;

  &__header{
    background: url('/static/img/faq-soporte-bg.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    @include mq(min-width, 768px){
      padding: 10px 0;
    }
  }

  &__headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    @include mq(min-width, 768px){
      width: 70%;
      padding: 20px 0;
      margin: 0 auto;
    }
  }

  &__headerNav{
    border-bottom: 1px solid rgba(255,255,255,.2);
    @include mq(min-width, 768px){
      width: 70%;
    }

    @include mq(min-width, 768px){
      width: 280px;
    }
    nav{
      ul{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        li{
          list-style: none;
          a{
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            padding: 0px 20px;
            &:hover{
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }

  &__body{
    padding-top: 50px;
    @include mq(min-width, 768px){
      padding-top: 100px;
    }

    h2{
      margin: 0;
      text-align: center;
      color: $color-blue-primary;
      padding: 50px 0 30px 0;
      @include mq(min-width, 768px){
        font-size: 2em;
      }
      span{
        color: #424753;
        padding-right: 10px;
        font-size: .9em;
      }
    }
  }

  &__contentFaqs{
    width: 90%;
    margin: 0 auto;
    @include mq(min-width, 768px){
      width: 70%;
    }

  }

  &__filter{
    label{
      color: #4a4851;
      font-size: 1.2em;
      margin-right: 20px;
    }
    select{
      width: 100%;
      height: 40px;
      -webkit-appearance:none;
      border: solid 2px #f5f2f2;
      box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.5);
      border-radius: 20px;
      padding-left: 10px;
      cursor: pointer;
      @include mq(min-width, 768px){
        width: 280px;
      }
    }
  }

  &__contentItem{
    &>h4{
      color: $color-blue-primary;
      @include mq(min-width, 768px){
        font-size: 1.4em;
      }
    }
    &>p{
      @include mq(min-width, 768px){
        font-size: 1.3em;
        span{
          color: #403e46;
        }
      }
    }
  }

  &__footer{
    height: 140px;
    border: solid 1px #e0e0e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footerWrap{
    width: 90%;
    display: flex;
    @include mq(min-width, 768px){
      width: 70%;
    }

    &>span{
      width: 70px;
    }

    &>div{
      width: 250px;
    }
  }
}
