.Formalization{
  width: 100%;
  margin: 0 auto;
  @include mq(min-width, 1000px){
    width: 80%;
    margin: 10px;
  }
  @include mq(min-width, 1200px){
    width: 90%;
  }

  &__header{
    display: flex;
    flex-direction: column;
    @include mq(min-width, 1000px){
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__search{
    text-align: center;
    width: 280px;
    padding: 15px 0;
    position: relative;
    margin: 0 auto;
    input{
      border: none;
      padding: 7px 15px 7px 40px;
      border-radius: 20px;
      font-size: .9em;
      width: 160px;
      color: $color-text-primary;
      &:focus{
        outline: none;
      }
    }
    svg{
      position: absolute;
      width: 16px;
      left: 45px;
      top: 3.5px;
    }
    @include mq(min-width, 1000px){
      margin: 0;
    }
  }

  &__plans{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mq(min-width, 1000px){
      width: 400px;
    }
  }

  &__showPlans{
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-between;
    select{
      background: #efefef;
      border: 0;
      color: $color-blue-primary;
    }
  }

  &__newPayment{
    background: $color-blue-primary;
    border-radius: 20px;
    padding: 5px 10px;
    a{
      text-decoration: none;
      color: #fff;
      font-size: .75em;
      font-weight: bold;
    }
  }

  &__table{
    width: 95%;
    margin: 0 auto;
    box-shadow: 2px 2px 3px #efefef;
    background: #F8F9FB;
    font-size: .9em;
  }

  &__cont{
    overflow: scroll !important;
  }

  &__row{
    padding: 15px 0;
  }

  &__head{
    display: flex;
    padding: 20px 0;
    font-weight: 400;
    width: 1000px;
    @include mq(min-width, 1200px){
      width: 100%;
    }
    &>div{
      width: 16.6%;
      text-align: center;
    }
  }

  &__body{
    background: #fff;
    width: 1000px;
    @include mq(min-width, 1200px){
      width: 100%;
    }
  }

  &__noResults{
    font-size: 1.2em;
    text-align: center;
  }

  &__row{
    display: flex;
    &>div{
      width: 16.6%;
      text-align: center;
    }
    &>div:nth-child(7){
      cursor: pointer;
      a{
        text-decoration: none;
        color: $color-blue-primary;
      }
    }
  }

  &__pagination{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    @include mq(min-width, 900px){
      width: 500px;
      margin: 0 auto;
    }

    ul{
      display: flex;
      width: 700px;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        cursor: pointer;
      }
      li:first-child, li:last-child{
        color: $color-blue-primary;
      }
    }
  }

  &__pages{
    display: flex;
    justify-content: space-between;
    width: 120px;
    align-items: center;

    span{
      text-align: center;
      color: $color-text-primary;
    }

    span:nth-child(2){
      background: $color-blue-primary;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      color: #fff;
      line-height: 22px;
    }
  }

  &__back, &__next{
    a{
      color: $color-blue-primary;
      text-decoration: none;
    }
  }

}
