.Header{
  position: fixed;
  background: #fff;
  border: 1px solid #C5D6DE;
  width: 100vw;
  z-index: 60;
  top: 0;

  &__cont{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    color: #6C7383;
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 160px;

    h1 {
      font-size: 1.4em;
      font-weight: 400;
      margin: 0;
    }

    a {
      color: #0082c6;
    }
  }

  &__userinfo{
    display: flex;
    align-items: center;
    color: $color-blue-primary;
    position: relative;
  }

  &__arrow{
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #adb7be;
    cursor: pointer;
    &:hover{
      border-top: 6px solid $color-blue-primary;
    }
  }

  &__userTooltip{
    background: #fff;
    position: absolute;
    top: 35px;
    left: -60px;
    padding: 10px 30px;
    border: 1px solid $color-border-input;
    border-radius: 4px;
    width: auto;
    display: none;
    a{
      text-decoration: none;
      color: $color-text-primary;
      &:hover{
        color: $color-blue-primary;
      }
    }
  }
}
