.LandingSupport{

  &__above {
    background: url('/static/img/landing-soporte-bg.png') no-repeat;
    background-size: 100vw 350px;
    width: 100vw;
    height: 350px;
    @include mq(min-width, 768px){
      background-size: 100vw 600px;
      height: 600px;
    }
  }

  &__header{
    position: absolute;
    width: 100%;
    @include mq(min-width, 768px){
      padding-top: 20px;
    }
  }

  &__headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    @include mq(min-width, 768px){
      width: 80%;
      margin: 0 auto;
      padding: 20px 0;
    }
  }

  &__headerNav{
    border-bottom: 1px solid rgba(255,255,255,.2);
    @include mq(min-width, 768px){
      width: 70%;
    }

    @include mq(min-width, 768px){
      width: 280px;
    }
    nav{
      ul{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        li{
          list-style: none;
          a{
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            padding: 0px 20px;
            &:hover{
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }

  &__aboveWrap{
    position: relative;
    margin: 0 auto;
    top: 30%;
    width: 80%;
    color: #fff;
    text-align: center;
    h1{
      margin: 0;
      @include mq(min-width, 768px){
        font-size: 5em;
        font-weight: lighter;
      }
    }
    p{
      font-weight: lighter;
      @include mq(min-width, 768px){
        font-size: 1.6em;
      }
    }
  }

  &__aboveSearch{
    input{
      box-sizing: border-box;
      width: 220px;
      height: 30px;
      border-radius: 20px;
      padding-left: 20px;
      color: #d5d5d5;
      outline: none;
      @include mq(min-width, 768px){
        height: 40px;
        width: 520px;
      }
    }
    button{
      height: 30px;
      width: 90px;
      background: $color-blue-primary;
      border: 0;
      border-radius: 20px;
      margin-left: -30px;
      font-size: .85em;
      @include mq(min-width, 768px){
        width: 160px;
        margin-left: -60px;
        height: 45px;
      }
    }
  }


  &__faq{
    width: 90%;
    margin: 0 auto;
    @include mq(min-width, 768px){
      width: 60%;
    }

    &>h2{
      text-align: center;
      color: $color-blue-primary;
      @include mq(min-width, 768px){
        margin: 50px 0;
      }
    }

    &>h4{
      margin: 50px auto;
      width: 250px;
      color: #165891;
      border-bottom: 1px solid #165891;
      text-align: center;
      @include mq(min-width, 768px){
        width: 300px;
        font-size: 1.4em;
      }
    }
  }

  &__faqFilter{
    label{
      color: #4a4851;
      font-size: 1.2em;
      margin-right: 20px;
    }
    select{
      width: 100%;
      height: 40px;
      -webkit-appearance:none;
      border: solid 2px #f5f2f2;
      box-shadow: 0 1px 4px 0 rgba(224, 224, 224, 0.5);
      border-radius: 20px;
      padding-left: 10px;
      cursor: pointer;
      @include mq(min-width, 768px){
        width: 280px;
      }
    }
  }

  &__faqContentItem{
    &>h4{
      color: $color-blue-primary;
      @include mq(min-width, 768px){
        font-size: 1.4em;
      }
    }
    &>p{
      @include mq(min-width, 768px){
        font-size: 1.3em;
        span{
          color: #403e46;
        }
      }
    }
  }

  &__otherRequest{
    &>h4{
      font-size: 1.15em;
      text-align: center;
      color: $color-blue-primary;
      @include mq(min-width, 768px){
        font-size: 1.6em;
      }
    }

    &>p{
      text-align: center;
      @include mq(min-width, 768px){
        font-size: 1.4em;
      }
    }
  }

  &__otherRequestInput{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 60px;
    text-align: center;
    @include mq(min-width, 768px){
      width: 450px;
      text-align: left;
    }
    &>input{
      height: 40px;
      width: 80%;
      border-radius: 20px;
      padding: 0 10px;
      box-shadow: 0 2px 4px 0 rgba(224, 224, 224, 0.5);
      border: solid 2px #f5f2f2;
      @include mq(min-width, 768px){
        width: 300px;
      }
    }
    &>button{
      height: 40px;
      width: 100px;
      background: $color-blue-primary;
      border-radius: 20px;
      border: 0;
      color: #fff;
      margin: 10px 0;
      @include mq(min-width, 768px){
        margin: 0;
        margin-left: -30px;
      }

    }
  }

  &__otherRequestForm{
    box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.5);
    border: 1px solid #f5f2f2;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
    h4{
      text-align: center;
      color: $color-blue-primary;
      font-size: 1.3em;
    }
    &>fieldset{
      border: 0;
      @include mq(min-width, 768px){
        width: 70%;
        margin: 0 auto;
      }
    }

    input[type='text']{
      width: 200px;
      height: 30px;
      border-radius: 4px;
      padding-left: 15px;
      box-sizing: border-box;
      @include mq(min-width, 768px){
        height: 37px;
        width: 350px;
      }
    }

    select{
      -webkit-appearance:none;
      height: 30px;
      width: 200px;
      background: #fff;
      border: 1px solid #f5f2f2;
      padding-left: 15px;
      cursor: pointer;
      @include mq(min-width, 768px){
        height: 40px;
        width: 350px;
      }
    }

    textarea{
      box-sizing: border-box;
      padding-left: 15px;
      width: 200px;
      border: solid 1px #e0e0e5;
      @include mq(min-width, 768px){
        width: 350px;
      }

    }
  }

  &__otherRequestFormGroup{
    margin: 20px 0;
    display: flex;
    position: relative;
    label{
      margin-right: 20px;
      width: 100px !important;
    }
  }

  &__description{
    width: 470px;
  }

  &__otherRequestFormFile{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 40px;
    border: solid 1px #e0e0e5;
    bottom: 0;
    background: #fff;
    @include mq(min-width, 768px){
      width: 350px;
      padding: 0 5px;
      right: 0px;
    }
  }

  &__otherRequestFormButton{
    width: 100%;
    text-align: center;
    button{
      background: $color-blue-primary;
      height: 40px;
      width: 150px;
      border-radius: 20px;
      border: 0;
      color: #fff;
    }
  }

  &__footer{
    height: 180px;
    border: solid 1px #e0e0e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footerWrap{
    width: 90%;
    display: flex;

    &>span{
      width: 70px;
    }

    &>div{
      width: 250px;
    }
  }
}
