.Menu{
  width: 220px;
  background: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  border-right: 1px solid #C5D6DE;
  display: none;
  justify-content: center;
  align-items: center;

  @include mq(min-width, 1000px){
    display: flex;
  }
  @include mq(min-width, 1200px){
    width: 17%;
  }

  ul{
    min-height: 75%;
    max-height: 75%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;

    li{
      width: 98%;
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $color-text-primary;
      font-family: 'Brandon' !important;

      &:hover{
        background: #efefef;
        width: 100%;
      }

      a{
        text-decoration: none;
        color: inherit;
        margin-left: 10px;
        padding: 7px 0 5px 0;
        width: 70%;
        height: 50px;
        line-height: 50px;
      }
      img{
        width: 30px;
        padding-left: 40px;
      }
    }
  }
}

.isMenuSelected{
  border-left: 5px solid $color-blue-primary;
  color: $color-blue-primary;
  background: #efefef;
}
