// Media queries
@mixin mq($type, $size){
  @media only screen and ($type: $size) {
    @content;
  }
}
@mixin mq2($oneType, $oneSize, $twoType, $twoSize){
  @media only screen and ($oneType: $oneSize) and ($twoType: $twoSize) {
    @content;
  }
}
// Flex grid
@function item-width($column,$gutter) {
  @return calc(#{$column} - #{$gutter});
}
@mixin flexboxgrid($item,$columns,$gutter:1em){
  $column: 100% / $columns;
  display : flex;
  flex-wrap: wrap;
  margin-left : -($gutter / 2);
  margin-right : -($gutter / 2);
  #{$item}{
    width : item-width($column,$gutter);
    margin: $gutter / 2;
  }
}
