.NewPaymentSucess{
  height: 75vh;
  padding-top: 100px;
  width: 100%;
  background: #fff;

  &__container{
    border: 1px solid #efefef;
    padding: 20px 40px;
    min-height: 300px;
    width: 500px;
    background: #fff;
    box-shadow: 1px 1px 4px #efefef;
    margin: 0 auto;
  }

  &__head{
    margin: 30px 0;
    text-align: center;
    p{
      font-size: 1.3em;
    }
    span{
      font-size: 1.1em;
      color: $color-blue-primary;
    }
  }

  &__body{
    p{
      margin-bottom: 30px;
      font-size: 1.1em;
    }
    div{
      button{
        font-size: .85em;
        margin: 7px;
        border: 1px solid #efefef;
        background: none;
        padding: 10px 5px 10px 35px;
        position: relative;

        svg{
          position: absolute;
          left: 10px;
        }
      }
    }
  }
}
