.NewPaymentPopupEdit{

  &__formBody{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include mq(min-width, 650px){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &>div{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50px;
      position: relative;

      @include mq(min-width, 650px){
        width: 40%;
        margin: 10px;
      }

      input{
        padding: 5px;
      }

      &>div{
        background: orange;
        position: absolute;
        top: 25px;
        right: 0;
        width: 40px !important;
        height: 30px !important;
        cursor: pointer !important;
        input{
          border: 1px solid #efefef !important;
          width: 40px !important;
          height: 30px !important;
          padding-left: 5px !important;
          color: $color-text-primary !important;
        }
        hr{
          display: none !important;
        }
        &>div{
          background: blue !important;
          width: 40px !important;
          height: 30px !important;
          cursor: pointer !important;
        }
        &>div:nth-child(2){
          display: none !important;
        }
      }
    }
  }

}
