// Placeholders
.box-shadow-border{
  border: 1px solid #efefef;
  box-shadow: 1.5px 1.5px 4px #efefef;
}

// Styles
.NewPayment{
  width: 90%;
  @include mq(min-width, 1200px){
    width: 85%;
  }

  &__title{
    position: relative;
    h2{
      font-size: 1.3em;
      padding-top: 20px;
      padding-left: 60px;
    }
    div{
      position: absolute;
      top: 10px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #efefef;
      border-radius: 50%;
      svg{
        padding-left: 5px;
      }
    }
  }

  &__basicInfo{
    background: #fff;
    padding: 20px 40px 30px 40px;
    position: relative;
    @extend .box-shadow-border;

    h3{
      margin: 5px 0;
    }
  }

  &__basicInfoIcon{
    position: absolute;
    top: 20px;
    right: 25px;
    border: 1px solid #efefef;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    svg{
      padding-top: 5px;
    }
  }

  &__cont{
    @include mq(min-width, 768px){
      display: flex;
    }
  }

  &__searchApto{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;

    @include mq(min-width, 768px){
      width: 200px;
      margin: 0;
    }

    input{
      border-radius: 5px;
      padding: 6px 10px 6px 35px;
      font-size: .9em;
    }
    label{
      margin: 0px 0px 7px 0px;
    }

    svg{
      position: absolute;
      width: 18px;
      top: 18px;
      left: 8px;
    }
  }

  &__results{
    position: absolute;
    width: 200px;
    text-align: center;
    height: 150px;
    overflow-y: scroll;
    background: #fff;
    top: 60px;
    border: 1px solid $color-border-input;
    box-shadow: 1px 1px 4px #efefef;
    display: none;
    z-index: 50;
    div{
      letter-spacing: 4px;
      padding: 5px 0;
      font-size: .9em;
      &:hover{
        color: $color-blue-primary;
        cursor: pointer;
      }
    }
  }

  &__aptoSelected{
    background: #efefef;
    color: $color-red-primary;
    width: 85%;
    font-size: .9em;
    margin:  0 auto;
    border-radius: 10px;
    position: absolute;
    top: 33px;
    left: 5px;
    padding: 3px 0;
    padding-left: 15px;
    display: none;

    & > span{
      color: $color-text-primary;
      position: absolute;
      top: -1px;
      font-size: 1.2em;
    }
  }

  &__chipClose{
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  &__aptoClients{
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    position: relative;
    @include mq(min-width, 768px){
      margin: 0 10px;
      min-width: 350px;
    }
  }

  &__client{
    border: 1px solid $color-border-input;
    width: 170px;
    border-radius: 10px;
    padding: 5px 5px 5px 35px;
    align-self: flex-end;
    font-size: .95em;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;

    span:nth-child(1){
      position: absolute;
      width: 22px;
      height: 22px;
      left: 7px;
      top: 4px;
      font-size: .8em;
      line-height: 22px;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      background: $color-red-primary;
    }

    span:nth-child(3){
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 3px;
    }

    svg{
      position: absolute;
      right: 30px;
      top: 8px;
      cursor: pointer;
    }
  }



  &__addClient{
    color: $color-blue-primary;
    cursor: pointer;
    margin: 5px 0;
  }

  &__clientsLabel{
    width: 100%;
    display: block !important;
    margin-bottom: 5px;
  }


  &__summary{
    margin: 15px 0;
    padding: 20px 40px 30px 40px;
    position: relative;
    background: #fff;
    @extend .box-shadow-border;
  }

  &__summaryIcon{
    border: 1px solid #efefef;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $color-blue-primary;
    font-size: 1.4em;
    font-weight: lighter;
  }

  &__paymentSummary{
    h3{
      margin: 10px 0;
    }
  }

  &__campaigns{
    margin-bottom: 20px;
    position: relative;
    select{
      font-size: .9em;
      width: 200px;
      height: 35px;
      cursor: pointer;
      padding-left: 10px;
      background: #fff;
      border: 1px solid $color-border-input;
    }
    &::after {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 0.35em;
      right: 1.4em;
      position: relative;
      top: .7em;
      transform: rotate(130deg);
      vertical-align: top;      
      width: 0.35em;
    }
  }

  &__paymentSummaryCont{
    display: flex;
    flex-direction: column;
    @include mq(min-width, 768px){
      flex-direction: row;
      flex-wrap: wrap;
    }
    div{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      margin-right: 25px;
      position: relative;

      @include mq(min-width, 768px){
        width: 40%;
      }

      @include mq(min-width, 1000px){
        width: 150px;
      }

      label{
      }

      input{
        padding: 5px 0 5px 35px;
        border-radius: 3px;
      }
      span{
        position: absolute;
        top: 25px;
        left: 10px;
        color: $color-blue-primary;
        border-right: 1px solid $color-border-input;
        padding-top: 5px;
        padding-right: 10px;
        height: 28px;
      }
    }

  }

  &__othersPaymentCont{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    @include mq(min-width, 768px){
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include mq(min-width, 1000px){
      justify-content: initial;
    }

    & > div{
      display: flex;
      flex-direction: column;
      position: relative;
      @include mq(min-width, 768px){
        width: 40%;
      }
      @include mq(min-width, 1000px){
        width: 190px;
      }
      @include mq(min-width, 1200px){
        width: 210px;
      }
      input{
        padding: 5px 0 5px 10px;
        margin-left: 15px;
        border-radius: 3px;
      }
      &>span{
        position: absolute;
        top: 25px;
        left: 10px;
        color: $color-blue-primary;
        border-right: 1px solid $color-border-input;
        padding-top: 5px;
        padding-right: 10px;
        height: 28px;
      }
    }
  }

  &__applyCI{
    &>div{
      &>div{
        div{
          // width: 10px !important;
          svg:nth-child(1){
            fill: $color-text-primary !important;
          }
          svg:nth-child(2){
            fill: $color-green !important;
          }
        }
        label{
          color: $color-text-primary !important;
          font-family: 'Brandon', sans-serif !important;
          margin-left: -10px;
        }
      }
    }
  }

  &__othersPaymentLabel{
    display: flex;
    &>input{
      width: 60%;
    }
    &>div{
      width: 15px !important;
      &>div{
        width: 25px !important;
        padding-top: 3px;
        div{

          // left: -25px;
          // top: 30px;
        }
        label{
          font-family: 'Brandon', sans-serif !important;
          color: $color-text-primary !important;
          margin-left: -10px;
        }
        svg:nth-child(1){
          fill: $color-text-primary !important;
        }
        svg:nth-child(2){
          fill: $color-green !important;
        }
      }
    }
  }

  &__plan{
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
    background: #fff;
    @extend .box-shadow-border;

    &>div:nth-child(1){
      border: 1px solid #efefef;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;
      text-align: center;
      svg{
        padding-top: 7px;
        padding-left: 4px;
      }
    }
  }

  &__planDues{
    margin-bottom: 15px;
    select{
      border: 1px solid #efefef;
    }
  }

  &__planTable{
    overflow: scroll;
    border: 1px solid #efefef;
  }

  &__planTableHead{
    display: flex;
    padding: 10px 0;
    border: 1px solid #efefef;
    div{
      min-width: 170px;
      text-align: center;
    }
    div:nth-child(1){
      width: 85px;
    }
  }

  &__planTableBody{
    position: relative;
  }

  &__planTableRow{
    display: flex;
    padding: 10px 0;

    div{
      min-width: 170px;
      text-align: center;
    }
    div:nth-child(1){
      width: 85px;
    }
    div:nth-child(3){
      border: 1px solid #efefef;
      position: relative;
      span{
        border-right: 1px solid #efefef;
        position: absolute;        
        padding-right: 8px;
        left: 10px;
        font-weight: 100;
        color: $color-blue-primary;
      }
    }
    div:nth-child(4){
      color: $color-blue-primary;
      position: relative;

      input{
        text-align: center;
        color: $color-text-primary;
      }

      span{
        position: absolute;
        top: 2px;
        left: 18px;
        padding-right: 9px;
        font-weight: 100;
        border-right: 1px solid #efefef;
        color: $color-blue-primary;
      }
    }
    div:nth-child(5){
      color: $color-blue-primary;
    }
  }

  &__planTableFeeDates{
    width: 140px;
    position: absolute;
    left: 180px;
    top: 10px;

    div > div{
      padding: 5px 0;
      margin: 12px 0;
      border: 1px solid #efefef;
    }
    &>div:nth-child(1){
      padding: 0;
      margin: 0;
    }
    &>div:nth-child(2){
      border: 0;
    }
  }

  &__planTableFirstDate{
    position: relative;

    input{
      width: 100%;
    }
    svg{
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      left: -30px;
    }
  }

  &__firstDateError{
    background: #fff;
    border: 1px solid $color-red-primary !important;
    position: absolute;
    top: 20px;
    right: -20px;
    z-index: 50;
    box-shadow: 1px 1px 4px #efefef;
    display: none;
    span{
      position: absolute;
      right: 7px;
      top: 0;
      cursor: pointer;
    }
  }

  &__planTableRemainingDates{
    border: 0;
    div{
      position: relative;
      padding-left: 20px;
      svg{
        position: absolute;
        left: -30px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__validationPopup{
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &>div{
      background: #fff;
      height: 300px;
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      &>span{
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
      }
      p{
        width: 80%;
        text-align: center;
        font-size: 1.2em;
        &>span{
          display: block;
          font-size: .9em;
        }
      }
      button{
        border: 0;
        background: $color-blue-primary;
        color: #fff;
        padding: 10px;
        font-size: .85em;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }

  &__validateButton{
    text-align: center;
    margin: 30px 0;
    button{
      background: $color-green;
      border: 0;
      padding: 10px 30px;
      font-weight: bold;
      color: #fff;
    }
  }
}

//Utilities
