.NewpaymentDocument{
  padding: 50px;
  position: relative;
  @include mq(min-width, 1200px){
    width: 800px;
  }

  &__header{
    position: fixed;
    width: 85%;
    top: 90px;
    display: flex;
    justify-content: flex-end;
    background: #fff;

    @include mq(min-width, 1200px){
      width: 800px;
    }

    &>div{
      width: 200px;
      display: flex;
      justify-content: space-between;

      span{
        cursor: pointer;
      }
    }
  }

  &__document{
    padding-top: 10px;
    margin-top: 20px;
  }
}
