.NewTicket{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &__body{
    width: 100%;
    align-self: center;
    svg{
      position: absolute;
      top: 20px;
      left: 5px;
      transform: scale(.6);
      cursor: pointer;
    }

    h3{
      padding-left: 40px;
      border-bottom: 1px solid rgba(179, 179, 180, .49);
      padding-bottom: 20px;
      font-weight: normal;
    }
  }

  &__form{
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;

    h4{
      font-weight: normal;
      padding-left: 30px;
    }
  }

  &__formGroup{
    position: relative;
    margin: 20px 0;
    display: flex;
  }

  &__applicantDetails{
    h4{
      position: relative;
      svg{
        position: absolute;
        width: 20px;
        left: 5px;
        top: 0px;
      }
    }
  }

  &__applicantDetailsWrap{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    label{
      color: #8999a0;
    }

    &>div{
      width: 300px;
      margin: 15px 10px;
    }
  }

  &__applicantSearch{
    margin-bottom: 20px;
    position: relative;
    input{
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #bdcdd0;
      border-radius: 5px;
      padding: 5px;
      padding-left: 35px;
      color: #7e7e7d;
    }

    input::-webkit-input-placeholder{
      color: #cecdcd;
    }

    svg{
      position: absolute;
      top: 12px;
      left: 10px;
      width: 18px;
      z-index: 5;
    }
  }

  &__searchResults{
    background: #fff;
    box-shadow: 1px 1px 6px #efefef;
    border: 1px solid #efefef;
    width: 93%;
    margin: 0 auto;
    padding: 0 10px;
    display: none;
    position: absolute;
    z-index: 10;
  }

  &__client{
    padding: 10px 0;
    cursor: pointer;

    &:hover{
      color: $color-blue-primary;
    }
  }

  &__selectedClient{
    position: absolute;
    top: 26px;
    left: 5px;
    min-width: 180px;
    width: 95%;
    z-index: 10;
    div{
      border-radius: 10px;
      background: rgb(241, 245, 246);
      display: flex;
      padding: 3px 15px;
      color: $color-blue-primary;
    }

    span{
      position: absolute;
      right: 10px;
      top: 0px;
      cursor: pointer;
    }
  }

  &__applicantApto{
    display: flex;
    flex-direction: column;
    position: relative;

    select{
      background: transparent;
      border: 1px solid #bdcdd0;
      cursor: pointer;
      -webkit-appearance:none;
      padding: 5px 3px;
      color: #7e7e7d;
      padding-left: 35px;
      z-index: 5;
    }

    svg:nth-child(2){
      position: absolute;
      right: 10px;
      top: 35px;
      z-index: 1;
      div{
        svg{
          g{
            fill: red !important;
          }
        }
      }
    }
    svg:nth-child(3){
      position: absolute;
      left: 10px;
      top: 27px;
    }
  }

  &__applicantEmail, &__applicantPhone{
    &>div{
      border: 1px solid #bdcdd0;
      padding: 5px 3px;
      border-radius: 4px;
      height: 23px;
      color: #7e7e7d;
    }
  }

  &__description{
    h4{
      position: relative;
      svg{
        position: absolute;
        top: -10px;
        left: 5px;
      }
    }
    position: relative;

    label{
      width: 110px;
      color: #9babb5;
    }
    input, textarea{
      width: 630px;
      border: 1px solid #bdcdd0;
      border-radius: 5px;
      padding: 8px;
      box-sizing: border-box;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
      color: #cecdcd;
    }

    input:nth-child(3){
      padding-left: 40px;
    }

    input:nth-child(1){
      background: #fff;
      margin-right: -11px;
    }

    svg{
      position: absolute;
      width: 22px;
      left: 10px;
      top: 22px;
    }

  }

  &__descriptionWrap{
    width: 690px;
    margin: 0 auto;
    &>div{
      display: flex;
      flex-direction: column;

    }

  }

  &__formFile{
    background: #fff;
    position: absolute;
    bottom: -15px;
    border: 1px solid #bdcdd0;
    width: 630px;
    padding: 10px 0;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
  }

  &__inputFile{
    width: 100px;
    position: relative;
    padding-left: 35px;
    svg{
      position: absolute;
      left: 8px;
      top: -4px;
      width: 20px;
      cursor: pointer;
    }
  }

  &__attachedFileName{
    width: 250px;
    position: absolute;
    left: 135px;
  }

  &__ticketDetail{
    width: 700px;
    display: flex;
    flex-direction: column;

    h4{
      position: relative;
      svg{
        position: absolute;
        left: 5px;
        width: 20px;
        top: 0px;
      }
    }
  }

  &__ticketDetailWrap{
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;

    &>div{
      width: 300px;
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      position: relative;
      margin-right: 20px;

      label{
        color: #8999a0;
      }
      select{
        background: transparent;
        border: 1px solid #bdcdd0;
        cursor: pointer;
        -webkit-appearance:none;
        padding: 5px 3px;
        color: #afaeae;
        z-index: 5;
      }
      svg{
        position: absolute;
        right: 10px;
        top: 35px;
        z-index: 1;
      }
    }
  }

  &__ticketActors{
    h4{
      position: relative;
      svg{
        position: absolute;
        width: 20px;
        left: 5px;
        top:-7px;
      }
    }
  }

  &__ticketActorsWrap{
    padding-left: 40px;
    width: 650px;
    display: flex;
    &>div{
      margin: 10px;
      width: 300px;
      display: flex;
      flex-direction: column;
      position: relative;
      label{
        color: #8999a0;
      }
      input{
        padding: 5px 3px;
        border-radius: 5px;
        border-color: #bdcdd0;
      }
    }
  }

  &__ticketAdministrators, &__ticketCollaborators{
    &>input{
      padding-left: 35px !important;
    }

    &>div{
      position: relative;
      svg{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 7px;
      }
    }
  }

  &__actorsResults{
    width: 277px;
    background: #fff;
    height: 150px;
    box-shadow: 1px 1px 6px #efefef;
    border: 1px solid #efefef;
    margin: 0 auto;
    padding: 0 10px;
    position: absolute;
    top: 0px;
    overflow-y: hidden;
    z-index: 10;
    display: none;

    &>div{
      margin: 10px 0;
    }
  }

  &__actorsList{
    min-height: 70px;
  }

  &__actorItem{
    height: 35px;
    line-height: 32px;
    width: 100%;
    border: 1px solid #e1e1e5;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    position: relative;
  }

  &__actorRound{
    background: $color-blue-primary;
    border-radius: 50%;
    margin-right: 10px;
    font-size: .9em;
    color: #fff;
  }

  &__removeActor{
    position: absolute;
    right: 0;
    padding: 0px 15px;
    cursor: pointer;
  }

  &__saveTicket{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: -40px;
    button{
      background: $color-blue-primary;
      border: 0;
      color: #fff;
      margin-left: -40px;
      font-size: .9em;
      padding: 10px 30px;
    }
  }
}

.u-invalidForm{
  border: 1px solid #dd7373 !important;
}
