.NewPaymentPopup{
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  display: none;
  z-index: 50;

  &__form{
    width: 80%;
    background: #fff;
    margin: 0 auto;
    height: 82vh;
    padding: 0 20px;
    overflow-y: scroll;

    @include mq(min-width, 650px){
      width: 500px;
    }

    h2{
      text-align: center;
    }
  }

  &__formHead{
    position: relative;
    span{
      position: absolute;
      top: 5px;
      right: 20px;
      width: 30px;
      text-align: center;
      cursor: pointer;
    }
  }

  &__formTabs{
    display: flex;
    width: 90%;
    justify-content: space-around;
    border-bottom: 1px solid #efefef;
    margin: 0 auto;

    div{
      width: 50%;
      text-align: center;
      cursor: pointer;
      padding-bottom: 10px;
    }
    div:nth-child(1){

    }
  }

  &__formSearch{
    width: 260px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    // display: none;
    input{
      padding: 5px 5px 5px 30px;
      border-radius: 3px;
      width: 80%;
      font-size: .95em;
    }
    svg{
      position: absolute;
      width: 17px;
      height: 17px;
      top: 8px;
      left: 15px;
    }
  }

  &__formResults{
    background: #fff;
    position: absolute;
    top: 32px;
    left: 10px;
    width: 240px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px #efefef;
    border: 1px solid #efefef;
    display: none;
    z-index: 50;
    div{
      padding: 5px 0;
      cursor: pointer;
      &:hover{
        color: $color-blue-primary;
      }
    }
  }

  &__formBody{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include mq(min-width, 650px){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &>div{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50px;
      position: relative;

      @include mq(min-width, 650px){
        width: 40%;
        margin: 10px;
      }

      label{
        color: #b1b1b2;
      }

      input{
        padding: 5px;
      }

      &>div{
        position: absolute;
        top: 25px;
        right: 0;
        width: 40px !important;
        height: 30px !important;
        cursor: pointer !important;
        input{
          border: 1px solid #efefef !important;
          width: 40px !important;
          height: 30px !important;
          padding-left: 5px !important;
          color: $color-text-primary !important;
        }
        hr{
          display: none !important;
        }
        &>div{
          background: blue !important;
          width: 40px !important;
          height: 30px !important;
          cursor: pointer !important;
        }
        &>div:nth-child(2){
          display: none !important;
        }
      }
    }
  }

  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      background: $color-blue-primary;
      border: 0;
      width: 100px;
      padding: 10px 0;
      margin-top: 10px;
      color: #fff;
      font-weight: bold;
    }
  }
}

// Utilities

.notShow{
  display: none;
}

.tabSelected{
  color: $color-blue-primary;
  border-bottom: 1px solid $color-blue-primary;
}
