.PaymentsUnity{
  width: 90%;
  margin-top: 20px;

  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__search{
    position: relative;
    input{
      border: none;
      padding: 7px 15px 7px 40px;
      border-radius: 20px;
      font-size: .9em;
      width: 160px;
      color: $color-text-primary;
    }
    svg{
      position: absolute;
      width: 16px;
      height: 16px;
      left: 14px;
      top: 10px;
    }
  }

  &__showPlans{
    display: flex;
    align-items: center;
    width: 320px;
    justify-content: space-between;
    select{
      background: #efefef;
      border: 0;
      color: $color-blue-primary;
    }
    div:last-child{
      background: $color-blue-primary;
      color: #fff;
      font-size: .9em;
      width: 120px;
      padding: 5px;
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
    }
  }

  &__table{
    margin: 10px 0;
  }
  &__tableHead{
    display: flex;
    padding: 10px 0;
    width: 1000px;
    div{
      width: 170px;
      text-align: center;
      margin: 1px;
      font-size: .95em;
    }
  }
  &__tableBody{
    background: #fff;
  }
  &__tableRow{
    display: flex;
    padding: 15px 0;
    width: 1000px;
    div{
      width: 170px;
      font-size: .9em;
      text-align: center;
      margin: 1px;
    }
    div:nth-child(7){
      a{
        color: $color-blue-primary;
      }
    }
    div:nth-child(8){
      color: $color-blue-primary;
      cursor: pointer;
      text-decoration: none;
    }
  }
  &__pagination{
    width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    ul{
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        cursor: pointer;
      }
      li:first-child, li:last-child{
        color: $color-blue-primary;
      }
    }
  }
}
