.Payments{
  width: 90%;
  margin-top: 8px;
  background: #fff;
  min-height: 90vh;
  @include mq(min-width, 1200px){
    width: 100%;
  }

  &__header{
    @include mq(min-width, 1200px){
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #efefef;
      padding-bottom: 20px;
    }
  }

  &__userInfo{
    @include mq(min-width, 1200px){
      width: 50%;
      display: flex;
      position: relative;
      justify-content: space-between;
    }
  }

  &__userAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(min-width, 1200px){
      width: 40%;
      margin-top: 20px;
    }
    div{
      width: 50px;
      height: 50px;
      background: $color-blue-primary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    h4{
      margin: 5px 0;
      font-size: 1.125em;
    }
    span{
      font-size: .9em;
      @include mq(min-width, 1200px){
        display: none;
      }
    }
  }
  &__debtStatus{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    @include mq(min-width, 1200px){
      position: absolute;
      bottom: -110px;
      left: 50px;
      width: 400px;
    }
    h5{
      margin: 3px 0;
    }
    span{
    }
  }

  &__contactInfo{
    position: relative;
    h4{
      font-size: .95em;
      margin: 20px 0 0 0;
      position: relative;
      padding-left: 30px;
      svg{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
      }
    }
    @include mq(min-width, 1200px){
      width: 60%;
    }

  }

  &__contactInfoViewMore{
    position: absolute;
    right: 5px;
    top: 0;
    font-size: .9em;
    color: $color-blue-primary;
    cursor: pointer;
    @include mq(min-width, 1200px){
      top: 83px;
      right: 20px;
    }
    @include mq(min-width, 1300px){
      top: 20px;
      right: 5px;
    }
  }

  &__viewMoreContent{
    position: absolute;
    background: #fff;
    right: -380px;
    top: 20px;
    display: flex;
    padding: 40px 30px;
    width: 300px;
    justify-content: space-between;
    border-bottom: 1px solid $color-blue-primary;
    z-index: 50 !important;
    font-size: .9em;
    display: none;
    &>div{
      display: flex;
      flex-direction: column;
    }
    &>div:nth-child(1){
      position: relative;
    }
  }

  &__viewMoreTriangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: -35px;
    left: -50px;
  }

  &__viewMoreClose{
    width: 30px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 290px;
    cursor: pointer;
  }

  &__contactInfoCont{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: .9em;
    &>div{
      width: 100%;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #b1b1b2;
      padding-bottom: 10px;
      @include mq(min-width, 1200px){
        width: 30%;
        flex-direction: column;
        border-bottom: 0;
      }
    }
  }

  &__contactInfoEmail{
    span{
      @include mq(min-width, 1220px){
        word-wrap: break-word;
        width: 150px;
      }
    }
  }

  &__unityInfoLarge{
    display: none;
    @include mq(min-width, 1200px){
      border: 1px solid #efefef;
      box-shadow: 0px 0px 6px #efefef;
      background: #fff;
      position: absolute;
      right: -12.5%;
      bottom: -60px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10 !important;
    }
  }

  &__othersPayments{
    @include mq(min-width, 1200px){
      width: 45%;
      border-left: 1px solid #efefef;
      padding-left: 20px;
    }

    h4{
      position: relative;
      padding-left: 20px;
      width: 250px;
      z-index: 1 !important;
      span{
        color: $color-blue-primary;
        font-size: 1.3em;
        position: absolute;
        left: 0px;
        top: -4px;
        font-weight: 100;
      }
    }
  }

  &__othersPaymentsCont{
    @include mq(min-width, 1200px){
      display: flex;
      flex-wrap: wrap;
      font-size: .9em;
      justify-content: space-between;
    }
    &>div{
      border-bottom: 0.2px solid #b1b1b2;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      @include mq(min-width, 1200px){
        width: 25%;
        flex-direction: column;
        border-bottom: 0;
      }

      div{
        width: 30%;
        @include mq(min-width, 1200px){
          width: 100%;
        }
      }

      div:nth-child(3){
        font-size: .8em;
      }
    }
  }

  &__body{
    margin-top: 30px;
  }

  &__tabs{
    display: flex;
    div{
      width: 100px;
      padding: 15px 50px;
      border: 1px solid #efefef;
      text-align: center;
      cursor: pointer;
    }
    &>div:nth-child(1){
      position: relative;
      svg{
        position: absolute;
        left: 25px;
        height: 40px;
        width: 26px;
        top: 6px;
        border: 0 !important;
      }
    }

    &>div:nth-child(2){
      position: relative;
      svg{
        position: absolute;
        left: 40px;
        width: 26px;
        top: 10px;
      }
    }
  }

  &__content{
    &>div{
      display: none;
    }
  }

  &__paymentsPlanTable{
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    @include mq(min-width, 1200px){
      width: 95%;
    }
  }

  &__paymentsPlanTableHead{
    display: flex;
    padding: 10px 0;
    &>div{
      width: 14.3%;
      text-align: center;
    }
    &>div:nth-child(1), &>div:nth-child(6){
      width: 120px;
    }
    &>div:nth-child(2){
      position: relative;
      svg{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 20%;
        top: 2px;
      }
    }
    &>div:nth-child(5){
      span{
        height: 20px;
        padding: 0 6px;
        font-size: .9em;
        color: #fff;
        margin-right: 4px;
        border-radius: 50%;
        background: $color-red-primary;
      }
    }
  }

  &__paymentsPlanTableRow{
    display: flex;
    border-top: 1px solid #efefef;
    padding: 12px 0;
    &>div{
      width: 14.3%;
      text-align: center;
    }
    &>div:nth-child(1), &>div:nth-child(6){
      width: 120px;
    }
    &>div:nth-child(6), &>div:nth-child(7){
      font-size: .85em;
    }
    &>div:nth-child(7){
      position: relative;
      svg{
        position: absolute;
        width: 15px;
        left: 10px;
        top: -2px;
      }
    }
  }

  &__paymentsPlanTableView{
    color: $color-blue-primary;
    margin-left: 20px;
    cursor: pointer;
  }

  &__paymentsPlanTableCount{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    background: $color-red-primary;
    top: -10px;
    right: 35%;
    font-size: .7em;
  }


  &__paymentsTable{
    position: relative;
    border: 1px solid #efefef;
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    @include mq(min-width, 1200px){
      width: 95%;
    }
    a{
      background: $color-blue-primary;
      border: 0;
      color: #fff;
      padding: 5px 15px;
      border-radius: 20px;
      text-decoration: none;
      position: absolute;
      right: 50px;
      top: -45px;
      font-size: .85em;
      cursor: pointer;
    }
  }

  &__paymentsTableHead{
    padding: 10px 0;
    display: flex;
    &>div{
      width: 15.8%;
      text-align: center;
    }
    &>div:nth-child(2){
      position: relative;
      svg{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1px;
        left: 15%;
      }
    }
    &>div:nth-child(4){
      position: relative;
      svg{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1px;
        left: 20%;
      }
    }
  }

  &__paymentsTableRow{
    display: flex;
    padding: 20px 0;
    border-top: 1px solid #efefef;
    position: relative;
    &>div{
      width: 15.8%;
      text-align: center;
      @include mq(min-width, 1200px){
        width: 15.8%;
      }
    }

    &>div:nth-child(6){
      font-size: .9em;
    }
  }

  &__paymentsTableView{
    color: $color-blue-primary;
    margin-left: 10px;
    cursor: pointer;
  }

  &__paymentsTableCount{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    background: $color-red-primary;
    top: 10px;
    right: 10.5%;
    font-size: .7em;
  }

}


.paymentTabSelected{
  color: $color-blue-primary;
  border-bottom: 1px solid $color-blue-primary !important;
}

.showPaymentTable{
  display: flex !important;
}
