.Support{
  width: 95%;
  margin: 0 auto;
  position: relative;

  &__header, &__filters, &__actions{
    display: flex;
    margin-top: 20px;
  }

  &__actions{
    margin-top: 15px;
    svg{
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: #fff;
    }
  }

  &__header{
    justify-content: space-between;
    margin: 20px 0;
    @include mq(min-width, 1200px){
      width: 78%;
    }
  }

  &__filters{
    &>div{
      div{
        margin-left: 5px;
      }
      width: 230px;
      display: flex;
      position: relative;

      select{
        font-family: 'Brandon_light';
        z-index: 2;
      }
      svg{
        position: absolute;
        top: 10px;
        z-index: 1;
      }
    }
  }

  &__stateFilter{
    div{
      width: 140px;
    }
    select{
      width: 100%;
      position: relative;
    }
    svg{
      right: 42px;
    }
  }

  &__typeFilter{
    &>div{
      width: 190px;
    }
    select{
      width: 100%;
    }
    svg{
      right: 9px;
    }
  }

  &__priorityFilter{
    margin-left: 20px;
    &>div{
      width: 130px;
    }
    span{
      position: absolute;
      left: 77px;
      top: 7px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    select{
      width: 130px;
    }
    svg{
      right: 38px;
    }
  }

  &__actions{
    width: 250px;
    display: flex;
    justify-content: space-between;

  }

  &__newTicket{
    background: $color-blue-primary;
    width: 140px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: .85em;
    cursor: pointer;
    margin-left: 20px;
  }

  &__filterInfo{
    color: #a0acb6;
    margin-top: 15px;
  }

  &__searchTickets{
    width: 100%;
    display: flex;
    align-items: center;
    svg{
      width: 20px;
    }
    input{
      margin-left: 10px;
      border: 0;
      outline: none;
    }
  }

  &__table{
    width: 80%;
    margin-top: 30px;
  }

  &__tableHead{
    padding-bottom: 5px;
    font-family: 'Brandon';
  }

  &__tableRow{
    padding: 10px 0;
    border-top: 1px solid #f1f5f6;
    font-family: 'Brandon_light';

    &:hover{
      &>div:nth-child(6){
        display: flex;
        line-height: 5px;
        align-items: center;
      }
      box-shadow: 1px 1px 5px rgba(136, 179, 186, .5);
    }

    &>div{
      min-height: 45px;
    }
  }

  &__tableHead, &__tableRow{
    @include mq(min-width, 1200px){
      display: flex;
      width: 100%;
      align-items: center;
    }

    &>div:nth-child(1){
      width: 20%;
    }

    &>div:nth-child(2){
      width: 15%;
    }

    &>div:nth-child(3){
      width: 20%;
    }

    &>div:nth-child(4){
      width: 20%;
      padding-left: 20px;
    }
    &>div:nth-child(5){
      width: 150px;
      position: relative;

      div{
        border: 1px solid #efefef;
        border-radius: 15px;
        z-index: 1;
        width: 100px;
        select{
          width: 100%;
          background: none !important;
          -webkit-appearance: none;
          appearance: none;
          position: relative;
          border: none;
          padding: 2px 10px;
          padding-left: 15px;
          cursor: pointer;
          z-index: 2;
        }
      }

      span{
        position: absolute;
        left: 7px;
        top: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      svg{
        position: absolute;
        right: 55px;
        top: 10px;
      }
    }

    &>div:nth-child(6){
      svg{
        width: 20px;
      }
    }

  }

  &__tableHead{
    &>div:nth-child(1){
      padding-left: 15px;
      box-sizing: border-box;
    }
  }

  &__tableRowDetailView{
    min-height: 20px !important;
    display: none;
    background: #f1f5f6;
    padding: 3px 7px;
    color: $color-blue-primary;
    cursor: pointer;
    margin-left: -10px;
    border-radius: 10px;
    div{
      font-size: .9em;
      margin-right: 3px;
      padding-top: 7px;
    }
    &>a{
      text-decoration: none;
      display: flex;
      color: $color-blue-primary;
    }
  }

  &__applicant{
    display: flex;
    &>div:nth-child(2){

      &>div{
        font-family: 'Brandon';
      }
      &>span{
        color: #a0acb6;
        font-family: 'Brandon';
      }
    }
  }

  &__check{
    border: 1px solid #bababa;
    border-radius: 50%;
    align-self: center;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }

  &__tableRound{
    font-family: 'Brandon';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    line-height: 30px;
    font-size: .8em;
    font-weight: bold;
    color: #fff;
    margin: 0 10px;
  }

  &__ticketState{
    width: 18%;
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: -1px -1px 6px #efefef;
    position: fixed;
    top: 60px;
    right: 0;
    height: 100%;
    z-index: 1;
  }

  &__ticketStateTab{
    background: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin: 0 auto;
    height: 70px;
    // margin-top: 20px;

    &>div{
      text-align: center;
      width: 40%;
      background: #f1f5f6;
      padding: 2px 10px;
      border-radius: 20px;
      cursor: pointer;
      position: relative;

      svg{
        position: absolute;
        left: 5px;
      }
    }
  }

  &__ticketStateList{
    // margin-top: 30px;
    &>div{
      padding: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &>div{
        position: relative;
        &>span{
          position: absolute;
          top: -5px;
          right: -20px;
          background: $color-blue-primary;
          width: 17px;
          height: 17px;
          text-align: center;
          font-size: .8em;
          border-radius: 50%;
          color: #fff;
        }
      }
    }

    &>div:hover{
      background: #efefef;
      color: $color-blue-primary;
    }
  }

  &__noResults{
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 1.1em;
  }

  &__takeTicket{
    span{
      border-bottom: 1px solid $color-blue-primary;
      color: $color-blue-primary;
      border-bottom-color: $color-blue-primary;
    }
    &:hover{
      cursor: pointer;
    }
  }

  &__alertMessage{
    background: #fff;
    border: 1px solid $color-blue-primary;
    position: absolute;
    width: 220px;
    box-sizing: border-box;
    min-height: 90px;
    top: 20px;
    padding: 10px;
    display: none;
    right: 1%;
    z-index: 1;
  }

  &__popup {
    background: rgba(220, 220, 220, .6);
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div{
      background: #fff;
      padding: 30px;
      text-align: center;

      button{
        background: $color-blue-primary;
        color: #fff;
        border: 0;
        padding: 3px 10px;
      }
    }
  }

}
