.TicketDetail{
  width: 77%;
  position: relative;
  align-self: flex-start;

  &__header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(177, 177, 178, .49);
    &>div{
      border-right: 1px solid rgba(177, 177, 178, .49);
      width: 150px;
      height: 42px;
      display: flex;
      align-items: center;
      position: relative;
      span{
        position: absolute;
        top: 0;
        right: 7px;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &>button{
      border: 0;
      background: $color-blue-primary;
      color: #fff;
      width: 160px;
      height: 30px;
      font-size: .9em;
      margin-left: 50px;
    }
  }

  &__body{
    width: 700px;
    padding: 20px 30px;
    margin: 0 auto;
  }

  &__reason{
    // border-bottom: 1px solid #f1f5f6;
  }

  &__reasonTitle{
    display: flex;
    &>span{
      width: 100px;
    }
  }

  &__description{
    display: flex;
    align-items: center;

    &>span{
      width: 100px;
    }

    p{
      width: 80%;
    }
  }

  &__document{
    display: flex;
    &>span{
      width: 100px;
    }
    a{
      color: $color-blue-primary;
    }
  }

  &__responseOptions{
    width: 100%;
    margin: 40px auto;
    display: flex;
    height: 36px;
    border: 1px solid #efefef;
    display: flex;
    align-items: center;

    &>div{
      cursor: pointer;
      width: 120px;
      text-align: center;

    }

    &>div:nth-child(1){
      border-right: 1px solid #efefef;
      padding-right: 5px;
    }
    &>div:nth-child(2){
      border-right: 1px solid #efefef;
      padding-right: 20px;
    }
    div:nth-child(3){
      padding-left: 10px;
    }
    &>div:nth-child(2), div:nth-child(3){
      svg{
        padding: 0 4px;
      }
    }
  }

  &__response{
    display: flex;
    position: relative;
    padding: 20px 5px;
    padding-left: 35px;
    border: 1px solid #f1f5f6;
  }

  &__responseAvatar{
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    background: #fff;
    top: 35%;
    left: -15px;
    border: 1px solid #f1f5f6;
    box-shadow: 2px 2px 8px #f1f5f6;
    display: flex;
    align-items: center;
    justify-content: center;

    &>img{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      position: absolute;
      right: 7px;
      top: 3px;
    }

    &>svg{

    }
  }

  &__responseDescription{
    &>span{
      color: #a0acb6;
    }

    &>p{
      width: 500px;
      margin: 10px 0;
    }
  }

  &__responseDocument{
    color: $color-blue-primary !important;
  }

  &__responseDate{
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    font-size: .9em;
  }

  &__addResponse{
    width: 700px;
    margin: 0 auto;
  }

  &__fastResponsesPossible{
    color: $color-blue-primary;
    margin-bottom: 20px;
  }

  &__fastResponses{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    width: 700px;
    margin-bottom: 70px;
  }

  &__fastReponse{
    border: 1px solid $color-blue-primary;
    width: 180px;
    font-size: .95em;
    border-radius: 10px;
    box-shadow: 1px 3px 8px #f1f5f6;
    border: 1px solid #f1f5f6;
    overflow: hidden;
    padding-right: 20px;
    margin: 20px 0;

    &>div{
      padding: 5px 10px;
    }

    &>div:nth-child(1){
      color: #a0acb6;
      margin-bottom: 5px;
    }

  }

  &__fastReponse2{
    width: 180px;
    height: 60px;
    border: 1px solid #f1f5f6;
    font-size: .95em;
    padding: 12px 10px;
    margin-left: 10px;
    margin: 20px 0;
    cursor: pointer;
    color: #a0acb6;
    box-shadow: 1px 3px 8px #f1f5f6;
    padding-right: 20px;
  }

  &__morefastResponses{
    color: $color-blue-primary;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;

    &>span:hover{
      width: 100px;
      border-bottom: 1px solid $color-blue-primary;
    }
  }

  &__fastReponseAdd{
    background: #039BE5;
    width: 100%;
    text-align: center;
    color: #fff;
    border-top: 1px solid $color-blue-primary;
    cursor: pointer;
  }

  &__responseInput{
    margin: 20px auto;
    width: 650px;

    &>textarea{
      width: 97%;
      border: 1px solid #f1f5f6;
      padding: 10px;
    }
  }

  &__responseInputTab{
    border: 1px solid #f1f5f6;
    width: 100%;
    padding: 5px 0;

  }

  &__responseInputTabWrap{
    width: 220px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    &>div{
      cursor: pointer;
      svg{
        margin-right: 5px;
      }
    }

  }


  &__responseInputActions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #f1f5f6;
    margin-top: -10px;
    padding: 10px;
    box-sizing: border-box;

    button{
      background: $color-blue-primary;
      border: 0;
      color: #fff;
      padding: 5px 20px;
    }
  }

  &__inputFile{
    width: 100px;
    position: relative;
    padding-left: 25px;
    padding-top: 5px;
    svg{
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      cursor: pointer;
    }
  }

  &__fileContainer [type=file] {
    cursor: inherit;
    display: block;
    // font-size: 999px;
    filter: alpha(opacity=0);
    height: 100px;
    width: 100px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  &__attachedFileName{
    width: 250px;
    position: absolute;
    left: 120px;
  }

  &__sideBar{
    width: 30%;
    min-height: 600px;
    position: absolute;
    background: #fff;
    top: 0;
    right: -240px;
    border: 1px solid #efefef;
    overflow: visible !important;

  }

  &__sideBarWrap{
    width: 90%;
    margin: 0px auto;
    background: #fff;
    margin-top: 35px;
    overflow: visible !important;
    position: relative;
    z-index: 2;
  }

  &__ticketDetailAlertMessage{
    background: #fff;
    border: 1px solid $color-blue-primary;
    position: absolute;
    width: 220px;
    box-sizing: border-box;
    min-height: 90px;
    top: 80px;
    padding: 10px;
    display: none;
    right: 0%;
    z-index: 1;
  }

  &__details{
    h3{
      font-family: 'Brandon_medium';
      font-size: 1em;
      margin-top: 20px;
    }
  }

  &__applicantHead{
    display: flex;
    width: 150px;
  }

  &__applicantHeadRound{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    background: #f3d35a;
  }

  &__applicantInfo{
    margin: 15px 0;
  }

  &__ticketDetail{
    &>div{
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }

  &__ticketDetailInputs{
    div{
      width: 180px;
    }
    svg{
      position: absolute;
      right: 7px;
      top: 10px;
    }
  }

  &__creationDate{
    &>div{
      font-size: .95em;
      width: 100px;
      display: flex;
      flex-direction: column;
    }
  }


  &__actors{
    &>div{
      margin: 20px 0;
    }
  }

  &__representatives, &__colaborators{
    position: relative;
    overflow: visible !important;

    &>div:nth-child(1){
      svg{
        padding-right: 7px;
      }
    }
  }

  &__actorsPopup{
    width: 250px;
    min-height: 320px;
    background: #fff;
    padding: 20px;
    border: 1px solid #efefef;
    box-shadow: 1px 1px 6px #efefef;
    position: absolute;
    left: -300px;
    top: -100px;
    display: none;

    h4{
      text-align: center;
      margin: 0 0 7px 0;
      position: relative;
    }

  }

  &__actorsPopupClose{
    position: absolute;
    font-weight: lighter;
    top: -10px;
    right: 0px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 1.2em;
  }

  &__actorsLabel{
    position: relative;

    &>svg:nth-child(1){
      position: absolute;
      right: 0;
      top: 10px;
    }

    svg:nth-child(1){
      cursor: pointer;
    }

    span{
      position: absolute;
      top: 7px;
    }
  }

  &__actorsItem{
    display: flex;
    padding: 7px 5px;
    margin: 10px 0;
    border: 1px solid #e1e1e5;
    border-radius: 5px;
    position: relative;

    &>div{
      padding-left: 40px;
    }
  }

  &__actorsCounter{
    position: absolute;
    right: 80px;
  }

  &__actorsItemDelete{
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }

  &__actorsRound{
    background: $color-blue-primary;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 5px;
    top: 2px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-size: .8em;
  }

  &__actorsClose{
    position: absolute;
    right: 0;
    top: 5px;
  }

  &__actorsSearch{
    position: relative;
    input{
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      font-size: .95em;
      padding-left: 35px;
    }
    svg{
      position: absolute;
      width: 20px;
      top: -12px;
      left: 7px;
    }
  }

  &__actorsResults{
    position: absolute;
    background: #fff;
    z-index: 30;
    border: 1px solid #efefef;
    box-shadow: 1px 1px 4px #efefef;
    width: 100%;
    height: 200px;
    display: none;
    border-radius: 7px;
  }

  &__actorsResultsItem{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin:  7px auto;
    padding: 7px 15px;
    cursor: pointer;

    &:hover{
      background: #f1f5f6;
      color: $color-blue-primary;
    }
  }

}

.u-tabSendResponseActive{
  color: $color-blue-primary;
  border-bottom: 1px solid $color-blue-primary;
}

.u-tabResponseOptions{
  span{
    color: $color-blue-primary;
    border-bottom: 2px solid $color-blue-primary;
    padding-bottom: 5px;
  }
  svg{
    g{
      fill: $color-blue-primary !important;
    }
  }
}

.u-displayBlock{
  display: block;
}
