.Writing{
  width: 100%;

  &__header{

  }

  &__selectTower{
    padding: 20px 20px;
    select{
      width: 200px;
      background: #fff;
      padding: 5px 10px;
      border-radius: 20px;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__steps{
    display: flex;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }

  &__step{
    width: 160px;
    margin-right: 20px;
    border-right: 1px solid #efefef;
  }

  &__stepsTitle{
    color: $color-blue-primary;
  }

  &__body{
    display: flex;
    width: 1150px;
    margin: 0 auto;
  }

  &__bodyTasks{
    width: 200px;
    border: 1px solid #f1f5f6;
    box-shadow: 1px 1px 5px #f1f5f6;
    margin-top: 25px;
    &>h3{
      text-align: center;
      font-weight: normal;
      margin: 10px 0;
    }
  }

  &__task{
    margin-bottom: 10px;
    // height: 50px;
    // overflow: hidden;
  }

  &__taskHead{
    padding: 10px 5px;
    display: flex;
    &:hover{
      background: #f1f5f6;
      cursor: pointer;
    }
    &>span{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      margin-right: 5px;
      font-size: .85em;
      border: 1px solid $color-blue-primary;
      color: $color-blue-primary;

    }
  }

  &__subTask{
    padding: 0 5px 0 15px;
    margin: 0;

    li{
      list-style: none;
      display: flex;
      margin: 5px 0;
      span{
        width: 18px;
        height: 18px;
        border: 1px solid #f1f5f6;
        border-radius: 50%;
        font-size: .85em;
        text-align: center;
      }
    }

  }

  &__bodyContent{
    width: 1080px;
    position: relative;
    // border: 1px solid pink;
  }

  &__navSelectionMode{
    display: flex;
    justify-content: space-around;
    padding: 20px;

    &>div:nth-child(1){
      border: 1px solid #f1f5f6;
      box-shadow: 1px 1px 3px #f1f5f6;
      font-size: .95em;
      padding: 5px 20px;
      border-radius: 20px;
      cursor: pointer;
    }

    &>div:nth-child(3){
      background: $color-blue-primary;
      color: #fff;
      font-size: .95em;
      padding: 5px 20px;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  &__notificationsTab{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 15px auto;

    &>div{
      cursor: pointer;
    }
  }

  &__sendNotificationPopup{
    background: rgba(0,0,0, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;

    &>div{
      background: #fff;
      width: 380px;
      height: 300px;
      text-align: center;
      z-index: 50;

      h4{
        padding-top: 20px;
        font-weight: normal;
        color: #a0acb6;
      }

      ul{
        width: 230px;
        margin: 0 auto;
        text-align: left;
        height: 150px;
        padding: 0;

        li{
          line-height: 60px;
          list-style: none;
          position: relative;
          padding-left: 18px;
          div{
            position: absolute;
            left: 0;
            top: 24px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #b1b1b2;
            cursor: pointer;

          }
          span{
            position: absolute;
            top: 20px;
            left: 20px;
            color: $color-blue-primary;
          }
        }
      }

      button{
        width: 130px;
        background: $color-blue-primary;
        border: 0;
        color: #fff;
        border-radius: 3px;
        padding: 5px 0;
      }
    }
  }



  &__table{
    min-height: 600px;
  }

  &__tableHead{
    display: flex;
    border: 1px solid #efefef;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px 0;

    &>div{
      width: 90px;
      text-align: center;
    }
  }

  &__tableHeadLabels{
    position: relative;
    &>div:nth-child(1), &>div:nth-child(2){
      position: absolute;
    }
    &>div:nth-child(1){
      top: -12px;
      right: -15px;
    }
    &>div:nth-child(2){
      left: 22px;
      top: -5px;
    }
  }

  &__tableBody{
    
  }

  &__tableRow{
    display: flex;
    border: 1px solid #efefef;
    box-sizing: border-box;
    &>div{
      width: 90px;
      text-align: center;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__floor{
    cursor: pointer;
  }

  &__apto{
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 20px 10px;
    position: relative;
    cursor: pointer;
    &>svg:nth-child(1){
      position: absolute;
      top: 3px;
      left: 5px;
    }
    &>svg:nth-child(2){
      position: absolute;
      top: 3px;
      right: 5px;
    }
  }

  &__aptoHover{
    &:hover{
      box-shadow: 0px 0px 5px #b1b1b2;
      cursor: pointer;
    }
  }

  &__editTemplatePopup{
    background: rgba(0,0,0, .4);
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 92vh;
    display: flex;
    justify-content: center;
    z-index: 50;

    &>div{
      background: #fff;
      width: 780px;
      height: 700px;
      margin-top: 15px;
      text-align: center;
      z-index: 10;
    }
  }

  &__editTemplateNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 1px 1px 4px #e0e0e0;

    &>div:nth-child(3){
      background: $color-blue-primary;
      color: #fff;
      padding: 5px 10px;
      font-size: .9em;
      cursor: pointer;
      border-radius: 20px;
    }
    &>div:nth-child(1){
      border: 1px solid #e0e0e0;
      color: #a0acb6;
      padding: 5px 20px;
      border-radius: 20px;
      font-size: .9em;
      cursor: pointer;
    }

  }

  &__editTemplateContainer{
    box-sizing: border-box;
    position: relative;
    top: 20px;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
  }

  &__editTemplateHead{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;

    &>div:nth-child(2){
      color: $color-blue-primary;
      cursor: pointer;
    }
  }

  &__editTemplateBody{
    text-align: justify;
    font-size: .95em;

    span{
      cursor: no-drop;
    }
  }

}
