<html><head><meta content="text/html; charset=UTF-8" http-equiv="content-type"><style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLTi9jKYd1gJzj5O2gWsEpXol-nTHck7FFkZplK5meosG');ol{margin:0;padding:0}table td,table th{padding:0}.c6{color:#00000a;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Calibri";font-style:normal}.c3{color:#00000a;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Cambria";font-style:normal}.c1{padding-top:0pt;padding-bottom:0pt;line-height:1.1500000000000001;orphans:2;widows:2;text-align:justify;height:11pt}.c0{color:#00000a;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Arial";font-style:normal}.c4{padding-top:0pt;padding-bottom:0pt;line-height:1.1500000000000001;orphans:2;widows:2;text-align:justify}.c5{font-size:12pt;font-family:"Arial";color:#000000;font-weight:400}.c7{font-size:12pt;font-family:"Arial";font-weight:700}.c8{font-size:12pt;font-family:"Arial";font-weight:400}.c2{background-color:#ffffff;max-width:441.9pt;padding:70.8pt 85pt 70.8pt 85pt}.title{padding-top:12pt;color:#00000a;font-size:14pt;padding-bottom:6pt;font-family:"Liberation Sans";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:12pt;color:#00000a;font-size:14pt;padding-bottom:6pt;font-family:"Liberation Sans";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#00000a;font-size:11pt;font-family:"Calibri"}p{margin:0;color:#00000a;font-size:11pt;font-family:"Calibri"}h1{padding-top:12pt;color:#00000a;font-size:14pt;padding-bottom:6pt;font-family:"Liberation Sans";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:12pt;color:#00000a;font-size:14pt;padding-bottom:6pt;font-family:"Liberation Sans";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:12pt;color:#00000a;font-size:14pt;padding-bottom:6pt;font-family:"Liberation Sans";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:12pt;color:#00000a;font-weight:700;font-size:12pt;padding-bottom:2pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:11pt;color:#00000a;font-weight:700;font-size:11pt;padding-bottom:2pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:10pt;color:#00000a;font-weight:700;font-size:10pt;padding-bottom:2pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}</style></head>
<body class="c2">
	<p class="c1"><span class="c3"></span></p>
	<p class="c1"><span class="c3"></span></p>
	<p class="c1"><span class="c3"></span></p>
	<p class="c1"><span class="c3"></span></p>
	<p class="c4"><span class="c8">Bucaramanga,</span><span class="c5">&nbsp;{{date}}</span></p>
	<p class="c1"><span class="c0"></span></p>
	<p class="c1"><span class="c0"></span></p>
	<p class="c4"><span class="c0">Se&ntilde;or (es):</span></p>
	<p class="c4"><span class="c8">{{names}}</span></p>
	<p class="c4"><span class="c5">Propietario(s) Apartamento {{unity}} Torre {{tower}}</span></p>
	<p class="c4"><span class="c0">Proyecto {{project}}</span></p>
	<p class="c1"><span class="c0"></span></p>
	<p class="c1"><span class="c0"></span></p>
	<p class="c4"><span class="c0">Ref: Proyecto {{project}}</span></p>
	
	<p class="c1"><span class="c0"></span></p><p class="c4"><span class="c8">Por medio de la presente le informamos que a partir del </span><span class="c5">d&iacute;a XXXX</span><span class="c8">&nbsp;el apartamento adquirido por usted(es) en el proyecto {{project}}</span><span class="c5">,</span><span class="c0">&nbsp;se encontrar&aacute; listo para iniciar tr&aacute;mite de escrituraci&oacute;n.</span></p>
	
	<p class="c1"><span class="c0"></span></p><p class="c4"><span class="c8">Les recordamos que para esta fecha tambi&eacute;n deben tener una suma aproximada de </span><span class="c5">DOS MILLONES QUINIENTOS MIL PESOS ($2.500.000) M/CTE, </span><span class="c0">para gastos de escrituraci&oacute;n y registro, seg&uacute;n estipulado en la promesa de compraventa. </span></p><p class="c1"><span class="c0"></span></p>

	<p class="c4"><span class="c0">Le solicitamos ponerse en contacto con nuestra oficina ubicada en la calle 30&ordf; # 30 -18 ubicada en el Barrio la Aurora en Bucaramanga; con el fin de resolver cualquier inquietud que se pueda presentar. </span></p>

	<p class="c1"><span class="c0"></span></p>
	<p class="c4"><span class="c0">Agradezco su atenci&oacute;n,</span></p>
	<p class="c1" id="h.gjdgxs"><span class="c0"></span></p>
	<p class="c1"><span class="c0"></span></p><p class="c1"><span class="c0"></span></p>
	<p class="c4"><span class="c7">PEDRO CLAVER G&Oacute;MEZ VEGA</span></p>
	<p class="c4"><span class="c0">Representante Legal</span></p>
	<p class="c1"><span class="c0"></span></p>
	<p class="c1"><span class="c6"></span></p>
</body>
</html>