.add-payment {
  margin-top: 2rem;
  background-color: $white;
  border-radius: 2px;
  padding: 1rem 2rem;
  position: relative;
  width: 380px;

  &__container {
    display: grid;
    grid-row-gap: .7rem;
  }

  >i {
    position: absolute;
    font-size: 1.2rem;
    top: .8rem;
    right: 1rem
  }

  h4 {
    font-size: 1.2rem;
    margin-top: .4rem;
    text-align: center;
  }

  .chip {
    color: $cool-blue;
    padding-left: .8rem;
  }
}
