.payment-plan {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 3rem;

  &__back {
    width: fit-content;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    i {
      font-size: 1.1rem;
      margin-bottom: -0.2rem;
    }
  }

  &__header {
    margin: 1.2rem 0;

    h2 {
      font-size: 1.4rem;
      margin: 0;
    }

    a {
      i {
        padding-top: 0.15rem;
        font-size: 1.1rem;
      }
    }
  }

  &__button {
    text-align: center;

    .button {
      width: 140px;
      height: 37px;
    }
  }

  &__validation-popup {
    background-color: $white;
    border-radius: 2px;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    margin-top: 20vh;
    width: 350px;

    .mdi-close {
      position: absolute;
      font-size: 1.2rem;
      top: 0.7rem;
      right: 0.7rem;
    }

    img {
      width: 70px;
    }

    p {
      font-size: 1.1rem;
      margin: 1rem auto 1.4rem;
      width: 170px;
    }
  }
}

.payment-plan-section {
  border: 1px solid $border-color;
  box-shadow: 1px 1px 4px $shadow-color;
  padding: 1.5rem 2rem 2rem;
  margin-bottom: 1.2rem;

  h3 {
    margin-top: 0;
  }
}

// Basic Info
@import "./components/BasicInfo/index";
@import "./components/BasicInfo/AddClient/index";

// Payment Summary
@import "./components/PaymentSummary/index";

// Payment Fees
@import "./components/PaymentFees/index";
