.send-notification-confirm {
  background-color: $white;
  border: 1px solid rgba($border-color, .2);
  // box-shadow: 1px 1px 15px $shadow-color;
  margin:  3rem auto;
  max-width: 800px;

  &__item {
    padding: 1.5rem;
    border-bottom: 1px solid rgba($border-color, .2);

    i {
      color: $cool-blue;
      font-size: 1.8rem;
      margin-right: .3rem;
    }
  }

  &__item-info {
    h5,
    p {
      margin: 0;
    }

    h5 {
      font-size: 1.05rem;
      font-weight: 500;
    }
  }

  &__item-edit {
    border: 1px solid $cool-blue;
    border-radius: 1rem;
    cursor: pointer;
    padding: .3rem 1rem;
    margin-left: auto;

    i {
      font-size: 1.05rem;
    }
  }
}
