.payment-fees {
  h4 {
    margin-bottom: 0;
  }

  .select-fees {
    margin: 0.5rem 0 1.5rem;
    max-width: 250px;
  }

  .table {
    border: 1px solid $border-color;
    width: 100%;
  }

  .table__row {
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-gap: 1rem;
    border-bottom: 0;

    .table__cell {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.5rem;
      border-bottom: 0;
    }

    .date-picker {
      padding: 0.37rem 0.7rem;
      border-radius: 3px;
      margin-top: 0;

      i {
        top: 0.4rem;
      }
    }
  }

  .table__head {
    .table__row {
      border-bottom: 1px solid $border-color;
      padding: 0.5rem 0;
    }
  }

  &__comment {
    color: $cool-blue;
    cursor: pointer;
  }

  &__comments-input {
    background: $white;
    box-shadow: 1px 1px 8px $shadow-color;
    padding: 1rem 1rem 0.5rem;
    position: absolute;
    right: -5.2rem;
    top: -8rem;
    width: 220px;

    .mdi-close {
      position: absolute;
      top: 0.1rem;
      right: 0.3rem;
      font-size: 0.8rem;
    }

    .button {
      height: 25px;
      margin-top: 0.5rem;
      min-width: 80px;
      font-size: 0.8rem;
      font-weight: 300;
    }

    textarea {
      @include placeholder-color(rgba($cool-grey, 0.55));
      border: 1px solid $border-color;
      color: $cool-grey;
      padding: 0.3rem;
      outline: none;
      width: 100%;
    }
  }

  .date-input {
    border: 1px solid $border-color;

    i {
      top: 0;
    }
  }
}
