.send-notification-frame {
  height: 100%;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: 70px calc(100% - 160px) 90px;
  position: relative;

  &__header {
    background-color: $white;
    box-shadow: 0px 2px 12px rgba($shadow-color, .25);
    border-bottom: 1px solid $border-color;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    padding: 0 8rem 0 2rem;
    position: relative;
    align-items: center;
  }

  &__header-tower {
    text-align: left;
    color: $cool-blue;
    font-size: 1.2rem;
  }

  &__header-title {
    font-size: 1.2rem;

    i {
      color: $cool-blue;
      margin-right: .25rem;
    }
  }

  &__content {
    grid-area: content;
    overflow-y: auto;
  }

  &__footer {
    background-color: $white;
    border-top: 1px solid $border-color;
    box-shadow: 1px -1px 15px rgba($shadow-color, .25);
    grid-area: footer;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2rem;
    justify-content: space-between;

    .button {
      width: 140px;

      span {
        margin: 0 .4rem;
      }
    }
  }

  &__footer-nav-item {
    color: $cool-grey;
    margin-right: .5rem;
    text-decoration: none !important;
  }

  &__footer-nav-item--active {
    color: $cool-blue;
  }

  .table {
    margin:  2rem 0;
  }
}
