.unities {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;

  @include breakpoint(large up) {
    padding: 1rem 2rem;
  }

  @include breakpoint(xxlarge up) {
    max-width: 1170px;
  }

  @include breakpoint(1400) {
    max-width: 1250px;
  }

  /**
   * SIDEBAR
   **/

  &__sidebar {
    background: $white;
    box-shadow: -2px 10px 30px $shadow-color;
    padding-top: 1rem;
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: 320px;
    z-index: 100;

    .mdi-arrow-right {
      color: $cool-blue;
      cursor: pointer;
      padding: 0 1.5rem;
    }
  }

  &__sidebar-header {
    padding: 0 1.5rem;

    h4 {
      font-size: 1.3rem;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 1.2rem;
      text-align: center;
    }
  }

  &__sidebar-header-price {
    border: 1px solid $border-color;
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
  }

  &__sidebar-header-status {
    width: 130px;

    .input-field-select--rounded__control {
      min-height: 33px;
      height: 33px;
    }
  }

  &__sidebar-menu {
    margin-top: 1rem;
    padding: 0 1.5rem;

    ul {
      padding-left: 0;
    }

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0.5rem 0;

      &:hover {
        color: $cool-blue;
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: 0.5rem;
      }
    }
  }

  &__sidebar-menu--selected {
    color: $cool-blue;
  }

  &__sidebar-menu-icon {
    margin-top: 2.8rem;
    border-top: 1px solid rgba($border-color, 0.15);
    display: flex;
    justify-content: center;
  }

  &__sidebar-menu-icon-round {
    background: $white;
    box-shadow: 0px 0px 10px $shadow-color;
    border-radius: 50%;
    height: 60px;
    margin-top: -2rem;
    width: 60px;

    img {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }

  &__sidebar-features,
  &__sidebar-interested-persons,
  &__sidebar-virtual-booked {
    h5 {
      font-size: 1.1rem;
      font-weight: normal;
      text-align: center;
    }
  }

  &__sidebar-features-list {
    padding: 0 1.5rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 100px;
    justify-items: center;

    > div {
      font-size: 0.95rem;
      text-align: center;
    }
  }

  &__sidebar-interested-persons {
    h5 {
      margin-bottom: 1.2rem;
    }
  }

  &__sidebar-interested-persons-list {
    padding: 0 1.5rem;
  }

  &__sidebar-interested-persons-item {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px rgba($shadow-color, 0.2);
    border: 1px solid $border-color;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;

    .initials {
      flex-grow: 0;
      margin-right: 0.7rem;
    }
  }

  &__sidebar-interested-persons-info {
    line-height: 1.1rem;

    h6 {
      margin: 0;
      color: inherit;
      font-weight: normal;
      font-size: 0.97rem;
    }

    > div,
    > span {
      font-size: 0.82rem;
    }

    > span {
      display: block;
    }
  }

  &__sidebar-virtual-booked {
    margin: 0 auto;
    width: 220px;

    h5 {
      margin-bottom: 1.1rem;
    }
  }

  &__sidebar-virtual-booked-info {
    margin-top: 0.2rem;

    .input-field {
      margin-bottom: 0.4rem;

      input {
        padding-left: 0.5rem;
      }
    }
  }

  &__sidebar-virtual-booked-button {
    margin-top: 1rem;
    text-align: center;
  }

  &__sidebar-quotation {
    margin-top: 1.5rem;
  }

  &__sidebar-quotation-header {
    border: 1px solid rgba($border-color, 0.2);
    display: flex;
  }

  &__sidebar-quotation-header-tab {
    cursor: pointer;
    font-size: 0.92rem;
    padding: 1rem 0;
    text-align: center;
    width: 50%;
  }

  &__sidebar-quotation-header-tab:first-child {
    border-right: 1px solid rgba($border-color, 0.2);
  }

  &__sidebar-quotation-header-tab--active {
    color: $cool-blue;
    border-bottom: 1px solid $cool-blue;
  }

  &__sidebar-quotation-normal,
  &__sidebar-quotation-quick {
    padding: 1rem 1.5rem;
  }

  &__sidebar-quotation-normal-form {
    .input-field:last-child {
      input {
        text-align: center;
      }
    }
  }

  &__sidebar-quotation-form-container {
    display: grid;
    grid-template-columns: 128px 128px;
    grid-column-gap: 1rem;

    .input-field {
      margin-top: 1rem;

      label {
        font-size: 0.85rem;
      }

      input {
        font-size: 0.9rem;
        margin-top: 0;
      }
    }

    .input-field__error {
      font-size: 0.8rem;
    }
  }

  &__sidebar-quotation-document {
    margin-top: 1rem;
    text-align: center;

    a {
      color: $cool-blue;
      cursor: pointer;
      display: block;
    }

    a:first-child {
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
    }

    a:last-child {
      font-size: 0.85rem;
    }
  }

  &__sidebar-quotation-form-button {
    margin-top: 1.5rem;
    text-align: center;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    padding: 1rem 0;

    @include breakpoint(medium up) {
      grid-template-columns: 165px 1fr 1fr;
      grid-column-gap: 3rem;
    }

    @include breakpoint(large up) {
      align-items: center;
    }

    .input-field-select--rounded__single-value {
      color: $cool-blue;
    }

    .input-field-select--rounded__control {
      background-color: $white;
      padding-left: 0.25rem;
    }

    .unities__header-status-indicator:nth-child(2)::before {
      background-color: $yellow;
    }

    .send-unities-email {
      position: relative;
      margin-top: 1.25rem;

      @include breakpoint(medium up) {
        margin-top: 0;
      }

      @include breakpoint(large up) {
        display: none;
      }

      .loading {
        position: absolute;
      }

      i {
        margin-right: 0.25rem;
        color: $cool-blue;
        font-size: 1rem;
      }
    }
  }

  &__header-status-indicators {
    display: flex;
    flex-wrap: wrap;
  }

  &__header-status-indicator {
    font-size: 0.95rem;
    margin-right: 0.5rem;

    @include breakpoint(large up) {
      margin-right: 1rem;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 0.2rem;
    }

    &:first-child {
      &::before {
        background-color: $cool-blue;
      }
    }

    &:nth-child(2) {
      &::before {
        background-color: $blue-dark;
      }
    }

    &:last-child {
      &::before {
        background-color: $green;
      }
    }
  }

  &__tables {
    margin-top: 1rem;
  }

  &__table {
    margin-bottom: 2.5rem;
  }

  &__table-tower {
    font-weight: 500;
    font-size: 1.02rem;
    margin-bottom: 0.5rem;
  }

  &__table-container {
    overflow-x: auto;

    .table {
      width: 1100px;

      @include breakpoint(xxlarge up) {
        width: 1170px;
      }

      @include breakpoint(1400) {
        max-width: 1250px;
      }
    }
  }

  &__table-unity {
    cursor: pointer;
    padding: 0.25rem 0;
    margin: 0 auto;
    width: 55px;
  }

  &__table-unity--sold {
    background: $green;
  }

  &__table-unity--virtually-booked {
    background: $cool-blue;
  }

  &__table-unity--booked {
    background: $yellow;
  }

  &__table-unity--selected,
  &__table-unity--sold,
  &__table-unity--virtually-booked,
  &__table-unity--booked {
    border-radius: 1rem;
    color: $white;
  }

  &__table-unity--selected {
    background: $cool-grey;
  }

  &__no-results {
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }

  &__success {
    color: $green;
    margin-top: 1rem;
    text-align: center;
  }
}
