{% load static from staticfiles %}
{% load humanize %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
            font-size: 16px;
        }
        .date{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h2>Villa Para&iacute;so</h2>
            <h5 style="font-size: 18px;">Copia del plan de pago de la unidad {{unity}}. Creacion: {{timestamp}}</h5>

            <h4>Valores</h4>

            <p>Cuota Inicial: <span style="float: right;"><b>{{initial_fee|intcomma}}</b></span></p>
            <p>Ahorro Programado: <span style="float: right;">{{ahorro_programado|intcomma}}</span></p>
            <p>Separacion: <span style="float: right;">{{separacion|intcomma}}</span></p>
            <p>Cesantías: <span style="float: right;">{{cesantias|intcomma}}</span></p>
            <p>Subsidio de vivienda: <span style="float: right;">{{subsidio_vivienda|intcomma}}</span></p>
            <p>Otro pago acordado: <span style="float: right;">{{otro_pago_acordado|intcomma}}</span></p>


            <h4>Cuotas Mensuales acordadas</h4>

            {% for x in monthly_fees %}
                <p>{{x}}</p>
            {% endfor %}




        </div>
        <p style="margin-top: 50px; font-size: 12px">* Otros costos como gastos notariales y de registro, aval&uacute;os y tramites para solicitud de cr&eacute;dito, entre otros, son valores propocionales que se detallaran al momento de la separaci&oacute;n<br>* Esta cotizaci&oacute;n tiene una validez de 4 d&iacute;as<br> * Los apartamentos se separan unicamente despues de recibir el soporte de consignaci&oacute;n por parte del cliente</p>
    </div>
{% endblock %}