{% load humanize %}
{% load mathfilters %}
{% load formalizations_extras %}
{% load i18n %}
{% load l10n %}
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">
    ol {
      margin: 0;
      padding: 0
    }

    table td,
    table th {
      padding: 0
    }

    .c18 {
      border-right-style: solid;
      padding: 0pt 5.4pt 0pt 5.4pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 63pt;
      border-top-color: #000000;
      border-bottom-style: solid
    }

    .c11 {
      border-right-style: solid;
      padding: 0pt 5.4pt 0pt 5.4pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 108.8pt;
      border-top-color: #000000;
      border-bottom-style: solid
    }

    .c15 {
      border-right-style: solid;
      padding: 0pt 5.4pt 0pt 5.4pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 104.2pt;
      border-top-color: #000000;
      border-bottom-style: solid
    }

    .c16 {
      border-right-style: solid;
      padding: 0pt 5.4pt 0pt 5.4pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 84.3pt;
      border-top-color: #000000;
      border-bottom-style: solid
    }

    .c7 {
      border-right-style: solid;
      padding: 0pt 5.4pt 0pt 5.4pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 80.2pt;
      border-top-color: #000000;
      border-bottom-style: solid
    }

    .c10 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      orphans: 2;
      widows: 2;
      text-align: justify;
      height: 12pt
    }

    .c19 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      orphans: 2;
      widows: 2;
      text-align: justify
    }

    .c1 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      orphans: 2;
      widows: 2;
      text-align: center
    }

    .c0 {
      vertical-align: baseline;
      font-size: 12pt;
      font-family: "Arial";
      color: #000000;
      font-weight: 400
    }

    .c6 {
      color: #000000;
      font-weight: 400;
      vertical-align: baseline;
      font-size: 12pt;
      font-family: "Times New Roman"
    }

    .c3 {
      vertical-align: baseline;
      font-size: 12pt;
      font-family: "Arial";
      color: #000000;
      font-weight: 700
    }

    .c21 {
      margin-left: -5.9pt;
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto
    }

    .c27 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      text-align: justify
    }

    .c4 {
      vertical-align: baseline;
      font-family: "Arial";
      color: #000000;
      font-weight: 700
    }

    .c9 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      text-align: center
    }

    .c22 {
      -webkit-text-decoration-skip: none;
      text-decoration: underline;
      text-decoration-skip-ink: none
    }

    .c2 {
      vertical-align: baseline;
      font-family: "Arial";
      font-weight: 400
    }

    .c30 {
      background-color: #ffffff;
      max-width: 498.6pt;
      padding: 56.7pt 56.7pt 56.7pt 56.7pt
    }

    .c13 {
      vertical-align: baseline;
      font-family: "Arial";
      font-weight: 700
    }

    .c28 {
      color: inherit;
      text-decoration: inherit
    }

    .c5 {
      text-decoration: none;
      font-style: normal
    }

    .c31 {
      font-size: 10pt
    }

    .c14 {
      height: 9pt
    }

    .c12 {
      color: #000000
    }

    .c32 {
      color: #0000ff
    }

    .c24 {
      height: 0pt
    }

    .c29 {
      height: 12pt
    }

    .c8 {
      font-size: 12pt
    }

    .c26 {
      font-style: italic
    }

    .c23 {
      color: #800000
    }

    .c17 {
      color: #c00000
    }

    .c20 {
      color: #ff0000
    }

    .c25 {
      font-style: normal
    }

    .title {
      padding-top: 24pt;
      color: #000000;
      font-weight: 700;
      font-size: 36pt;
      padding-bottom: 6pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }

    .subtitle {
      padding-top: 18pt;
      color: #666666;
      font-size: 24pt;
      padding-bottom: 4pt;
      font-family: "Georgia";
      line-height: 1.0;
      page-break-after: avoid;
      font-style: italic;
      text-align: left
    }

    li {
      color: #000000;
      font-size: 12pt;
      font-family: "Times New Roman"
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 12pt;
      font-family: "Times New Roman"
    }

    h1 {
      padding-top: 24pt;
      color: #000000;
      font-weight: 700;
      font-size: 24pt;
      padding-bottom: 6pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-weight: 700;
      font-size: 18pt;
      padding-bottom: 4pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }

    h3 {
      padding-top: 14pt;
      color: #000000;
      font-weight: 700;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }

    h4 {
      padding-top: 12pt;
      color: #000000;
      font-weight: 700;
      font-size: 12pt;
      padding-bottom: 2pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }

    h5 {
      padding-top: 11pt;
      color: #000000;
      font-weight: 700;
      font-size: 11pt;
      padding-bottom: 2pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }

    h6 {
      padding-top: 10pt;
      color: #000000;
      font-weight: 700;
      font-size: 10pt;
      padding-bottom: 2pt;
      font-family: "Times New Roman";
      line-height: 1.0;
      page-break-after: avoid;
      text-align: left
    }
  </style>
</head>

<body class="c30">
  <p class="c19"><span class="c3">CONTRATO DE PROMESA DE COMPRAVENTA DE UN BIEN FUTURO SUSCRITO ENTRE CONSTRUCTORA PCG CONSTRUCTORA SAS Y </span><span class="c3">DIANA CAROLINA PEREZ LEON- JOHN FREDY VILLAMIZAR VILLAMIZAR. APARTAMENTO:</span><span class="c3">&nbsp;</span>
    <span
      class="c3">DIEZ CERO TRES (10-03) TORRE 3.</span>
  </p>
  <p class="c10"><span class="c2 c5 c8 c20"></span></p>
  <p class="c19"><span class="c3">PARTES CONTRATANTES:</span></p>
  <p class="c19"><span class="c3">PROMITENTE VENDEDORA: </span><span class="c13 c8">PCG CONSTRUCTORA SAS</span><span class="c0">, Sociedad Comercial con domicilio principal en Bucaramanga, con NIT. No. 900.069.348-1, legalmente constituida por escritura p&uacute;blica n&uacute;mero ciento noventa y uno (No. 0191) de fecha veinticuatro (24) de enero de dos mil seis (2.006) de la Notaria S&eacute;ptima (7&ordf;.) del Circulo de Bucaramanga, reformada mediante la escritura No. 3441 de fecha primero (1) de agosto de dos mil seis (2.006) otorgada por la Notaria S&eacute;ptima (7&ordf;.) del circulo de Bucaramanga,</span>
  <span class="c2 c8">&nbsp;transformada en sociedad por acciones simplificadas por acta n&uacute;mero 02-12-2013 de junta de socios,</span>
  <span class="c0">&nbsp;representada legalmente por </span>
  <span class="c3">PEDRO C. GOMEZ VEGA,</span>
  <span class="c0">&nbsp;hombre mayor de edad, vecino de esta Ciudad, identificado con la C&eacute;dula de Ciudadan&iacute;a n&uacute;mero 13,824,677 expedida en Bucaramanga, de estado Civil </span>
  <span class="c2 c8">casado</span>
  <span class="c0">&nbsp;quien en el texto del presente contrato se denominar&aacute; </span>
  <span class="c3">LA</span>
  <span class="c3">PROMITENTE VENDEDORA.</span>
  <span class="c3">PROMITENTE COMPRADOR</span>
  <span class="c3">:</span>
  {% for client in clients %}
  <span class="c3">{{client.get_person_full_name|upper}}</span><span class="c3">&nbsp;</span><span class="c3">&nbsp;</span>
  <span class="c0">mayor de edad, identificado(a)</span><span class="c0">&nbsp;con la c&eacute;dula de ciudadan&iacute;a n&uacute;mero </span>
  <span class="c0">{{client.identity|intcomma}}</span><span class="c0">&nbsp;</span><span class="c0">de {{client.expedition_place|upper}}</span>
  <span class="c0">&nbsp;</span>
  {% if clients|length > 1 %}
      {% if foorloop.last %}
      <span></span>
      {% else %}
      <span class="c0">y</span><span class="c0">&nbsp;</span>
      {% endif %}
  {% endif %}
  {% endfor %}
  <!--
  ESPERAR A QUE PSCAR HAGA DECISION SOBRE ESTA PARTE
  <span class="c0">de estado civil uni&oacute;n libre</span>
  <span class="c0">, vecinos de </span>
  <span class="c0">Piedecuesta</span>-->
  <span class="c0">&nbsp;y que para los efectos de este contrato se denominar&aacute;n</span>
  <span class="c3">&nbsp;EL PROMITENTE COMPRADOR. </span>
  <span class="c0 c5">El presente contrato de compraventa se regir&aacute; por las siguientes clausulas:</span>
  </p>
  <p class="c1"><span class="c3">CAPITULO I </span></p>
  <p class="c1"><span class="c3">OBJETO DEL CONTRATO Y LA IDENTIFICACI&Oacute;N DE UN BIEN INMUEBLE FUTURO</span><span class="c0"><br></span></p>
  <p class="c27"><span class="c4 c22">CLAUSULA PRIMERA:</span><span class="c4">&nbsp;OBJETO DEL CONTRATO:</span><span class="c2 c12">&nbsp;El presente contrato se determina as&iacute; </span><span class="c4">LA</span><span class="c2 c12">&nbsp;</span><span class="c4">PROMITENTE VENDEDORA</span>
    <span
      class="c2 c12">, promete VENDER mediante escritura p&uacute;blica debidamente registrada y a favor de </span>
      <span class="c4">EL PROMITENTE COMPRADOR</span><span class="c2 c12">, quien promete adquirir al mismo t&iacute;tulo un bien inmueble Futuro que har&aacute; parte del </span>
      <span
        class="c4">CONJUNTO RESIDENCIAL {{project_name|upper}}</span>
        <span class="c2">, localizado en el &nbsp;sector de Barro blanco Municipio de Piedecuesta y que se individualiza as&iacute;: El bien inmueble futuro que se promete en venta est&aacute; ubicado en la </span>
        <span
          class="c2">Torre {{unity_tower}} </span><span class="c2">del Lote Villa Para&iacute;so del sector de Barro blanco con nomenclatura urbana del Plan Parcial del sector Barroblanco de Piedecuesta y que su nomenclatura individual est&aacute; en proceso de adjudicaci&oacute;n ante solicitud hecha a la secretaria de planeaci&oacute;n municipal de Piedecuesta., Departamento de Santander, el que se distingue como: 1.) APARTAMENTO n&uacute;mero: </span>
          <span
            class="c2"></span>(<span class="c2 c12">{{unity_apartment}}</span>)
            <span class="c2 c12">, ubicado en la Torre No. </span><span class="c2 c12">{{unity_tower.1}}</span>
            <span class="c2 c12">&nbsp;en el piso </span>
            <span class="c2 c12">{{ unity_level|to_text:False|upper }}</span>
            <span class="c2">, el apartamento consta de: -EDITAR A MANO-Sala-Comedor, Cocina, Zona de Ropas, Una (1) alcoba Principal con espacio para ba&ntilde;o privado con sus respectivos puntos sanitarios, Dos (2) Alcobas Auxiliares y Un (1) Ba&ntilde;o Auxiliar -HASTA AQUI-. Cuenta con
              un &aacute;rea total construida de </span><span class="c2">{{unity_built_area|to_text:True}}</span><span class="c2">&nbsp;({{unity_built_area}})</span>
              <span class="c2">&nbsp;Metros Cuadrados y un &aacute;rea privada de </span><span class="c2">{{unity_private_area|to_text:True}}</span>
              <span
                class="c2">&nbsp;({{unity_private_area}}) metros cuadrados, &aacute;rea menor resultante de descontar muros, columnas, pantallas, buitrones internos y medianeros.</span>
                <span class="c13">&nbsp;PARAGRAFO</span>
                <span class="c2">: Una vez se perfeccione el reglamento de propiedad horizontal se dar&aacute; origen a la unidad objeto de este contrato con la matricula inmobiliaria que las identificar&aacute;. </span>
                <span
                  class="c22 c13">CLAUSULA SEGUNDA:</span><span class="c13">&nbsp;ESPECIFICACIONES TECNICAS:</span><span class="c2">&nbsp;El apartamento prometido en venta se construir&aacute; de acuerdo en lo contenido en los planos estructurales y arquitect&oacute;nicos aprobados por la Secretaria de Planeaci&oacute;n del Municipio de Piedecuesta bajo la licencia de construcci&oacute;n N&uacute;mero: P 860-2015 de fecha 24 de noviembre de 2015 y contar&aacute; con las siguientes especificaciones t&eacute;cnicas: </span>
                  <span
                    class="c13">Estructura: </span><span class="c2">ser&aacute; construido en un edificio</span><span class="c2 c12">&nbsp;cimentado en vigas de amarre y zapatas en concreto con elementos portantes pantallas seg&uacute;n planos estructurales que cumplen las normas antis&iacute;smicas y que a la vez son partes divisorias de los apartamentos entre si o de la distribuci&oacute;n del apartamento, la mamposter&iacute;a requerida ser&aacute; en bloque de cemento o ladrillo de arcilla y los entrepisos del edificio en placa fundida. </span>
                    <span
                      class="c4">Pisos y muros: </span><span class="c2 c12">Los pisos del apartamento ser&aacute;n entregados en concreto allanado y los muros internos se entregar&aacute;n sin friso, sin estuco y sin pinturas. </span><span class="c4">Carpinter&iacute;a: </span>
                      <span
                        class="c2 c12">consta de una puerta principal de entrada met&aacute;lica con chapa, y una puerta entamborada en triple para el ba&ntilde;o auxiliar. </span><span class="c4">Ba&ntilde;o auxiliar: </span><span class="c2 c12">se entrega con piso en cer&aacute;mica y en los muros a una altura de uno punto ochenta (1.80) mts, en la parte de la ducha y a un metro (1) en la parte de lavamanos e inodoro, un combo sanitario tipo constructor compuesto de lavamanos, sanitario y juego de incrustaciones y ducha. </span>
                        <span
                          class="c4">Ventanas: </span><span class="c2 c12">las ventanas exteriores en aluminio y vidrio de 4mm. </span><span class="c4">Cocina</span><span class="c2 c12">: con mes&oacute;n en concreto, recubierto en la parte superior con enchape de cer&aacute;mica y en zona de salpicadero a 40cm, con lavaplatos en acero inoxidable y llave tipo fontana. </span>
                          <span
                            class="c4">Fachada del apartamento</span><span class="c2 c12">: se entrega con friso, graniplas y pintura donde se requiera. </span><span class="c4">Puntos fijos: </span><span class="c2 c12">&nbsp;el piso se entregar&aacute; en cer&aacute;mica nacional. </span>
                            <span
                              class="c4">&nbsp;PAR&Aacute;GRAFO PRIMERO:</span><span class="c2 c12">&nbsp;De todas maneras, la construcci&oacute;n del apartamento quedara sometida a los cambios que autorice la Secretar&iacute;a De Planeaci&oacute;n del Municipio y a los planos estructurales y arquitect&oacute;nicos debidamente aprobados. </span>
                              <span
                                class="c4">PAR&Aacute;GRAFO SEGUNDO:</span><span class="c2 c12">&nbsp;</span><span class="c4">EL PROMETIENTE COMPRADOR</span><span class="c2 c12">&nbsp;manifiesta que por medio del conocimiento que ha tenido del proyecto antes de firmar la presente promesa ha podido identificar plenamente las especificaciones, calidades, condiciones y extensi&oacute;n superficiaria, arquitect&oacute;nica y de propiedad horizontal de las Unidades Privadas que conforman el proyecto de manera que se declara satisfecho en cuanto a sus caracter&iacute;sticas. </span>
                                <span
                                  class="c4">CLAUSULA TERCERA: ALINDERAMIENTO: </span><span class="c2 c12">Los linderos del inmueble objeto del presente contrato ser&aacute;n estipulados posteriormente en el Reglamento de Propiedad Horizontal del </span><span class="c4">CONJUNTO RESIDENCIAL {{project_name|upper}}</span>
                                  <span
                                    class="c2 c12">., entendi&eacute;ndose que se vende como cuerpo cierto, pero las partes se&ntilde;alan que las medidas han sido tomadas de los planos del Edificio, por lo cual desde ya aceptan un margen razonable de tolerancia respecto
                                    de eventuales modificaciones de su alinderaci&oacute;n definitiva, que se establece en m&aacute;s o menos dos por ciento (2%) con referencia a las mediciones que aparecen en los planos. </span><span class="c4">PAR&Aacute;GRAFO PRIMERO</span>
                                    <span
                                      class="c2 c12">: </span><span class="c2">El inmueble aqu&iacute; determinado se construir&aacute; en un lote de terreno con un &aacute;rea total de 12.500.00 metros cuadrados con afectaciones de 3.596.08 metros cuadrados con un &aacute;rea neta urbanizable de 8.903.92 metros cuadrados y un &aacute;rea &uacute;til del lote de 7.323.04 metros cuadrados &nbsp; &nbsp; del sector de Barroblanco del Municipio de Piedecuesta. </span>
                                      <span
                                        class="c13">PARAGRAFO SEGUNDO: </span><span class="c2">La distribuci&oacute;n urban&iacute;stica del proyecto puede ser modificada con el visto bueno y la aprobaci&oacute;n definitiva de la secretaria de planeaci&oacute;n del Municipio de Piedecuesta. </span>
                                        <span
                                          class="c13">CLAUSULA CUARTA</span><span class="c4">: BIENES COMUNES:</span><span class="c2 c12">&nbsp;Los bienes, elementos y zonas comunes del conjunto residencial ser&aacute;n entregados de acuerdo a lo expuesto en el art&iacute;culo 24 de la ley 675 de 2001. </span>
                                          <span
                                            class="c4">CLAUSULA QUINTA: SERVICIOS PUBLICOS DOMICILIARIOS Y OTROS DE LA UNIDAD PROMETIDA EN VENTA: </span><span class="c2 c12">El bien se entregar&aacute; con servicios y matr&iacute;culas de agua, luz y gas; alcantarillado de aguas negras y aguas lluvias, as&iacute; como el servicio de citofon&iacute;a interna. Adicionalmente se entregar&aacute;n las ducterias internas de televisi&oacute;n, tel&eacute;fono sin incluir cableado ni costos de instalaci&oacute;n de estos servicios, los cuales correr&aacute;n por parte de </span>
                                            <span
                                              class="c4">EL PROMITENTE COMPRADOR.</span><span class="c2 c12">&nbsp;</span><span class="c4">PARAGRAFO:</span><span class="c2 c12">&nbsp;Todos los activos de conexi&oacute;n el&eacute;ctrica, incluido el transformador general necesarios para la conexi&oacute;n del proyecto desde la red de distribuci&oacute;n local hasta el barraje de alimentaci&oacute;n de las acometidas individuales de cada uno de los bienes privados y bienes comunes que conforman el proyecto ser&aacute;n suministrados, administrados, operados y mantenidos por la empresa de energ&iacute;a que</span>
                                              <span
                                                class="c4">&nbsp;EL PROMITENTE VENDEDOR</span><span class="c2 c12">&nbsp;seleccione para este proyecto. </span><span class="c13">CLAUSULA</span><span class="c13 c20">&nbsp;</span><span class="c13">SEXTA: REGIMEN DE PROPIEDAD HORIZONTAL: </span>
                                                <span
                                                  class="c13">EL CONJUNTO RESIDENCIAL {{project_name|upper}}</span><span class="c13">,</span><span class="c2">&nbsp;del cual hace parte la unidad de que dan cuenta este contrato, se someter&aacute; expresamente al r&eacute;gimen de Propiedad Horizontal, consagrado en la Ley 675 de 2.001. </span>
                                                  <span
                                                    class="c13">EL PROMITENTE COMPRADOR</span><span class="c2">&nbsp;quedar&aacute; en todo sujeto a dicho r&eacute;gimen, y </span><span class="c13">EL PROMITENTE </span><span class="c4">VENDEDOR</span><span class="c2 c12">&nbsp;se compromete a tener a disposici&oacute;n del promitente comprador, el reglamento de propiedad horizontal, previo a la firma de la escritura. En consecuencia, en la enajenaci&oacute;n del bien objeto del presente Contrato, queda comprometido el derecho de Copropiedad en el coeficiente que conforme a la ley corresponda a la unidad prometida en venta, as&iacute; como tambi&eacute;n el uso y Servidumbre gratuita sobre los bienes que determinen el respectivo reglamento de propiedad horizontal, al cual queda tambi&eacute;n sujeto </span>
                                                    <span
                                                      class="c4">EL PROMITENTE COMPRADOR</span><span class="c2 c12">. Como consecuencia de lo anterior, una vez otorgada y registrada la escritura p&uacute;blica por medio de la cual se constituya el Reglamento de Propiedad Horizontal del Proyecto Villa Para&iacute;so y/o cualquiera de sus modificaciones y/o aclaraciones, se pondr&aacute; a disposici&oacute;n una copia del mismo en la oficina de la empresa; calle 30&ordf; # 30-18 a </span>
                                                      <span
                                                        class="c4">EL(LOS) PROMITIENTE (ES) COMPRADOR</span><span class="c2 c12">&nbsp;(ES) para su conocimiento</span><span class="c2">.</span><span class="c13">&nbsp; PARAGRAFO PRIMERO: </span><span class="c2">Por tratarse de un conjunto a desarrollarse por etapas en la escritura de constituci&oacute;n se indicar&aacute; esta circunstancia y se estipular&aacute;n los coeficientes de copropiedad de los bienes privados de la etapa que se conforma, los cuales podr&aacute;n tener car&aacute;cter provisional</span>
                                                        <span
                                                          class="c2 c12">. </span><span class="c4">PARAGRAFO SEGUNDO: EL PROMITENTE VENDEDOR </span><span class="c2 c12">hasta tanto no haya construido y enajenado bienes privados que representen por lo menos el 51% de los coeficientes de copropiedad ejercer&aacute; directamente o delegara las funciones de administrador provisional de la propiedad horizontal. </span>
                                                          <span
                                                            class="c4">CLAUSULA SEPTIMA: TRADICION:</span><span class="c2 c12">&nbsp;La </span><span class="c2">Sociedad </span><span class="c13">PROMITENTE VENDEDORA</span><span class="c2 c12">&nbsp;adquiri&oacute; el bien que mediante el presente documento se promete en venta</span>
                                                            <span
                                                              class="c2">&nbsp;por compra realizada a PEDRO CLAVER G&Oacute;MEZ VEGA, CECILIA RANGEL RODRIGUEZ, OSCAR FERNANDO G&Oacute;MEZ RANGEL, DIANA MARCELA G&Oacute;MEZ RANGEL Y LAURA MILENA G&Oacute;MEZ RANGEL,
                                                              y quienes adquirieron el bien inmueble mediante la escritura n&uacute;mero: 3917 del 26 de octubre de 2015 otorgada en la Notaria Tercera del circulo de Bucaramanga e identificada con la matricula
                                                              inmobiliaria numero: &nbsp;314-21611. </span><span class="c13">CLAUSULA OCTAVA: DE LA OBLIGACI&Oacute;N</span><span class="c4">&nbsp;DE SANEAMIENTO:</span><span class="c2 c12">&nbsp;</span>
                                                              <span
                                                                class="c4">LA PROMITENTE VENDEDORA </span><span class="c2 c12">declara que posee los derechos de dominio y propiedad sobre el inmueble cuya venta se promete, el cual no ha enajenado por acto anterior y lo garantiza libre de demandas, embargos, condiciones resolutorias, censo, anticresis, derechos de uso, usufructo o habitaci&oacute;n, patrimonio de familia, arrendamiento por escritura p&uacute;blica y pleitos pendientes que afecte el derecho de</span>
                                                                <span
                                                                  class="c4">&nbsp;EL PROMITENTE COMPRADOR, </span><span class="c2 c12">excepci&oacute;n hecha de los que se deriven de la propiedad horizontal al que se halla sujeto.</span><span class="c4">&nbsp;LA PROMITENTE VENDEDORA, PODRA CONSTITUIR FIDUCIA Y/O HIPOTECA </span>
                                                                  <span
                                                                    class="c2 c12">con una entidad financiera para los fines de obtener los recursos para la construcci&oacute;n del</span><span class="c4">&nbsp;CONJUNTO RESIDENCIAL {{project_name|upper}}.</span><span class="c2 c12">&nbsp;La hipoteca y/o Fiducia constituida ser&aacute; cancelada por </span>
                                                                    <span
                                                                      class="c4">LA PROMETIENTE VENDEDORA</span><span class="c2 c12">&nbsp;en la misma escritura de venta siempre que se hubiese pagado la totalidad del precio de venta. De forma que </span><span class="c4">LA PROMETIENTE VENDEDORA</span>
                                                                      <span
                                                                        class="c2 c12">&nbsp;gestionar&aacute; ante la entidad financiera correspondiente y asumir&aacute; los gastos o costos relacionados con el levantamiento a prorrata del gravamen hipotecario que recae
                                                                        sobre el inmueble de mayor extensi&oacute;n sujeto al pago por parte de </span><span class="c4">EL PROMETIENTE COMPRADOR </span><span class="c2 c12">del precio establecido en este contrato. En todo caso la </span>
                                                                        <span
                                                                          class="c4">PROMITENTE VENDEDORA</span><span class="c2 c12">&nbsp;responder&aacute; ante los </span><span class="c4">PROMITENTES COMPRADORES</span><span class="c2 c12">&nbsp;por los vicios redhibitorios y de evicci&oacute;n de conformidad con la ley. </span>
                                                                          <span
                                                                            class="c4">CLAUSULA NOVENA: DEL PUNTO DE EQUILIBRIO: </span><span class="c2 c12">La promesa de venta aqu&iacute; pactada, se condiciona al cumplimiento del punto de equilibrio en la preventa de inmuebles del EDIFICIO a que se refiere la cl&aacute;usula primera, que se establece en el 70% de la totalidad del proyecto, pudiendo esta ampliar el plazo de inicio hasta que se cumpla este porcentaje y que </span>
                                                                            <span
                                                                              class="c4">LA PROMITENTE VENDEDORA </span><span class="c2 c12">comunicar&aacute; por escrito la fecha de su ocurrencia a </span><span class="c4">EL PROMITENTE COMPRADOR</span><span class="c2 c12">&nbsp;o la decisi&oacute;n de desistir del proyecto, caso este &uacute;ltimo en el cual se entender&aacute; resuelto el presente contrato de pleno derecho sin necesidad de demanda o acci&oacute;n judicial de ninguna especie, quedando obligada </span>
                                                                              <span
                                                                                class="c4">LA PROMITENTE VENDEDORA</span><span class="c2 c12">&nbsp;a la devoluci&oacute;n dentro del t&eacute;rmino de 90 d&iacute;as contados a partir de la comunicaci&oacute;n del desistimiento del proyecto de los valores entregados como parte del precio pactado por </span>
                                                                                <span
                                                                                  class="c4">EL PROMITENTE COMPRADOR,</span><span class="c0 c5">&nbsp;sin que haya lugar al pago de intereses, rendimientos ni penalidad alguna.</span></p>
  <p class="c1"><span class="c3">CAPITULO II: </span></p>
  <p class="c1"><span class="c3">DEL PRECIO Y FORMA DE PAGO: </span></p>
  <p class="c1 c29"><span class="c0 c5"></span></p>
  <p class="c19"><span class="c3">CLAUSULA</span><span class="c13 c8 c23">&nbsp;</span>
    <span class="c3">DECIMA: PRECIO:</span><span class="c0">&nbsp;El precio total de la venta es la suma de</span><span class="c0">&nbsp;</span>
    <span class="c3">{{unity_price|to_text:False|upper}}</span>
    <span class="c3">&nbsp;(${{unity_price|intcomma}}) MLCTE</span>
    <span class="c0">., que </span><span class="c3">EL PROMITENTE COMPRADOR</span>
    <span class="c0">&nbsp;pagar&aacute; a </span>
    <span class="c3">LA PROMITENTE VENDEDORA</span>
    <span class="c0">&nbsp;en la oficina localizada en la calle 30A No. 30 &ndash; 18 Barrio La Aurora de Bucaramanga o en la cuenta corriente se&ntilde;alada en el par&aacute;grafo siguiente. El precio total establecido conforme a la presente cl&aacute;usula, se cancelar&aacute; en la siguiente forma; 1-. Como </span>
    <span class="c3">CUOTA INICIAL</span>
    <span class="c0">, Imputable al valor del inmueble y que corresponde al </span>
    <span class="c0">{{initial_fee_percentage}}%</span><span class="c0">&nbsp;del valor del apartamento. La suma de </span>
    <span class="c3">{{total_initial_fee|to_text:False|upper}} PESOS ($total_initial_fee|intcomma) MLCTE</span>
    <span class="c3">,</span>
    <span class="c0">&nbsp;valor al cual se le descontar&aacute; el valor de la separaci&oacute;n del inmueble prometido en venta que equivale a: </span>
    <span class="c3">{{booking_price|to_text:False|upper}}</span><span class="c0">&nbsp;</span>
    <span class="c3">({{booking_price|intcomma}}) MLCTE</span>
    <span class="c0">, que LA PROMITENTE VENDEDORA declara recibidos a satisfacci&oacute;n y el saldo de la cuota inicial ser&aacute; pagado por </span>
    <span class="c3">EL PROMITENTE COMPRADOR &nbsp; </span>
    <span class="c0">as&iacute;</span>
    <span class="c3">: A) </span><span class="c0">en </span><span class="c0">{{payment_fees_count}}</span>
    <span class="c0 c5">&nbsp;cuotas y fechas que a continuaci&oacute;n se relaciona:</span></p>
    <p class="c10"><span class="c0 c5"></span></p><a id="t.445847e92621aeea4cbb4f29f21e41d1ed4bcb5f"></a><a id="t.0"></a>
  <table class="c21">
    <tbody>
      <tr class="c24">
        <td class="c18" colspan="1" rowspan="1">
          <p class="c9"><span class="c3">NUMERO</span></p>
        </td>
        <td class="c15" colspan="1" rowspan="1">
          <p class="c9"><span class="c3">CUOTA</span></p>
        </td>
        <td class="c11" colspan="1" rowspan="1">
          <p class="c9"><span class="c3">MES</span></p>
        </td>
        <td class="c7" colspan="1" rowspan="1">
          <p class="c9"><span class="c3">DIA</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c9"><span class="c3">A&Ntilde;O</span></p>
        </td>
      </tr>
      {% for payment_fee in payment_fees %}
      <tr class="c24">
        <td class="c18" colspan="1" rowspan="1">
          <p class="c9"><span class="c0 c5">{{ forloop.counter }}</span></p>
        </td>
        <td class="c15" colspan="1" rowspan="1">
          <p class="c9"><span class="c0 c5">{{ payment_fee.fee|add:payment_fee.extraordinary_fee|intcomma }}</span></p>
        </td>
        <td class="c11" colspan="1" rowspan="1">
          <p class="c9"><span class="c0 c5">{% language 'es' %}{{ payment_fee.date_to_pay|date:'F' }}{% endlanguage %}</span></p>
        </td>
        <td class="c7" colspan="1" rowspan="1">
          <p class="c9"><span class="c0 c5">{% language 'es' %}{{ payment_fee.date_to_pay|date:'d' }}{% endlanguage %}</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c9"><span class="c0 c5">{% language 'es' %}{{ payment_fee.date_to_pay|date:'o' }}{% endlanguage %}</span></p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="c10"><span class="c0 c5"></span></p>
  <p class="c19"><span class="c3">B). </span><span class="c0">La suma de </span><span class="c3">TRES MILLONES TRESCIENTOS SESENTA Y CUATRO MIL TRESCIENTOS DIEZ &nbsp; PESOS (3.364.310) </span><span class="c3 c26">MLCTE</span><span class="c0">, correspondiente a las cesant&iacute;as que est&aacute;n depositadas en </span>
  <span class="c0">EL FONDO DE PENSIONES Y CESANTIAS</span>
  <span class="c0">&nbsp;PORVENIR SA. a nombre de </span><span class="c3">DIANA CAROLINA PEREZ LEON</span>
  <span class="c0">&nbsp;y que por medio de este documento autoriza al respectivo FONDO para que desembolse dicha cantidad </span>
  <span class="c3">a LA PROMITENTE VENDEDORA</span><span class="c0">, con la presentaci&oacute;n de la copia autenticada del presente contrato de compraventa. </span><span class="c3">C)</span><span class="c0">&nbsp;</span><span class="c3">&nbsp;</span><span class="c0">La suma de </span>
  <span class="c3">SIETE MILLONES TRESCIENTOS OCHENTA Y TRES MIL TRESCIENTOS ONCE &nbsp; PESOS (7.383.311) </span>
  <span class="c3 c26">MLCTE</span>
  <span class="c0">, correspondiente a las cesant&iacute;as que est&aacute;n depositadas en EL FONDO DE PENSIONES Y CESANTIAS PORVENIR SA. a nombre de </span>
  <span class="c3">JOHN FREDY VILLAMIZAR VILLAMIZAR</span>
  <span class="c0">&nbsp;y que por medio de este documento autoriza al respectivo FONDO para que desembolse dicha cantidad </span><span class="c3">a LA PROMITENTE VENDEDORA</span><span class="c0">, con la presentaci&oacute;n de la copia autenticada del presente contrato de compraventa</span>
  <span class="c3">&nbsp;PAR&Aacute;GRAFO PRIMERO:</span><span class="c0">&nbsp;Para el pago de estas cuotas </span><span class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;entregar&aacute; una tarjeta de recaudo y a la vez se se&ntilde;ala </span>
              <span
                class="c2 c8">la cuenta</span><span class="c0">&nbsp;de Ahorros n&uacute;mero: &nbsp;900-062-696, de la entidad bancaria </span><span class="c3">BANCO BOGOTA</span><span class="c0">&nbsp;a nombre de </span><span class="c3">PCG CONSTRUCTORA SAS</span>
                <span
                  class="c0">. NIT: 900.069.348-1). Solo se tendr&aacute; por cumplido con la real y efectiva acreditaci&oacute;n por parte de la entidad financiera de los valores as&iacute; consignados, &nbsp;si no se usa la tarjeta de recaudo una vez efectuada la
                  consignaci&oacute;n y en el d&iacute;a h&aacute;bil siguiente a que ella ocurra, deber&aacute;n remitir a la direcci&oacute;n de </span><span class="c3">LA PROMITENTE VENDEDORA &nbsp;o </span><span class="c0">correo electr&oacute;nico </span>
  <span class="c22 c2 c8 c32"><a class="c28" href="mailto:contacto@pcgconstructora.com">contacto@pcgconstructora.com</a></span>
  <span class="c0">&nbsp;copia aut&eacute;ntica del recibo de consignaci&oacute;n con la constancia de la entidad en que se hizo, de haberla efectivamente recibido.
     2-. El saldo (</span>
  <span class="c0">{{unity_price_remaining_balance_percentage}}%</span><span class="c0">) , o sea la suma de </span><span class="c3">{{unity_price_remaining_balance|to_text:False|upper}} &nbsp;PESOS &nbsp;(${{unity_price_remaining_balance|intcomma}}</span><span class="c0">) </span><span class="c3">MLCTE</span><span class="c0">, &nbsp;contra escritura que se har&aacute; a m&aacute;s tardar &nbsp;quince (15) d&iacute;as calendarios despu&eacute;s de que </span>
                      <span
                        class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;comunique a</span><span class="c3">&nbsp;EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;la fecha de entrega del inmueble y la firma de Ia correspondiente escritura p&uacute;blica de compraventa, con recursos propios o con el valor del cr&eacute;dito que se ha obligado a tramitar</span>
                        <span
                          class="c3">&nbsp;EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;con una entidad financiera, dentro de las condiciones y requisitos que dicha entidad exija y los cuales acepta </span><span class="c3">EL PROMITENTE COMPRADOR</span>
                          <span
                            class="c0">, a fin de que ese valor sea abonado de manera directa a </span><span class="c3">LA PROMITENTE VENDEDORA. PAR&Aacute;GRAFO SEGUNDO:</span><span class="c0">&nbsp;En caso de ser negado el cr&eacute;dito con el que pretende pagar el saldo o que &eacute;ste sea aprobado por un menor valor, </span>
                            <span
                              class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;se obliga a cubrir las diferencias a </span><span class="c3">LA</span><span class="c0">&nbsp;</span><span class="c3">PROMITENTE VENDEDORA</span><span class="c0">&nbsp;el mismo d&iacute;a de la firma de la escritura que le d&eacute; cumplimiento a este contrato </span>
                              <span
                                class="c2 c8">so pena de incumplimiento del presente contrato de promesa</span><span class="c0">. </span><span class="c3">PAR&Aacute;GRAFO TERCERO:</span><span class="c0">&nbsp;En el evento de efectuar pago a trav&eacute;s de dineros provenientes del exterior, para atender las normas legales del mercado cambiario Colombiano, </span>
                                <span
                                  class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">, solo podr&aacute; amortizar a trav&eacute;s del formulario numero 5 </span><span class="c3">(DECLARACI&Oacute;N DE CAMBIO POR SERVICIOS TRANSFERENCIA Y OTROS CONCEPTO DEL BANCO DE LA REP&Uacute;BLICA); si EL PROMITENTE COMPRADOR</span>
                                  <span
                                    class="c0">&nbsp;quiere realizar la compra del inmueble como una inversi&oacute;n extranjera, &eacute;ste debe nombrar un apoderado en Colombia para que tramite y monetice la declaraci&oacute;n de cambio en el formulario n&uacute;mero
                                    4 y registre la inversi&oacute;n en el formulario n&uacute;mero 11, del Banco de la Rep&uacute;blica. </span><span class="c3">PAR&Aacute;GRAFO CUARTO:</span><span class="c0">&nbsp;Una vez suscrita la escritura p&uacute;blica y </span>
                                    <span
                                      class="c2 c8">entregados los inmuebles</span><span class="c0">, si la entidad financiera no ha desembolsado el valor del cr&eacute;dito, </span><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">, sobre esta parte del precio, reconocer&aacute; y pagar&aacute; mensualmente la suma equivalente a la cuota que deber&iacute;a haberle cubierto al banco por el monto a &eacute;l otorgado, hasta el d&iacute;a en que se efect&uacute;e el pago o subrogaci&oacute;n. Esta cuota la pagar&aacute; </span>
                                      <span
                                        class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;a la </span><span class="c3">PROMITENTE VENDEDORA</span><span class="c0">&nbsp;en su oficina, dentro de los cinco (5) primeros d&iacute;as de cada mes, desde la fecha de la escritura hasta la fecha en que se produzca el pago respectivo.</span>
                                        <span
                                          class="c13 c8">&nbsp;PARAGRAFO QUINTO: </span><span class="c22 c2 c26 c31">PRORROGA</span><span class="c2 c8">. Se podr&aacute; prorrogar el t&eacute;rmino para el cumplimiento de las obligaciones que por este contrato se contraen, cuando as&iacute; lo acuerden las partes mediante cl&aacute;usula adicional al presente documento. </span>
                                          <span
                                            class="c13 c8">CLAUSULA DECIMO PRIMERA: </span><span class="c3">DE LA MORA EN EL PAGO DE LAS CUOTAS: </span><span class="c0">En caso de mora en el pago de las cuotas estipuladas en la cl&aacute;usula que antecede, las partes en su rec&iacute;proco beneficio acuerdan que de no ponerse al d&iacute;a respecto de las obligaciones acordadas (as&iacute; sea con respecto a una o varias de las cuotas o con referencia a las gestiones de obtenci&oacute;n del cr&eacute;dito o con referencia a la negativa para otorgar dicho cr&eacute;dito), </span>
                                            <span
                                              class="c3">LA PROMITENTE VENDEDORA,</span><span class="c0">&nbsp;podr&aacute; previamente solicitar a </span><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;ponerse al d&iacute;a en el t&eacute;rmino que ella determine y que no podr&aacute; ser superior a QUINCE (15) d&iacute;as calendario y en caso que dentro de dicho t&eacute;rmino no se haya logrado la satisfacci&oacute;n de la obligaci&oacute;n de la parte en mora, de pleno derecho y sin requerirse de decisi&oacute;n judicial previa, quedar&aacute; resuelto este contrato y las cosas vueltas a su estado original y podr&aacute; </span>
                                              <span
                                                class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;de inmediato hacer su enajenaci&oacute;n de </span><span class="c2 c8">los bienes inmuebles</span><span class="c0 c5">&nbsp;prometidos en venta a un tercero.</span></p>
  <p
    class="c10"><span class="c0 c5"></span></p>
    <p class="c1"><span class="c3">CAP&Iacute;TULO III</span></p>
    <p class="c1"><span class="c3">OTORGAMIENTO DE LA ESCRITURA P&Uacute;BLICA</span></p>
    <p class="c10"><span class="c0 c5"></span></p>
    <p class="c19"><span class="c3">CLAUSULA D&Eacute;CIMA SEGUNDA: ESCRITURACI&Oacute;N:</span><span class="c0">&nbsp;El otorgamiento de la escritura de propiedad sobre los bienes futuros de que trata este contrato, se efectuar&aacute;n en el t&eacute;rmino o plazo de 15 d&iacute;as contados a partir de la fecha de la comunicaci&oacute;n que </span>
      <span
        class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;enviar&aacute; a </span><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;inform&aacute;ndole la entrega del inmueble. </span><span class="c2 c8">Es</span><span class="c0">crituras que se protocolizar&aacute;n en la Notar&iacute;a Tercera del c&iacute;rculo de Bucaramanga. Para efectos de este contrato se establece como fecha para la firma </span>
        <span
          class="c2 c8">de escritura el </span><span class="c2 c8">diecinueve (19) del mes de junio de 2018, a las 4.00 pm</span><span class="c2 c8">. &nbsp;</span><span class="c13 c8">PARAGRAFO</span><span class="c3">:</span><span class="c0">&nbsp;cuando </span>
          <span
            class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">, quiera que la escritura se suscriba a favor de un tercero, deber&aacute; comunicarlo con anticipaci&oacute;n de al menos, cinco (05) d&iacute;as calendario a la fecha en que se deba correr la escritura, reserv&aacute;ndose </span>
            <span
              class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;el derecho de solicitar a </span><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">, las certificaciones que considere necesarias acerca de la solvencia econ&oacute;mica, moral y legal de las nuevas personas y en caso de no presentarse se abstendr&aacute; de firmarla, sin que esa situaci&oacute;n genere en su Contra efecto indemnizatorio de ninguna &iacute;ndole o se pueda deducir incumplimiento del presente contrato. </span>
              <span
                class="c3">CLAUSULA D&Eacute;CIMA TERCERA: MODIFICACI&Oacute;N DE LA FECHA DE LA ESCRITURA:</span><span class="c0">&nbsp;La fecha establecida para el otorgamiento de la escritura p&uacute;blica solamente podr&aacute; modificarse por el com&uacute;n querer de los contratantes expresado en forma escrita e inequ&iacute;voca y unilateralmente por la </span>
                <span
                  class="c3">PROMITENTE VENDEDORA</span><span class="c0">&nbsp;y en los casos autorizados por la Ley tales como casos fortuitos o fuerza mayor. </span><span class="c3">PAR&Aacute;GRAFO: </span><span class="c0">La obligaci&oacute;n de </span><span class="c3">LA PROMITENTE VENDEDORA</span>
                  <span
                    class="c0">&nbsp;pactada en esta cl&aacute;usula, conforme a la cual se compromete a otorgar la escritura p&uacute;blica de compraventa en la fecha indicada, y la obligaci&oacute;n de entregar el inmueble en la fecha pactada, se entiende vinculante
                    para </span><span class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;salvo eventos de fuerza mayor, caso fortuito o hecho de un tercero, tales como demora en la instalaci&oacute;n de los servicios de gas, agua, alcantarillado y energ&iacute;a el&eacute;ctrica, escasez de materiales de construcci&oacute;n, suspensi&oacute;n en los desembolsos por parte de las entidades que financian la construcci&oacute;n del proyecto sin que exista culpa del vendedor, huelga del personal de </span>
                    <span
                      class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">, de sus contratistas o proveedores. En el evento de producirse alguno de estos hechos o similares se&ntilde;alados en la Ley o determinados por el juez competente que suspendan la marcha normal de los trabajos y como consecuencia retarden el cumplimiento de las obligaciones a cargo de </span>
                      <span
                        class="c3">LA PROMITENTE VENDEDORA,</span><span class="c0">&nbsp;la ejecuci&oacute;n de las mismas se prorrogar&aacute; por un tiempo igual a aquel en que se suspendieron los trabajos total o parcialmente como consecuencia del caso fortuito, la fuerza mayor o hecho de un tercero, t&eacute;rmino que se contar&aacute; a partir de la fecha prevista para el cumplimiento oportuno. No obstante, si el caso fortuito o la fuerza mayor fuere de tal magnitud que obligara a </span>
                        <span
                          class="c3">LAPROMITENTE VENDEDORA</span><span class="c0">&nbsp;a reiniciar los trabajos, el plazo para el cumplimiento de las obligaciones a cargo de </span><span class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;se prorrogar&aacute; por el tiempo que sea necesario para terminar la obra en buenas condiciones, plazo que acordar&aacute; de com&uacute;n acuerdo con </span>
                          <span
                            class="c3">EL PROMETIENTE COMPRADOR.</span>
    </p>
    <p class="c1"><span class="c3">CAPITULO IV</span></p>
    <p class="c1"><span class="c3">&nbsp;ENTREGA LEGAL Y MATERIAL</span></p>
    <p class="c1 c29"><span class="c0 c5"></span></p>
    <p class="c27"><span class="c4">CLAUSULA DECIMA CUARTA: ENTREGA DEL BIEN PROMETIDO EN VENTA:</span><span class="c2 c12">&nbsp;El bien prometido en venta ser&aacute; entregado </span><span class="c4">REAL Y MATERIALMENTE</span><span class="c2 c12">&nbsp;por </span>
      <span
        class="c4">LA PROMITENTE VENDEDORA</span><span class="c2 c12">&nbsp;a </span><span class="c4">EL PROMITENTE COMPRADOR</span><span class="c2 c12">&nbsp;una vez se haya firmado la respectiva escritura p&uacute;blica de compraventa y se haya recibido la totalidad de los pagos acordados en esta compraventa. Durante la entrega del inmueble se dejar&aacute; constancia de este proceso a trav&eacute;s de un acta de entrega firmada entre las partes. </span>
        <span
          class="c4">CLAUSULA DECIMA QUINTA</span><span class="c13">: ENTREGA LEGAL Y MATERIAL DE BIENES COMUNES: </span><span class="c2">Por tratarse de un proyecto a construir por etapas los bienes comunes esenciales para el uso y goce de los bienes privados se referir&aacute;n a aquellos localizados en cada uno de los edificios o etapas cuya construcci&oacute;n se haya concluido y la administraci&oacute;n inicial del </span>
          <span
            class="c13">CONJUNTO RESIDENCIAL {{project_name|upper}}, </span><span class="c2">Propiedad Horizontal - corresponder&aacute; a </span><span class="c4">PCG CONSTRUCTORA SAS.</span><span class="c2">&nbsp;O a la persona natural o jur&iacute;dica que la constructora designe. Esta administraci&oacute;n provisional tendr&aacute; vigencia hasta tanto se haga la designaci&oacute;n del Administrador por parte de la </span>
            <span
              class="c13">ASAMBLEA DE COPROPIETARIOS</span><span class="c2">, cuando se haya hecho entrega material de por lo menos el 51% de las unidades privadas en la etapa que el inmueble este ubicado. </span><span class="c13">PARAGRAFO PRIMERO</span><span class="c2">: Si </span>
              <span
                class="c13">EL PROMITENTE COMPRADOR</span><span class="c2">&nbsp;no comparece a recibir el inmueble en la fecha pactada, o present&aacute;ndose, se abstiene de recibirlo sin causa justificada y probada, &eacute;ste se tendr&aacute; por entregado para todos los efectos a satisfacci&oacute;n. En este evento, la llave de la Unidad Privada quedar&aacute; a disposici&oacute;n de </span>
                <span
                  class="c13">EL PROMITENTE COMPRADOR</span><span class="c2">&nbsp;en las oficinas de </span><span class="c13">LA PROMITENTE VENDEDORA</span><span class="c2">&nbsp;o donde &eacute;sta le se&ntilde;ale. </span><span class="c13">PARAGRAFO SEGUNDO</span>
                  <span
                    class="c2">: Si por cualquier circunstancia las partes acordasen entregar el inmueble antes de otorgarse la escritura p&uacute;blica de compraventa del mismo, la entrega se har&aacute; a t&iacute;tulo de mera tenencia aun cuando no se haga menci&oacute;n
                    a esta circunstancia, hasta el momento en que se haga posible la firma de la escritura p&uacute;blica de la compraventa. </span><span class="c13">PARAGRAFO TERCERO</span><span class="c2">: </span><span class="c4">USO RESIDENCIAL.</span>
                    <span
                      class="c2 c12">&nbsp;El Apartamento objeto de este contrato ser&aacute; destinado &uacute;nica y exclusivamente para vivienda familiar. Esta destinaci&oacute;n no podr&aacute; ser variada por </span><span class="c4">EL PROMITENTE COMPRADOR</span>
                      <span
                        class="c2 c12">&nbsp;o sus causahabientes a cualquier t&iacute;tulo.</span>
    </p>
    <p class="c10"><span class="c0 c5"></span></p>
    <p class="c1"><span class="c3">CAPITULO V</span></p>
    <p class="c1"><span class="c3">&nbsp;IMPUESTOS Y GASTOS DE ESCRITURACION</span></p>
    <p class="c1 c29"><span class="c0 c5"></span></p>
    <p class="c19"><span class="c3">CLAUSULA D&Eacute;CIMA SEXTA:</span><span class="c0">&nbsp;</span><span class="c3">PAGO DE IMPUESTOS: </span><span class="c0">El Impuesto Predial y Complementarios sobre el inmueble prometido en venta, ser&aacute; por cuenta de </span>
      <span
        class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;hasta el d&iacute;a en que se suscriba la Escritura P&uacute;blica que solemnice la presente Promesa de Compraventa. </span><span class="c3">PARAGRAFO: E</span><span class="c0">l impuesto predial y complementarios sobre las &aacute;reas donde se localicen los bienes comunes ser&aacute;n de responsabilidad de </span>
        <span
          class="c3">LA PROMITENTE VENDEDORA</span><span class="c0">&nbsp;hasta el d&iacute;a que esta los entregue legal y materialmente al administrador general de la propiedad horizontal </span><span class="c3">CLAUSULA DECIMA SEPTIMA: GASTOS DE ESCRITURACI&Oacute;N Y REGISTRO:</span>
          <span
            class="c0">&nbsp;Los gastos que ocasionen la legalizaci&oacute;n de la Escritura de Compraventa, a que alude este contrato, tales como Notariales, Boleta Fiscal, y Registro, ser&aacute;n cancelados en su totalidad por parte del </span><span class="c3">PROMITENTE COMPRADOR. PAR&Aacute;GRAFO:</span>
            <span
              class="c0">&nbsp;Los gastos de hipoteca, estudio de t&iacute;tulos, costos de visita de los peritos para desembolsos de cr&eacute;ditos, subsidios de cajas de compensaci&oacute;n o entidades publico privadas que se comprometan a entregar alg&uacute;n
              subsidio o descuento en beneficio del comprador, &nbsp;</span><span class="c2 c8">costos de la visita de entrega de vivienda por parte de la caja de compensaci&oacute;n </span><span class="c0">cuando a ello haya lugar, certificados de libertad y tradici&oacute;n requeridos para los anteriores desembolsos y otros que se generen por la solicitud de cr&eacute;dito por parte de </span>
              <span
                class="c3">EL PROMITENTE COMPRADOR </span><span class="c0">ante cualquier entidad financiera y en general ante cualquier otra persona ser&aacute;n asumidos exclusivamente por </span><span class="c3">EL PROMITENTE COMPRADOR.</span></p>
    <p class="c1"><span class="c3">CAPITULO VI</span></p>
    <p class="c1"><span class="c3">GARANTIAS</span></p>
    <p class="c1 c29"><span class="c0 c5"></span></p>
    <p class="c19"><span class="c3">CLAUSULA D&Eacute;CIMA OCTAVA: </span><span class="c13 c8">GARANTIAS</span><span class="c2 c8 c20">:</span><span class="c0">&nbsp;A partir de la fecha de entrega del inmueble </span><span class="c3">LA</span><span class="c0">&nbsp;</span>
      <span
        class="c3">PROMITENTE VENDEDORA</span><span class="c0">&nbsp;da garant&iacute;a de calidad y funcionamiento por componentes as&iacute;: 1) Un a&ntilde;o para cerraduras, grifer&iacute;as de ba&ntilde;os, cocina y lavadero y carpinter&iacute;a de madera y ventaner&iacute;a;) instalaciones el&eacute;ctricas, comunicaciones, instalaciones hidr&aacute;ulicas de agua fr&iacute;a; impermeabilizaciones, cubiertas, humedades en muros e instalaci&oacute;n de pisos y enchapes</span>
        <span
          class="c2 c8 c17">.</span><span class="c0">&nbsp;</span><span class="c3">PAR&Aacute;GRAFO PRIMERO:</span><span class="c0">&nbsp;No se dar&aacute; garant&iacute;a sobre A) Pintura en: muros, carpinter&iacute;a met&aacute;lica y de madera, cielo raso y techos, pintura en general; B) Prados y jardiner&iacute;a, aseo y limpieza general; C) Rotura de vidrios, pisos y enchape desportillados; D) Desag&uuml;es interiores y exteriores, canales y bajantes; E) Cualquier deterioro o da&ntilde;o derivado de reformas ejecutadas por los adquirientes o los habitantes del inmueble. </span>
          <span
            class="c3">PARAGRAFO SEGUNDO</span><span class="c0">: En la Uni&oacute;n de pantallas de concreto con muros de mamposter&iacute;a y en las placas y pantallas por donde se instala las ducterias de instalaciones el&eacute;ctricas, comunicaciones y agua potable y gas por lo general se presentan dilataciones que al colocar los acabados deben tener en cuenta la orientaci&oacute;n que la constructora dar&aacute; en el acta de entrega. Despu&eacute;s de vencido los plazos aqu&iacute; estipulados </span>
            <span
              class="c3">LA PROMITENTE VENDEDORA</span><span class="c0 c5">&nbsp;no atender&aacute; ninguna clase de reclamos por garant&iacute;a.</span></p>
    <p class="c10"><span class="c0 c5"></span></p>
    <p class="c1"><span class="c3">CAPITULO VII</span></p>
    <p class="c1"><span class="c3">CLAUSULAS FINALES</span></p>
    <p class="c1 c29"><span class="c0 c5"></span></p>
    <p class="c19"><span class="c3">CLAUSULA D&Eacute;CIMA NOVENA: DECLARACI&Oacute;N DE ORIGEN DE FONDOS:</span><span class="c0">&nbsp;Para los efectos de la ley 190 de 1995 y dem&aacute;s normas complementarias y concordantes </span><span class="c3">EL PROMITENTE COMPRADOR</span>
      <span
        class="c0">&nbsp;declar&oacute; que los dineros y los recursos destinados al pago del precio derivada del negocio jur&iacute;dico que en este contrato se incorporan, provienen de sus actividades profesionales, esto excluye toda actividad il&iacute;cita contemplada
        en la legalizaci&oacute;n penal o en cualesquiera otras normas del ordenamiento Legal Colombiano. Como consecuencias de la anterior declaraci&oacute;n en caso de que ella no corresponda a la verdad, las partes acuerdan que se producir&aacute;
        la resoluci&oacute;n del contrato de pleno derecho y en consecuencia </span><span class="c3">PCG CONSTRUCTORA SAS</span><span class="c0">&nbsp;devolver&aacute; las sumas que correspondan, </span><span class="c2 c8">descontada la CLAUSULA PENAL</span>
        <span
          class="c0">, a </span><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">. </span><span class="c3">CLAUSULA VIGESIMA:</span><span class="c0">&nbsp;</span><span class="c13 c8">RESOLUCION DE CONFLITOS:</span><span class="c0">&nbsp;Las diferencias que llegaren a presentarse entre las partes en raz&oacute;n a &eacute;ste contrato, se resolver&aacute;n, por un tribunal de Arbitramiento convocado de acuerdo a las normas legales cuyo tr&aacute;mite se har&aacute; a trav&eacute;s del centro de conciliaci&oacute;n de arbitraje de la c&aacute;mara de comercio de Bucaramanga, siendo entendido que los &aacute;rbitros fallar&aacute;n en derecho. El tribunal de arbitramento se designar&aacute; en la forma indicada en el c&oacute;digo del comercio y se someter&aacute;n en todos a las normas que regulan la materia en dicho c&oacute;digo, o dado el caso a las normas vigentes al momento de presentarse la diferencia. </span>
          <span
            class="c3">VIG&Eacute;SIMA PRIMERA: DIRECCIONES:</span><span class="c0 c5">&nbsp;Para todos los efectos determinados en este contrato las partes se&ntilde;alan que la comunicaci&oacute;n y notificaci&oacute;n se efectuar&aacute; en las siguientes direcciones: </span></p>
    <p
      class="c19"><span class="c3">LA PARTE PROMITENTE VENDEDORA</span><span class="c0 c5">: Calle 30&ordf; No 30 - 18 Tel: 6322727</span></p>
      <p class="c19"><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0 c5">: </span></p>
      <p class="c19"><span class="c0 c5">DIRECCI&Oacute;N DE RESIDENCIA: carrera 4 A # 16-61. Barro Blanco. Piedecuesta</span></p>
      <p class="c19"><span class="c0 c5">TEL&Eacute;FONO: 654-0949</span></p>
      <p class="c19"><span class="c0 c5">CELULAR: 318-778-4101 // 317-840-1059</span></p>
      <p class="c19"><span class="c3">CLAUSULA VIG&Eacute;SIMA SEGUNDA: CLAUSULA PENAL</span><span class="c0">: El contratante que incumpliere alguna o varias cl&aacute;usulas aqu&iacute; consignadas, pagar&aacute; al contratante cumplido a t&iacute;tulo de multa o pena, la suma equivalente al diez por ciento (10%) del valor total de este contrato la cual podr&aacute; hacerse efectiva desde el d&iacute;a siguiente a su incumplimiento o infracci&oacute;n por la v&iacute;a ejecutiva, sin que haya lugar a requerimiento ni constituci&oacute;n en mora, as&iacute; mismo en caso de incumplimiento y para todos los casos de terminaci&oacute;n del contrato de pleno derecho, </span>
        <span
          class="c3">LA PROMITENTE VENDEDORA </span><span class="c0">podr&aacute; descontar de los dineros que haya recibido a cualquier t&iacute;tulo el valor de la cl&aacute;usula penal. </span><span class="c3">PARAGRAFO:</span><span class="c0">&nbsp;La devoluci&oacute;n del saldo y los dineros pagados a LA </span>
          <span
            class="c3">PROMITENTE VENDEDORA</span><span class="c0">&nbsp;como anticipos, arras y dem&aacute;s que haya cancelado </span><span class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;para efectos de perfeccionar este contrato y que resultaren a favor de </span>
            <span
              class="c3">EL PROMITENTE COMPRADOR</span><span class="c0">&nbsp;lo har&aacute; a </span><span class="c3">LA</span><span class="c0">&nbsp;</span><span class="c3">PROMITENTE VENDEDORA</span><span class="c0">&nbsp;en un plazo de sesenta (60) d&iacute;as h&aacute;biles contados a partir de la fecha en que se declare la promitente vendedora en incumplimiento o se exprese por parte de </span>
              <span
                class="c3">EL PROMITENTE COMPRADOR</span><span class="c0 c5">&nbsp;el desistimiento del contrato. </span></p>
      <p class="c10"><span class="c0 c5"></span></p>
      <p class="c19"><span class="c0 c5">Para constancia y en se&ntilde;al de aprobaci&oacute;n, se firman dos (2) ejemplares, documentos ambos del mismo tenor y validez y con destino a cada una de las partes, a los nueve (9) d&iacute;as del mes de diciembre del a&ntilde;o dos mil diecis&eacute;is (2016).</span></p>
      <p
        class="c10"><span class="c0 c5"></span></p>
        <p class="c19"><span class="c3">LA PROMITENTE VENDEDORA</span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c19"><span class="c3">PEDRO C. GOMEZ VEGA</span></p>
        <p class="c19"><span class="c3">CC. 13,824,677 Bucaramanga</span></p>
        <p class="c19"><span class="c3">REPRESENTANTE LEGAL</span></p>
        <p class="c19"><span class="c3">PCG CONSTRUCTORA SAS</span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c19"><span class="c3">EL PROMITENTE COMPRADOR</span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        {% for client in clients %}
        <p class="c19"><span class="c3">{{client.get_person_full_name|upper}}</span></p>
        <p class="c19"><span class="c3">CC. {{client.identity}} {{client.expedition_place}}.</span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        <p class="c10"><span class="c0 c5"></span></p>
        {% endfor %}
</body>

</html>
