.support {
  display: grid;
  grid-template-columns: 1fr 260px;
  height: 100%;

  &__main {
    padding: 2rem;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-column-gap: 2.5rem;

    .button {
      width: 140px;
    }
  }

  &-filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

    label {
      color: $cool-grey;
      margin-right: .4rem;
    }

    .input-field-select {
      width: 150px;
    }

    >div:nth-child(2) {
      .input-field-select {
       width: 180px;
      }
    }

    .input-field-select__control {
      background-color: $pale-grey;
      border-color: rgba($cool-grey, .1);
      border-radius: 2rem;
    }
  }

  &__filters-legend {
    color: $grey;
    font-size: .95rem;
    font-weight: 300;
    margin-top: 2rem;

    span {
      font-weight: 400;
    }
  }

  &__table {
    .table {
      tr.table__row {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr 2fr 1fr;
        padding: .4rem 0;

        td {
          justify-content: flex-start;
          text-align: left;
        }
      }
    }

    tr.table__row:first-child {
      padding-top: 0;
    }

    .table__head {
      tr.table__row {
        background-color: transparent;
        margin: .2rem 0;
        padding: 0;
        border-bottom: 1px solid rgba($border-color, .2);
        text-align: left;
      }
    }

    .table__body {
      tr.table__row {
        td:last-child {
          svg {
            display: none;
            cursor: pointer;
            margin: 0 auto;
          }
        }

        &:hover {
          td:last-child {
            svg {
              display: block;
            }
          }
        }
      }
    }

    .initials {
      margin-right: .4rem;
      height: 32px;
      line-height: 32px;
      font-size: .85rem;
      width: 32px;
    }

    &-applicant {
      text-align: left;
      line-height: 1.2rem;

      >div {
        font-weight: 500;
      }

      >span {
        color: $cool-grey;
      }
    }

    &-priority {
      .input-field-select {
        width: 110px;
      }

      .input-field-select__control {
        border-color: rgba($cool-grey, .2);
        border-radius: 2rem;
        height: 32px;
      }
    }
  }

  &-tickets {
    box-shadow: 0 0 15px $shadow-color;
    padding-top: 1.5rem;
  }

  &-tickets__header {
    margin-left: .6rem;
    background-color: $pale-grey;
    border-radius: 2rem;
    padding: .4rem;
    text-align: center;
    width: 120px;
  }

  &-tickets__list {
    margin-top: 1.5rem;
    ul {
      @extend %normalize-list;
    }
  }

  &-tickets__item {
    cursor: pointer;
    padding: 1.2rem .7rem 1.2rem 1.2rem;

    &:hover {
      background-color: $pale-grey;
    }
  }

  &-tickets__item--active {
    background-color: $pale-grey;
    color: $cool-blue;
  }
}

@import "../CreateTicket/index";
