{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Soporte al cliente - PCG Constructora</title>
  <link rel="stylesheet" href="{% static "css/landing-support.css" %}">
</head>

<body>

  <section class="LandingSupport">

    <header class="LandingSupport__header">
      <div class="LandingSupport__headerWrap">
        <div class="LandingSupport__headerLogo">Logo</div>
        <div class="LandingSupport__headerNav">
          <nav>
            <ul>
              <li><a href="">Inicio</a></li>
              <li><a href="">Preguntas frecuentes</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="LandingSupport__above">
      <div class="LandingSupport__aboveWrap">
        <h1>Soporte Sesamo</h1>
        <p>Empieza por escribir el tipo de tu necesidad</p>
        <div class="LandingSupport__aboveSearch">
          <input type="text" placeholder="Garantía"/>
          <button>BUSCAR</button>
        </div>
      </div>
    </div>

    <div class="LandingSupport__faq">
      <h2>Preguntas frecuentes</h2>
      <div class="LandingSupport__faqFilter">
        <label htmlFor="">Filtrar por: </label>
        <select name="" id="">
          <option value="">Todas</option>
        </select>
      </div>
      <div class="LandingSupport__faqContent">
        <div class="LandingSupport__faqContentItem">
          <h4>¿La garantía cubre cuanto tiempo?</h4>
          <p><span>Respuesta:</span> Con pcg encontrarás una aliada amiga que durante un año va a recibir tus problemas e intentamos solucionarlos en un tiempo muy corto</p>
        </div>
        <div class="LandingSupport__faqContentItem">
          <h4>¿La garantía cubre cuanto tiempo?</h4>
          <p><span>Respuesta:</span> Con pcg encontrarás una aliada amiga que durante un año va a recibir tus problemas e intentamos solucionarlos en un tiempo muy corto</p>
        </div>
        <div class="LandingSupport__faqContentItem">
          <h4>¿La garantía cubre cuanto tiempo?</h4>
          <p><span>Respuesta:</span> Con pcg encontrarás una aliada amiga que durante un año va a recibir tus problemas e intentamos solucionarlos en un tiempo muy corto</p>
        </div>
      </div>

      <h4> Ver más preguntas frecuentes </h4>

      <div class="LandingSupport__otherRequest">
        <h4> Tienes otra solicitud ¿Cuál es el problema?</h4>
        <p>Llena este formulario para que tu petición quede en nuestras manos y en un corto tiempo te responderemos por correo</p>

        <div class="LandingSupport__otherRequestInput">
          <input type="text" id="landingSupportIdentity" placeholder="C.C. Digita la cédula del propietario"/>
          <button id="landingSupportSearchOwner">BUSCAR</button>
        </div>
        <div id="landingSupportOwnerNoResults" class="LandingSupport__ownerNoResults">Número de documento no encontrado</div>
        <form id="landingSupportForm" class="LandingSupport__otherRequestForm">
          <h4>Completa el formulario</h4>
          <fieldset>
            <div class="LandingSupport__otherRequestFormGroup">
              <label htmlFor="">Propietaria:</label>
              <input id="landingSupportOwner" type="text" placeholder="Escribe tu nombre"/>
            </div>

            <div class="LandingSupport__otherRequestFormGroup">
              <label htmlFor="">Selecciona la torre:</label>
              <svg width="15px" height="8px" viewBox="494 194 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink">
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd" transform="translate(494.000000, 194.000000)">
                    <polygon id="Fill-1" fill="#A0ACB6" points="3.231 1.3488 1.901 2.6348 8.953 9.4568 16.005 2.6348 14.675 1.3488 8.953 6.8828"></polygon>
                    <polygon id="Fill-2" fill="#A0ACB6" points="8.9538 6.8836 3.2318 1.3476 1.9018 2.6356 8.9538 9.4556 16.0038 2.6356 14.6758 1.3476"></polygon>
                    <polygon id="Fill-3" fill="#A0ACB6" points="8.9538 6.8836 3.2318 1.3476 1.9018 2.6356 8.9538 9.4556 16.0038 2.6356 14.6758 1.3476"></polygon>
                </g>
              </svg>

              <select name="ticket_unity" id="landingSupportTower">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="3">3</option>
              </select>

            </div>

            <div class="LandingSupport__otherRequestFormGroup">
              <label htmlFor="">No. Apartamento:</label>
              <input id="landingSupportApto" type="text" placeholder="Escribe el número del apartamento"/>
            </div>

            <div class="LandingSupport__otherRequestFormGroup">
              <label htmlFor="">Tipo de solicitud:</label>
              <svg width="15px" height="8px" viewBox="494 194 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink">
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd" transform="translate(494.000000, 194.000000)">
                    <polygon id="Fill-1" fill="#A0ACB6" points="3.231 1.3488 1.901 2.6348 8.953 9.4568 16.005 2.6348 14.675 1.3488 8.953 6.8828"></polygon>
                    <polygon id="Fill-2" fill="#A0ACB6" points="8.9538 6.8836 3.2318 1.3476 1.9018 2.6356 8.9538 9.4556 16.0038 2.6356 14.6758 1.3476"></polygon>
                    <polygon id="Fill-3" fill="#A0ACB6" points="8.9538 6.8836 3.2318 1.3476 1.9018 2.6356 8.9538 9.4556 16.0038 2.6356 14.6758 1.3476"></polygon>
                </g>
              </svg>
              <select name="ticket_type" id="landingSupportType">
                <option value="">Seleccione el tipo de solicitud</option>
              </select>
            </div>

            <div class="LandingSupport__otherRequestFormGroup">
              <label htmlFor="">Prioridad:</label>
              <svg width="15px" height="8px" viewBox="494 194 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink">
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd" transform="translate(494.000000, 194.000000)">
                    <polygon id="Fill-1" fill="#A0ACB6" points="3.231 1.3488 1.901 2.6348 8.953 9.4568 16.005 2.6348 14.675 1.3488 8.953 6.8828"></polygon>
                    <polygon id="Fill-2" fill="#A0ACB6" points="8.9538 6.8836 3.2318 1.3476 1.9018 2.6356 8.9538 9.4556 16.0038 2.6356 14.6758 1.3476"></polygon>
                    <polygon id="Fill-3" fill="#A0ACB6" points="8.9538 6.8836 3.2318 1.3476 1.9018 2.6356 8.9538 9.4556 16.0038 2.6356 14.6758 1.3476"></polygon>
                </g>
              </svg>
              <select name="ticket_type" id="landingSupportPriority">
                <option value="">Normal</option>
              </select>
            </div>

            <div class="LandingSupport__otherRequestFormGroup">
              <label htmlFor="">Título:</label>
              <input id="landingSupportTitle" type="text" placeholder="Agrega un título a tu problema o solicitud"/>
            </div>

            <div class="LandingSupport__otherRequestFormGroup LandingSupport__description">
              <label htmlFor="">Descripción:</label>
              <textarea name="" id="landingSupportDescription" cols="30" rows="10" placeholder="agregar una descripción de tu problema"></textarea>
              <div class="LandingSupport__otherRequestFormFile">
                <input id="landingSupportFile" type="file"/>
              </div>
            </div>
            <div class="LandingSupport__otherRequestFormButton">
              <button id="landingSupportSend">ENVIAR</button>
            </div>
          </fieldset>
        </form>
        <div id="landingSupportAptoNoResults" class="LandingSupport__AptoNoResults">
          Propiedad no encontrada
        </div>
      </div>

    </div>

    <footer class="LandingSupport__footer">
      <div class="LandingSupport__footerWrap">
        <span>Logo</span>
        <div>© Sesamo.com 2017. Estamos  para organizar tu constructora.</div>
      </div>
    </footer>

  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="{% static "js/landing-support.js" %}"></script>


  <!-- <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.5'><\/script>".replace("HOST", location.hostname));
//]]></script> -->

</body>
</html>
