.ticket-detail {
  display: grid;
  grid-template-columns: 1fr 270px;
  height: 100%;

  &__header {
    border-bottom: 1px solid $border-color;
  }

  &__ticket-close {
    padding: 1rem;
    position: relative;
    border-right: 1px solid $border-color;
    width: 145px;

    i {
      cursor: pointer;
      font-size: .8rem;
      position: absolute;
      top: .35rem;
      right: .35rem;
    }
  }

  &__ticket-info-list {
    padding: 0 3rem;
    margin-top: 1.5rem;
  }

  &__ticket-info {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 1rem;

    p {
      font-weight: 300;
      margin: 0;
    }

    &:first-child {
      p {
        font-size: 1.05rem;
        font-weight: 400;
      }
    }

    a {
      max-width: 300px;
    }
  }

  &__tab {
    margin-top: 2rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__tab-item {
    cursor: pointer;
    padding: .7rem 3rem;
    position: relative;

    span {
      background-color: $border-color;
      top: .65rem;
      right: 0;
      position: absolute;
      height: 20px;
      width: 1px;
    }

    svg {
      margin-right: .3rem;
    }

    &:hover {
      color: $cool-blue;
    }
  }

  &__tab-item--active {
    border-bottom: 1px solid $cool-blue;
    color: $cool-blue;

    svg {
      g {
        fill: $cool-blue;
      }
    }
  }

  &__list {
    padding: 0 3rem;
    margin-top: 2rem;
  }
}

.ticket-detail-sidebar {
  border-left: 1px solid $border-color;
}

@import './components/Card/index';
@import './components/Write/index';
@import './components/Sidebar/index';
