@font-face {
font-family: 'Brandon_medium';
src: url("/static/css/fonts/Brandon_med.otf") format("opentype");
font-weight: 400;
}

@font-face {
font-family: 'Brandon_light';
src: url("/static/css/fonts/Brandon_light.otf") format("opentype");
font-weight: lighter;
}

@font-face {
font-family: 'Brandon';
src: url("/static/css/fonts/Brandon_bld.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: 'Brandon';
src: url("/static/css/fonts/Brandon_reg.otf") format("opentype");
font-weight: normal;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-size: 16px;
  font-family: sans-serif; /* 1 */
  box-sizing: border-box;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Brandon' !important;
  position: relative;
  font-weight: 300;
  overflow-x: hidden;
  color: $color-text-primary;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

input[type="text"]{
  border: 1px solid #e5e5e5;
}

.LandingSupport__above {
    background: url("/static/img/landing-soporte-bg.png") no-repeat;
    background-size: 100vw 350px;
    width: 100vw;
    height: 350px
}

@media only screen and (min-width:768px) {
    .LandingSupport__above {
        background-size: 100vw 600px;
        height: 600px
    }
}

.LandingSupport__header {
    position: absolute;
    width: 100%
}

@media only screen and (min-width:768px) {
    .LandingSupport__header {
        padding-top: 20px
    }
}

.LandingSupport__headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0
}

@media only screen and (min-width:768px) {
    .LandingSupport__headerWrap {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0
    }
}

.LandingSupport__headerNav {
    border-bottom: 1px solid hsla(0, 0%, 100%, .2)
}

@media only screen and (min-width:768px) {
    .LandingSupport__headerNav {
        width: 70%;
        width: 280px
    }
}

.LandingSupport__headerNav nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between
}

.LandingSupport__headerNav nav ul li {
    list-style: none
}

.LandingSupport__headerNav nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 0 20px
}

.LandingSupport__headerNav nav ul li a:hover {
    border-bottom: 1px solid #fff
}

.LandingSupport__aboveWrap {
    position: relative;
    margin: 0 auto;
    top: 30%;
    width: 80%;
    color: #fff;
    text-align: center
}

.LandingSupport__aboveWrap h1 {
    margin: 0
}

@media only screen and (min-width:768px) {
    .LandingSupport__aboveWrap h1 {
        font-size: 5em;
        font-weight: lighter
    }
}

.LandingSupport__aboveWrap p {
    font-weight: lighter
}

@media only screen and (min-width:768px) {
    .LandingSupport__aboveWrap p {
        font-size: 1.6em
    }
}

.LandingSupport__aboveSearch input {
    box-sizing: border-box;
    width: 220px;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    color: #d5d5d5;
    outline: none
}

@media only screen and (min-width:768px) {
    .LandingSupport__aboveSearch input {
        height: 40px;
        width: 520px
    }
}

.LandingSupport__aboveSearch button {
    height: 30px;
    width: 90px;
    background: #039be5;
    border: 0;
    border-radius: 20px;
    margin-left: -30px;
    font-size: .85em
}

@media only screen and (min-width:768px) {
    .LandingSupport__aboveSearch button {
        width: 160px;
        margin-left: -60px;
        height: 45px
    }
}

.LandingSupport__faq {
    width: 90%;
    margin: 0 auto
}

@media only screen and (min-width:768px) {
    .LandingSupport__faq {
        width: 60%
    }
}

.LandingSupport__faq>h2 {
    text-align: center;
    color: #039be5
}

@media only screen and (min-width:768px) {
    .LandingSupport__faq>h2 {
        margin: 50px 0
    }
}

.LandingSupport__faq>h4 {
    margin: 50px auto;
    width: 250px;
    color: #165891;
    border-bottom: 1px solid #165891;
    text-align: center
}

@media only screen and (min-width:768px) {
    .LandingSupport__faq>h4 {
        width: 300px;
        font-size: 1.4em
    }
}

.LandingSupport__faqFilter label {
    color: #4a4851;
    font-size: 1.2em;
    margin-right: 20px
}

.LandingSupport__faqFilter select {
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    border: 2px solid #f5f2f2;
    box-shadow: 0 1px 4px 0 hsla(0, 0%, 88%, .5);
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;
}

@media only screen and (min-width:768px) {
    .LandingSupport__faqFilter select {
        width: 280px
    }
}

.LandingSupport__faqContentItem>h4 {
    color: #039be5
}

@media only screen and (min-width:768px) {
    .LandingSupport__faqContentItem>h4 {
        font-size: 1.4em
    }
}

@media only screen and (min-width:768px) {
    .LandingSupport__faqContentItem>p {
        font-size: 1.3em
    }
    .LandingSupport__faqContentItem>p span {
        color: #403e46
    }
}

.LandingSupport__otherRequest>h4 {
    font-size: 1.15em;
    text-align: center;
    color: #039be5
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequest>h4 {
        font-size: 1.6em
    }
}

.LandingSupport__otherRequest>p {
    text-align: center
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequest>p {
        font-size: 1.4em
    }
}

.LandingSupport__otherRequestInput {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestInput {
        width: 450px;
        text-align: left
    }
}

.LandingSupport__otherRequestInput>input {
    height: 40px;
    width: 80%;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 88%, .5);
    border: 2px solid #f5f2f2
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestInput>input {
        width: 300px
    }
}

.LandingSupport__otherRequestInput>button {
    height: 40px;
    width: 100px;
    background: #039be5;
    border-radius: 20px;
    border: 0;
    color: #fff;
    margin: 10px 0
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestInput>button {
        margin: 0;
        margin-left: -30px
    }
}

.LandingSupport__otherRequestForm {
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 85%, .5);
    border: 1px solid #f5f2f2;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
    /*display: none;*/
}

.LandingSupport__otherRequestForm h4 {
    text-align: center;
    color: #039be5;
    font-size: 1.3em
}

.LandingSupport__otherRequestForm>fieldset {
    border: 0
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestForm>fieldset {
        width: 70%;
        margin: 0 auto
    }
}

.LandingSupport__otherRequestForm input[type=text] {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding-left: 15px;
    box-sizing: border-box
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestForm input[type=text] {
        height: 37px;
        width: 350px
    }
}

.LandingSupport__otherRequestForm select {
    -webkit-appearance: none;
    height: 30px;
    width: 200px;
    background: #fff;
    border: 1px solid #f5f2f2;
    padding-left: 15px;
    cursor: pointer
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestForm select {
        height: 40px;
        width: 350px
    }
}

.LandingSupport__otherRequestForm textarea {
    box-sizing: border-box;
    padding-left: 15px;
    width: 200px;
    border: 1px solid #e0e0e5
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestForm textarea {
        width: 350px
    }
}

.LandingSupport__otherRequestFormGroup {
    margin: 20px 0;
    display: flex;
    position: relative;
}

.LandingSupport__otherRequestFormGroup label {
    margin-right: 20px;
    width: 100px!important
}

.LandingSupport__otherRequestFormGroup svg {
  position: absolute;
  right: 100px;
  top: 15px;
}

.LandingSupport__description {
    width: 470px
}

.LandingSupport__otherRequestFormFile {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 40px;
    border: 1px solid #e0e0e5;
    bottom: 0;
    background: #fff
}

@media only screen and (min-width:768px) {
    .LandingSupport__otherRequestFormFile {
        width: 350px;
        padding: 0 5px;
        right: 0
    }
}

.LandingSupport__otherRequestFormButton {
    width: 100%;
    text-align: center
}

.LandingSupport__otherRequestFormButton button {
    background: #039be5;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    color: #fff
}

.LandingSupport__ownerNoResults{
  text-align: center;
  display: none;
}

.LandingSupport__AptoNoResults{
  text-align: center;
  display: none;
}

.LandingSupport__footer {
    height: 180px;
    border: 1px solid #e0e0e5;
    display: flex;
    justify-content: center;
    align-items: center
}

.LandingSupport__footerWrap {
    width: 90%;
    display: flex
}

.LandingSupport__footerWrap>span {
    width: 70px
}

.LandingSupport__footerWrap>div {
    width: 250px
}
