@media print{
	body{background:#fff!important}
	blockquote,img,pre,tr{page-break-inside:avoid}
	*,::after,::before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important}
	a,a:visited{text-decoration:underline}
	abbr[title]::after{content:" (" attr(title) ")"}
	blockquote,pre{border:1px solid #999}
	thead{display:table-header-group}
	img{max-width:100%!important}
	h2,h3,p{orphans:3;widows:3}
	h2,h3{page-break-after:avoid}

	.navbar{display:none}
	.btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}
	.label{border:1px solid #000}
	.table{border-collapse:collapse!important}
	.table td,.table th{background-color:#fff!important}
	.table-bordered td,.table-bordered th{border:1px solid #ddd!important}

	.visible-print-block{display:block!important}
	.visible-print-inline{display:inline!important}
	.visible-print-inline-block{display:inline-block!important}
	.hidden-print{display:none!important}

	.side-menu,.site-header{display:none}
	.page-content{padding:15px 0}
	.dark-theme .page-content{padding-top:15px}
	.with-side-menu .page-content{padding-left:255px;margin-left:-255px}
	.with-side-menu-compact .page-content{padding-left:115px;margin-left:-115px}
	.with-side-menu-addl .page-content{padding-left:335px;margin-left:-335px}
	.box-typical{padding:0!important;border:none!important}
	.row>div{width:100%!important;float:none!important;margin:0!important}
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	input[type=date].form-control,input[type=time].form-control,input[type=datetime-local].form-control,input[type=month].form-control{line-height:2.25rem}
	.input-group-sm input[type=date].form-control,.input-group-sm input[type=time].form-control,.input-group-sm input[type=datetime-local].form-control,.input-group-sm input[type=month].form-control,input[type=date].input-sm,input[type=time].input-sm,input[type=datetime-local].input-sm,input[type=month].input-sm{line-height:1.8625rem}
	.input-group-lg input[type=date].form-control,.input-group-lg input[type=time].form-control,.input-group-lg input[type=datetime-local].form-control,.input-group-lg input[type=month].form-control,input[type=date].input-lg,input[type=time].input-lg,input[type=datetime-local].input-lg,input[type=month].input-lg{line-height:3.166667rem}
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
	#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../img/fancybox_sprite@2x.png);background-size:44px 152px}
	#fancybox-loading div{background-image:url(../img/fancybox_loading@2x.gif);background-size:24px 24px}
}

@media screen and (min-width:0){
	.progress{background-color:#eee;-webkit-border-radius:.25rem;border-radius:.25rem}
	.progress-bar{display:inline-block;height:1rem;text-indent:-999rem;background-color:#0074d9;-webkit-border-top-left-radius:.25rem;border-top-left-radius:.25rem;-webkit-border-bottom-left-radius:.25rem;border-bottom-left-radius:.25rem}
	.progress[width^="0"]{min-width:2rem;color:#818a91;background-color:transparent;background-image:none}
	.progress[width="100%"]{-webkit-border-top-right-radius:.25rem;border-top-right-radius:.25rem;-webkit-border-bottom-right-radius:.25rem;border-bottom-right-radius:.25rem}

	.progress-bar-striped{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size:1rem 1rem}
	.progress-animated .progress-bar-striped{-webkit-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite}
	.progress-success .progress-bar{background-color:#5cb85c}
	.progress-info .progress-bar{background-color:#5bc0de}
	.progress-warning .progress-bar{background-color:#f0ad4e}
	.progress-danger .progress-bar{background-color:#d9534f}

	.fileinput-button input{filter:alpha(opacity=0);font-size:100%;height:100%}

	.progress-success .progress-bar{background-color:#46c35f}
	.progress-info .progress-bar{background-color:#ac6bec}

	.progress-warning .progress-bar{background-color:#f29824}
	.progress-danger .progress-bar{background-color:#fa424a}
	.progress-aquamarine .progress-bar{background-color:#21a788}

}

@media all and (transform-3d),(-webkit-transform-3d){
	.carousel-inner>.carousel-item{-webkit-transition:-webkit-transform .6s ease-in-out;-o-transition:transform .6s ease-in-out,-o-transform .6s ease-in-out;transition:-webkit-transform .6s ease-in-out;transition:transform .6s ease-in-out;transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out,-o-transform .6s ease-in-out;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}
	.carousel-inner>.carousel-item.active.right,.carousel-inner>.carousel-item.next{left:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
	.carousel-inner>.carousel-item.active.left,.carousel-inner>.carousel-item.prev{left:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
	.carousel-inner>.carousel-item.active,.carousel-inner>.carousel-item.next.left,.carousel-inner>.carousel-item.prev.right{left:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}

@media (max-width:480px){
	.gd-doc-col{width:33.333333%}
}

@media (max-width:380px){
	.gd-doc-col{width:50%}
}

@media (max-width:321px){
	.gd-doc-col{width:100%}
}

@media (max-width:543px){
	.hidden-xs-down{display:none!important}
	.uploading-container .uploading-container-left,.uploading-container .uploading-container-right{float:none;width:auto;margin:0}
	.uploading-container .uploading-container-right-in{margin:0}
	.uploading-container .drop-zone{width:auto;margin:0 0 1rem}
	.modal-dialog:not(.modal-sm):not(.modal-lg){width:auto}

	.upload-gd-header{display:block;margin-bottom:15px}
	.upload-gd-header .tbl-cell,.upload-gd-header .tbl-row{display:block}
	.upload-gd-header .tbl-cell{padding:15px 15px 0}

	.with-side-menu .page-content{padding-left:1% !important;}
	.with-side-menu .page-content.table{padding-left:1% !important;padding-top: 16%;}
	.hamburger{display:block !important;}
}

@media (min-width:544px) and (max-width:767px){
	.hidden-sm-down{display:none!important}
	.container{max-width:576px}
	.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
	.col-sm-1{width:8.333333%}
	.col-sm-2{width:16.666667%}
	.col-sm-3{width:25%}
	.col-sm-4{width:33.333333%}
	.col-sm-5{width:41.666667%}
	.col-sm-6{width:50%}
	.col-sm-7{width:58.333333%}
	.col-sm-8{width:66.666667%}
	.col-sm-9{width:75%}
	.col-sm-10{width:83.333333%}
	.col-sm-11{width:91.666667%}
	.col-sm-12{width:100%}
	.col-sm-pull-0{right:auto}
	.col-sm-pull-1{right:8.333333%}
	.col-sm-pull-2{right:16.666667%}
	.col-sm-pull-3{right:25%}
	.col-sm-pull-4{right:33.333333%}
	.col-sm-pull-5{right:41.666667%}
	.col-sm-pull-6{right:50%}
	.col-sm-pull-7{right:58.333333%}
	.col-sm-pull-8{right:66.666667%}
	.col-sm-pull-9{right:75%}
	.col-sm-pull-10{right:83.333333%}
	.col-sm-pull-11{right:91.666667%}
	.col-sm-pull-12{right:100%}
	.col-sm-push-0{left:auto}
	.col-sm-push-1{left:8.333333%}
	.col-sm-push-2{left:16.666667%}
	.col-sm-push-3{left:25%}
	.col-sm-push-4{left:33.333333%}
	.col-sm-push-5{left:41.666667%}
	.col-sm-push-6{left:50%}
	.col-sm-push-7{left:58.333333%}
	.col-sm-push-8{left:66.666667%}
	.col-sm-push-9{left:75%}
	.col-sm-push-10{left:83.333333%}
	.col-sm-push-11{left:91.666667%}
	.col-sm-push-12{left:100%}
	.col-sm-offset-0{margin-left:0}
	.col-sm-offset-1{margin-left:8.333333%}
	.col-sm-offset-2{margin-left:16.666667%}
	.col-sm-offset-3{margin-left:25%}
	.col-sm-offset-4{margin-left:33.333333%}
	.col-sm-offset-5{margin-left:41.666667%}
	.col-sm-offset-6{margin-left:50%}
	.col-sm-offset-7{margin-left:58.333333%}
	.col-sm-offset-8{margin-left:66.666667%}
	.col-sm-offset-9{margin-left:75%}
	.col-sm-offset-10{margin-left:83.333333%}
	.col-sm-offset-11{margin-left:91.666667%}
	.col-sm-offset-12{margin-left:100%}

	.form-inline .form-control-static,.form-inline .form-group{display:inline-block}
	.form-inline .form-control-label,.form-inline .form-group{margin-bottom:0;vertical-align:middle}
	.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle}
	.form-inline .input-group{display:inline-table;vertical-align:middle}
	.form-inline .input-group .form-control,.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn{width:auto}
	.form-inline .input-group>.form-control{width:100%}
	.form-inline .checkbox,.form-inline .radio{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}
	.form-inline .checkbox label,.form-inline .radio label{padding-left:0}
	.form-inline .checkbox input[type=checkbox],.form-inline .radio input[type=radio]{position:relative;margin-left:0}
	.form-inline .has-feedback .form-control-feedback{top:0}

	.navbar{-webkit-border-radius:.25rem;border-radius:.25rem}
	.navbar-fixed-bottom,.navbar-fixed-top,.navbar-full,.navbar-sticky-top{-webkit-border-radius:0;border-radius:0}

	.navbar-toggleable-xs{display:block!important}

	.card-deck{display:table;table-layout:fixed;border-spacing:1.25rem 0}
	.card-deck .card{display:table-cell;width:1%;vertical-align:top}
	.card-deck-wrapper{margin-right:-1.25rem;margin-left:-1.25rem}
	.card-group{display:table;width:100%;table-layout:fixed}
	.card-group .card{display:table-cell;vertical-align:top}
	.card-group .card+.card{margin-left:0;border-left:0}
	.card-group .card:first-child{-webkit-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
	.card-group .card:first-child .card-img-top{-webkit-border-top-right-radius:0;border-top-right-radius:0}
	.card-group .card:first-child .card-img-bottom{-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
	.card-group .card:last-child{-webkit-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}
	.card-group .card:last-child .card-img-top{-webkit-border-top-left-radius:0;border-top-left-radius:0}
	.card-group .card:last-child .card-img-bottom{-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}
	.card-group .card:not(:first-child):not(:last-child),.card-group .card:not(:first-child):not(:last-child) .card-img-bottom,.card-group .card:not(:first-child):not(:last-child) .card-img-top{-webkit-border-radius:0;border-radius:0}
	.card-columns{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:1.25rem;-moz-column-gap:1.25rem;column-gap:1.25rem}
	.card-columns .card{display:inline-block;width:100%}

	.jumbotron{padding:4rem 2rem;}
	.modal-dialog{width:600px;margin:30px auto}
	.modal-sm{width:300px}

	.carousel-control .icon-next,.carousel-control .icon-prev{width:30px;height:30px;margin-top:-15px;font-size:30px}
	.carousel-control .icon-prev{margin-left:-15px}
	.carousel-control .icon-next{margin-right:-15px}
	.carousel-caption{right:20%;left:20%;padding-bottom:30px}
	.carousel-indicators{bottom:20px}

	.pull-sm-left{float:left!important}
	.pull-sm-right{float:right!important}
	.pull-sm-none{float:none!important}

	.text-sm-left{text-align:left!important}
	.text-sm-right{text-align:right!important}
	.text-sm-center{text-align:center!important}
	.hidden-sm-up{display:none!important}

	.daterangepicker .calendar,.daterangepicker .ranges,.daterangepicker.single .calendar,.daterangepicker.single .ranges{float:left}
	.daterangepicker{width:auto}
	.daterangepicker .ranges ul{width:160px}
	.daterangepicker.single .ranges ul{width:100%}
	.daterangepicker.single .calendar.left{clear:none}
	.daterangepicker .calendar.left{clear:left;margin-right:0}
	.daterangepicker .calendar.left .calendar-table{border-right:none;-webkit-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
	.daterangepicker .calendar.right{margin-left:0}
	.daterangepicker .calendar.right .calendar-table{border-left:none;-webkit-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}
	.daterangepicker .calendar.left .calendar-table,.daterangepicker .left .daterangepicker_input{padding-right:12px}

	.files .btn span,.files .toggle,.fileupload-buttonbar .toggle{display:none}
	.files .name{width:80px;word-wrap:break-word}
	.files audio,.files video{max-width:80px}
	.files canvas,.files img{max-width:100%}

	.bootstrap-table .fixed-table-toolbar .search{width:130px}

	.modal-dialog:not(.modal-sm):not(.modal-lg){width:500px}

	.modal-upload:not(.menu-bottom) .modal-upload-cont,.modal-upload:not(.menu-bottom) .modal-upload-side{float:none;width:auto;margin:0}
	.modal-upload:not(.menu-bottom) .modal-upload-cont-in{margin:0;border-left:none}
	.modal-upload:not(.menu-bottom) .modal-upload-side{border-top:solid 1px #d8e2e7;text-align:center}
	.modal-upload:not(.menu-bottom) .modal-upload-side .upload-list li{display:inline-block;margin:0 5px}
	.modal-upload:not(.menu-bottom) .modal-upload-side .upload-list a span{display:none}

	.section-header,.section-header .tbl-cell,.section-header .tbl-row{display:block}
	.section-header .tbl-cell{padding-bottom:10px}
	.section-header .tbl-cell-action{white-space:nowrap;padding-left:0}

	.site-header .site-logo img{height:auto;width:35px;top:6px}
	/*.site-header .site-header-content{margin-left:-80px}*/
	.site-header .site-header-content .site-header-content-in{margin-left:80px}

	.site-header .burger-right{margin-left:7px}
	.site-header .dropdown.dropdown-notification.messages{margin-left:8px}
	.site-header .dropdown.dropdown-lang .dropdown-toggle{width:42px}
	.site-header .dropdown.dropdown-lang .dropdown-menu{margin-right:-52px}
	.site-header .user-menu.dropdown{margin-left:12px}
	.site-header .dropdown-menu-notif{margin-right:-172px}
	.site-header .dropdown-menu-messages{margin-right:-134px}

	.with-side-menu-compact.dark-theme .site-header .site-header-content{margin-left:-110px}
	.with-side-menu-compact.dark-theme .site-header .site-header-content .site-header-content-in{margin-left:110px}

	.dark-theme .site-header .site-header-content{margin-left:-130px}
	.dark-theme .site-header .site-header-content .site-header-content-in{margin-left:130px}

	.with-side-menu .page-content{padding-left:1% !important;}
	.hamburger{display:block !important;}
}

@media (min-width:768px) and (max-width:991px){
	.hidden-md-down{display:none!important}
	.container{max-width:720px}
	.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
	.col-md-1{width:8.333333%}
	.col-md-2{width:16.666667%}
	.col-md-3{width:25%}
	.col-md-4{width:33.333333%}
	.col-md-5{width:41.666667%}
	.col-md-6{width:50%}
	.col-md-7{width:58.333333%}
	.col-md-8{width:66.666667%}
	.col-md-9{width:75%}
	.col-md-10{width:83.333333%}
	.col-md-11{width:91.666667%}
	.col-md-12{width:100%}
	.col-md-pull-0{right:auto}
	.col-md-pull-1{right:8.333333%}
	.col-md-pull-2{right:16.666667%}
	.col-md-pull-3{right:25%}
	.col-md-pull-4{right:33.333333%}
	.col-md-pull-5{right:41.666667%}
	.col-md-pull-6{right:50%}
	.col-md-pull-7{right:58.333333%}
	.col-md-pull-8{right:66.666667%}
	.col-md-pull-9{right:75%}
	.col-md-pull-10{right:83.333333%}
	.col-md-pull-11{right:91.666667%}
	.col-md-pull-12{right:100%}
	.col-md-push-0{left:auto}
	.col-md-push-1{left:8.333333%}
	.col-md-push-2{left:16.666667%}
	.col-md-push-3{left:25%}
	.col-md-push-4{left:33.333333%}
	.col-md-push-5{left:41.666667%}
	.col-md-push-6{left:50%}
	.col-md-push-7{left:58.333333%}
	.col-md-push-8{left:66.666667%}
	.col-md-push-9{left:75%}
	.col-md-push-10{left:83.333333%}
	.col-md-push-11{left:91.666667%}
	.col-md-push-12{left:100%}
	.col-md-offset-0{margin-left:0}
	.col-md-offset-1{margin-left:8.333333%}
	.col-md-offset-2{margin-left:16.666667%}
	.col-md-offset-3{margin-left:25%}
	.col-md-offset-4{margin-left:33.333333%}
	.col-md-offset-5{margin-left:41.666667%}
	.col-md-offset-6{margin-left:50%}
	.col-md-offset-7{margin-left:58.333333%}
	.col-md-offset-8{margin-left:66.666667%}
	.col-md-offset-9{margin-left:75%}
	.col-md-offset-10{margin-left:83.333333%}
	.col-md-offset-11{margin-left:91.666667%}
	.col-md-offset-12{margin-left:100%}

	.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
	.col-sm-1{width:8.333333%}
	.col-sm-2{width:16.666667%}
	.col-sm-3{width:25%}
	.col-sm-4{width:33.333333%}
	.col-sm-5{width:41.666667%}
	.col-sm-6{width:50%}
	.col-sm-7{width:58.333333%}
	.col-sm-8{width:66.666667%}
	.col-sm-9{width:75%}
	.col-sm-10{width:83.333333%}
	.col-sm-11{width:91.666667%}
	.col-sm-12{width:100%}
	.col-sm-pull-0{right:auto}
	.col-sm-pull-1{right:8.333333%}
	.col-sm-pull-2{right:16.666667%}
	.col-sm-pull-3{right:25%}
	.col-sm-pull-4{right:33.333333%}
	.col-sm-pull-5{right:41.666667%}
	.col-sm-pull-6{right:50%}
	.col-sm-pull-7{right:58.333333%}
	.col-sm-pull-8{right:66.666667%}
	.col-sm-pull-9{right:75%}
	.col-sm-pull-10{right:83.333333%}
	.col-sm-pull-11{right:91.666667%}
	.col-sm-pull-12{right:100%}
	.col-sm-push-0{left:auto}
	.col-sm-push-1{left:8.333333%}
	.col-sm-push-2{left:16.666667%}
	.col-sm-push-3{left:25%}
	.col-sm-push-4{left:33.333333%}
	.col-sm-push-5{left:41.666667%}
	.col-sm-push-6{left:50%}
	.col-sm-push-7{left:58.333333%}
	.col-sm-push-8{left:66.666667%}
	.col-sm-push-9{left:75%}
	.col-sm-push-10{left:83.333333%}
	.col-sm-push-11{left:91.666667%}
	.col-sm-push-12{left:100%}
	.col-sm-offset-0{margin-left:0}
	.col-sm-offset-1{margin-left:8.333333%}
	.col-sm-offset-2{margin-left:16.666667%}
	.col-sm-offset-3{margin-left:25%}
	.col-sm-offset-4{margin-left:33.333333%}
	.col-sm-offset-5{margin-left:41.666667%}
	.col-sm-offset-6{margin-left:50%}
	.col-sm-offset-7{margin-left:58.333333%}
	.col-sm-offset-8{margin-left:66.666667%}
	.col-sm-offset-9{margin-left:75%}
	.col-sm-offset-10{margin-left:83.333333%}
	.col-sm-offset-11{margin-left:91.666667%}
	.col-sm-offset-12{margin-left:100%}

	.navbar-toggleable-sm{display:block!important}

	.modal-lg{width:900px}

	.pull-md-left{float:left!important}
	.pull-md-right{float:right!important}
	.pull-md-none{float:none!important}

	.text-md-left{text-align:left!important}
	.text-md-right{text-align:right!important}
	.text-md-center{text-align:center!important}
	.hidden-md-up{display:none!important}

	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}
	.daterangepicker .ranges{width:auto;float:left}
	.daterangepicker .calendar.left{clear:none}

	.with-side-menu .page-content{padding-left:0;padding-right:0}
	.with-side-menu-compact .page-content{padding-left:0;padding-right:0}
	.with-side-menu-addl-full .page-content{padding-left:0;padding-right:0}

	.circle-progress-bar{left:50%!important;margin-left:-28px!important}

	.page-content-header:after,.page-content-header:before{display:none}

	.horizontal-navigation .page-content{padding-top:112px}
	.horizontal-navigation .main-nav{left:-240px;height:100%;width:240px;padding:0}
	.horizontal-navigation .main-nav .nav-item{display:block;margin-left:0}
	.horizontal-navigation .main-nav .nav-link{display:block;padding-left:20px;padding-right:20px;line-height:46px}
	.horizontal-navigation .main-nav .nav-link.active:before,.horizontal-navigation .main-nav .nav-link:hover:before{content:'';width:4px;background:#00A8FF;position:absolute;left:0;top:0;bottom:1px;height:100%;display:block}
	.horizontal-navigation.menu-left-opened .main-nav{-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;z-index:60;left:0}
	.horizontal-navigation.menu-left-opened .mobile-menu-left-overlay{display:block}

	.site-header{padding-right:0}
	.site-header .help-dropdown,.site-header .site-logo-text{display:none}
	.site-header .burger-right{display:block}
	.site-header .site-header-collapsed{position:fixed;right:-270px;top:0;z-index:90;height:100%;width:270px;background:#fff;border-left:solid 1px #c5d6de;padding:15px;overflow:auto;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;float:none;margin:0}
	.site-header .site-header-collapsed .site-header-collapsed-in{margin:0}
	.site-header .site-header-collapsed .site-header-search.closed{width:100%;border-color:#c5d6de}
	.site-header .site-header-collapsed .site-header-search.closed .overlay{display:none}
	.site-header .site-header-collapsed .site-header-search.closed input[type=text]{opacity:1}
	.site-header .site-header-collapsed .site-header-search.closed:hover button{color:#c5d6de}
	.site-header .site-header-collapsed .site-header-search-container{width:100%;padding:10px 0;float:none}
	.site-header .site-header-collapsed .dropdown{float:none;margin:0;zoom:1}
	.site-header .site-header-collapsed .dropdown:after,.site-header .site-header-collapsed .dropdown:before{content:" ";display:table}
	.site-header .site-header-collapsed .dropdown:after{clear:both}
	.site-header .site-header-collapsed .dropdown .btn.dropdown-toggle{width:100%;margin-bottom:5px;margin-top:8px}
	.site-header .site-header-collapsed .dropdown .dropdown-menu{display:none;position:static;width:100%;margin-top:0}
	.site-header .site-header-collapsed .dropdown.open a.dropdown-toggle{color:#343434}
	.site-header .site-header-collapsed .dropdown.open a.dropdown-toggle .font-icon,.site-header .site-header-collapsed .dropdown.open a.dropdown-toggle:after{color:#adb7be}
	.site-header .site-header-collapsed .dropdown.open .btn.dropdown-toggle{color:#fff;background-color:#00a8ff}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more.opened .dropdown-more-caption,.site-header .site-header-collapsed .dropdown.mobile-opened a.dropdown-toggle,.site-header .site-header-collapsed .dropdown.mobile-opened a.dropdown-toggle .font-icon,.site-header .site-header-collapsed .dropdown.mobile-opened a.dropdown-toggle:after{color:#00a8ff}
	.site-header .site-header-collapsed .dropdown.mobile-opened .dropdown-menu{display:block}
	.site-header .site-header-collapsed .dropdown.mobile-opened .dropdown-toggle:after{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
	.site-header .site-header-collapsed .dropdown.mobile-opened .btn.dropdown-toggle{color:#00a8ff;background-color:#fff}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more .dropdown-more-caption:before{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more .dropdown-more-sub{display:none;position:static;left:0;padding:0;margin:0}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more .dropdown-more-sub-in{border-right:none;-webkit-border-radius:0;border-radius:0}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more:hover .dropdown-more-sub{display:none}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more.opened .dropdown-more-caption:before{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);border-left-color:#00a8ff}
	.site-header .site-header-collapsed .dropdown.dropdown-typical .dropdown-more.opened .dropdown-more-sub{display:block}
	.menu-right-opened .site-header .mobile-menu-right-overlay{display:block;position:fixed;left:0;top:0;width:100%;height:100%;z-index:85;background:rgba(48,75,88,.5)}
	.menu-right-opened .site-header .site-header-collapsed{right:0}

	.hamburger{display:block !important;}
}

@media (min-width:992px) and (max-width:1199px){
	.hidden-lg-down{display:none!important}
	.container{max-width:940px}
	.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
	.col-lg-1{width:8.333333%}
	.col-lg-2{width:16.666667%}
	.col-lg-3{width:25%}
	.col-lg-4{width:33.333333%}
	.col-lg-5{width:41.666667%}
	.col-lg-6{width:50%}
	.col-lg-7{width:58.333333%}
	.col-lg-8{width:66.666667%}
	.col-lg-9{width:75%}
	.col-lg-10{width:83.333333%}
	.col-lg-11{width:91.666667%}
	.col-lg-12{width:100%}
	.col-lg-pull-0{right:auto}
	.col-lg-pull-1{right:8.333333%}
	.col-lg-pull-2{right:16.666667%}
	.col-lg-pull-3{right:25%}
	.col-lg-pull-4{right:33.333333%}
	.col-lg-pull-5{right:41.666667%}
	.col-lg-pull-6{right:50%}
	.col-lg-pull-7{right:58.333333%}
	.col-lg-pull-8{right:66.666667%}
	.col-lg-pull-9{right:75%}
	.col-lg-pull-10{right:83.333333%}
	.col-lg-pull-11{right:91.666667%}
	.col-lg-pull-12{right:100%}
	.col-lg-push-0{left:auto}
	.col-lg-push-1{left:8.333333%}
	.col-lg-push-2{left:16.666667%}
	.col-lg-push-3{left:25%}
	.col-lg-push-4{left:33.333333%}
	.col-lg-push-5{left:41.666667%}
	.col-lg-push-6{left:50%}
	.col-lg-push-7{left:58.333333%}
	.col-lg-push-8{left:66.666667%}
	.col-lg-push-9{left:75%}
	.col-lg-push-10{left:83.333333%}
	.col-lg-push-11{left:91.666667%}
	.col-lg-push-12{left:100%}
	.col-lg-offset-0{margin-left:0}
	.col-lg-offset-1{margin-left:8.333333%}
	.col-lg-offset-2{margin-left:16.666667%}
	.col-lg-offset-3{margin-left:25%}
	.col-lg-offset-4{margin-left:33.333333%}
	.col-lg-offset-5{margin-left:41.666667%}
	.col-lg-offset-6{margin-left:50%}
	.col-lg-offset-7{margin-left:58.333333%}
	.col-lg-offset-8{margin-left:66.666667%}
	.col-lg-offset-9{margin-left:75%}
	.col-lg-offset-10{margin-left:83.333333%}
	.col-lg-offset-11{margin-left:91.666667%}
	.col-lg-offset-12{margin-left:100%}

	.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
	.col-md-1{width:8.333333%}
	.col-md-2{width:16.666667%}
	.col-md-3{width:25%}
	.col-md-4{width:33.333333%}
	.col-md-5{width:41.666667%}
	.col-md-6{width:50%}
	.col-md-7{width:58.333333%}
	.col-md-8{width:66.666667%}
	.col-md-9{width:75%}
	.col-md-10{width:83.333333%}
	.col-md-11{width:91.666667%}
	.col-md-12{width:100%}
	.col-md-pull-0{right:auto}
	.col-md-pull-1{right:8.333333%}
	.col-md-pull-2{right:16.666667%}
	.col-md-pull-3{right:25%}
	.col-md-pull-4{right:33.333333%}
	.col-md-pull-5{right:41.666667%}
	.col-md-pull-6{right:50%}
	.col-md-pull-7{right:58.333333%}
	.col-md-pull-8{right:66.666667%}
	.col-md-pull-9{right:75%}
	.col-md-pull-10{right:83.333333%}
	.col-md-pull-11{right:91.666667%}
	.col-md-pull-12{right:100%}
	.col-md-push-0{left:auto}
	.col-md-push-1{left:8.333333%}
	.col-md-push-2{left:16.666667%}
	.col-md-push-3{left:25%}
	.col-md-push-4{left:33.333333%}
	.col-md-push-5{left:41.666667%}
	.col-md-push-6{left:50%}
	.col-md-push-7{left:58.333333%}
	.col-md-push-8{left:66.666667%}
	.col-md-push-9{left:75%}
	.col-md-push-10{left:83.333333%}
	.col-md-push-11{left:91.666667%}
	.col-md-push-12{left:100%}
	.col-md-offset-0{margin-left:0}
	.col-md-offset-1{margin-left:8.333333%}
	.col-md-offset-2{margin-left:16.666667%}
	.col-md-offset-3{margin-left:25%}
	.col-md-offset-4{margin-left:33.333333%}
	.col-md-offset-5{margin-left:41.666667%}
	.col-md-offset-6{margin-left:50%}
	.col-md-offset-7{margin-left:58.333333%}
	.col-md-offset-8{margin-left:66.666667%}
	.col-md-offset-9{margin-left:75%}
	.col-md-offset-10{margin-left:83.333333%}
	.col-md-offset-11{margin-left:91.666667%}
	.col-md-offset-12{margin-left:100%}

	.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
	.col-sm-1{width:8.333333%}
	.col-sm-2{width:16.666667%}
	.col-sm-3{width:25%}
	.col-sm-4{width:33.333333%}
	.col-sm-5{width:41.666667%}
	.col-sm-6{width:50%}
	.col-sm-7{width:58.333333%}
	.col-sm-8{width:66.666667%}
	.col-sm-9{width:75%}
	.col-sm-10{width:83.333333%}
	.col-sm-11{width:91.666667%}
	.col-sm-12{width:100%}
	.col-sm-pull-0{right:auto}
	.col-sm-pull-1{right:8.333333%}
	.col-sm-pull-2{right:16.666667%}
	.col-sm-pull-3{right:25%}
	.col-sm-pull-4{right:33.333333%}
	.col-sm-pull-5{right:41.666667%}
	.col-sm-pull-6{right:50%}
	.col-sm-pull-7{right:58.333333%}
	.col-sm-pull-8{right:66.666667%}
	.col-sm-pull-9{right:75%}
	.col-sm-pull-10{right:83.333333%}
	.col-sm-pull-11{right:91.666667%}
	.col-sm-pull-12{right:100%}
	.col-sm-push-0{left:auto}
	.col-sm-push-1{left:8.333333%}
	.col-sm-push-2{left:16.666667%}
	.col-sm-push-3{left:25%}
	.col-sm-push-4{left:33.333333%}
	.col-sm-push-5{left:41.666667%}
	.col-sm-push-6{left:50%}
	.col-sm-push-7{left:58.333333%}
	.col-sm-push-8{left:66.666667%}
	.col-sm-push-9{left:75%}
	.col-sm-push-10{left:83.333333%}
	.col-sm-push-11{left:91.666667%}
	.col-sm-push-12{left:100%}
	.col-sm-offset-0{margin-left:0}
	.col-sm-offset-1{margin-left:8.333333%}
	.col-sm-offset-2{margin-left:16.666667%}
	.col-sm-offset-3{margin-left:25%}
	.col-sm-offset-4{margin-left:33.333333%}
	.col-sm-offset-5{margin-left:41.666667%}
	.col-sm-offset-6{margin-left:50%}
	.col-sm-offset-7{margin-left:58.333333%}
	.col-sm-offset-8{margin-left:66.666667%}
	.col-sm-offset-9{margin-left:75%}
	.col-sm-offset-10{margin-left:83.333333%}
	.col-sm-offset-11{margin-left:91.666667%}
	.col-sm-offset-12{margin-left:100%}

	.pull-lg-left{float:left!important}
	.pull-lg-right{float:right!important}
	.pull-lg-none{float:none!important}

	.text-lg-left{text-align:left!important}
	.text-lg-right{text-align:right!important}
	.text-lg-center{text-align:center!important}
	.hidden-lg-up{display:none!important}

	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}

	.with-side-menu-compact .circle-progress-bar{left:50%!important;margin-left:-28px!important}
	.site-header .site-header-search-container{width:110px}

	.wet-aspalt-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle,.wet-aspalt-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle .font-icon,.wet-aspalt-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:after{color:#fff}
	.wet-aspalt-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover,.wet-aspalt-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover .font-icon,.wet-aspalt-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover:after,.wet-aspalt-theme .site-header .dropdown.dropdown-typical.open a.dropdown-toggle,.wet-aspalt-theme .site-header .dropdown.dropdown-typical.open a.dropdown-toggle .font-icon,.wet-aspalt-theme .site-header .dropdown.dropdown-typical.open a.dropdown-toggle:after{color:#c5d6de}
	.wet-aspalt-theme .site-header .dropdown .btn.dropdown-toggle{border-color:#fff;background-color:#fff;color:#304b58}
	.wet-aspalt-theme .site-header .help-dropdown button{color:#fff}
	.wet-aspalt-theme .site-header .help-dropdown button:hover,.wet-aspalt-theme .site-header .help-dropdown.opened button{color:#c5d6de}
	.wet-aspalt-theme .site-header .site-header-search{background:0 0;border-color:#c5d6de}
	.wet-aspalt-theme .site-header .site-header-search.closed{border-color:transparent}
	.wet-aspalt-theme .site-header .site-header-search [placeholder],.wet-aspalt-theme .site-header .site-header-search input[placeholder]{color:#fff}
	.wet-aspalt-theme .site-header .site-header-search ::-webkit-input-placeholder{color:#fff!important}
	.wet-aspalt-theme .site-header .site-header-search ::-moz-placeholder{opacity:1!important;color:#fff!important}
	.wet-aspalt-theme .site-header .site-header-search :-moz-placeholder{color:#fff!important;opacity:1!important}
	.wet-aspalt-theme .site-header .site-header-search :-ms-input-placeholder{color:#fff!important}
	.wet-aspalt-theme .site-header .site-header-search button{color:#fff}
	.wet-aspalt-theme .site-header .site-header-search button:hover,.wet-aspalt-theme .site-header .site-header-search.closed:hover button{color:#c5d6de}

	.dark-theme .site-header .site-header-collapsed .site-header-collapsed-in{margin-right:112px}
	.dark-theme .site-header .dropdown .btn.dropdown-toggle{position:relative;top:10px;border-color:#919fa9;background-color:#919fa9;color:#fff}
	.dark-theme .site-header .dropdown .dropdown-menu{margin-top:14px}
	.dark-theme .site-header .dropdown.dropdown-typical{margin:0 1px 0 0}
	.dark-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle{color:#fff;height:50px;line-height:50px;display:block}
	.dark-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle .font-icon,.dark-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:after{color:#919fa9}
	.dark-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover,.dark-theme .site-header .dropdown.dropdown-typical.open a.dropdown-toggle{background-color:#919fa9}
	.dark-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover .font-icon,.dark-theme .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover:after,.dark-theme .site-header .dropdown.dropdown-typical.open a.dropdown-toggle .font-icon,.dark-theme .site-header .dropdown.dropdown-typical.open a.dropdown-toggle:after{color:#fff}
	.dark-theme .site-header .dropdown.dropdown-typical .dropdown-menu{margin-top:8px}
	.dark-theme .site-header .dropdown.dropdown-typical .dropdown-menu .font-icon{color:#919fa9}
	.dark-theme .site-header .dropdown.dropdown-typical .dropdown-menu .dropdown-item:hover .font-icon{color:#00a8ff}
	.dark-theme .site-header .site-header-search-container{padding-top:10px}
	.dark-theme .site-header .site-header-search{background:#fff;border-color:#919fa9}
	.dark-theme .site-header .site-header-search.closed{border-color:transparent;background:0 0}
	.dark-theme .site-header.site-header-light .dropdown.dropdown-typical a.dropdown-toggle{color:#919fa9}
	.dark-theme .site-header.site-header-light .dropdown.dropdown-typical a.dropdown-toggle:hover,.dark-theme .site-header.site-header-light .dropdown.dropdown-typical.open a.dropdown-toggle{color:#fff}
	.dark-theme.dark-theme-blue .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover,.dark-theme.dark-theme-blue .site-header .dropdown.dropdown-typical.open a.dropdown-toggle{background-color:#00a8ff}
	.dark-theme.dark-theme-blue .site-header .dropdown.dropdown-typical.open a.dropdown-toggle:before{border-top-color:#00a8ff}
	.dark-theme.dark-theme-blue .site-header .dropdown .dropdown-menu .dropdown-item:hover,.dark-theme.dark-theme-blue .site-header .dropdown .dropdown-menu .dropdown-item:hover .font-icon,.dark-theme.dark-theme-blue .site-header .dropdown .dropdown-menu .dropdown-more:hover .dropdown-more-caption{color:#00a8ff}
	.dark-theme.dark-theme-blue .site-header .dropdown .dropdown-menu .dropdown-more:hover .dropdown-more-caption:before{border-left-color:#00a8ff}
	.dark-theme.dark-theme-green .site-header .dropdown .dropdown-menu .dropdown-item:hover,.dark-theme.dark-theme-green .site-header .dropdown .dropdown-menu .dropdown-item:hover .font-icon,.dark-theme.dark-theme-green .site-header .dropdown .dropdown-menu .dropdown-more:hover .dropdown-more-caption,.dark-theme.dark-theme-green .site-header .dropdown.dropdown-notification.open .header-alarm,.dark-theme.dark-theme-green .site-header .header-alarm:hover,.dark-theme.dark-theme-green .site-header .site-header-search button:hover,.dark-theme.dark-theme-green .site-header .site-header-search.closed:hover button,.dark-theme.dark-theme-green .site-header .user-menu.dropdown .dropdown-toggle:hover,.dark-theme.dark-theme-green .site-header .user-menu.dropdown.open .dropdown-toggle{color:#46c35f}
	.dark-theme.dark-theme-green .site-header .dropdown.dropdown-typical a.dropdown-toggle:hover,.dark-theme.dark-theme-green .site-header .dropdown.dropdown-typical.open a.dropdown-toggle{background-color:#46c35f}
	.dark-theme.dark-theme-green .site-header .dropdown.dropdown-typical.open a.dropdown-toggle:before{border-top-color:#46c35f}
	.dark-theme.dark-theme-green .site-header .dropdown .dropdown-menu .dropdown-more:hover .dropdown-more-caption:before{border-left-color:#46c35f}
	.dark-theme.dark-theme-ultramarine .dropdown .dropdown-menu .dropdown-item:hover,.dark-theme.dark-theme-ultramarine .dropdown .dropdown-menu .dropdown-item:hover .font-icon,.dark-theme.dark-theme-ultramarine .dropdown .dropdown-menu .dropdown-more:hover .dropdown-more-caption,.dark-theme.dark-theme-ultramarine .dropdown.dropdown-notification.open .header-alarm,.dark-theme.dark-theme-ultramarine .header-alarm:hover,.dark-theme.dark-theme-ultramarine .site-header-search button:hover,.dark-theme.dark-theme-ultramarine .site-header-search.closed:hover button,.dark-theme.dark-theme-ultramarine .user-menu.dropdown .dropdown-toggle:hover,.dark-theme.dark-theme-ultramarine .user-menu.dropdown.open .dropdown-toggle{color:#1a5bc3}
	.dark-theme.dark-theme-ultramarine .dropdown.dropdown-typical a.dropdown-toggle:hover,.dark-theme.dark-theme-ultramarine .dropdown.dropdown-typical.open a.dropdown-toggle{background-color:#1a5bc3}
	.dark-theme.dark-theme-ultramarine .dropdown.dropdown-typical.open a.dropdown-toggle:before{border-top-color:#1a5bc3}
	.dark-theme.dark-theme-ultramarine .dropdown .dropdown-menu .dropdown-more:hover .dropdown-more-caption:before{border-left-color:#1a5bc3}
	.theme-picton-blue .site-header .site-logo,.theme-picton-blue-white-ebony .site-header .site-logo,.theme-rebecca-purple .site-header .site-logo,.theme-side-caesium-dark-caribbean .site-header .site-logo,.theme-side-ebony-clay .site-header .site-logo,.theme-side-litmus-blue .site-header .site-logo,.theme-side-madison-caribbean .site-header .site-logo,.theme-side-tin .site-header .site-logo{height:80px;width:240px;padding:20px 0 0;text-align:center;margin:-20px 0 0 -15px}
	.theme-picton-blue .site-header .site-logo img,.theme-picton-blue-white-ebony .site-header .site-logo img,.theme-rebecca-purple .site-header .site-logo img,.theme-side-caesium-dark-caribbean .site-header .site-logo img,.theme-side-ebony-clay .site-header .site-logo img,.theme-side-litmus-blue .site-header .site-logo img,.theme-side-madison-caribbean .site-header .site-logo img,.theme-side-tin .site-header .site-logo img{float:none}
	.theme-picton-blue .site-header .site-header-content,.theme-picton-blue-white-ebony .site-header .site-header-content,.theme-rebecca-purple .site-header .site-header-content,.theme-side-caesium-dark-caribbean .site-header .site-header-content,.theme-side-ebony-clay .site-header .site-header-content,.theme-side-litmus-blue .site-header .site-header-content,.theme-side-madison-caribbean .site-header .site-header-content,.theme-side-tin .site-header .site-header-content{margin-left:-240px}
	.theme-picton-blue .site-header .site-header-content-in,.theme-picton-blue-white-ebony .site-header .site-header-content-in,.theme-rebecca-purple .site-header .site-header-content-in,.theme-side-caesium-dark-caribbean .site-header .site-header-content-in,.theme-side-ebony-clay .site-header .site-header-content-in,.theme-side-litmus-blue .site-header .site-header-content-in,.theme-side-madison-caribbean .site-header .site-header-content-in,.theme-side-tin .site-header .site-header-content-in{margin-left:240px}
	.theme-side-ebony-clay .site-header .site-logo{background-color:#212b30}
	.theme-side-madison-caribbean .site-header .site-logo{background-color:#263543}
	.theme-side-caesium-dark-caribbean .site-header .site-logo{background-color:#22222f}
	.theme-side-tin .site-header .site-logo{background-color:#383838}
	.theme-side-litmus-blue .site-header .site-logo{background-color:#282c38}
}

@media (min-width:1200px){
	.container{max-width:1140px}
	.hidden-lg-up{display:none!important}
	.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{float:left}
	.col-xl-1{width:8.333333%}
	.col-xl-2{width:16.666667%}
	.col-xl-3{width:25%}
	.col-xl-4{width:33.333333%}
	.col-xl-5{width:41.666667%}
	.col-xl-6{width:50%}
	.col-xl-7{width:58.333333%}
	.col-xl-8{width:66.666667%}
	.col-xl-9{width:75%}
	.col-xl-10{width:83.333333%}
	.col-xl-11{width:91.666667%}
	.col-xl-12{width:100%}
	.col-xl-pull-0{right:auto}
	.col-xl-pull-1{right:8.333333%}
	.col-xl-pull-2{right:16.666667%}
	.col-xl-pull-3{right:25%}
	.col-xl-pull-4{right:33.333333%}
	.col-xl-pull-5{right:41.666667%}
	.col-xl-pull-6{right:50%}
	.col-xl-pull-7{right:58.333333%}
	.col-xl-pull-8{right:66.666667%}
	.col-xl-pull-9{right:75%}
	.col-xl-pull-10{right:83.333333%}
	.col-xl-pull-11{right:91.666667%}
	.col-xl-pull-12{right:100%}
	.col-xl-push-0{left:auto}
	.col-xl-push-1{left:8.333333%}
	.col-xl-push-2{left:16.666667%}
	.col-xl-push-3{left:25%}
	.col-xl-push-4{left:33.333333%}
	.col-xl-push-5{left:41.666667%}
	.col-xl-push-6{left:50%}
	.col-xl-push-7{left:58.333333%}
	.col-xl-push-8{left:66.666667%}
	.col-xl-push-9{left:75%}
	.col-xl-push-10{left:83.333333%}
	.col-xl-push-11{left:91.666667%}
	.col-xl-push-12{left:100%}
	.col-xl-offset-0{margin-left:0}
	.col-xl-offset-1{margin-left:8.333333%}
	.col-xl-offset-2{margin-left:16.666667%}
	.col-xl-offset-3{margin-left:25%}
	.col-xl-offset-4{margin-left:33.333333%}
	.col-xl-offset-5{margin-left:41.666667%}
	.col-xl-offset-6{margin-left:50%}
	.col-xl-offset-7{margin-left:58.333333%}
	.col-xl-offset-8{margin-left:66.666667%}
	.col-xl-offset-9{margin-left:75%}
	.col-xl-offset-10{margin-left:83.333333%}
	.col-xl-offset-11{margin-left:91.666667%}
	.col-xl-offset-12{margin-left:100%}

	.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
	.col-lg-1{width:8.333333%}
	.col-lg-2{width:16.666667%}
	.col-lg-3{width:25%}
	.col-lg-4{width:33.333333%}
	.col-lg-5{width:41.666667%}
	.col-lg-6{width:50%}
	.col-lg-7{width:58.333333%}
	.col-lg-8{width:66.666667%}
	.col-lg-9{width:75%}
	.col-lg-10{width:83.333333%}
	.col-lg-11{width:91.666667%}
	.col-lg-12{width:100%}
	.col-lg-pull-0{right:auto}
	.col-lg-pull-1{right:8.333333%}
	.col-lg-pull-2{right:16.666667%}
	.col-lg-pull-3{right:25%}
	.col-lg-pull-4{right:33.333333%}
	.col-lg-pull-5{right:41.666667%}
	.col-lg-pull-6{right:50%}
	.col-lg-pull-7{right:58.333333%}
	.col-lg-pull-8{right:66.666667%}
	.col-lg-pull-9{right:75%}
	.col-lg-pull-10{right:83.333333%}
	.col-lg-pull-11{right:91.666667%}
	.col-lg-pull-12{right:100%}
	.col-lg-push-0{left:auto}
	.col-lg-push-1{left:8.333333%}
	.col-lg-push-2{left:16.666667%}
	.col-lg-push-3{left:25%}
	.col-lg-push-4{left:33.333333%}
	.col-lg-push-5{left:41.666667%}
	.col-lg-push-6{left:50%}
	.col-lg-push-7{left:58.333333%}
	.col-lg-push-8{left:66.666667%}
	.col-lg-push-9{left:75%}
	.col-lg-push-10{left:83.333333%}
	.col-lg-push-11{left:91.666667%}
	.col-lg-push-12{left:100%}
	.col-lg-offset-0{margin-left:0}
	.col-lg-offset-1{margin-left:8.333333%}
	.col-lg-offset-2{margin-left:16.666667%}
	.col-lg-offset-3{margin-left:25%}
	.col-lg-offset-4{margin-left:33.333333%}
	.col-lg-offset-5{margin-left:41.666667%}
	.col-lg-offset-6{margin-left:50%}
	.col-lg-offset-7{margin-left:58.333333%}
	.col-lg-offset-8{margin-left:66.666667%}
	.col-lg-offset-9{margin-left:75%}
	.col-lg-offset-10{margin-left:83.333333%}
	.col-lg-offset-11{margin-left:91.666667%}
	.col-lg-offset-12{margin-left:100%}

	.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
	.col-md-1{width:8.333333%}
	.col-md-2{width:16.666667%}
	.col-md-3{width:25%}
	.col-md-4{width:33.333333%}
	.col-md-5{width:41.666667%}
	.col-md-6{width:50%}
	.col-md-7{width:58.333333%}
	.col-md-8{width:66.666667%}
	.col-md-9{width:75%}
	.col-md-10{width:83.333333%}
	.col-md-11{width:91.666667%}
	.col-md-12{width:100%}
	.col-md-pull-0{right:auto}
	.col-md-pull-1{right:8.333333%}
	.col-md-pull-2{right:16.666667%}
	.col-md-pull-3{right:25%}
	.col-md-pull-4{right:33.333333%}
	.col-md-pull-5{right:41.666667%}
	.col-md-pull-6{right:50%}
	.col-md-pull-7{right:58.333333%}
	.col-md-pull-8{right:66.666667%}
	.col-md-pull-9{right:75%}
	.col-md-pull-10{right:83.333333%}
	.col-md-pull-11{right:91.666667%}
	.col-md-pull-12{right:100%}
	.col-md-push-0{left:auto}
	.col-md-push-1{left:8.333333%}
	.col-md-push-2{left:16.666667%}
	.col-md-push-3{left:25%}
	.col-md-push-4{left:33.333333%}
	.col-md-push-5{left:41.666667%}
	.col-md-push-6{left:50%}
	.col-md-push-7{left:58.333333%}
	.col-md-push-8{left:66.666667%}
	.col-md-push-9{left:75%}
	.col-md-push-10{left:83.333333%}
	.col-md-push-11{left:91.666667%}
	.col-md-push-12{left:100%}
	.col-md-offset-0{margin-left:0}
	.col-md-offset-1{margin-left:8.333333%}
	.col-md-offset-2{margin-left:16.666667%}
	.col-md-offset-3{margin-left:25%}
	.col-md-offset-4{margin-left:33.333333%}
	.col-md-offset-5{margin-left:41.666667%}
	.col-md-offset-6{margin-left:50%}
	.col-md-offset-7{margin-left:58.333333%}
	.col-md-offset-8{margin-left:66.666667%}
	.col-md-offset-9{margin-left:75%}
	.col-md-offset-10{margin-left:83.333333%}
	.col-md-offset-11{margin-left:91.666667%}
	.col-md-offset-12{margin-left:100%}

	.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
	.col-sm-1{width:8.333333%}
	.col-sm-2{width:16.666667%}
	.col-sm-3{width:25%}
	.col-sm-4{width:33.333333%}
	.col-sm-5{width:41.666667%}
	.col-sm-6{width:50%}
	.col-sm-7{width:58.333333%}
	.col-sm-8{width:66.666667%}
	.col-sm-9{width:75%}
	.col-sm-10{width:83.333333%}
	.col-sm-11{width:91.666667%}
	.col-sm-12{width:100%}
	.col-sm-pull-0{right:auto}
	.col-sm-pull-1{right:8.333333%}
	.col-sm-pull-2{right:16.666667%}
	.col-sm-pull-3{right:25%}
	.col-sm-pull-4{right:33.333333%}
	.col-sm-pull-5{right:41.666667%}
	.col-sm-pull-6{right:50%}
	.col-sm-pull-7{right:58.333333%}
	.col-sm-pull-8{right:66.666667%}
	.col-sm-pull-9{right:75%}
	.col-sm-pull-10{right:83.333333%}
	.col-sm-pull-11{right:91.666667%}
	.col-sm-pull-12{right:100%}
	.col-sm-push-0{left:auto}
	.col-sm-push-1{left:8.333333%}
	.col-sm-push-2{left:16.666667%}
	.col-sm-push-3{left:25%}
	.col-sm-push-4{left:33.333333%}
	.col-sm-push-5{left:41.666667%}
	.col-sm-push-6{left:50%}
	.col-sm-push-7{left:58.333333%}
	.col-sm-push-8{left:66.666667%}
	.col-sm-push-9{left:75%}
	.col-sm-push-10{left:83.333333%}
	.col-sm-push-11{left:91.666667%}
	.col-sm-push-12{left:100%}
	.col-sm-offset-0{margin-left:0}
	.col-sm-offset-1{margin-left:8.333333%}
	.col-sm-offset-2{margin-left:16.666667%}
	.col-sm-offset-3{margin-left:25%}
	.col-sm-offset-4{margin-left:33.333333%}
	.col-sm-offset-5{margin-left:41.666667%}
	.col-sm-offset-6{margin-left:50%}
	.col-sm-offset-7{margin-left:58.333333%}
	.col-sm-offset-8{margin-left:66.666667%}
	.col-sm-offset-9{margin-left:75%}
	.col-sm-offset-10{margin-left:83.333333%}
	.col-sm-offset-11{margin-left:91.666667%}
	.col-sm-offset-12{margin-left:100%}

	.navbar-toggleable-md{display:block!important}

	.pull-xl-left{float:left!important}
	.pull-xl-right{float:right!important}
	.pull-xl-none{float:none!important}
	.text-xl-left{text-align:left!important}
	.text-xl-right{text-align:right!important}
	.text-xl-center{text-align:center!important}
	.hidden-xl-up{display:none!important}

	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}
}

@media (max-width:1499px) and (min-width:992px){
	.site-header .dropdown.dropdown-typical a.dropdown-toggle .font-icon{margin-right:0}
	.site-header .dropdown.dropdown-typical a.dropdown-toggle .lbl{display:none}
	.hidden-lg-up{display:none!important}
}

@media (min-width:1500px){
	.col-xxl-1,.col-xxl-10,.col-xxl-11,.col-xxl-12,.col-xxl-2,.col-xxl-3,.col-xxl-4,.col-xxl-5,.col-xxl-6,.col-xxl-7,.col-xxl-8,.col-xxl-9{float:left}
	.col-xxl-1{width:8.333333%}
	.col-xxl-2{width:16.666667%}
	.col-xxl-3{width:25%}
	.col-xxl-4{width:33.333333%}
	.col-xxl-5{width:41.666667%}
	.col-xxl-6{width:50%}
	.col-xxl-7{width:58.333333%}
	.col-xxl-8{width:66.666667%}
	.col-xxl-9{width:75%}
	.col-xxl-10{width:83.333333%}
	.col-xxl-11{width:91.666667%}
	.col-xxl-12{width:100%}
	.hidden-xxl-up{display:none!important}
	.hidden-lg-up{display:none!important}

	.sort-blocks{width:100%;/* height: 85% !important; */}
	.sort-blocks .state{width:290px;/* height:85vh; */}
	.sort-blocks .state .info{width:180px}
	.state-content{/* height: 92%; */}
}

/*----- Custom Responsive -- Scroll ------*/

@media only screen and (min-width: 320px) and (max-width:380px){

	.sort-blocks{width: 1060px;overflow-x:scroll;position:relative;display:block;margin-top: 15%;}
	.sort-blocks .state{width:270px;float:left;margin-top:1%;margin-bottom:3%;display:table-column;position:relative;margin-left:1%;overflow-y: scroll;height: 100%;}
	.info{width:170px;padding-top:6px}
	.info h3{font-size:16px;}
	.info p{font-size:11px;}
	.state-content .card-info{height:70px}
	.state-content{height: 52vh;overflow-y: scroll;}

	.modal-open .modal{overflow-x:auto !important;}
	.modal{position:fixed;max-width:380px !important;min-width:320px !important;width:100% !important;top:0 !important;left:0 !important;}
	.modal-notes{width:100% !important;}
	ul.dropdown-menu{position:absolute;left:0% !important;font-size:12px !important;z-index:18000000}
	ul.dropdown-menu table{width:100% !important;}

	#FormAct .input-group-btn button{padding:6px 10px 4px 10px !important;margin-top:12px}
	.modalNotesBlock #FormAct .time select{width:40% !important;}
	.steps-numeric-inner button{margin:0 auto !important}
	.steps-numeric-inner .col-md-6{width:80% !important;margin: 0 auto;}
}

@media only screen and (min-width: 381px) and (max-width:500px){

	.header-logo{display: none !important}
	.page-content{padding-top:15% !important;}
	.steps-numeric-header-in li{width:100%;display: block !important;padding: 4px 10px !important;}
	.personaForm .btn-primary, .quoteForm .btn-primary{margin:0 auto;text-align:center;display:block;margin-right:22% !important;}
	.sort-blocks{width: 370%;height: 80vh;overflow-x:scroll;position:relative;display:block;margin-top: 50px;}
	.sort-blocks .state{float:left;margin-top:1%;margin-bottom:3%;/* display:table-column; */position:relative;margin-left:1%;height: 75vh;}
	.info{width:145px}

	.actividades{margin-top:15%}
	.page-content.table{background: transparent !important;}

	.table .container-fluid, .table .segmentationBlock{background:transparent !important;}

	.modal-open .modal{overflow-x:auto !important;}
	.modal{position:fixed;max-width:460px !important;min-width:390px !important;width:100% !important;top:0 !important;left:0 !important;}
	ul.dropdown-menu{position:absolute;left:0% !important;font-size:12px !important;z-index:18000000}
	ul.dropdown-menu table{width:100% !important;}

	.modal-notes{width: 100% !important;display:block;}
	.modal-sidebar{display:block;float:left;margin-top:5% !important}

	.steps-numeric-inner .col-md-6{width:80% !important;margin: 0 auto;}
	.time select{width: 90px!important;}
	.modalNotesBlock .modal-notes .btn{margin-top:13px}
	.site-header{height:50px !important;}

	.modal{left:0;top:0}
	.modalNotesBlock .modal-description .modal-save {right: 20px;}
}
@media screen and (min-width: 500px){
	.site-header{height: 60px}
}

@media screen and (min-width: 768px){
	.modalNotesBlock .modal-info{width: 75%}
	/*SPLASH SCREEN STYLES*/
	.splash-main .splash-alerts,
	.splash-main .splash-activities {width: 350px; margin: 0 auto; margin-bottom: 20px;}

	/*UNITIES TABLE STYLES*/
	.unitiesTable{padding-top: 50px !important;}
	.unitiesTable-topBar{width: 75%; top: 60px}
	.unitiesTable-topBarCont{width: 450px; justify-content: space-between}
	.unitiesTable-state{width: 280px}
	.unitiesTable-wrap{padding: 10px 0}
	.unitiesTable-containerByTowerAptoNumber div{padding: 15px 0}


	/*FORMALIZATION STYLES*/
	.formalizationHeader{flex-direction: row; justify-content: space-between}
	.formalizationSearch{margin: 0}

	.formalizationPaymentBasicInfoBody{flex-direction: row}
	.formalizationPaymentBasicInfoBody .basicInfoAddClient label{position: absolute; top: -22.6px; left:-10px}
	.formalizationPaymentBasicInfoBody .basicInfoAddClient{min-width: 60%; display: flex; margin-top: 25px}
	.formalizationPaymentBasicInfoBody .basicInfoAddClient input{width: 150px}
	.formalizationPaymentBasicInfoBody .basicInfoAddClientCont{min-width: 50%; display: flex}
	.basicInfoAddClient .basicInfoClient{width: 150px; margin: 0px 5px; padding-left: 30px; height: 32px; border-radius: 20px}
	.basicInfoApto input{margin-right: 20px}

	.formalizationPayment{width: 95%; margin: 0 auto}
	.formalizationPaymentNew{padding: 25px 0 20px 0}
	.formalizationPaymentBasicInfoBody .basicInfoAdd{margin-top: 3px}
	.formalizationPaymentSummaryTopCont div {width: 40%;}
	.formalizationPaymentSummaryTopCont{justify-content: space-around}

	.formalizationPaymentBottomCont{justify-content: space-around}
	.formalizationPaymentBottomCont > div{width: 40%}

	.formalizationPaymentPlanModal{width: 500px; height: 595px; overflow-y: hidden}

	.formalizationPaymentPlanModal-cont{flex-direction: row; justify-content: space-around}
	.formalizationPaymentPlanModal-cont div{width: 40%}

	.formalizationPaymentPopup{width: 500px; top: 0}

}

@media only screen and (min-width: 501px){
	.header-viewMenu{
		display: none;
	}
}

@media only screen and (max-width: 779px) and (min-width: 501px){
	.site-header{height: 60px}
	.search-bar{top: 90px; padding: 0px 2px 0 25px}
	.sort-blocks{width: 240%;height: 90vh;overflow-x:scroll;position:relative;display:block;margin-top: 70px;}
	.sort-blocks .state{width:330px;float:left;margin-top:1%;margin-bottom: 2%;display:table-column;position:relative;margin-left:1%;height: 80vh;}
}

@media only screen and (min-width: 780px) and (max-width: 1025px){
	.search-bar{top: 95px; margin-left: 10px}
	/*.with-side-menu .page-content{padding-left: 23% !important;}*/
	.sort-blocks{width: 1880px !important;margin-top: 60px;}
	.side-menu{width: 23% !important;}
	.burger-right{display:none !important;}
	.onlymobile{display:block;}


	.splash-main .splash-alerts,
	.splash-main .splash-activities {width: 450px;}
}

@media screen and (min-width:1025px) and (max-width:1400px){
	.search-bar {top: 90px; margin-left: 10px;}
	.data-ctrl li { margin-left: -60px}
	.sort-blocks{width: 1705px !important;/* overflow-x: visible !important; */}
	.sort-blocks .state{/* width:250px */}
}

@media screen and (min-width:1025px) {
	.sort-blocks{width: 1880px !important; margin-top: 80px;}
	.onlymobile{display:none;}

	/*MODAL STYLES*/
	.modal-dialog:not(.modal-sm):not(.modal-lg){width: 900px; font-size: 17px; margin-top: 50px;}
	.modal-dialog .modal-content {padding-bottom: 0; height: auto;}
	.modalNotesBlock .modal-header{display: flex; padding: 20px 10px 20px 80px; justify-content: flex-start}
	.modalNotesBlock .modal-name {width:130px; margin: 5px; display: flex; align-self: center}
	.modalNotesBlock .modal-name span {left: -45px;}
	.modalNotesBlock .modal-info {width: 50%; margin: 0; padding-left: 0; display:flex; justify-content: space-between;}
	.modalNotesBlock .modal-info div {display: inline-block}
	.modalNotesBlock .modal-info div span {display: block}
	.modalNotesBlock .modal-segment {margin: 0; display: inline-block; width: 150px;}
	.modalNotesBlock .modal-segment label {margin: 0 0 5px 0; padding-left: 5px; text-align: left;}
	.modalNotesBlock .modal-segment span {right: -6px;}
	.modalNotesBlock .modal-wrap .modal-notes {width: 100%; display: flex;}
	.modalNotesBlock .modal-wrap .modal-notes .modal-left { width: 50%}
	.modalNotesBlock .modal-wrap .modal-notes .modal-right {width: 40%;}
	.modalNotesBlock .modal-wrap .modal-notes .modal-right .modal-sidebar{ min-height: 500px; margin: -40px 0 0 0; padding-top: 25px; border: none; border-left: 1px solid rgba(197,214,222,.4); padding-left: 15px; width:100%}
	.modalNotesBlock .modal-addActivities .modal-typeActivity select{width: 120px}

	/*SPLASH SCREEN STYLES*/
	/*.splash-main .splash-container {flex-direction: row; justify-content: space-between; width: 900px}*/
	.splash-main .splash-container {width: 900px}
	.splash-main .splash-alerts,
	.splash-main .splash-activities {margin: 20px 0; width: 430px;}
	.splash-alerts ul li .alert-unity {top:22px;}
	.splash-main .splash-activities li {width: 85%; padding: 10px 10px 10px 35px;}
	.splash-activities ul li .activities-information {flex-direction: row; justify-content: space-between; padding-top: 7px;}
	.splash-activities .splash-check {left: 5px; top:18px}

	/*FORMALIZATION STYLES*/

	.formalizationMain{width: 90%; margin: 0 auto; margin-top: 20px}
	.formalizationPaymentSummaryTopCont div{width: 15%}
	.formalizationPaymentBottomCont > div{width: 20%;}

}

@media screen and (min-width:1200px){
	.modalNotesBlock .modal-addActivities .modal-typeActivity label{margin-left: 15px;}
	.search-bar{top: 90px; margin-left: 10px}

/*SPLASH SCREEN STYLES*/
	.splash-main .splash-container {width: 980px}
	.splash-main .splash-alerts,
	.splash-main .splash-activities {width: 450px;}
	.splash-alerts ul li .alert-description .alert-inform {width: 280px; flex-direction: row; justify-content: space-between}
	.splash-activities .splash-activities-header .icon-calendar{right: 25px;}
	.splash-main h1{margin-top: 50px}

/*FORMALIZATION STYLES*/
	.formalizationPaymentBasicInfoBody div:nth-child(1) input, .formalizationPaymentBasicInfoBody div:nth-child(2) input, .formalizationPaymentBasicInfoBody div:nth-child(3) input{width:150px}
	.formalizationPaymentBasicInfoBody div span{top:34px}
	.formalizationPayment{width: 80%;}
}

@media screen and (min-width:1400px){
	.data-ctrl li { margin-left: -72px}
	.search-bar{top: 90px; margin-left: 10px}
	.sort-blocks{width:1800px;top:0px}
	.modal-dialog:not(.modal-sm):not(.modal-lg){width: 820px}

	.splash-main .splash-container {width: 1050px}
	.splash-main .splash-alerts,
	.splash-main .splash-activities {width: 500px;}
	.splash-alerts ul li .alert-description .alert-title{width: 350px; margin-bottom: 7px;}
}
