// Imports
@import 'components/_normalize.scss';
@import 'components/_mixins.scss';


@font-face {
font-family: 'Brandon_medium';
src: url("/static/css/fonts/Brandon_med.otf") format("opentype");
font-weight: 400;
}

@font-face {
font-family: 'Brandon_light';
src: url("/static/css/fonts/Brandon_light.otf") format("opentype");
font-weight: lighter;
}

@font-face {
font-family: 'Brandon';
src: url("/static/css/fonts/Brandon_bld.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: 'Brandon';
src: url("/static/css/fonts/Brandon_reg.otf") format("opentype");
font-weight: normal;
}

// Variables

$color-main-bg : #F8F9FB;
$color-blue-primary : #039BE5;
$color-text-primary : #7c7c7c;
$color-green : #81C784;
$color-red-primary : #FF8A80;
$color-border-input : #e5e5e5;

$host : "http://192.168.1.52:8080/";

body {
  font-size: 16px;
  font-family: 'Brandon' !important;
  position: relative;
  font-weight: 300;
  overflow-x: hidden;
  color: $color-text-primary;
}

input[type="text"]{
  border: 1px solid $color-border-input;
}

select {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

.Main{
  display: flex;
  background: '#fff';
  width: 100vw;
  min-height: 91vh;
  flex-direction: column;
  padding-top: 60px;
}

.Wraper{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(min-width, 1000px){
    width: 75%;
    margin: 0;
    align-self: flex-end;
  }
  @include mq(min-width, 1200px){
    width: 77%;
  }
  @include mq(min-width, 1300px){
    width: 83%;
  }
}

@import 'components/_utilities.scss';
@import 'components/_loader.scss';
@import 'components/_switch.scss';
@import 'components/_animations.scss';
@import 'components/_header.scss';
@import 'components/_menu.scss';
@import 'components/_datepicker.scss';
@import 'components/_formalization.scss';
@import 'components/_newpayment.scss';
@import 'components/_newpayment-popup.scss';
@import 'components/_newpayment-popup-edit.scss';
@import 'components/_payments.scss';
@import 'components/_payments-unity.scss';
@import 'components/_addpayment.scss';
@import 'components/_viewpayment-plan.scss';
@import 'components/_documents.scss';
@import 'components/_newpaymentsucess.scss';
@import 'components/_newpaymentdocument.scss';
@import 'components/_support.scss';
@import 'components/_ticket-detail.scss';
@import 'components/_landing-support.scss';
@import 'components/_faq-support.scss';
@import 'components/_new-ticket.scss';
@import 'components/_writing.scss';
@import 'components/_deeds.scss';

//Utilities
.isActivePage{
  color: #fff;
  background: $color-blue-primary;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  outline: none;
}

.displayNone{
  display: none !important;
}

.displayBlock{
  display: block;
}
.backgroundGray{
  background: #f7f9fa;
}

.backgroundGreen{
  background: #81C784;
}

.backgroundWhite{
  background: #fff;
}

.backgroundBlue{
  background: $color-blue-primary !important;
}

.borderLeftGray{
  border-left: 1px solid #D1D9DD;
}

.redColor{
  color: #FF8A80;
}

.greenColor{
  color: #81C784;
}

.grayColor{
  color: #b1b1b2;
}

.blueColor{
  color: $color-blue-primary !important;
}

.displayFlex{
  display: flex;
}

.hoverTab{
  background: #f1f5f6;
  color: $color-blue-primary;
}

.activeTab{
  color: $color-blue-primary;
  border-bottom: 2px solid $color-blue-primary;
}

.heightAuto{
  height: auto !important;
}

.lateralPadding{
  padding: 10px 30px 30px 30px !important;
}

.selectStyle{
  width: 100%;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border: none;
  padding: 2px 10px;
  cursor: pointer;
}

.selectContainer{
  background: rgb(248, 248, 248);
  border: 1px solid #efefef;
  border-radius: 15px;
}
