.onboarding {
  background-color: $pale-grey;
  padding-top: 4rem;
  height: 100%;

  .onboarding-select,
  .onboarding-confirm {
    box-shadow: 0 0 8px $shadow-color;
    background-color: $white;
    margin: 0 auto;
  }

  .onboarding-select {
    padding: 2rem 2.5rem;
    width: 500px;

    h4 {
      margin: 0;
      font-size: 1.3rem;
      font-weight: 500;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 2rem;
    }
  }

  .input-field-select {
    margin: 2.5rem auto;
    width: 220px;
  }

  &__button {
    text-align: center;
  }

  .onboarding-confirm {
    padding: 1.5rem;
    width: 550px;

    &__back {
      .button {
        border-radius: 2px;
        background-color: $white;
        box-shadow: 1px 1px 4px $shadow-color;
        border: 1px solid $pale-grey;
        color: $cool-grey;
        height: 40px;
        font-size: 1rem;
        font-weight: 300;

        >div {
          justify-content: center;

          span {
            margin-left: .4rem;
          }
        }
      }
    }

    img {
      display: block;
      width: 350px;
      margin: 0 auto;
    }

    p {
      font-weight: 300;
      font-size: 1.05rem;
      text-align: center;
      line-height: 1.2rem;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .step-indicator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    span {
      background-color: $pale-grey;
      border: 1px solid rgba($cool-grey, .5);
      border-radius: 50%;
      width: 12px;
      height: 12px;

      &:first-child {
        margin-right: .7rem;
      }
    }
  }

  span.step-indicator--active {
    background-color: $cool-blue;
    border: 0;
  }
}
