.create-ticket {
	&__form {
		max-width: 700px;
		margin: 5rem auto 2rem;
		z-index: 1;
	}

	&__form-group {
		margin-top: 2.7rem;
		h4 {
			font-weight: 500;

			span {
				margin-left: 0.2rem;
			}
		}

		> div {
			padding-left: 2rem;
		}
	}

	&__applicant,
	&__details,
	&__description,
	&__management {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.5rem;
	}

	&__applicant {
		> div:first-child {
			label {
				@extend %label-style;
			}

			.chip {
				color: $cool-blue;
				padding-left: 0.5rem;
				z-index: 1;
			}
		}

		.input-field-select__control {
			margin-top: 0;
		}

		.input-field--disabled {
			input {
				background-color: rgba($cool-grey, 0.1);
			}
		}
	}

	&__details {
	}

	&__description {
		grid-template-columns: 1fr;

		.input-field-textarea {
			textarea {
				padding-left: 1rem;
			}

			.input-field__error {
				margin-top: -1.2rem;
				margin-left: 0.3rem;
			}
		}
	}

	&__description-file {
		border: 1px solid $border-color;
		border-top: 0;
		padding: 0.8rem;

		label {
			cursor: pointer;

			input[type='file'] {
				display: none;
			}

			span {
				color: $cool-grey;
				font-size: 0.94rem;
				margin-left: 0.25rem;
			}
		}
	}

	&__description-file-name {
		color: $cool-blue;
		font-size: 0.9rem;
		margin-left: 1rem;
	}

	&__management {
		display: grid;

		label {
			@extend %label-style;
		}
	}

	&__management-list {
		margin-top: 0.5rem;

		.customer-card {
			margin-bottom: 0.4rem;
		}
	}

	&__form-button {
		margin-top: 3rem;
		text-align: center;

		.button {
			width: 180px;
		}
	}
}
