.add-customer {
  background: $white;
  width: 620px;
  margin: 2rem 0;
  min-height: 600px;
  border-radius: 2px;
  padding: 1.5rem 2rem;
  position: relative;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  .mdi-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  &__tabs {
    border-bottom: 1px solid $border-color;
    margin-bottom: 2rem;
  }

  &__tab {
    cursor: pointer;
    padding-bottom: 0.7rem;
    text-align: center;
    width: 50%;
  }

  &__tab--active {
    color: $cool-blue;
    border-bottom: 1px solid $cool-blue;
  }

  &__form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 2rem;
  }

  &__form-searcher {
    margin: 0 auto;
    margin-bottom: 1.7rem;
    width: 300px;
  }

  &__form-button {
    text-align: center;
    margin: 2rem 0 1rem;
  }

  .input-field-select:last-child {
    margin-top: 0;
  }

  .chip {
    padding-left: 0;
  }

  i.mdi-close {
    top: 0.6rem;
    right: 1rem;
  }
}
