/**
 * PLACEHOLDERS
 */

%normalize-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%label-style {
  color: rgba($cool-grey, .8);
  font-weight: 500;
  font-size: .94rem;
  display: block;
  padding-bottom: .2rem;
}
