<html>
    <head>
    <style>
    </style>
  </head>
  <body>
    <form action="" method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
  </body>
</html>