.customer-info {
  background: $white;
  border-radius: 2px;
  min-height: 500px;
  width: 100%;
  position: relative;

  @include breakpoint(large up) {
    max-width: 1000px;
    margin-top: 2rem;
  }

  .action-hover {
    position: absolute;
    font-size: 1.1rem;
    right: 0.8rem;
    top: 0.7rem;

    @include breakpoint(large up) {
      font-size: 1.2rem;
      right: 0.9rem;
      top: 0.7rem;
    }
  }

  &__header {
    box-shadow: 1px 2px 12px rgba($cool-grey, 0.4);
    padding: 0.5rem 1rem;

    @include breakpoint(large up) {
      display: grid;
      grid-template-columns: 220px 1fr;
      padding: 0.5rem 2rem;
    }
  }

  &__name {
    font-weight: 500;
    padding: 0.5rem 0 0.7rem;
    border-bottom: 1px solid rgba($border-color, 0.3);

    @include breakpoint(large up) {
      border-bottom: 0;
    }

    span {
      font-size: 1.1rem;
      margin-left: 0.4rem;

      @include breakpoint(large up) {
        font-size: 1.25rem;
      }
    }

    .initials {
      font-size: 1.15rem;
      height: 42px;
      line-height: 42px;
      width: 42px;
    }
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    padding-left: 0.4rem;

    @include breakpoint(large up) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__data-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;

    label {
      font-size: 0.95rem;
      padding-bottom: 0.2rem;
    }

    span {
      color: $cool-grey;
    }

    .input-field-select--rounded__control {
      width: 200px;
    }

    .input-field-select--rounded__single-value {
      font-size: 0.9rem;
    }
  }

  &__data-item-edit {
    padding-top: 1.8rem;

    a {
      color: $cool-blue;
      cursor: pointer;
      line-height: 0.7rem;
      font-size: 0.95rem;

      i {
        font-size: 0.95rem;
        margin-right: 0.1rem;
      }

      &:hover {
        border-bottom: 1px solid $cool-blue;
      }
    }
  }

  &__body {
    display: grid;

    @include breakpoint(medium up) {
      padding: 0 1rem;
    }

    @include breakpoint(large up) {
      grid-template-columns: 1fr 350px;
      padding: 0 2rem;
    }
  }

  &__management,
  &__information {
    padding: 2rem 0;

    h4 {
      font-size: 0.97rem;
    }
  }

  &__management {
    @include breakpoint(large up) {
      padding-right: 2rem;
    }
  }

  &__information {
  }

  &__editor {
    border: 1px solid $border-color;
    box-shadow: 0px 1px 4px $shadow-color;
  }

  &__editor-header {
    background-color: $pale-grey;
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: 0 0.5rem;
  }

  &__editor-header-item {
    cursor: pointer;
    margin-right: 0.7rem;
    height: 40px;

    i {
      font-size: 1.15rem;
    }
  }

  &__editor-header-item:first-child {
    i {
      font-size: 1rem;
    }
  }

  &__editor-header-item:last-child {
    span {
      margin-left: 0.2rem;
    }
  }

  &__editor-header-item--active {
    border-bottom: 1px solid $cool-blue;
    color: $cool-blue;
  }

  &__editor-body {
    .input-field {
      textarea {
        // border-top: 0;
      }
    }
  }

  &__editor-activity {
    padding: 1rem 0.5rem;
    border-top: 1px solid $border-color;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-column-gap: 1rem;

    @include breakpoint(medium up) {
      padding: 1rem;
    }

    .input-field-select {
      font-size: 0.95rem;
    }
  }

  &__editor-activity-type {
    svg {
      fill: $grey;
      height: 18px;
      width: 18px;
    }
  }

  &__editor-activity-date,
  &__editor-activity-hour {
    label {
      @extend .input-field-label;
    }
  }

  .input-style {
    background: $pale-grey;
    height: 34px;
    border-radius: 2rem;
    padding-left: 0.5rem;
  }

  &__editor-activity-date {
    .date-picker {
      @extend .input-style;
    }
  }

  &__editor-activity-hour {
    .rc-time-picker {
      input {
        @extend .input-style;
        border: 0;
      }
    }
  }

  &__editor-activity-hour {
    label {
      display: block;
    }
  }

  &__editor-footer {
    margin: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button {
      font-size: 1.05rem;
    }

    .validation-error {
      color: $red;
      margin-right: 1rem;
    }
  }

  &__notes {
    h4 {
      margin-bottom: 0.7rem;

      i {
        font-size: 1.2rem;
      }

      span {
        margin-left: 0.1rem;
      }
    }
  }

  &__note {
    border: 1px solid $border-color;
    box-shadow: 0px 1px 4px $shadow-color;
    padding: 0.6rem 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__note-icon {
    background-color: $pale-grey;
    border: 1px solid $border-color;
    border-radius: 50%;
    line-height: 39px;
    text-align: center;
    height: 40px;
    width: 40px;

    i {
      font-size: 1.2rem;
    }
  }

  &__note-content {
    margin-left: 1rem;
    line-height: 1.15rem;
  }

  &__note-description {
    font-size: 0.97rem;
    margin: 0;
    margin-bottom: 0.15rem;
  }

  &__note-seller {
    color: $cool-blue;
    font-size: 0.89rem;
  }

  &__note-time {
    color: $cool-grey;
    font-size: 0.85rem;

    i {
      padding-top: 0.15rem;
      font-size: 0.9rem;
      margin-right: 0.1rem;
    }
  }

  &__information {
    padding-left: 1rem;
    border-left: 1px solid $border-color;
  }

  &__information-activities,
  &__information-apartments {
    h4 {
      margin: 0 0 1rem 0;

      span {
        margin-left: 0.2rem;
      }
    }
  }

  &__information-activity {
    position: relative;
    margin-bottom: 1.4rem;
  }

  &__information-activity-description {
    margin: 0;
    margin-left: 0.2rem;
  }

  &__information-activity-scheduled {
    color: $cool-grey;
    font-size: 0.87rem;
    position: absolute;
    bottom: -1rem;
    right: 0;
  }

  &__information-activity-scheduled--done {
    color: $green;
  }

  &__information-activity-scheduled--expired {
    color: $red;
  }

  &__information-apartments {
    margin-top: 2rem;
  }

  &__information-apartments-apartment {
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
  }

  &__information-apartments-unity {
    font-weight: 500;
  }

  &__information-apartments-document {
    cursor: pointer;
    color: $cool-blue;
    text-decoration: none;
    font-size: 0.9rem;

    i {
      font-size: 1.1rem;
    }

    span {
      margin-left: 0.1rem;
      padding-bottom: 0.2rem;
    }
  }

  .pool-message {
    margin-top: 1rem;
    text-align: center;

    @include breakpoint(large up) {
      height: 200px;
    }
  }
}
