.customer-card {
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: .4rem;
  position: relative;

  .initials {
    height: 30px;
    line-height: 30px;
    font-size: .9rem;
    font-weight: 500;
    width: 30px;
    margin-right: .4rem;
  }

  .mdi-close {
    font-size: .95rem;
    position: absolute;
    right: .5rem;
    top: .8rem;
  }
}
