.others-step {
  &__container {
    margin: 0 auto;
    text-align: center;
    max-width: 520px;
  }

  p {
    font-weight: 300;
    font-size: 1rem;

    span {
      color: $cool-blue;
      font-weight: 400;
    }
  }

  .button {
    margin-top: 1rem;
    padding: .3rem 1rem;

    a {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      color: $cool-blue;
      border-color: $cool-blue;
    }

    &:nth-child(3) {
      margin-right: 1rem;
    }
  }
}
