.payments-step-edit {
	margin-top: 2.5vh;
	background-color: $white;
	min-height: 400px;
	max-width: 90%;

	@include breakpoint(xlarge up) {
		max-width: 1200px;
	}

	&__header {
		border-bottom: 1px solid $border-color;
		position: relative;
		margin-bottom: 1rem;

		h4 {
			font-weight: 400;
			margin: 0 0 1rem;
		}

		i {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1rem;
		}
	}

	&__header-container {
		padding: 1.5rem;
	}

	&__plan {
		background-color: $pale-grey;
		margin-top: 4rem;
		padding: 1rem 1.5rem;

		h5 {
			color: $cool-blue;
			font-size: 1rem;
			font-weight: 400;
			margin-top: 0;
		}

		.button {
			margin: 1.5rem 0 1rem;
		}
	}

	&__plan-container {
		background-color: $white;
		padding: 1rem 1.5rem;
		margin: 0 auto;
		width: 600px;
	}

	&__plan-table {
		.table {
			margin-top: 1rem;

			td.table__cell {
				padding-top: 0.2rem;
				padding-bottom: 0.2rem;
			}
		}
	}

	&__plan-inputs,
	tr.table__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__plan-inputs {
		grid-column-gap: 1.5rem;

		.input-field-select__control {
			margin-top: 0;
		}
	}
}
