.notification-popup {
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
  z-index: 100;

  &__container {
    width: 60%;
    margin: 0 auto;
    background: $white;
    border: 1px solid $green;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba($green, .4);

    @include breakpoint(medium up) {
      width: auto;
    }
  }

  &__icon {
    background: rgba($green, .18);
    color: $green;
    padding: .7rem 1rem;

    i {
      font-size: 1.4rem;
    }
  }

  &__message {
    color: rgba($grey, .8);
    padding: 0 1rem;
    font-weight: 500;
  }
}
