@font-face {
font-family: Brandon;
font-weight: bold;
src: url("/static/css/fonts/Brandon_bld.otf") format("opentype");
}

@font-face {
font-family: Brandon;
font-weight: lighter;
src: url("/static/css/fonts/Brandon_ligth.otf") format("opentype");
}

@font-face {
font-family: Brandon;
font-weight: normal;
src: url("/static/css/fonts/Brandon_reg.otf") format("opentype");
}

body{
	/*background-color: #f8f9fb;*/
	background-color: rgba(248, 249, 251, 0.24);
	display: flex;
	font-family: 'Brandon', sans-serif;
	font-size: 16px;
  min-height: 100vh;
  flex-direction: column;
  color: #6c7383;
}


.main-navbar{
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	color: #6c7383;
	padding: 0 7% 0 7%;
}

#main-container{
	flex: 1 0 auto;
}

nav .brand-logo-custom{
	color: #6c7383;
}

nav ul a{
	color: #6c7383;
}

nav .username{
	color: #039be5;
	font-size: 18px;
	margin-right: 1%;
}

nav #user-image{
	position: relative;
	top: 10px;
	width: 45px;
	height: 43px;
	border-radius: 100%;
}

i.right{
	margin-left: 0;
}

i.left{
	margin-right: 5px;
}

.welcome-title-wrapper{
	margin-top: 2%;
}
.welcome-title{
	color: #6c7383;
	font-size: 32px;
	font-weight: lighter;
}

.creation-box-wrapper{
	margin-top: 2%;
}

.login-box-wrapper{
	margin-top: 20%;
}


@media only screen and (min-width: 993px){
.row .col.uploadfile-box-wrapper {
    width: 29.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.uploadfile-box-wrapper.push-l4 {
    left: 35.3333333333%;
}
}

.add-project-icon{
	color: #039be5;
	font-size: 110px;
	margin-top: 4%;
}

.custom-btn{
	font-weight: bold;
	background-color: #039be5;
}
.custom-btn:hover{
	background-color: #1760a5;
}

footer.custom-footer{
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}

.unitytype-addbtn{
	margin-top: 25%;
}

.next-unitytype{
	border: 3px #c3c5ca dashed;
	border-radius: 4%;
	margin: 0.5rem 0 1rem 0;
	height: 400px;
	position: relative;
}

.unitytype-info{
	font-size: 18px;
	color: #6c7383;
}

.unitytype-legend{
	top: 16px;
	position: absolute;
}

.collection .collection-item.avatar i.circle {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 35px;
    height: 35px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

select.browser-default{
	margin-top: 10px;
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	background-color: #039be5;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: .5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #1760a5;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}


ins{
	background-color: transparent !important;
	text-decoration: none !important;
}

.confirm-import-table{
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 0.1px 0.5px 0 rgba(0,0,0,0.1),0 0.1px 4px 0 rgba(0,0,0,0.1);
	margin-top: 4%;
}

.confirm-import-table td{
	height: 100px;
}


.side-menu{
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	overflow: auto;
	padding: 0;
	position: fixed;
	width: 280px;
	z-index: 60;
}


.nav-bottom
 {
 background-color:#fff;
 width:100%;
 height:60px;
 box-shadow: 0px 1px 10px #5E5E5E;
 position:fixed;
 bottom:0px;
}
