.payment-plans {
  position: relative;
  padding-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .searcher {
    min-width: 240px;

    .mdi-magnify {
      left: 0;
    }

    .searcher-select__control {
      background-color: transparent;
      border: 0;
    }

    .searcher-select__control {
      padding-left: 0.7rem;
    }
  }

  .table {
    position: relative;
    margin-bottom: 2rem;
  }

  .table__row {
    display: grid;
    grid-template-columns: 3fr repeat(4, 2fr) 1fr;
  }

  .mdi-dots-vertical {
    cursor: pointer;
  }

  .actions-list {
    background-color: $white;
    box-shadow: 0 1px 8px rgba($grey, 0.4);
    border-radius: 4px;
    position: fixed;
    width: 210px;

    ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: $grey;
      padding: 0.75rem 1.25rem;
      text-decoration: none;
      display: block;

      &:hover {
        color: $cool-blue;
        background-color: rgba($pale-grey-two, 0.25);
      }
    }
  }
}
