.send-notification-table {
	.table {
		width: 90%;
		margin: 2rem auto;
	}

	.table__row {
		grid-template-columns: repeat(13, 1fr);
	}

	.table__body {
		.table__cell {
			border-right: 1px solid rgba($border-color, 0.25);
			border-bottom: 1px solid rgba($border-color, 0.25);
			cursor: pointer;
			padding: 0;
			font-size: 0.85rem;
			font-weight: 300;
		}

		.table__cell:last-child {
			border-right: 0;
		}
	}

	&__unity-floor {
		display: flex;
		justify-content: center;
		padding: 1.2rem 0;

		i {
			color: $cool-grey;
			font-size: 0.9rem;
			margin-left: -0.4rem;
			margin-right: 0.4rem;
		}
	}

	&__unity-floor--added {
		background-color: rgba($cool-blue, 0.05);

		i {
			color: $cool-blue;
		}
	}

	&__unity {
		padding: 1.2rem 0;
		font-weight: normal;
		position: relative;
		height: 100%;

		i {
			display: none;
			color: $cool-blue;
			font-size: 0.87rem;
			position: absolute;
			top: 0.25rem;
			left: 0.2rem;
		}
	}

	&__unity--added {
		background-color: rgba($cool-blue, 0.05);

		i {
			display: block;
		}
	}

	&__unity--notified {
		i {
			color: $green;
			display: block;
		}
	}

	&__unity--disabled {
		color: $cool-grey;
		font-weight: lighter;
		cursor: not-allowed;
	}
}
