.button {
	border: 0;
	font-size: 0.85rem;
	font-weight: 500;
	border-radius: 16px;
	color: $white;
	cursor: pointer;
	height: 35px;
	outline: none;
	padding: 0 0.7rem;
	min-width: 120px;
}

.button--blue {
	background-color: $cool-blue;
}

.button--green {
	background-color: $green;
}

.button--grey {
	background-color: $cool-grey;
}

.button--secondary {
	border: 1px solid $border-color;
	color: $cool-grey;
	background-color: $white;
}

.button--disabled {
	opacity: 0.65;
	cursor: auto;
}
