.send-notification-popup {
  margin-top: 20vh;
  background-color: $white;
  border-radius: 2px;
  position: relative;
  height: 270px;
  text-align: center;
  width: 400px;

  p {
    font-size: 1.12rem;
    margin: 0 0 .4rem;
  }

  &__sending {
    color: $cool-blue;
    margin-top: 160px;
  }

  &__done {
    >div {
      margin-top: -40px;
    }

    p:last-child {
      font-weight: 300;
    }
  }

  .mdi-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }

  .loading__showbox {
    top: 17vh;
    left: 0;
  }

  .loading__loader {
    width: 70px;
  }
}
