.header {
  background-color: $white;
  border-bottom: 1px solid rgba($pale-grey-two, 0.7);
  // box-shadow: 1px 1px 12px rgba($cool-grey, .4);
  justify-content: space-between;
  padding: 0 1rem;
  grid-area: header;
  z-index: 10;

  @include breakpoint(large up) {
    padding: 0 1.5rem;
  }

  &__show-menu {
    i {
      margin-left: rem-calc(5);
    }
  }

  &__logo {
    cursor: pointer;

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  &__nav {
    height: 100%;
  }

  &__menu {
    margin-right: 1rem;

    @include breakpoint(large up) {
      margin-right: 2rem;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    a {
      color: $cool-blue;
    }
  }

  &__user {
    position: relative;
    height: 100%;
    display: flex;
    padding-left: 1.4rem;
    border-left: 1px solid $border-color;

    i {
      color: rgba($grey, 0.6);
    }
  }

  &__user-info {
    cursor: pointer;
    line-height: 0.95rem;
    text-align: right;
  }

  &__user-info-profile {
    > div {
      color: $cool-blue;
      font-size: 1.05rem;
    }

    > span {
      color: $cool-grey;
      font-size: 0.75rem;
    }
  }

  &__user-menu {
    background-color: $white;
    box-shadow: 1px 1px 4px $shadow-color;
    border: 1px solid $border-color;
    position: absolute;
    height: 120px;
    top: 2.2rem;
    right: 0;
    width: 180px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      cursor: pointer;
      font-size: 0.95rem;
      list-style: none;
      padding: 0.7rem 1rem;

      i {
        color: inherit;
        margin-right: 0.2rem;
        font-size: 1.15rem;
      }
    }
  }
}
