{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load projects_tags %}
{% load units_tags %}
{% block title %}Agrega los tipos de unidad de tu proyecto{% endblock %}
{% block main-container %}
{% if confirm_form %}
<section id="main-container">
  <div class="container">
    <div class="row">
          <div class="col s12 welcome-title-wrapper">
            <h1 class="welcome-title center">{{request.user.first_name}}, si los resultados son correctos, confirma la carga de las unidades</h1>
          </div>
          <div class="center">
          <form action="{% url "unities_process_import" project_slug %}" method="POST">
            {% csrf_token %}
            {{ confirm_form.as_p }}
            <div class="submit-row">
              <a href="{% url "unities_import" project_slug %}" class="btn custom-btn raised" style="color: #6c7383; background-color: #eee;">Cancelar</a>
              <button type="submit" class="btn custom-btn">Confirmar Carga</button>
            </div>
          </form>
          </div>

          {% if result %}
            {% if result.has_errors %}
              <h2>Errores al cargar el archivo</h2>
              <ul>
                  {% for error in result.base_errors  %}
                      <li>{{ error.error }}</li>
                  {% endfor %}
                  {% for line, errors in result.row_errors %}
                      {% for error in errors %}
                          <li>
                            {% Linea: {{ line }} - {{ error.error }}
                            <div class="traceback">{{ error.traceback|linebreaks }}</div>
                          </li>
                      {% endfor %}
                  {% endfor %}
              </ul>
            {% else %}
                <table id="datatable" class="center highlight confirm-import-table">
                <thead>
                  <tr>
                    <th></th>
                    {% for field in fields|slice:":6"%}
                      <th>{{ field|title }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                {% for row in result.rows %}
                    <tr>
                        <td>
                        {% if row.import_type == 'new' %}
                            {% trans "New" %}
                        {% elif row.import_type == 'skip' %}
                            {% trans "Skipped" %}
                        {% elif row.import_type == 'delete' %}
                            {% trans "Delete" %}
                        {% elif row.import_type == 'update' %}
                            {% trans "Update" %}
                        {% endif %}
                        </td>
                      {% for field in row.diff|slice:":6" %}
                      <td>
                          {% if forloop.counter == 5 %}
                            {% extract_unitytype_display field %}
                          {% else %}
                              {{ field }}
                          {% endif %}
                      </td>
                      {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
          {% endif %}
    </div>
  </div>
</section>
{% else %}
  <section id="main-container">
    <div class="container">
      <div class="row">
        <div class="col s12 welcome-title-wrapper">
          {% get_project project_slug as project %}
          <h1 class="welcome-title center">{{request.user.first_name}}, Importas las unidades que tendrá {{project.name}}</h1>
        </div>
        <div class="col s12 center">
                <div class="row">
                  <div class="col s12 m6 l4 push-m3 push-l4 uploadfile-box-wrapper">
                    <div class="card small">
                        <div>
                          <img src="{% static "img/files.png" %}" style="margin-top: 13%; width: 80px;">
                        </div>
                        <img src="{% static "img/cloud.png" %}" style="width: 80px; margin-top: 7%;">
                        <form action="{{ form_url }}" method="POST" id="{{ opts.module_name }}_form" enctype="multipart/form-data">
                        {% csrf_token %}
                          <div class="row">
                              <!--Hardcoded form for Django CreateView-->
                              {{form.errors}}
                              <div class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                                <input class="inputfile" id="id_import_file" name="import_file" type="file" data-multiple-caption="{count} files selected" multiple />
                                <label class="waves-effect waves-light btn custom-btn" for="id_import_file" style="margin-top: 15%;"><span style="font-weight: bold;"><i class="material-icons left">file_upload</i>subir archivo</span></label>
                              </div>
                          </div>
                          <input id="id_input_format" name="input_format" type="hidden" value="0" />
                        </form>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m6 l4 push-m3 push-l4 center">
                    <a href="{% url "unities_export" project_slug %}" style="font-size: 22px; text-decoration: underline;">Descargar archivo de ejemplo</a>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </section>
  {% block custom-js %}
  <script type="text/javascript">
    'use strict';

    ;( function ( document, window, index )
    {
        var input = $('.inputfile')[0];
        var label = input.nextElementSibling;
        var labelVal = label.innerHTML;

        input.addEventListener( 'change', function( e )
        {
          var fileName = '';
          if( this.files && this.files.length > 1 )
            fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
          else
            fileName = e.target.value.split( '\\' ).pop();

          if( fileName )
            label.querySelector( 'span' ).innerHTML = fileName;
          else
            label.innerHTML = labelVal;

          $("#{{ opts.module_name }}_form").submit();
        });
        // Firefox bug fix
        input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
        input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
    }( document, window, 0 ));
  </script>
  {% endblock %}
{% endif %}
{% endblock %}