{% extends "base.html" %}
{% load projects_tags %}
{% block title %}Agrega los tipos de unidad de tu proyecto{% endblock %}
{% block main-container %}
	<section id="main-container">
		<div class="container">
			<div class="row">
				<div class="col s12 welcome-title-wrapper hide-on-small-only">
					{% get_project project_slug as project %}
					<h1 class="welcome-title center">{{request.user.first_name}}, agrega los tipos de unidad que tendrá {{project}}</h1>
				</div>
				<div class="col s12 center">
					<div class="row">
				        <div class="col s12 m6 l4 push-m3 push-l4 creation-box-wrapper">
				          	<div class="card medium" style="height: 430px;">
				          	<!--<i class="material-icons add-project-icon">add_circle_outline</i>-->
					          	<div class="card-content" style="font-size: 18px; font-weight: bold; color: #6c7383;">
					              <p>Agrega un tipo de unidad para Villa Paraiso</p>
					           	</div>
					           	<form method="POST" id="create-unityype" action="{% url "unity_types_create" project.slug %}">
					           	{% csrf_token %}
						           	<div class="row">
						           			<!--Hardcoded form for Django CreateView-->
						           			{{form.errors}}
						           			<div class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
												<select class="browser-default" id="id_type_name" name="type_name">
													<option value="" disabled selected>Selecciona el tipo de unidad</option>
                                                    {% for value, key in form.fields.type_name.choices %}
                                                        <option value="{{value}}">{{key}}</option>
                                                    {% endfor %}
                                            	</select>
			        						</div>
			        						<div class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
												<select class="browser-default" id="id_unitytype_name" name="unitytype_name">
													<option value="" disabled selected>Selecciona el tipo</option>
                                                    {% for value, key in form.fields.unitytype_name.choices %}
                                                        <option value="{{value}}">{{key}}</option>
                                                    {% endfor %}
                                            	</select>
			        						</div>
			        						<div class="input-field col s4 m4 l4 offset-s2 offset-m2 offset-l2">
			        							<input id="id_private_area" maxlength="100" name="private_area" step="any" type="number"/>
			        							<label for="id_private_area" style="text-align: left;">Area privada:</label>
			        						</div>
			        						<div class="input-field col s4 m4 l4">
			        							<input id="id_built_area" maxlength="100" name="built_area" step="any" type="number"/>
			        							<label for="id_built_area" style="text-align: left;">Area construida:</label>
			        						</div>
			        						<div class="input-field col s4 m4 l4 offset-s2 offset-m2 offset-l2">
			        							<input id="id_bathrooms" maxlength="100" name="bathrooms" type="number"/>
			        							<label for="id_bathrooms" style="text-align: left;">Baños:</label>
			        						</div>
			        						<div class="input-field col s4 m4 l4">
			        							<input id="id_bedrooms" maxlength="100" name="bedrooms" type="number"/>
			        							<label for="id_bedrooms" style="text-align: left;">Habitaciones:</label>
			        						</div>
		      						</div>
						           	<button href="#" type="submit" class="waves-effect waves-light btn custom-btn"><i class="material-icons left" style="font-weight: bold;">add</i>Agregar</button>
						        </form>
				          	</div>
				        </div>
				        <!--
				        <div class="col s12 m6 l4 creation-box-wrapper">
				          	<div class="unitytype-addbtn">
					          	<div class="card-content" style="font-size: 14px; color: #6c7383;">
					          	<a id="add-unutytype" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
					             <p>Agregar otro tipo de unidad</p>
					           	</div>
				          	</div>
				        </div>
				        -->
      				</div>
				</div>
				<div class="col s12">
					<div class="row">
					<h2 style="font-size: 28px;">Tipos de unidad creados</h2>
					<div id="unitytypes-container">
						{% if unitytypes %}
							{% for unitytype in unitytypes %}
					        <div class="col s12 m6 l4 creation-box-wrapper">
					          	<div class="card medium">
					          	<!--<i class="material-icons add-project-icon">add_circle_outline</i>-->
						          	<div class="card-content center" style="font-size: 18px; font-weight: bold; color: #6c7383;">
						              <p>{{unitytype.get_type_name_display}} {{unitytype.get_unitytype_name_display}}</p>
						           	</div>

									  <ul class="collection">
									    <li class="collection-item avatar">
									      <i class="material-icons circle" style="background-color: #089CD3;">person_outline</i>
									      <p class="unitytype-info unitytype-legend">Area Privada</p>
									      <a href="#!" class="secondary-content unitytype-info">{{unitytype.private_area}} m2</a>
									    </li>
									    <li class="collection-item avatar">
									      <i class="material-icons circle" style="background-color: #FE8B4C;">location_city</i>
									      <p class="unitytype-info unitytype-legend">Area Construida</p>
									      <a href="#!" class="secondary-content unitytype-info">{{unitytype.built_area}} m2</a>
									    </li>
									    <li class="collection-item avatar">
									      <i class="material-icons circle" style="background-color: #61CC40;">airline_seat_legroom_normal</i>
									      <p class="unitytype-info unitytype-legend">Baños</p>
									      <a href="#!" class="secondary-content unitytype-info">{{unitytype.bathrooms}}</a>
									    </li>
									    <li class="collection-item avatar">
									      <i class="material-icons circle" style="background-color: #f35555;">hotel</i>
									      <p class="unitytype-info unitytype-legend">Habitaciones</p>
									      <a href="#!" class="secondary-content unitytype-info">{{unitytype.bedrooms}}</a>
									    </li>
									  </ul>
					          	</div>
					        </div>
					        {% endfor %}
				        {% endif %}
				        <div id="no-unytytype" class="col s12 m5 l4 creation-box-wrapper">
					          	<div class="next-unitytype">
					          	</div>
					        </div>
				        </div>
      				</div>
				</div>


			</div>
		</div>
	</section>

	<nav id="nav-bottom" class="nav-bottom">
    <div class="container">
        <div style="display: inline-block; float: right;">
          <a class="waves-effect waves-light btn custom-btn" href="{% url "unities_import" project_slug %}">Continuar</a>
        </div>
    </div>
  </nav>
{% endblock %}
{% block custom-js %}
<script language="JavaScript">
	function check_for_unytypes(){
		var a = $("#unitytypes-container").children().length;
        if (a > 1){
        	$("#nav-bottom").fadeIn(4000)
        }
        return true
	}
    $(document).ready(function() {
    	$("#nav-bottom").hide()
    	check_for_unytypes();
        $('#create-unityype').submit(function() { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(data) { // on success..
                    $('#create-unityype').trigger("reset");
                    if (data["pk"]){
                    	type_name = data["type_name"];
                    	unitytype_name = data["unitytype_name"]
                    	private_area = data["private_area"]
                    	built_area = data["built_area"]
                    	bathrooms = data["bathrooms"]
                    	bedrooms = data["bedrooms"]
                    	$('#unitytypes-container').prepend(
                    		"<div class='col s12 m6 l4 creation-box-wrapper'><div class='card medium'><div class='card-content center' style='font-size: 18px; font-weight: bold; color: #6c7383;'><p>" + type_name + " " + unitytype_name + "</p></div><ul class='collection'><li class='collection-item avatar'><i class='material-icons circle' style='background-color: #089CD3;'>person_outline</i><p class='unitytype-info unitytype-legend'>Area Privada</p><a href='#!' class='secondary-content unitytype-info'>" + private_area + " m2" + "</a></li><li class='collection-item avatar'><i class='material-icons circle' style='background-color: #FE8B4C;'>location_city</i><p class='unitytype-info unitytype-legend'>Area Construida</p><a href='#!' class='secondary-content unitytype-info'>" + built_area +" m2" +"</a></li><li class='collection-item avatar'><i class='material-icons circle' style='background-color: #61CC40;'>airline_seat_legroom_normal</i><p class='unitytype-info unitytype-legend'>Baños</p><a href='#!' class='secondary-content unitytype-info'>" + bathrooms + "</a></li><li class='collection-item avatar'><i class='material-icons circle' style='background-color: #f35555;'>hotel</i><p class='unitytype-info unitytype-legend'>Habitaciones</p><a href='#!' class='secondary-content unitytype-info'>" + bedrooms + "</a></li></ul></div></div>"
                    	).hide().fadeIn(2000);
                    	//$("#no-unytytype").hide()
                    	check_for_unytypes();
                    }
                },
                error: function (data) {
        			alert("There was a big error");
        			alert(data);
      			}
            });
            return false;
        });
    });
</script>
{% endblock %}