.bank-step {

}

.deeds-info-container {
  box-shadow: 1px 1px 10px $shadow-color;
  padding: 0 1rem 1.5rem;
  margin: 1rem auto;
  text-align: center;
  width: 500px;

  p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 0;

    span {
      color: $cool-blue;
      font-weight: 400;
    }
  }
}


.deeds-task-container {
  h5 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0;
  }
}

.deeds-task-item {
  border-bottom: 1px solid rgba($border-color, .2);
  padding-bottom: 1rem;

  &__check {
    p {
      font-weight: 300;
      margin-left: .4rem;
    }
  }

  &__content {
    padding-left: 1.7rem;

    .input-field-date {
      margin-right: 1.5rem;
      width: 220px;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}
