<td align='left' style='font-size:0;padding:0 30px 16px;'>
			<div class='mj-content' style='cursor:auto;color:#000000;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;'>
				&nbsp;
			</div>
			<div class='mj-content' style='cursor:auto;color:#000000;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;'>
				%inviter-name% te ha invitado a unirte como %guest-role% al proyecto %project-name%
			</div>
			<div class='mj-content' style='cursor:auto;color:#000000;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;'>
				&nbsp;
			</div>
			<a class='mj-content' href='http://sesamo.com/%url%' style='display:inline-block;text-decoration:none;background:#039be5;border:1px solid #00a8ff;border-radius:2px;color:white;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;padding:8px 16px 10px;'>
				<strong>Aceptar Invitacion</strong>
			</a>
</td>