.payment-detail {
  margin-bottom: 2rem;
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid $border-color;
  }

  &__info-section {
    padding: 1.5rem 0;
  }

  &__info-section:last-child {
    padding-left: 3.5rem;
    border-left: 1px solid $border-color;

    .payment-detail__info-item {
      > div:last-child {
        margin-top: 0.5rem;
      }
    }
  }

  &__info-title {
    h4 {
      font-size: 0.95rem;
      font-weight: 500;
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }

  &__info-user-name {
    text-align: center;
    width: 180px;

    > div:first-child {
      background-color: $cool-blue;
      color: $white;
      font-size: 1.1rem;
      border-radius: 50%;
      height: 40px;
      line-height: 40px;
      width: 40px;
      margin: 0 auto;
    }

    > div:last-child {
      margin-top: 0.5rem;
    }
  }

  .payment-detail-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__info-item {
    font-size: 0.95rem;
    margin-right: 2rem;

    > div:first-child {
      font-weight: 400;
      margin-bottom: 0.4rem;
    }

    > div:last-child {
      font-weight: 300;
    }
  }

  &__info-item:last-child {
    margin-right: 0;
  }

  .info-item-featured {
    > div:last-child {
      font-size: 18px;
    }
  }

  &__unity-icon {
    box-shadow: 0px 0px 8px $shadow-color;
    background-color: $white;
    border-radius: 50%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    width: 65px;
    margin: -2rem auto 0;
    position: relative;
  }

  .payment-plan-tab {
    margin-top: 1.5rem;
  }

  &__header-top {
    display: flex;
    justify-content: flex-end;
    margin: 1.5rem 0;

    .button {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__table-header {
    h4 {
      font-weight: 500;
      margin-bottom: 0;

      span {
        margin-left: 1.5rem;
      }
    }
  }

  &__payments-right {
    align-items: flex-end;
    span {
      font-size: 1.15rem;
      font-weight: 500;
    }
  }

  .payments-table {
    .table__row {
      display: grid;
      grid-template-columns: 1fr repeat(5, 2fr);
    }
  }

  .payment-plan-table {
    .table__row {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .surplus-table {
    .table__row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .agreed-payments-table {
    .table__row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@import "./components/Tab/index";
