.payments {
  &__header {
    display: flex;
    justify-content: space-between;

    .searcher {
      min-width: 240px;

      .mdi-magnify {
        left: 0;
      }

      .searcher-select__control {
        background-color: transparent;
        border: 0;
      }

      .searcher-select__control {
        padding-left: .7rem;
      }
    }

    .button {
      padding: 0 1.8rem;
    }
  }

  .table__row {
    display: grid;
    grid-template-columns: 3fr repeat(7, 2fr);
  }
}

@import "./components/AddPayment/index";
