.board {
  background-color: $white;
  border: 1px solid rgba($border-color,.3);
  box-shadow: 1px 1px 5px rgba($cool-grey, .2);
  height: 100%;
  flex-shrink: 0;
  width: 300px;

  @include breakpoint(large up) {
    width: 340px;
  }

  &__header {
    border-bottom: 1px solid $border-color;
    font-weight: 500;
    margin: 0 .7rem;
    padding: 1rem 0;
  }

  &__header-indicator {
    color: $cool-grey;
    margin-right: .2rem;

    i {
      font-size: 1.1rem;
    }

    span {
      font-size: .87rem;
    }
  }

  &__body {
    height: calc(100% - 55px);
    padding: 1rem .7rem .5rem;
    overflow-y: auto;
    overflow-x: visible;
  }
}
