{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Sesamo.com{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pontano+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
</head>
<body>
{% block navbar %}
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <!-- <li><a href="#!">Mi Perfil</a></li>
	  <li class="divider"></li> -->
	  <li><a href="{% url "logout" %}">Cerrar Sesión</a></li>
	</ul>
	<nav class="main-navbar">
	  <!--<div class="nav-wrapper main-navbar">-->
	    <a href="#!" class="brand-logo brand-logo-custom">Sesamo</a>
	    {% if request.user.is_authenticated %}

				<!-- <a class="right hide-on-med-and-down" href="#!"><img id="user-image" src="{% static "img/tatiana.jpg" %}"></a> -->

				<!-- <a class="right hide-on-med-and-down dropdown-button username" href="#!" data-activates="dropdown1">{{request.user.get_full_name}}<i class="material-icons right">arrow_drop_down</i></a> -->

	    {% else %}
	    	<a class="right hide-on-med-and-down username" href="#!">Iniciar Sesión</a>
	    {% endif %}
	  <!--</div>-->
	</nav>
{% endblock %}

	{% block main-container %}

	{% endblock %}

        <footer class="page-footer white">
          <div class="footer-copyright white">
            <div class="container" style="color: #6c7383 ;">
            <strong>SESAMO</strong>
            © 2016 Todos los derechos reservados
            <a class="text-lighten-4 right" href="#!">Soporte al Cliente</a>
            </div>
          </div>
        </footer>

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	{% block custom-js %}
	{% endblock %}

</body>
</html>
