{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Software para la construcción - Sesamo.co</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="msapplication-TileColor" content="#f74815">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#f74815">

  <!-- Search Engines -->
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <link rel="canonical" href="">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image:src" content="">

  <!-- Facebook Open Graph -->
	<meta property="og:site_name" content="Sesamo">
	<meta property="og:url" content="https://sesamo.co">
	<meta property="og:type" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="fb:app_id" content="">
	<meta property="fb:admins" content="">

  <!-- Google + -->
  <meta itemprop="name" content="">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="">

  <link rel="stylesheet" href="{%static "css/styles.css" %}">
</head>
<body>

<!--[if lt IE 8]>
  <div class="alert alert-warning">
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
  </div>
<![endif]-->

    <div class="LandingSesamo">
      <header class="LandingHeader">
        <div className="LandingHeader__logo">
          SESAMO
        </div>
        <div className="LandingHeader__sigin">
          <a href="/projects">INICIA SESIÓN</a>
        </div>
      </header>

      <section class="LandingAbove">
        <h1>AUTOMATIZA LOS PROCESOS DE TU CONSTRUCTORA Y REDUCE COSTOS OPERATIVOS</h1>
        <div>
          <a href="#diary">AGENDA UNA DEMOSTRACIÓN</a>
        </div>
      </section>

      <section class="LandingFunctionalities">
        <h2>FUNCIONALIDADES DE SESAMO</h2>
        <div class="LandingFunctionalitiesCont">
          <div class="LandingFunctionalitiesWrap">
            <div>
              <img src="{% static "img/sell.png" %}">
              <h3>Preventa</h3>
            </div>
            <div>
              <img src="{% static "img/support.png" %}">
              <h3>Soporte a clientes</h3>
            </div>
            <div>
              <img src="{% static "img/keys.png" %}">
              <h3>Entrega</h3>
            </div>
            <div>
              <img src="{% static "img/check.png" %}">
              <h3>Formalización</h3>
            </div>
            <div>
              <img src="{% static "img/diploma.png" %}">
              <h3>Documentos y trámites</h3>
            </div>
            <div>
              <img src="{% static "img/postsale.png" %}">
              <h3>Postventa</h3>
            </div>
            <div>
              <img src="{% static "img/payments.png" %}">
              <h3>Pagos</h3>
            </div>
            <div>
              <img src="{% static "img/diploma.png" %}">
              <h3>Escrituración</h3>
            </div>
          </div>
        </div>
      </section>

      <footer class="LandingFooter">
        <p id="diary">AGENDA UNA DEMOSTRACIÓN GRATUITA, LLÁMANOS A LA LÍNEA (057) 3204409652</p>
      </footer>
    </div>

  </body>
</html>
