<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="POST">
	{% csrf_token %}
	{{form}}
	{{form.media}}
<input type="submit" name="" value="Enviar">
</form>
</body>
</html>