.table {
	border-collapse: none;
	border-spacing: 0;

	&__head-indicators {
		position: relative;
		height: 35px;

		span {
			color: $cool-grey;
			font-size: 0.85rem;
			position: absolute;
		}

		span:first-child {
			bottom: 0;
			left: 2.4rem;
		}

		span:last-child {
			top: 0.5rem;
			right: 0;
		}
	}

	&__head {
		.table__cell {
			border-bottom: 3px solid $pale-grey;
			color: rgba($grey, 0.7);
			font-size: 0.9rem;
			padding: 0.5rem 0;
		}
	}

	&__row {
		background-color: $white;
		border-bottom: 3px solid $pale-grey;
	}

	&__cell:first-child {
		width: 80px;
	}

	&__cell {
		text-align: center;
		width: 60px;
	}

	&__body {
		.table__cell {
			border-bottom: 1.5px solid $pale-grey;
			font-size: 0.9rem;
			padding: 0.9rem 0;
		}
	}
}

.table-data-grid {
	// border: 1px solid rgba($border-color, .2);
	margin-top: 1.5rem;
	width: 100%;

	.table__row {
		grid-gap: 1rem;
		border-bottom: 0;

		.table__cell {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 0.5rem;
			border-bottom: 0;
		}

		.date-picker {
			margin-top: 0;
		}
	}

	.table__head {
		tr.table__row {
			padding: 0;
			padding-bottom: 0.4rem;
			background-color: transparent;
			border-bottom: 1px solid rgba($border-color, 0.2);
		}
	}

	.table__body {
		.table__row {
			padding: 0.6rem 0;
			border-bottom: 1px solid rgba($border-color, 0.2);

			.table__cell {
				a {
					color: $cool-blue;
					cursor: pointer;
					text-decoration: none;
				}

				&:hover {
					a {
						text-decoration: underline;
					}
				}
			}
		}

		.table__row:last-child {
			border-bottom: 0;
		}
	}
}

.rc-pagination {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0 2rem;
}

li.rc-pagination-item,
li.rc-pagination-prev,
li.rc-pagination-next {
	outline: none;
	border: 0;
	margin: 0 0.5rem;
}

li.rc-pagination-item-active {
	border-radius: 50%;
}
