.ticket-detail-sidebar {
  overflow-y: auto;
  padding: 1rem;
  font-weight: 300;

  h5 {
    margin: .7rem 0 .9rem;
    font-size: 1.02rem;
    font-weight: 400;
  }

  &__applicant {
    .initials {
      margin-right: .4rem;
    }
  }

  &__applicant-name {
    >div:first-child {
      font-weight: 400;
    }

    >div:last-child {
      font-size: .9rem;
    }
  }

  &__applicant-info {
    margin-top: .5rem;
    font-size: .95rem;
    line-height: 1.5rem;
  }

  &__details {
    margin-top: 1rem;
  }

  &__details-date {
    font-size: .9rem;

    >div:first-child {
      margin-right: .4rem;
      width: 70px;
    }
  }

  &__details-selects {
    margin-top: 1rem;

    >div {
      margin-bottom: .5rem;
    }

    .input-field-select {
      font-size: .92rem;
      width: 150px;
    }
  }

  &__management {
    margin-top: 1.5rem;

    .Collapsible {
      margin-bottom: 1.5rem;
    }

    .Collapsible__contentInner {
      min-height: 120px;
    }

    .searcher {
      margin-top: .5rem;
    }
  }

  &__management-trigger {
    cursor: pointer;

    svg {
      margin-right: .4rem;
    }
  }
}
