.deeds-process {
  background-color: $pale-grey;
  display: grid;
  grid-template-columns: 1fr 270px;
  width: 100%;
  height: 100%;

  &__header {
    margin: 1.1rem 0 .7rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
      margin-left: .2rem;
    }
  }

  &__main {
    padding: 0 2rem;
  }

  &__container {
    padding: 1rem 1.5rem;
    height: 65vh;
    overflow-y: auto;
  }

  &__select-input {
    width: 220px;
  }

  &__icon-input {
    position: relative;

    .date-picker__placeholder {
      padding-left: 1.7rem;
    }

    .date-picker__value {
      padding-left: 1.5rem;
    }

    .input-field-select__value-container {
      padding-left: 2.2rem;
    }

    .input-field {
      input {
        padding-left: 2.5rem;
      }
    }

    .mdi-calendar {
      display: none;
    }

    .date-picker__placeholder {
      margin-left: 0;
    }

    .input-field-date {
      .date-picker {
        padding: .52rem .7rem;
      }
    }

    >svg {
      position: absolute;
      bottom: .6rem;
      left: .5rem;
      border-right: 1px solid rgba($cool-grey, .4);
      padding-right: .2rem;
      width: 24px;
      z-index: 10;
    }
  }
}

@import "./components/ProcessFrame/index";
@import "./components/ProcessSidebar/index";
@import "./components/CreditStep/index";
@import "./components/PaymentsStep/index";
@import "./components/OthersStep/index";
@import "./components/BankStep/index";
