<md-dialog aria-label="Mango (Fruit)" class="formalizationPaymentPlanModal">

  <div ng-controller="formalizationController">

    <h2>AGREGAR CLIENTE</h2>

      <div class="formalizationPaymentPlanModal-body">
        <div class="formalizationPaymentPlanModal-tabs">
          <div ng-click="selectTab(1)" ng-class="{isActive: tab.toString() == 1 }">Busca una persona existente</div>
          <div ng-click="selectTab(2)" ng-class="{isActive: tab.toString() == 2 }">Agrega una persona nueva</div>
        </div>

        <div class="formalizationPaymentPlanModal-search" ng-hide="!tabSelected(1)">
          <span class="fa fa-search"></span>
          <input type="text" placeholder="Busca una persona existente" ng-model="formalizationPerson" ng-change="formalizationSearchPerson(formalizationPerson)">
          <div class="formalizationPaymentPlanModal-results">
            <ul ng-hide="formalizationPaymentPersonSelected">
              <li ng-repeat="person in formalizationPaymentPersons" ng-click="selectPersonFormalizationPayment(person)">{$ person.first_name +' '+ person.last_name $}</li>
            </ul>
          </div>
        </div>

        <div class="formalizationPaymentPlanModal-cont">
          <div>
            <label for="">Nombres*</label>
            <input type="text" ng-model="addClientName">
          </div>
          <div>
            <label for="">Apellidos*</label>
            <input type="text" ng-model="addClientLastName">
          </div>
          <div>
            <label for="">Cédula*</label>
            <input type="text" ng-model="addClientIdentify">
          </div>
          <div>
            <label for="">Lugar de expedición*</label>
            <input type="text" ng-model="addClientPlaceExpedition">
          </div>
          <div>
            <label for="">Correo electrónico*</label>
            <input type="text" ng-model="addClientEmail">
          </div>
          <div>
            <label for="">Fecha de Nacimiento*</label>
            <input type="text" ng-model="addClientBirthday">
          </div>
          <div>
            <label for="">Celular*</label>
            <input type="text" ng-model="addClientCellphone">
          </div>
          <div>
            <label for="">Teléfono*</label>
            <input type="text" ng-model="addClientPhone">
          </div>
          <div>
            <label for="">Teléfono de notificación*</label>
            <input type="text" ng-model="addClientNotifPhone">
          </div>
          <div>
            <label for="">Dirección de notificación*</label>
            <input type="text" ng-model="addClientAdress">
          </div>
        </div>
      </div>

      <div class="formalizationPaymentPlanModal-save">
        <button ng-click="addClientSave()">GUARDAR</button>
          <div ng-show="isNotFill" class="formalizationPaymentPlanModal-errorMsg">Por favor llena todos los campos *</div>
      </div>
  </div>

</md-dialog>
