<md-dialog aria-label="Mango (Fruit)">

  <div class="configurationsModal">
    <div class="configurationsModal-icon"></div>
    <h2>Configuración de Villa Marcela</h2>
    <div class="configurationModal-form">
      <label for="">Precio de separación<span>$</span></label>
      <input type="text">
      <label for="">Porcentaje de cuota inicial <span>%</span></label>
      <input type="text">
      <div><button>GUARDAR</button></div>
    </div>
  </div>

</md-dialog>
