<div ng-controller="formalizationController">
  <div class="formalizationPayment">
    <div class="formalizationPaymentNew">
      <span>O</span>
      <h4>NUEVO PLAN DE PAGOS</h4>
    </div>
    <div class="formalizationPaymentBasicInfo">
      <div class="formalizationPaymentBasicInfoHead">
        <h4>INFORMACION BASICA</h4>
        <div>O</div>
      </div>
      <div class="formalizationPaymentBasicInfoBody">
        <div class="basicInfoApto">
          <label for="">Apartamento</label>
          <span class="fa fa-search basicInfoSearch"></span>
          <input type="text" placeholder="Buscar apto">
          <div class="formalizationSearchApto">
            <ul>
              <li> 404 </li>
            </ul>
          </div>
        </div>

        <div class="basicInfoAddClient">
          <label>Clientes del apto:</label>
          <div class="basicInfoAddClientCont" >

            <div class="basicInfoClient" ng-repeat="(key, client) in addedClients">{$ client.first_name +' '+ client.last_name$}
              <span class="basicInfoCloser" ng-click="basicInfoClose(client.id)">x</span>
              <span class="basicInfoNumberClient">{$ key + 1 $}</span>
            </div>

          </div>
          <div class="basicInfoAdd">
            <span ng-click="showAddClient()">Agregar nuevo cliente +</span>
          </div>
        </div>

      </div>
    </div>

    <div class="formalizationPaymentSummary">
      <div class="formalizationPaymentSummaryTop">
        <div>
          <h4>RESUMEN DE PAGO</h4>
        </div>
        <div class="formalizationPaymentSummaryTopCont">
          <div>
            <label for="">Valor del apto</label>
            <input type="text" value="90.000.000">
          </div>
          <div>
            <label for="">Cuota inicial </label>
            <input type="text" value="9.000.000">
          </div>
          <div>
            <label for="">% de cuota inicial</label>
            <input type="text" value="">
          </div>
          <div>
            <label for="">Separación</label>
            <input type="text" value="9.000.000">
          </div>
          <div>
            <label for="">Crédito a solicitar</label>
            <input type="text" value="80.000.000">
          </div>
        </div>
      </div>
      <div class="formalizationPaymentBottom">
        <div><h4>OTROS PAGOS ACORDADOS</h4></div>
        <div><input type="checkbox">Aplicar a CI</div>
        <div class="formalizationPaymentBottomCont">
          <div>
            <div>
              <input type="checkbox">
              <label for="">Ahorro programado</label>
            </div>
            <input type="text" value="0">
          </div>
          <div>
            <div>
              <input type="checkbox">
              <label for="">Cesantías</label>
            </div>
            <input type="text" value="0">
          </div>
          <div>
            <div>
              <input type="checkbox">
              <label for="">Subsidio de vivienda</label>
            </div>
            <input type="text" value="0">
          </div>
          <div>
            <div>
              <input type="checkbox">
              <label for="">Otros</label>
            </div>
            <input type="text" value="0">
          </div>
        </div>
      </div>
    </div>

    <div class="formalizationPaymentPlan">
      <div class="formalizationPaymentPlanHeader">
        <h4>PLAN DE PAGO</h4>
        <div>O</div>
      </div>
      <div class="formalizationPaymentPlanDues">
        <select>
          <option value="">3 cuotas</option>
        </select>
      </div>
      <div class="formalizationPaymentPlanTable">
        <div class="formalizationPaymentPlanCont">
          <div class="formalizationPaymentPlanHead">
            <div>No. Cuota</div>
            <div>Fecha</div>
            <div>Valor de la cuota</div>
            <div>Cuota extraordinaria</div>
            <div>Comentarios</div>
          </div>

          <div class="formalizationPaymentPlanRow">
            <div>1</div>
            <div>
              <input type="text" value="15/08/2016">
            </div>
            <div>
              <input type="text" value="20.000.000">
            </div>
            <div>
              <input type="text" value="2.000.000">
            </div>
            <div><span>Comentar</span></div>
          </div>

          <div class="formalizationPaymentPlanRow">
            <div>2</div>
            <div>
              <input type="text" value="15/08/2016">
            </div>
            <div>
              <input type="text" value="20.000.000">
            </div>
            <div>
              <input type="text" value="2.000.000">
            </div>
            <div><span>Comentar</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="formalizationPaymentButton">
      <button  ng-click="showValidation()">VALIDAR</button>
    </div>
  </div>

  <div class="formalizationPaymentBgPopup">
    <div class="formalizationPaymentPopup">
      <span class="formalizationAddClientClose" ng-click="formalizationAddClientClose()">x</span>
      <h2>AGREGAR CLIENTE</h2>
      <div class="formalizationPaymentPlanModal-body">
        <div class="formalizationPaymentPlanModal-tabs">
          <div ng-click="selectTab(1)" ng-class="{isActive: tab.toString() == 1 }">Busca una persona existente</div>
          <div ng-click="selectTab(2)" ng-class="{isActive: tab.toString() == 2 }">Agrega una persona nueva</div>
        </div>

        <div class="formalizationPaymentPlanModal-search" ng-hide="!tabSelected(1)">
          <span class="fa fa-search"></span>
          <input type="text" placeholder="Busca una persona existente" ng-model="formalizationPerson" ng-change="formalizationSearchPerson(formalizationPerson)">
          <div class="formalizationPaymentPlanModal-results">
            <ul ng-hide="formalizationPaymentPersonSelected">
              <li ng-repeat="person in formalizationPaymentPersons" ng-click="selectPersonFormalizationPayment(person)">{$ person.first_name +' '+ person.last_name $}</li>
            </ul>
          </div>
        </div>

        <div class="formalizationPaymentPlanModal-cont">
          <div>
            <label for="">Nombres*</label>
            <input type="text" ng-model="addClientName">
          </div>
          <div>
            <label for="">Apellidos*</label>
            <input type="text" ng-model="addClientLastName">
          </div>
          <div>
            <label for="">Cédula*</label>
            <input type="text" ng-model="addClientIdentify">
          </div>
          <div>
            <label for="">Lugar de expedición*</label>
            <input type="text" ng-model="addClientPlaceExpedition">
          </div>
          <div>
            <label for="">Correo electrónico*</label>
            <input type="text" ng-model="addClientEmail">
          </div>
          <div>
            <label for="">Fecha de Nacimiento*</label>
            <!-- <input type="text" ng-model="addClientBirthday"> -->
            <md-datepicker ng-model="birthdayClient" md-placeholder=""></md-datepicker>
          </div>
          <div>
            <label for="">Celular*</label>
            <input type="text" ng-model="addClientCellphone">
          </div>
          <div>
            <label for="">Teléfono*</label>
            <input type="text" ng-model="addClientPhone">
          </div>
          <div>
            <label for="">Teléfono de notificación*</label>
            <input type="text" ng-model="addClientNotifPhone">
          </div>
          <div>
            <label for="">Dirección de notificación*</label>
            <input type="text" ng-model="addClientAdress">
          </div>
        </div>
      </div>

      <div class="formalizationPaymentPopup-save">
        <button ng-click="addClientSave()">GUARDAR</button>
        <div ng-show="isNotFill" class="formalizationPaymentPopup-errorMsg">Por favor llena todos los campos *</div>
      </div>

      <!-- <div class="formalizationPaymentPlanModal-save">


      </div> -->

    </div>
  </div>

</div>
