<div ng-controller="formalizationController">
  <div class="formalizationMain">
    <div class="formalizationHeader">
      <!--endpoint: projects/slug/unities -->
      <div class="formalizationSearch">
        <span class="fa fa-search"></span>
        <input type="text" placeholder="Buscar por persona o apto">
      </div>
      <div class="formalizationOptions">
        <div class="formalizationOptionsView">
          <label for="">Mostrar</label>
          <select name="" id="">
            <option value="">10</option>
          </select>
          <span>planes</span>
        </div>
        <div class="formalizationOptionsNew">
          <span><a id="new_payment" href="#">+ NUEVO PLAN DE PAGO</a></span>
        </div>
      </div>
    </div>
    <div class="formalizationBody">
      <div class="formalizationBodyWrap">
        <div class="formalizationHead">
          <div class="formalizationHeadClient">Cliente</div>
          <div class="formalizationHeadApto">Apartamento</div>
          <div class="formalizationHeadDebt">Deuda total</div>
          <div class="formalizationHeadMoratory">Valor de la mora</div>
          <div class="formalizationHeadMoratoryTime">Tiempo en Mora</div>
          <div class="formalizationHeadSeller">Vendedor</div>
        </div>
        <div class="formalizationContainer">
          <div class="formalizationClient">
            <div class="formalizationClientName">Victor Aguirre</div>
            <div class="formalizationClientApto">T4301</div>
            <div class="formalizationClientDebt">$150.000.000</div>
            <div class="formalizationClientMoratory"><span>$150.000.000</span></div>
            <div class="formalizationClientMoratoryTime">4 horas</div>
            <div class="formalizationClientSeller">Karen Castro</div>
            <div class="formalizationClientViewPlan"><span class="formalizationClientViewPlan">Ver Plan</span></div>
          </div>
        </div>
      </div>
      <div class="formalizationPagination">
        <div class="formalizationPaginationPrevious">
          ANTERIOR
        </div>
        <div class="formalizationPaginationNumbers">
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
        </div>
        <div class="formalizationPaginationNext">SIGUIENTE</div>
      </div>
    </div>
  </div>
</div>
