<div class="splash-main" ng-controller="mainController">
  <h1> {$ userLogged.first_name.toUpperCase() + ', ' $} ESTO ES LO QUE TIENES PARA HOY </h1>
  <div class="splash-container">

    <!-- <div class="splash-alerts">
      <div class="alerts-header">
        <h3>ALERTAS</h3>
        <span class="alert-icon-header">!</span>
      </div>
      <ul>
        <li>
          <span class="alert-icon">!</span>
          <div class="alert-description">
            <div class="alert-title">El apto 301 de la torre 4 se ha legalizado</div>
            <div class="alert-inform">
              <div>Cliente: <span>David Jaimes</span></div>
              <div>hace 2 horas</div>
            </div>
          </div>
          <span class="alert-unity">T4 301</span>
        </li>
      </ul>
    </div> -->
    
      <div class="splash-activities">
        <div class="splash-activities-header">
          <span class="icon icon-calendar"> </span>
          <h3>ACTIVIDADES POR REALIZAR</h3>
          <span class="splash-completed"> {$ activitiesDone.length $} completadas de {$ data.length $} </span>
        </div>
        <ul>
          <li ng-repeat="activitie in data">
            <!-- <md-checkbox aria-checked="false" aria-label="checkbox" role="checkbox" ng-click="activitie.done=true" ng-disabled="activitie.done" ng-checked="activitie.done" ng-focus="activityCheck(data.id, data.project, activitie.id, activitie.activity_type, activitie.description, activitie.scheduled_date)" ></md-checkbox> -->
            <div class="splash-check"><md-checkbox aria-checked="false" aria-label="checkbox" role="checkbox" ng-click="activitie.done=true" ng-disabled="activitie.done" ng-checked="activitie.done" ng-focus="!activitie.done && activityCheck(activitie.person, activitie.project, activitie.id, activitie.activity_type, activitie.description, activitie.scheduled_date)"></md-checkbox></div>
            <div class="activities-payment"> {$ activitie.description $} </div>
            <div class="activities-information">
              <span>Cliente: <span class="activities-information-name">{$ activitie.name $}</span></span>
              <span ng-hide="activitie.done || verifyDate(activitie)">programada para el {$ m(activitie.scheduled_date).locale('es').format("DD MMM YYYY") $}</span>
              <span style="color:#81C784" ng-if="activitie.done">realizado {$ activitie.checked_as_done_timestamp && m(activitie.checked_as_done_timestamp).locale('es').fromNow() $}</span>
              <span class="isRed" ng-if="verifyDate(activitie)" ng-hide="activitie.done"> venció {$ m(activitie.scheduled_date).locale('es').fromNow() $}</span>
            </div>
          </li>
        </ul>
        <div class="cover-bar"></div>
      </div>

  </div>
</div>
