<div class="segmentationBlock">
	<div class="sort-blocks" ng-controller="segmentController">
		<div class="search-bar">
			<span class="add-person"><a ng-click="openAddPersonModal()"><span class="searchbar-add">+</span> Agregar persona</a></span>
			<span><i class="fa fa-search" aria-hidden="true"></i> </span><input type="text" id="search" ng-model="searchString" placeholder="Buscar Personas" />
			<ul class="data-ctrl">
						<li ng-repeat="card in cardAll | filter:searchString" ng-show='searchString'>
								<p ng-click="loadEditForm(card)">{$ card.first_name $} {$ card.last_name $}</p>
						</li>
				</ul>
		</div>
		<!-- <div class="state" ng-controller="DragDropCtrl">
			<div class="state-tit">Pool </div>
			<div class="state-content" droppable drop="handleDrop" bin="bin">
				<div class="card-info {$ cardPo.slug $}" id="{$ cardPo $}" draggable item="cardPo" ng-repeat="cardPo in cardsPo" ng-click="loadEditForm(cardPo)">
					<div class="initials {$ cardPo.color $}">{$ cardPo.initials $}</div>
					<div class="info">
						<h3>{$ cardPo.first_name $} {$ cardPo.last_name $}</h3>
						<p>{$ cardPo.cellphone $}</p>
						<small>{$ cardPo.date $}</small>
					</div>
				</div>

			</div>
		</div> -->
		<div class="state" ng-controller="DragDropCtrl">
			<div class="state-tit">Pool</div>
			<div class="state-content" id="low" drop="handleDrop" bin="bin">

				<div class="card-info {$ cardPo.slug $}" ng-class="{'card-info--recently': cardPo.recently}" id="{$ cardPo $}" draggable item="cardPo" ng-repeat="cardPo in cardsPo" ng-click="loadEditForm(cardPo)">
					<div class="initials {$ cardPo.color $}">{$ cardPo.initials $}</div>
					<div class="info">
						<h3>{$ cardPo.first_name $} {$ cardPo.last_name $}</h3>
						<p>{$ cardPo.cellphone $}</p>
						<small>{$ cardPo.date $}</small>
					</div>
				</div>
			</div>
		</div>

		<div class="state" ng-controller="DragDropCtrl">
			<div class="state-tit">Poco Probable <span><a href="" class="creNewPer">+</a></span></div>
			<div class="state-content" id="low" droppable drop="handleDrop" bin="bin">

				<div class="card-info {$ cardP.slug $}" ng-class="{'card-info--recently': cardP.recently}" id="{$ cardP $}" draggable item="cardP" ng-repeat="cardP in cardsP" ng-click="loadEditForm(cardP)">
					<div class="initials {$ cardP.color $}">{$ cardP.initials $}</div>
					<div class="info">
						<h3>{$ cardP.first_name $} {$ cardP.last_name $}</h3>
						<p>{$ cardP.cellphone $}</p>
						<small>{$ cardP.date $}</small>
					</div>
				</div>

			</div>
		</div>

		<div class="state" ng-controller="DragDropCtrl" >
			<div class="state-tit">Medianamente Probable <span><a href="" class="creNewPer">+</a></span></div>
			<div class="state-content" id="medium" droppable drop="handleDrop" bin="bin">

				<div class="card-info {$ cardM.slug $}" ng-class="{'card-info--recently': cardM.recently}" id="{$ cardM $}" draggable item="cardM" ng-repeat="cardM in cardsM" ng-click="loadEditForm(cardM)">
					<div class="initials {$ cardM.color $}">{$ cardM.initials $}</div>
					<div class="info">
						<h3>{$ cardM.first_name $} {$ cardM.last_name $}</h3>
						<p>{$ cardM.cellphone $}</p>
						<small>{$ cardM.date $}</small>
					</div>
				</div>

			</div>
		</div>

		<div class="state" ng-controller="DragDropCtrl" >
			<div class="state-tit">Altamente Probable <span><a href="" class="creNewPer">+</a></span></div>
			<div class="state-content" id="high" droppable drop="handleDrop" bin="bin">

				<div class="card-info {$ cardH.slug $}" ng-class="{'card-info--recently': cardH.recently}" id="{$ cardH $}" draggable item="cardH" ng-repeat="cardH in cardsH" ng-click="loadEditForm(cardH)">
					<div class="initials {$ cardH.color $}">{$ cardH.initials $}</div>
					<div class="info">
						<h3>{$ cardH.first_name $} {$ cardH.last_name $}</h3>
						<p>{$ cardH.cellphone $}</p>
						<small>{$ cardH.date $}</small>
					</div>
				</div>

			</div>
		</div>

		<div class="state">
			<div class="state-tit">Vendido </div>
			<div class="state-content">
				<div class="card-info {$ cardV.slug $}" id="{$ cardV $}" ng-repeat="cardV in cardsV" ng-click="loadEditForm(cardV)">
					<div class="initials {$ cardV.color $}">{$ cardV.initials $}</div>
					<div class="info">
						<h3>{$ cardV.first_name $} {$ cardV.last_name $}</h3>
						<p>{$ cardV.cellphone $}</p>
						<small>{$ cardV.date $}</small>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div ng-controller="modalController">
	 	<script type="text/ng-template" id="modal.html">
			<div class="box-typical box-typical-auto-height">
	        <div class="add-customers-screen tbl modalNotesBlock">

						<div class="modal-header">
							<div id="closeModal" class="closeModal" ng-click="modalClose()">X</div>
								<h3 class="modal-name"> <span>{$ data.first_name.substr(0,1) $} {$ data.last_name.substr(0,1) $}</span> {$ data.first_name $} {$ data.last_name $}</h3>
		           	<div class="modal-info">
									<div class="modal-cellphone">
								 		<span>Celular</span>
										<span>{$ data.cellphone $}</span>
									</div>

								 <div class="modal-phone">
								   <span>Teléfono</span>
									 <span>(037) {$ data.phone $} </span>
								 </div>
								 <div class="modal-email">
								 		<span>Correo</span>
										<span>{$ data.email $}</span>
								 </div>
								 <div class="modal-origin">
										<span>Origen</span>
										<span>{$ data.adquisition_channel $}</span>
								 </div>
							 </div>
							 <div class="modal-segment">
								<label for="segment">Segmento:</label>
							 	<select id="segment" ng-change="changeSegment(data)" ng-model="segment.segment" ng-options="s for s in segments">
									<!-- <option value="" selected disabled> {$ segment.segment $} </option> -->
							 	</select>
								<span class="icon icon-arrow"></span>
							 </div>
						</div>

							<div class="modal-wrap">
								<div class="modal-notes">
									<div class="modal-left">

										<div class="modal-actions">
											<ul>
												<span class="icon icon-note"></span>
												<li id="addNote" class="isActive" ng-click="addNote()"> Agregar nota</li>
												<span class="icon icon-calendar"></span>
												<li id="addActivity" ng-click="addActivity()"> Agregar actividad</li>
												<!-- <li ng-click="create(data.id, data.project)">Crear</li> -->
											</ul>

											<div class="modal-panel">

												<div class="modal-typeActivity">
													<div>
														<label for="">Tipo de actividad</label>
													</div>
													<div>
														<span class="icon icon-arrow"></span>
														<select id="typeActivity">
															<option value="">Seleccionar</option>
						            			<option value="llamada">Hacer llamada</option>
						            			<option value="email">Enviar correo</option>
						            			<option value="reunion">Reunion</option>
														</select>
													</div>
												</div>

												<div class="modal-dateActivity">
													<label for="">Fecha de actividad</label>
													<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												</div>


												<div class="modal-hourActivity">

													<div><label for="">Hora</label></div>
													<div class="modal-hourActivityCont">
														<div>
															<span class="icon icon-arrow hourArrow1"></span>
															<select name="" id="" ng-model="hourActivityInput" ng-options="h for h in hours"></select>
														</div>
														<div>
															<span class="icon icon-arrow hourArrow2"></span>
															<select name="" id="periodActivity">
																<option value="pm">pm </option>
																<option value="am">am</option>
															</select>
														</div>
													</div>
												</div>

												<!-- <div class="modal-hourActivity">
													<label for="">Hora</label>
													<div>
														<span class="modal-hour"><input id="hourActivity" ng-keyup="verifyHour()" type="text" placeholder="02" ng-model="hourActivityInput" maxlength="2"style="width:18px"></span>
														<span><input id="minutesActivity" ng-keyup="verifyMinutes()" type="text" placeholder="00" ng-model="minutesActivityInput" maxlength="2"style="width:20px"></span>
														<span class="icon icon-arrow"></span>
														<select name="" id="periodActivity" style="cursor:pointer">
															<option value="pm">pm</option>
															<option value="am">am</option>
														</select>
													</div>
												</div> -->
											</div>

										</div>

										<div class="modal-description">
											<i class="icon icon-feather"></i>
											<textarea type="text" id="modalDescription" placeholder="{$ addActivityActive ? 'Describe la actividad' : 'Escribe la nota'$}" ng-model="actions.description" maxlength="100"/>
											<button class="modal-save" ng-click="create(data.id, data.project)">Guardar</button>
										</div>

										<div id="modal-notesList" class="modal-notesList">
											<ul ng-repeat="note in data.notes">
												<li style="position:relative">
													<span class="icon icon-note"></span>
													<div class="size-note">{$ note.note $}</div>
													<div class="size-name"> Vendedor: {$ seller.first_name + ' ' + seller.last_name $}</div>
													<div class="size-date"><span class="icon icon-alarm-clock"></span>{$ m(note.timestamp).locale('es').fromNow() $}</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="modal-right">
										<div class="modal-sidebar">
											<div class="modal-activities">

												<h4><span class="icon-activities"></span>ACTIVIDADES PLANEADAS</h4>


												<div class="modal-activities-container">
													<div ng-repeat="activitie in data.activities">
														<span class="activities-check">
																<md-checkbox aria-checked="false" aria-label="checkbox" role="checkbox" ng-click="activitie.done=true" ng-disabled="activitie.done" ng-checked="activitie.done" ng-focus="activityCheck(data.id, data.project, activitie.id, activitie.activity_type, activitie.description, activitie.scheduled_date)" ></md-checkbox>
															<!-- <input type="checkbox" ng-checked="activitie.done" ng-model="a" ng-click="activitie.done=true" ng-disabled="activitie.done" ng-change="activityCheck(data.id, data.project, activitie.id, activitie.activity_type, activitie.description, activitie.scheduled_date)" style="cursor:pointer"> -->

														</span>{$ activitie.description $}
														<span ng-hide="activitie.done || verifyDate(activitie)" >programado para {$ m(activitie.scheduled_date).locale('es').fromNow() $}</span>
														<span style="color:#81C784" ng-if="activitie.done">realizado {$ activitie.checked_as_done_timestamp && m(activitie.checked_as_done_timestamp).locale('es').fromNow() $}</span>
														<span class="isRed" ng-if="verifyDate(activitie)" ng-hide="activitie.done"> venció {$ m(activitie.scheduled_date).locale('es').fromNow() $}</span>
													</div>
												</div>
												<!-- <ul id="modal-activitiesList" class="modal-activitiesList">
													<li ng-repeat="activitie in data.activities"> <span class="modal-activitieCheck">  {$ activitie.description $} <span>programado para {$ m(activitie.scheduled_date).locale('es').fromNow() $}</span></li>
												</ul> -->
											</div>
											<div class="modal-documents">
												<h4><span></span>DOCUMENTOS</h4>
												<div class="modal-documentsCont">
													<span><a href="{$ quotation $}" target="_blank" ng-repeat="quotation in data.quotations">Cotización1.docx</a></span>
												</div>
											</div>
											<div class="modal-financial">
												<h4><span>$</span>INFORMACIÓN FINANCIERA</h4>
												<div class="modal-financial-container">
													<div>
														<span>Ahorro programado</span>
														<span>${$ calculatePoints(data.monthly_income) $}</span>
													</div>
													<div>
														<span> Subsidio de vivienda:</span>
														<span>${$ calculatePoints(data.subsidy) $}</span>
													</div>
													<div>
														<span>Cesantías</span>
														<span>${$ calculatePoints(data.severance) $}</span>
													</div>
													<div>
														<span>Otros</span>
														<span>${$ calculatePoints(data.others) $}</span>
													</div>
												</div>
													<!-- <span>Ahorro programado:</span>
													<li>${$ data.monthly_income $}</li>
													<span>Subsidio de vivienda:</span>
													<li>${$ data.subsidy $}</li>
													<span>Cesantías</span>
													<li>${$ data.severance $} </li>
													<span style="width:70px">Otros</span>
													<li>${$ data.others$}</li> -->

											</div>
										</div>
									</div>
								</div>
							</div>

	        </div>
	    </div>
	  </script>
	  <style>
	  .full button span {
	    background-color: limegreen;
	    border-radius: 32px;
	    color: black;
	  }
	  .partially button span {
	    background-color: orange;
	    border-radius: 32px;
	    color: black;
	  }
	</style>
	</div>

	<div ng-controller="addPersonModalController">
	 	<script type="text/ng-template" id="addPersonModal.html">
			<div class="add-person-modal box-typical box-typical-auto-height">
				<div class="add-person-modal">

					<svg ng-click="closeModal()" width="16px" height="18px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <desc>Created with Sketch.</desc>
					    <defs></defs>
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					        <g id="cancel" fill="#919FA8" fill-rule="nonzero">
					            <path d="M28.941,31.786 L0.613,60.114 C-0.174,60.901 -0.174,62.176 0.613,62.963 C1.006,63.357 1.522,63.553 2.037,63.553 C2.553,63.553 3.068,63.357 3.461,62.963 L32.002,34.422 L60.543,62.963 C60.937,63.357 61.452,63.553 61.967,63.553 C62.482,63.553 62.998,63.357 63.391,62.963 C64.178,62.176 64.178,60.901 63.391,60.114 L35.064,31.786 L63.41,3.438 C64.197,2.651 64.197,1.376 63.41,0.589 C62.623,-0.197 61.348,-0.197 60.562,0.589 L32.003,29.15 L3.441,0.59 C2.654,-0.196 1.38,-0.196 0.593,0.59 C-0.194,1.377 -0.194,2.652 0.593,3.439 L28.941,31.786 Z" id="Shape"></path>
					        </g>
					    </g>
					</svg>

					<div class="add-person-form">
						<h2>AGREGAR NUEVO CLIENTE</h2>
						<div class="spinner"></div>
						<form method="POST" id="personForm">
							<div class="form-group">
								<div class="row form-element__fullname">
									<div class="col-md-6">
										<label>Nombre:</label>
										<input id="id_first_name" class="form-control form-element" maxlength="100" name="first_name" type="text" />
										<div class="form-element__required">Campo requerido</div>
									</div>
									<div class="col-md-6">
										<label>Apellido:</label>
										<input id="id_last_name" class="form-control form-element" maxlength="100" name="last_name" type="text" />
										<div class="form-element__required">Campo requerido</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label>Celular:</label>
										<input id="id_cellphone" class="form-control" maxlength="20" name="cellphone" type="text" />
									</div>
									<div class="col-md-6">
										<label>Teléfono Fijo:</label>
										<input id="id_phone" class="form-control" maxlength="15" name="phone" type="text" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label>Correo Electrónico:</label>
										<input id="id_email" class="form-control" maxlength="254" name="email" type="email" />
									</div>
									<div class="col-md-6">
										<label>Origen:</label>
										<select id="id_adquisition_channel" name="adquisition_channel" class="form-element bootstrap-select bootstrap-select-arrow">
											<option value="">----------</option>
											<option value="room">Sala de Ventas</option>
											<option value="fair">Feria</option>
											<option value="phone">Teléfono</option>
											<option value="press">Publicación en prensa</option>
											<option value="office">Oficina</option>
											<option value="referal">Referido</option>
											<option value="web">Página Web</option>
											<option value="radio">Radio</option>
											<option value="other">Otros</option>
										</select>
										<div class="form-element__required">Campo requerido</div>
										<br/>
										<br/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label>Segmento:</label>
										<select id="id_segment" name="segment" class="form-element bootstrap-select bootstrap-select-arrow">
											<option value="high">Altamente probable</option>
											<option value="medium">Medianamente probable</option>
											<option value="low">Poco probable</option>
										</select>
										<br/>
										<br/>
									</div>
									<div class="col-md-6">
										<label>Unidad de Interés:</label>
										<select  id="id_unity_of_interest" name="unity_of_interest" class="form-element bootstrap-select bootstrap-select-arrow" data-live-search="true">
											<option value="">----------</option>
										</select>
										<div class="form-element__required">Campo requerido</div>
										<br /><br />
										<br/>
										<br/>
									</div>
								</div><!--.row-->
							</div>
							<div class="add-person-form-button">
								<button class="btn btn-inline btn-primary" ng-click="onSubmit($event)">GUARDAR</button>
							</div>
						</form>
					</div>

					<div class="add-person-illustration"></div>

				</div>

					<script>

						var href = window.location.href.split('/');
						var pslug = href[href.length - 1];

						var $unity_of_interest_select = $('#id_unity_of_interest');

						$.ajax({
							url: '/api/projects/' + pslug + '/available-unities'
						})
						.done(function (data) {
							data.forEach(function (el) {
								$unity_of_interest_select.append('<option value='+ el.id +'> ' + el.name + '</option>')
							})

							$('.bootstrap-select').selectpicker({
								style: '',
								width: '100%',
								size: 8
							});

							$('.spinner').css({display: 'none'})

							$('.add-person-form form').css({display: 'block'})
						})
					</script>
			</div>
		</script>

	</div>
</div>
