<div class="unitiesTable" ng-controller="unitiesTableController">

	<div class="unitiesTable-topBar">
		<div class="unitiesTable-topBarCont">
			<div class="unitiesTable-selectTower">
				<i class="icon icon-arrow"></i>
				<div>
					<select id="twr" ng-model="twr.twr" ng-change="filterTower(twr.twr)" ng-options="t.value as t.name for t in towersList">
					</select>
				</div>
			</div>
			<div class="unitiesTable-state">
				<div><span></span>Separado tentativo</div>
				<div><span></span>Separado</div>
				<div><span></span>Vendido</div>
			</div>
		</div>
	</div>

<!-- ALL_TOWERS -->
	<div class="unitiesTable-containerByTower" ng-repeat="to in towers" ng-show="showAll">
		<div>Torre {$ to.substring(1,2) $}</div>
		<div class="unitiesTable-containerByTowerHead">
			<div class="unitiesTable-floors">Piso</div>
			<div class="unitiesTable-Apto">Apto</div>
			<div class="unitiesTable-containerByTowerAptoNumber">
				<div ng-repeat="aptoN in getFloorsNumberByTower(to)">{$ aptoN $}</div> </div>
		</div>

		<div class="unitiesTable-body">
			<div class="unitiesTable-wrap" ng-repeat="(key, foo) in floorsNumberAll(to)"><span class="unitiesTable-floor">{$ key + 1 $}</span>
				<div class="unitiesTable-unity" ng-class="{unitiestableprice:unit.status == 'virtually_booked', unitiestablesold: unit.status == 'sold', unitycurrentselected: unit.id.toString() == unity_selected.toString()}" ng-repeat="unit in filterUnitiesAll(foo, to) | orderBy:'apto'" ng-click="showUnity(unit, $event)">${$ (unit.price.toString().length == 8 ? unit.price.toString().slice(0,2) : unit.price.toString().slice(0,3)) + ',' + ( unit.price.toString().length == 8 ? unit.price.toString().slice(2,3) : unit.price.toString().slice(3,4) ) $}</div>
			</div>
		</div>
	</div>

<!-- BY_TOWER -->
	<div class="unitiesTable-containerByTower" ng-hide="showAll">
		<div>{$to.name$}</div>
		<div class="unitiesTable-containerByTowerHead">
			<div class="unitiesTable-floors">Piso</div>
			<div class="unitiesTable-Apto">Apto</div>
			<div class="unitiesTable-containerByTowerAptoNumber">
				<div ng-repeat="aptoN in getFloorsNumberByTower(twr.twr)">{$ aptoN $}</div>
			</div>
		</div>

		<div class="unitiesTable-body">
			<div class="unitiesTable-wrap" ng-repeat="(key, floor) in floorsNumber"><span class="unitiesTable-floor">{$ key + 1 $}</span>
				<div class="unitiesTable-unity" ng-class="{unitiestableprice:unity.status == 'virtually_booked', unitiestablesold: unity.status == 'sold', unitycurrentselected: unity.id.toString() == unity_selected.toString()}" ng-repeat="unity in filterUnities(floor.toString()) | orderBy:'apto' " ng-click="showUnity(unity, $event)">${$ unity.price.toString().slice(0,2) + ',' + unity.price.toString().slice(2,3)$}</div>
			</div>
		</div>
	</div>

	<div id="unitiesTable-sideBar" class="unitiesTable-sideBar">
		<span style="padding-left:15px; color:#039be5" ng-click="hideBar()"><i class="fa fa-arrow-right" style="margin-left:5px"></i></span>
		<h4> T{$ unityTower $} Apto {$ unityTitle $} </h4>
		<div class="unitiesTable-sideBarHeader">
			<span>${$ unityPrice $}</span>
			<div class="unitiesTable-sideBarSelect" ng-if="userChangeStatus">
				<i class="icon icon-arrow"></i>
				<div>
					<select name="" id="" ng-change="unityChangeStatus(unityStatus)" ng-model="unityStatus.status" ng-options="s.value as s.name for s in statusOptions">
					</select>
				</div>
			</div>
			<div class="unitiesTable-unityStatus" ng-if="!userChangeStatus">{$ unityStatusName $}</div>
		</div>

		<div class="unitiesTable-sideBarNav">
			<ul>
				<li ng-class="{ isActive:isActiveMenu(1) }" ng-click="selectMenu(1)"><i class="icon icon-features"></i>Características</li>
				<li ng-class="{ isActive:isActiveMenu(2) }" ng-click="selectMenu(2)"><i class="icon icon-interested"></i> Clientes interesados</li>
				<li ng-class="{ isActive:isActiveMenu(3) }" ng-click="selectMenu(3)"> <i class="icon icon-persons"></i> Nueva separación tentativa </li>
				<li ng-class="{ isActive:isActiveMenu(4) }" ng-click="selectMenu(4)" ng-focus="selectTab(1)"> <i class="icon icon-quotation"></i> Nueva Cotización</li>
			</ul>
		</div>
		<div ng-if="!isActiveMenu(4)" class="unitiesTable-currentSelect">
			<span>
				<i class="icon icon-features" ng-if="menu == 1" style="font-size:160px; left: -33px; top:-42px"></i>
				<i class="icon icon-interested" ng-if="menu == 2" style="font-size:50px; left: 1px; top: 3px"></i>
				<i class="icon icon-persons" ng-if="menu == 3" style="font-size:50px; left: -2px; top:9px"></i>
				<i class="icon icon-quotation" ng-if="menu == 4"></i>
			</span>
		</div>
		<div class="unitiesTable-currentContent">
			<div class="unitiesTable-features" ng-show="isActiveMenu(1)">
				<h4>Apartamento tipo 1</h4>
				<div class="unitiesTable-featuresCont">
					<div>
						<i class="icon icon-room"></i>
						<span>Habitaciones</span>
						<span>{$ unityBedRooms $}</span>
					</div>
					<div>
						<i class="icon icon-bathtub"></i>
						<span>Baños</span>
						<span>{$ unityBathRooms $}</span>
					</div>
					<div>
						<i class="icon icon-build-area"></i>
						<span>Área construída</span>
						<span>{$ unityBuiltArea $} m2</span>
					</div>
					<div>
						<i class="icon icon-private-area"></i>
						<span>Área privada</span>
						<span>{$ unityPrivateArea $} m2</span>
					</div>
				</div>
			</div>
			<div class="unitiesTable-interestedClient" ng-show="isActiveMenu(2)">
				<div>
					<h4>Clientes interesados </h4>
					<ul>
						<li ng-repeat="(key, interestedPerson) in interestedPersons">
							<div>{$ interestedPerson.person.first_name + ' ' + interestedPerson.person.last_name  $}</div>
							<div>{$ interestedPerson.person.cellphone $}</div>
							<div>Separado el {$ m(interestedPerson.timestamp).locale('es').format('DD MMM YYYY') $} <span style="display:block">Vence {$ m(interestedPerson.timestamp).locale('es').add(8, 'days').fromNow() $}</span></div>
							<span class="unitiesTable-interestedClient-number">{$ key + 1 $}</span>
						</li>

					</ul>
				</div>
			</div>
			<div class="unitiesTable-newSeparation" ng-show="isActiveMenu(3)">
				<h4>Nueva separación tentativa</h4>
				<div class="newSeparation-searchPerson">
					<div class="newSeparation-chip" ng-show="personSelected">
						<div>{$ selectPersonName $}</div>
						<div ng-click="closeChip()">x</div>
					</div>
					<span class="fa fa-search"></span>
					<input type="text" placeholder="Buscar persona" ng-model="person" ng-change="searchPersonVirtual(person)">
				</div>
				<div>
					<div class="newSeparation-searchPersonList" ng-hide="personVirtualSelected">
						<ul>
							<li ng-repeat="person in newSeparationPersonVirtual" ng-click="selectPerson(person)">{$ person.first_name +' '+ person.last_name $}</li>
						</ul>
					</div>
					<div class="newSeparationInfo" ng-show="personSelected">
						<input type="text" placeholder="{$ selectPersonName + ' ' + selectPersonLastName $}" ng-model="vBookingFullName" disabled>
						<input type="text" placeholder="{$ selectPersonCellPhone $}" ng-model="vBookingPhone" disabled>
						<input type="text" placeholder="{$ selectPersonEmail $}" ng-model="vBookingEmail" disabled >
						<div><button ng-click="createVBooking()">Guardar</button></div>
					</div>
					<div class="newSeparationSucessMsg" ng-show="newSeparationSucess">
						<p>La separación se realizó con éxito</p>
					</div>
					<div class="newSeparationNoResults" ng-show="newSeparationNoResultsMsg">
						<p>No se encontráron resultados</p>
						<a href="/projects/{$ slug $}/person/create/">Crea una persona</a>
					</div>
				</div>
			</div>
			<div class="unitiesTable-newQuotation" ng-show="isActiveMenu(4)">
				<div>
					<div class="newQuotation-header">
						<div ng-class="{ isActive:isActiveTab(1) }" ng-click="selectTab(1)"><i class="icon icon-normal-quotation"></i>Cotización normal</div>
						<div ng-class="{ isActive:isActiveTab(2) }" ng-click="selectTab(2)"><i class="icon icon-quick-quotation"></i>Cotización rápida</div>
					</div>
					<div class="normalQuotation" ng-show="isActiveTab(1)">
						<div class="normalQuotation-searchPerson">
							<i class="fa fa-search" style="position:absolute; left:-2px; top:14.7px; color:#b1b1b2"></i>
							<input type="text" placeholder="Buscar persona" ng-disabled="normalQuotationisSelected" ng-model="normalQuotationPerson" ng-change="searchPersonNormal(normalQuotationPerson)">
							<div ng-show="normalQuotationisSelected" class="normalQuotationPersonSelected"><span class="selectedName"> {$ normalQuotationPersonName + ' ' + normalQuotationPersonLastName $} <span class="selectedClose" ng-click="selectedClose()">X</span></span><span class="selectedInitials" ng-style="{background: normalQuotationPersonInitialColor}">{$ normalQuotationPersonInitial $}</span></div>
							<div class="normalQuotation-searchPersonList" >
								<ul ng-hide="personSelectedNormalQuotation">
									<li ng-repeat="person in newSeparationPersonNormal" ng-click="selectPersonNormalQuotation(person)" ng-focus="normalQuotationSelectedPerson(person)">
											<div class="normalQuotation-initials" ng-style="{background: person.color}">
											{$ person.first_name[0].toUpperCase() +' '+ person.last_name[0].toUpperCase() $}
										</div>
										<div class="normalQuotation-info">
											<div class="normalQuotation-info-name">{$ person.first_name +' '+ person.last_name $}</div>
											<div class="normalQuotation-info-contact">{$ person.email + ' | ' + person.cellphone $}</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="normalQuotation-container">
							<div class="normalQuotation-leftColumn">
								<label for="">Subsidios <span>$</span></label>
								<input type="text" name="name" ng-value="{$ normalQuotationSubsidy $}" ng-model="normalQuotationSubsidy" ng-change="normalQuotationInput1()">
								<label for="">Ahorros<span>$</span></label>
								<input type="text" name="name" value="" placeholder="{$ normalQuotationSavings $}" ng-model="normalQuotationSavings" ng-change="normalQuotationInput2()">
								<label for="">Ingresos<span>$</span></label>
								<input type="text" name="name" value="" placeholder="{$ normalQuotationMonthIncome $}" ng-model="normalQuotationMonthIncome" ng-change="normalQuotationInput3()">
							</div>
							<div class="normalQuotation-rightColumn">
								<label for="">Cesantías<span>$</span></label>
								<input type="text" placeholder="{$ normalQuotationSeverance $}" ng-model="normalQuotationSeverance" ng-change="normalQuotationInput4()">
								<label for="">Otro<span>$</span></label>
								<input type="text" placeholder="{$ normalQuotationOther $}" ng-model="normalQuotationOther" ng-change="normalQuotationInput5()">
								<label for="">Meses para entrega</label>
								<input type="text" ng-disabled="true" value="{$ monthsDeliver $}">
							</div>
						</div>
						<div ng-hide="normalquotationDone" class="normalQuotation-quote"><button ng-click="createNormalQuotation()">Cotizar</button></div>
						<div class="normalquotationDoneCont">
							<a ng-show="normalquotationDone" href="/download/quotation/{$ normalquotationId $}/" target="_blank">Ver cotización en pdf</a>
							<span ng-show="normalquotationDone" ng-click="newNormalQuotation()">realizar nueva cotización</span>
						</div>
					</div>
					<div class="quickQuotation" ng-show="isActiveTab(2)">
						<div class="quickQuotation-fullName">
							<div>
								<label for="">Nombres:</label>
								<input type="text" ng-model="quickQuotationName">
							</div>
							<div>
								<label for="Apellidos:">Apellidos:</label>
								<input type="text" ng-model="quickQuotationLastName">
							</div>
						</div>
						<div class="quickQuotation-container">
							<div class="quickQuotation-email">
								<label for="">Email:</label>
								<input type="text" ng-model="quickQuotationEmail">
							</div>
							<div class="quickQuotation-income">
								<label for="">Ahorros:</label>
								<input type="text" ng-model="quickQuotationSavings" ng-change="quickQuotationSavingsInput()">
							</div>
							<div class="quickQuotation-price">
								<label for="">Precio del apto:</label>
								<input type="text" ng-disabled="true" placeholder="{$ unityPrice $}" ng-model="quickQuotationPrice">
							</div>
							<div class="quickQuotation-delivery">
								<label for="">Meses para entrega:</label>
								<input type="text" ng-disabled="true" value="{$ monthsToDelivery $}">
							</div>
						</div>
						<div class="quickQuotation-button">
							<button ng-if="!quickquotationDone" ng-click="createQuickQuotation()">Enviar</button>
							<a ng-show="quickquotationDone" href="/download/quickquotation/{$ quickquotationId $}/" target="_blank">Ver cotización en pdf</a>
							<span ng-show="quickquotationDone" ng-click="newQuotation()">realizar nueva cotización</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="saleInformationModal" id="saleInformationModal"> -->
		<!-- <div class="saleInformation-addInfo" id="saleInformationAddInfo">
			<h5>Has vendido el apto T3 201</h5>
			<div>
				<img src="/static/img/sale-info.png" alt="">
				<p>¡Felicidades ahora agrega la información del comprador!</p>
			</div>
			<div>
				<button>Agregar info de la venta</button>
			</div>
		</div> -->

		<!-- <div class="saleInformationBuyerInfo" id="saleInformationBuyerInfo"> -->
			<!-- <div class="buyerInfo-header">
				<span>T3 201</span>
				<h5>Información del comprador</h5>
			</div> -->

			<!-- <div class="saleInformation">
				<div>
					<label>Fecha de la venta</label>
					<input type="text" name="" placeholder="Elige la fecha">
				</div>
				<div>
					<label>Vendedora a cargo</label>
					<input type="text" name="" placeholder="Elige vendedora">
				</div>
			</div> -->

			<!-- <div class="buyerInfoSearchPerson">
				<div class="buyerInfoSearchPerson-tabs">
					<div class="buyerInfoSearchPerson-tabSearch">
						Buscar persona pre-existente
					</div>
					<div class="buyerInfoSearchPerson-tabAdd">
						Agregar persona nueva
					</div>
				</div> -->

				<!-- <div class="buyerInfoSearchPerson-searchBody">
					<p>Si ya está registrado tu comprador, buscalo en el siguiente campo</p>
					<div>
						<label>Comprador</label>
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" name="" placeholder="Buscar persona">
					</div>
				</div> -->

				<!-- <div class="buyerInfoSearchPerson-addBody">
					<div>
						<label>Nombres</label>
						<input type="text" placeholder="Escribir nombre">
					</div>
					<div>
						<label>Apellidos</label>
						<input type="text" placeholder="Escribir apellidos">
					</div>
					<div>
						<label>Cédula</label>
						<input type="text" placeholder="Escribir cédula">
					</div>
					<div>
						<label>Lugar de expedición</label>
						<input type="text" placeholder="Escribir lugar de expedición">
					</div>
					<div>
						<label>Correo electrónico</label>
						<input type="text" placeholder="Escribir correo electrónico">
					</div>
					<div>
						<label>Fecha de nacimiento</label>
						<input type="text" placeholder="Escribir fecha de nacimiento">
					</div>
					<div>
						<label>Celular</label>
						<input type="text" placeholder="Escribir celular">
					</div>
					<div>
						<label>Teléfono</label>
						<input type="text" placeholder="Escribir teléfono">
					</div>
					<div>
						<label>Teléfono de notificación</label>
						<input type="text" placeholder="Escribir teléfono">
					</div>
					<div>
						<label>Dirección de notificación</label>
						<input type="text" placeholder="Escribir dirección">
					</div>
				</div>
			</div> -->

			<!-- <div class="buyerInfoSearchPerson-footer">
				<div class="buyerInfoSearchPerson-footerButtons">
					<a>Ir al paso anterior</a>
					<button>GUARDAR</button>
				</div>
				<div class="buyerInfoSearchPerson-footerNav">
					<p>o o</p>
				</div>
			</div> -->
		</div>
	</div>

</div>
