<md-dialog aria-label="Mango (Fruit)" class="formalizationPaymentPlanValidationModal">

  <div>
    <div class="formalizationPaymentPlanValidationModal-img"><img src="http://imagenesdeemojis.com/wp-content/uploads/2016/06/caritas-de-felicidad-animadas-con-gui%C3%B1o-400x210.jpg" alt="" width="150"></div>
    <h2>El plan de pago es válido</h2>
    <p>Esa platica ya es segura</p>
    <div class="formalizationPaymentPlanValidationModal-save">
      <button>¡GUARDA Y ASEGURA!</button>
    </div>
  </div>

</md-dialog>
