.process-frame {
	background-color: $white;
	border: 1px solid rgba($border-color, 0.2);
	display: grid;
	grid-template-rows: 70px 1fr 70px;
	height: calc(100% - 50px);

	&__header {
		padding: 0.5rem 0;
		margin: 0 1.5rem;
		border-bottom: 1px solid rgba($border-color, 0.25);

		p {
			font-size: 1.1rem;
			margin: 0;
		}
	}

	&__number-step {
		color: $cool-blue;
		border-radius: 50%;
		border: 1px solid $cool-blue;
		height: 24px;
		font-size: 0.9rem;
		width: 24px;
		margin-right: 0.4rem;
	}

	&__require {
		margin-left: 2rem;

		span {
			margin-left: 0.5rem;
		}
	}

	&__extra {
		color: $cool-blue;
		margin-left: 2rem;
		font-weight: normal;
	}

	&__require-message {
		margin: 0 auto;
		text-align: center;
		margin-top: 15vh;
		width: 70%;

		p {
			margin: 0 auto;
			line-height: 1.2rem;
			font-size: 1.1rem;
			font-weight: 300;
			width: 400px;
		}
	}

	&__footer {
		background-color: $super-pale-grey;
		box-shadow: 0 0px 10px $shadow-color;
		padding: 1rem 1.4rem;

		a {
			i {
				font-size: 1.15rem;
				margin-bottom: -0.2rem;
			}
		}
	}
}
