.send-notification {
  background-color: $pale-grey;
  height: 100%;
}


@import "./components/SendNotificationFrame/index";
@import "./components/SendNotificationTable/index";
@import "./components/SendNotificationConfirm/index";
@import "./components/SendingNotificationPopup/index";
