.process-sidebar {
  background-color: $white;
  box-shadow: 0 0 20px $shadow-color;

  &__client {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;

    .initials {
      background-color: $cool-blue !important;
      height: 40px;
      line-height: 40px;
      width: 40px;
    }

    >div {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }

    >span {
      color: $cool-grey;
      font-size: .95rem;
    }
  }

  &__client-info {
    padding: 1rem 1.5rem;

    ul {
      @extend %normalize-list;
      font-size: .9rem;
      font-weight: 300;
      margin-top: .2rem;
    }

    li {
      padding: .8rem 0;
      border-bottom: 1px solid rgba($border-color, .15);
    }
  }

  &__tab {
    border-bottom: 1px solid rgba($border-color, .15);
  }

  &__tab-item {
    color: $cool-grey;
    cursor: pointer;
    padding: .3rem 0 1.2rem 0;
    text-align: center;
    width: 50%;
  }

  &__tab-item--active {
    color: $cool-blue;
    border-bottom: 1px solid $cool-blue;
  }

  &__tasks-progress {
    padding: 1rem 1.5rem;

    .rc-progress-line-trail {
      stroke: rgba($cool-grey, .22);
    }
  }

  &__tasks-progress-percent {
    font-size: .9rem;
    color: $cool-blue;
    background-color: rgba($cool-blue, .1);
    border-radius: 1rem;
    padding: .1rem .7rem;
    margin-bottom: .2rem;
  }

  &__tasks-list {

    ul {
      @extend %normalize-list;
    }
  }

  &__tasks-item {
    cursor: pointer;
    padding: .45rem 1.2rem;

    .mdi-check-circle {
      color: $cool-blue;
      font-size: 1.4rem;
      margin-left: -.1rem;
    }
  }

  &__tasks-item-number {
    border: 1px solid $border-color;
    border-radius: 50%;
    color: $cool-grey;
    font-size: .9rem;
    height: 22px;
    width: 22px;
  }

  &__tasks-item-label {
    margin-left: .4rem;
  }

  &__tasks-item--active {
    background-color: rgba($cool-blue, .05);
    border-left: 3px solid $cool-blue;
    padding-left: .95rem;
    color: $cool-blue;
  }

  &__tasks-item--completed {
    .process-sidebar__tasks-item-label {
      text-decoration: line-through;
    }
  }

  &__tasks-finish {
    color: $green;
    padding: .45rem 1.2rem;
  }

  &__tasks-finish-circle {
    border: 1px solid rgba($green, .3);
    border-radius: 50%;
    height: 22px;
    width: 22px;

    span {
      display: block;
      background-color: $green;
      border-radius: 50%;
      height: 14px;
      width: 14px;
    }
  }
}
