.navbar {
  background: $white;
  height: 100%;
  border-right: 1px solid rgba($pale-grey-two, .7);
  // box-shadow: 1px 1px 12px rgba($cool-grey, .4);

  ul {
    @extend %normalize-list;
    margin: 0;
    padding-top: 1.5rem;
  }

  li {
    a {
      color: inherit;
      text-decoration: none;
      padding: 1rem 0 1rem 1.7rem;

      @include breakpoint(large up) {
        font-size: rem-calc(17);
        padding-left: 2.4rem;

        &:hover {
          color: $cool-blue;
        }
      }
    }

    img {
      width: 30px;
    }

    span {
      margin-left: .5rem;
    }
  }

  &--item-active {
    background-color: $pale-grey;
    border-left: 3px solid $cool-blue;
    color: $cool-blue;
  }
}
