.input-field {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	input,
	textarea {
		@include placeholder-color(rgba($cool-grey, 0.9));
		border: 1px solid $border-color;
		border-radius: 3px;
		color: $grey;
		padding: 0.5rem 0.7rem;
		outline: none;

		&:focus,
		&:hover {
			border-color: $cool-grey;
		}
	}

	&__error {
		color: $red;
		font-size: 0.85rem;
		margin-top: 0.2rem;
	}

	&--error {
		input {
			border-color: $red;
		}
	}

	&--disabled {
		input {
			cursor: not-allowed;
			background-color: $pale-grey;
			padding-top: 0.57rem;
			padding-bottom: 0.57rem;
		}
	}

	&--with-price-icon {
		input {
			padding-left: 2.1rem;
			padding-right: 0.05rem;
			height: 36px;
		}
	}

	&__price-icon {
		color: $cool-blue;
		position: absolute;
		font-size: 0.95rem;
		top: 0.15rem;
		left: 0.7rem;
		height: 35px;
		line-height: 35px;
		border-right: 1px solid $border-color;
		padding-right: 0.6rem;
	}

	&__price-icon-with-label {
		top: 1.27rem;
		line-height: 36px;
	}
}

.input-field-date {
	.date-picker {
		border: 1px solid $border-color;
		margin-top: 0.2rem;
		padding: 0.34rem 0.7rem;
		border-radius: 3px;
		color: $grey;
		outline: none;

		&:focus {
			border-color: $cool-grey;
		}

		.date-picker__placeholder {
			color: rgba($cool-grey, 0.75);
		}

		.date-picker__value {
			color: $grey;
		}

		.mdi-chevron-down,
		.mdi-calendar {
			color: $cool-grey;
		}
	}
}

.input-field-date--disabled {
	background-color: $pale-grey;

	.date-picker {
		cursor: not-allowed;

		&:focus {
			border-color: $border-color;
		}
	}
}

.input-field-textarea {
	position: relative;

	textarea {
		border: 1px solid $border-color;
		font-size: 0.95rem;
		padding-top: 0.9rem;
		padding-left: 1rem;
	}

	i {
		color: rgba($cool-grey, 0.75);
		font-size: 1.1rem;
		left: 0.52rem;
		position: absolute;
		top: 1rem;
	}
}

.input-field-label {
	@extend %label-style;
}

div.input-field-select,
div.input-field-select--error,
div.input-field-select--rounded {
	cursor: pointer;
	&__control {
		background-color: $white;
		border-color: $border-color;
		border-radius: 3px;
		cursor: pointer;
		min-height: 30px;
		height: 35px;
		margin-top: 0.2rem;
		width: 100%;
	}
}

div.input-field-select,
div.input-field-select--error,
div.input-field-select--rounded {
	&__option--is-focused {
		background: rgba($pale-grey-two, 0.2);
		color: $cool-blue;
	}

	&__option--is-selected {
		background-color: transparent;
		color: $cool-blue;
	}

	&__control--is-focused {
		box-shadow: none;
		border-color: $grey;

		&:hover {
			border-color: $grey;
		}
	}

	&__single-value {
		color: inherit;
	}

	&__placeholder {
		color: rgba($cool-grey, 0.75);
		font-size: 0.95rem;
	}

	&__menu {
		margin-top: 0;
	}
}

span.input-field-select__indicator-separator,
span.input-field-select--error__indicator-separator,
span.input-field-select--rounded__indicator-separator {
	display: none;
}

div.input-field-select--error {
	&__control {
		border-color: $red;
	}
}

div.input-field-date--error {
	.date-picker {
		border-color: $red !important;
	}
}

div.input-field-select--rounded {
	div.input-field-select__control {
		background-color: $pale-grey;
		border-color: rgba($cool-grey, 0.1);
		border-radius: 2rem;
		width: 100%;
	}
}
