.deeds {
	padding-top: 0.5rem;

	&__header {
		.button {
			font-size: 1rem;
			width: 170px;
		}
	}

	&__header-tower-filter {
		.input-field-select {
			margin-right: 1rem;
		}

		.input-field-select__control {
			background-color: $pale-grey;
			border-color: rgba($cool-grey, 0.1);
			border-radius: 2rem;
			width: 200px;
		}

		label {
			margin-right: 0.5rem;
		}
	}

	&__table {
		.table {
			tr.table__row {
				display: grid;
				grid-template-columns: 2fr 3fr 3fr 2fr 3fr 3fr 1fr;

				td {
					justify-content: flex-start;
					text-align: left;
				}
			}

			.table__head {
				.table__cell {
					padding-bottom: 0;
				}
			}
		}

		tr.table__row:first-child {
			padding-top: 0;
		}

		.table__head {
			tr.table__row {
				background-color: transparent;
				margin: 0.2rem 0;
				padding: 0;
				border-bottom: 1px solid rgba($border-color, 0.2);
				text-align: left;
			}
		}

		.initials {
			margin-right: 0.4rem;
			height: 32px;
			line-height: 32px;
			font-size: 0.85rem;
			width: 32px;
		}
	}

	&__table-document {
		cursor: pointer;
		color: $cool-blue;

		i {
			font-size: 1.1rem;
		}

		svg {
			margin-right: 0.3rem;

			g {
				fill: $cool-blue;
			}
		}
	}

	&__table-in {
		i {
			color: $cool-grey;
			cursor: pointer;

			&:hover {
				color: $cool-blue;
			}
		}
	}

	&__notification-alert {
		background-color: $white;
		margin-top: 30vh;
		padding: 1rem 2rem;
		height: 150px;
		position: relative;
		text-align: center;
		width: 400px;

		.mdi-close {
			font-size: 1.1rem;
			position: absolute;
			top: 0.7rem;
			right: 0.7rem;
		}

		p {
			font-size: 1.1rem;

			span {
				font-weight: 500;
			}
		}

		.button {
			margin-top: 0.5rem;
			font-size: 1.02rem;
		}
	}
}

.deeds-send-notifications {
	width: 700px;
	margin: 2rem auto 0;

	.send-notification-edit {
		margin-top: 0;
	}

	.content-editable {
		width: 100%;
	}

	.content-editable__header {
		border-bottom: 0;
		padding-bottom: 0;
	}

	&__header {
		background-color: $white;
		padding: 1rem 2rem;

		.button {
			font-size: 0.8rem;
		}
	}
}

@import '../OnBoarding/index';
@import '../SendNotification/index';
