.credit-step {
  &__file {
    margin-top: .5rem;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 1rem;

    a {
      margin-left: .25rem;
    }

    input {
      display: none;
    }
  }

  &__inputs {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 2rem;
  }

  &__selected-document {
    p {
      margin: 0 0 0 .4rem;
    }

    .button {
      border-color: $cool-blue;
      color: $cool-blue;
      width: 150px;
    }

    label {
      cursor: pointer;
    }
  }
}
