.payment-summary {
  .input-field-select {
    width: 220px;
  }

  &__summary-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin: 1.2rem 0 1.7rem 0;

    .input-field {
    }

    .input-field:last-child {
      margin-right: 0;
    }
  }

  &__others {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }

  &__others-item {
    label {
      @extend %label-style;
    }

    .input-field {
      margin-left: 0.5rem;

      .input-field__price-icon {
        line-height: 32px;
      }
    }
  }

  &__others-item-field {
    > span {
      height: 20px;
    }
  }
}
