.customer-card {
  background-color: $white;
  border: 1px solid $border-color;
  padding: .8rem 1rem;
  position: relative;

  &__info {
    margin-left: .8rem;
  }

  &__info-phone {
    color: $cool-grey;
    font-size: .9rem;
    line-height: 1.2rem;
  }

  &__info-last {
    color: $cool-grey;
    font-size: .75rem;
  }

  &__actions {
    position: absolute;
    right: .5rem;
    top: .4rem;

    i {
      display: none;
      font-size: 1.1rem;
    }
  }

  &:hover {
    i {
      display: block;
    }
  }
}
