body {
  background-color: $pale-grey;
  color: $grey;
  font-size: 16px;
  font-family: 'Brandon', sans-serif;
}

.presale {
  display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  overflow-x: hidden;

  @include breakpoint(large up) {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-areas:
    "header header"
    "navbar main";
  }
}

.main {
  overflow-y: auto;
}

