.ticket-detail-write {
  margin: 2rem 3rem;

  .input-field {
    textarea {
      border-color: $border-color;
      padding-left: 1rem;
      width: 100%;
    }
  }

  &__header {
    border: 1px solid $border-color;
    border-bottom: 0;
    padding: 0 1rem;

    >div {
      cursor: pointer;
      margin-right: 1.7rem;
      font-weight: 300;
      padding: .7rem 0;
      font-size: .95rem;
    }

    svg {
      margin-right: .3rem;
      width: 14px;
      height: 14px;
    }
  }

  &__footer {
    background-color: rgba($pale-grey-two, .2);
    padding: .4rem 1rem;

    svg {
      cursor: pointer;
      height: 17px;
      width: 17px;

      g {
        fill: $grey;
      }
    }

    .button {
      margin-left: auto;
    }
  }

  &__file {
    font-size: .95rem;

    input[type="file"] {
      display: none;
    }

    label {
      margin-right: .5rem;
    }
  }
}


