.basic-info {
  &__customer-search,
  &__customer-add {
    min-height: 50px;

    label {
      display: block;
      padding-bottom: 0.4rem;
    }
  }

  &__customer {
    display: flex;
    align-content: flex-start;
  }

  &__customer-search {
    margin-right: 1rem;
    flex-shrink: 0;
    width: 220px;

    .chip {
      span {
        margin-left: 1rem;
      }
    }
  }

  &__unity-customers {
    display: flex;
    flex-direction: column;
  }

  &__unity-customers-container {
    a {
      margin-top: 1.3rem;
      margin-right: 1rem;
      align-self: flex-start;
      width: 160px;
    }
  }

  &__unity-customers-list {
    margin-top: 0.7rem;
    flex-wrap: wrap;

    .chip {
      margin-right: 0.4rem;
      margin-bottom: 0.4rem;
      padding-left: 0;
    }
  }

  .other-data {
    margin-top: 1.5rem;
    width: 100%;
  }

  .input-field-select,
  .input-field,
  .input-field-textarea {
    max-width: 450px;
    margin-top: 1.25rem;
  }
}
