.create-ticket {
  position: relative;

  &__header {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0 8px $shadow-color;
    position: fixed;
    padding: 1rem;
    display: grid;
    grid-template-columns: 100px 1fr;
    top: 60px;
    left: 260px;
    right: 0;
    z-index: 10;
  }

  &__header-back {
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $cool-blue;
        text-decoration: underline;
      }
    }

    i {
      margin-right: .2rem;
    }
  }

  &__header-title {
    margin: 0;
    margin-left: -100px;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: 500;

    i {
      font-size: 1.4rem;
      margin-right: .2rem;
    }
  }
}

@import "./components/CreateTicketForm/index";
