{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block main-container %}
<form class="signup" action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>
      <svg width="30px" height="30px" viewBox="12317 1837 23 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(12317.000000, 1838.000000)">
              <path d="M9.123,18.2002 C6.375,18.2002 3.626,18.1702 0.879,18.2192 C0.048,18.2342 -0.092,17.9512 0.047,17.2902 C0.343,15.8832 1.243,14.9282 2.581,14.3132 C3.4,13.9382 4.237,13.5882 5.089,13.2862 C6.212,12.8882 6.649,12.1092 6.351,11.0982 C6.095,10.2332 5.666,9.3912 5.177,8.6152 C4.769,7.9672 4.457,7.3762 4.778,6.6292 C5.038,6.0232 4.765,5.4352 4.676,4.8462 C4.225,1.8412 5.938,-0.1988 9.107,0.0152 C12.322,0.2332 14.349,1.7792 13.679,5.0882 C13.545,5.7502 13.393,6.3582 13.61,7.0572 C13.772,7.5782 13.498,8.1192 13.14,8.6382 C12.539,9.5102 12.039,10.4562 11.915,11.5322 C11.824,12.3282 12.191,12.8172 12.936,13.1272 C13.909,13.5312 14.894,13.9152 15.846,14.3592 C17.143,14.9652 18.006,15.9122 18.293,17.2752 C18.426,17.9092 18.347,18.2372 17.481,18.2212 C14.696,18.1672 11.909,18.2002 9.123,18.2002" id="Fill-1" fill="#009DE8"></path>
              <path d="M12.8398,4.0068 C12.9108,4.5468 12.7308,5.1358 12.5798,5.7218 C12.4638,6.1698 12.2568,6.5718 12.6378,7.0228 C12.7618,7.1698 12.7428,7.6348 12.6108,7.7238 C11.6758,8.3598 11.9578,9.5548 11.1988,10.2688 C10.7778,10.6638 10.9908,11.2298 11.0278,11.6988 C11.0888,12.4658 10.7108,12.7928 9.9868,12.9738 C8.2558,13.4038 7.4138,12.7778 7.2768,11.1208 C7.1848,10.0228 6.4938,9.0678 5.9628,8.1018 C5.7918,7.7898 5.4148,7.4338 5.5938,7.1808 C6.1688,6.3678 5.7158,5.5958 5.6028,4.8288 C5.1958,2.0778 6.7178,0.5508 9.6508,0.8348 C11.5958,1.0238 12.8428,2.2338 12.8398,4.0068" id="Fill-3" fill="#FEFFFE"></path>
              <path d="M9.165,17.3437 C6.759,17.3437 4.353,17.3127 1.948,17.3597 C0.994,17.3777 1.028,17.0437 1.371,16.4317 C1.806,15.6537 2.571,15.2607 3.367,14.9047 C4.429,14.4287 5.6,14.1557 6.538,13.4537 C6.828,13.2377 7.009,13.3807 7.247,13.4907 C8.53,14.0857 9.816,14.0747 11.096,13.4797 C11.297,13.3857 11.473,13.2367 11.715,13.4137 C12.812,14.2227 14.195,14.4907 15.398,15.0987 C15.699,15.2507 15.989,15.4297 16.254,15.6307 C16.77,16.0217 17.339,16.5507 17.134,17.1327 C16.958,17.6287 16.188,17.3217 15.695,17.3287 C13.519,17.3637 11.342,17.3437 9.165,17.3437" id="Fill-5" fill="#FEFFFE"></path>
              <path d="M22,16.9746 C22,19.7496 19.652,21.9996 16.756,21.9996 C13.86,21.9996 11.512,19.7496 11.512,16.9746 C11.512,14.1986 13.86,11.9486 16.756,11.9486 C19.652,11.9486 22,14.1986 22,16.9746" id="Fill-7" fill="#FFFFFF"></path>
              <path d="M22,16.9746 C22,19.7496 19.652,21.9996 16.756,21.9996 C13.86,21.9996 11.512,19.7496 11.512,16.9746 C11.512,14.1986 13.86,11.9486 16.756,11.9486 C19.652,11.9486 22,14.1986 22,16.9746 Z" id="Stroke-9" stroke="#009EEC" stroke-width="0.626"></path>
              <path d="M19.5449,17.0703 L13.6869,17.0813" id="Stroke-11" stroke="#009EEC" stroke-width="0.661"></path>
              <path d="M16.7383,14.4521 L16.7383,19.9151" id="Stroke-13" stroke="#009EEC" stroke-width="0.661"></path>
          </g>
      </svg>
      <span>{% trans "Signup" %}</span>
    </legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }}
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <div class="signup-button">
    <input type="submit" value="{% trans "Signup"%}" />
  </div>
</form>
{% endblock %}