{% extends 'userena/base_userena.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block navbar %}{% endblock %}
{% block main-container %}
<section id="main-container">
    <div class="container">
      <div class="row">
        <div class="col s12 welcome-title-wrapper hide-on-small-only">
        </div>
        <div class="col s12 center">
          <div class="row">
                <div class="col s12 m6 l4 push-m3 push-l4 login-box-wrapper">
                  <div class="card small">
                    <!--<i class="material-icons add-project-icon">add_circle_outline</i>-->
                    <div class="card-content" style="font-size: 18px; font-weight: bold; color: #6c7383;">
                      <p>Inicia Sesión</p>
                    </div>
                     {{form.errors}}
                    <form method="POST" id="create-project-form">
                    {% csrf_token %}
                      <div class="row">
                          <!--Hardcoded form for Django CreateView-->
                        <div class="input-field col s8 m8 l8 push-s2 push-m2 offset-l2">
                          <input class="required" id="id_identification" maxlength="75" name="identification" type="email" />
                          <label for="id_identification" style="text-align: left;">Email:</label>
                        </div>
                        <div class="input-field col s8 m8 l8 push-s2 push-m2 offset-l2">
                          <input class="required" id="id_password" name="password" type="password" />
                          <label for="id_password" style="text-align: left;">Contraseña:</label>
                        </div>

                      </div>
                      <button type="submit" class="waves-effect waves-light btn custom-btn">Iniciar Sesión</button>
                  </form>
                  </div>
                </div>
          </div>
          <div class="row">
                  <div class="col s12 m6 l4 push-m3 push-l4 center">
                    <a href="#" style="font-size: 16px; text-decoration: underline;">¿Olvidaste tu contraseña?</a>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}