.home {
  h1 {
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(large up) {
      font-size: 1.55rem;
      margin-top: 3rem;
    }
  }

  &__activities {
    background-color: $white;
    box-shadow: 1px 2px 12px rgba($cool-grey, 0.4);
    margin: 1.5rem auto;
    width: 90%;
    max-width: 490px;
    min-height: 400px;

    @include breakpoint(large up) {
      margin-top: 3rem;
    }
  }

  &__activities-header {
    padding: 1rem 1.2rem;
    border-bottom: 1px solid $border-color;
  }

  &__activities-info {
    h2 {
      font-size: 1rem;
      margin: 0;
    }

    span {
      color: $cool-grey;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  &__activities-icon {
    background-color: $pale-grey;
    border: 1px solid $border-color;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;

    i {
      font-size: 1.5rem;
    }
  }

  &__activities-list {
    height: 320px;
    overflow-y: auto;
  }

  &__activity {
    border-bottom: 1px solid $border-color;
    line-height: 1.3;
    padding: 0.5rem 1rem;

    > span {
      margin-right: 0.5rem;
    }
  }

  &__activity-description {
    font-weight: 500;
  }

  &__activity-client {
    font-size: 0.9rem;
    width: 410px;

    span {
      cursor: pointer;
      color: $cool-blue;
    }
  }

  &__activity--done,
  &__activity--expired {
    font-size: 0.85rem;
    font-weight: 500;
  }

  &__activity--done {
    color: $green;
  }

  &__activity--expired {
    color: $red;
  }
}

.activities__tab {
  display: flex;
  border-bottom: 1px solid $border-color;

  > div {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 50%;
    text-align: center;
  }

  &--active {
    color: $cool-blue;
    font-weight: 500;
    border-bottom: 1px solid $cool-blue;
  }
}

div.react-calendar {
  font-family: $body-font-family;
}

div.react-date-picker__button {
  border: 1px solid $cool-grey;
}

button.react-calendar__month-view__days__day {
  font-size: 0.8rem;
}
