.time-picker {
  position: relative;
  z-index: 10;

  .rc-time-picker {
    width: 100%;

    input {
      cursor: pointer;
      font-size: .9rem;
      outline: none;
      z-index: 1;
    }
  }

  i {
    position: absolute;
    right: .4rem;
    top: .4rem;
    z-index: 1;
  }
}
